<div *ngIf='grpTitleVisible' fxLayout="row" fxLayoutAlign="center center"
  style='padding:10px; color:#fff; background: #5dc24e;'>
  <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center" style='width:95%;'>
    {{ userCreatedMsg }}
  </div>
  <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center">
    <mat-icon matTooltip="{{ translationData.lblClose || 'Close' }}" (click)='onClose()' style='cursor: pointer;'>close</mat-icon>
  </div>
</div>
<mat-horizontal-stepper [linear]="isLinear" labelPosition="bottom" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>{{ translationData.lblStep || 'Step' }} 1: {{ ( translationData.lblAddNewUser || 'Add New Account') }}</ng-template>
      <mat-card class='mat-elevation-z margin-bottom-xlg'>
        <mat-card-content>
          <div fxLayout="row" fxLayoutAlign="space-between center" class='margin-bottom-sm'>
            <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="start">
              <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblAccountInformation || 'Account Information' }}</span>
            </div>
            <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="end">
              <span style='color: red;'>*{{ translationData.lblAlldetailsaremandatory || 'All details are mandatory' }}</span>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
            <div class="areaWidth min-width-20-per" fxLayout="column" fxLayoutAlign="left">
              <div *ngIf="!changePictureFlag" fxLayout="row" style="box-sizing: content-box; width: 170px; height: 170px;">
                <mat-icon style="cursor: pointer; font-size: 150px; text-align: center; color: grey;"
                  (click)="onchangePictureClick()">account_circle</mat-icon>
                <span fxLayout="row" (click)="onchangePictureClick()"
                  style="cursor: pointer; margin-left: 30px; margin-top: 90px;">{{ translationData.lblChange || 'Change' }}</span>
              </div>
              <div *ngIf="changePictureFlag" appDragDrop (files)="filesDroppedMethod($event)" style="background-color: rgb(241, 240, 240); box-sizing: content-box; width: 170px; height: 170px;">
                <input *ngIf="!isSelectPictureConfirm" type="file" (change)="fileChangeEvent($event)" />
                <image-cropper *ngIf="isAccountPictureSelected && !isSelectPictureConfirm" style="height: 100px; width: 170px;" 
                  [imageChangedEvent]="imageChangedEvent" [imageBase64]="droppedImage" [maintainAspectRatio]="true" [aspectRatio]="1/ 1"
                  [resizeToWidth]="100" format="png" roundCropper=true (imageCropped)="imageCropped($event)"
                  (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
                </image-cropper>
                <img *ngIf="isSelectPictureConfirm" [src]="croppedImage" style="display: block; margin: auto; width: 170px; height: 170px; border-radius: 50%;" />
                <div *ngIf="!isAccountPictureSelected && !isSelectPictureConfirm">
                  <span fxLayout="row">
                    <mat-icon style="margin-left: 40px; font-size: 80px; color: grey;">account_circle</mat-icon>
                  </span>
                  <span fxLayout="row"
                    style="margin-left: 72px; margin-top: 20px;">{{ translationData.lblor || 'or' }}</span>
                  <span fxLayout="row"
                    style="margin-left: 50px; margin-top: 20px;">{{ translationData.lblDraghere || 'Drag here' }}</span>
                </div>
                <div fxLayout="row" *ngIf="!isSelectPictureConfirm">
                  <span style="margin-left:20px; margin-top: 15px;">
                    <a style="cursor: pointer;"
                      (click)="onSelectPictureCancel()">{{ translationData.lblCancel || 'Cancel' }}</a>
                  </span>
                  <span
                    style="border-left: 1px solid; height: 20px; margin-left: 20px; margin-top: 15px; color: grey;"></span>
                  <span style="margin-left: 20px; margin-top: 15px;">
                    <button style="cursor: pointer; border: none;" [disabled]="croppedImage == croppedImageTemp"
                      (click)="isAccountPictureSelected ? onSelectPictureConfirm() : ''">{{ translationData.lblConfirm || 'Confirm' }}</button>
                  </span>
                </div>
                <div fxLayout="row" *ngIf="imageError!=''">
                  <span style="color:red">{{imageError}}</span>
                </div>
              </div>
            </div>
            <div class="areaWidth min-width-75-per" fxLayout="column" fxLayoutAlign="left">
              <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
                <div class="areaWidth min-width-30-per max-width-30-per" fxLayout="column" fxLayoutAlign="left">
                  <mat-label>{{ translationData.lblSalutation || 'Salutation' }}<span class='mandatoryColor'>*</span></mat-label>
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-select placeholder="{{ translationData.lblSalutation || 'Salutation' }}" formControlName="salutation" required>
                      <mat-option *ngFor="let rer of solutationList" [value]="rer.name">
                        {{ rer.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-error *ngIf="firstFormGroup.get('salutation').hasError('required')">
                    {{ translationData.lblPleasechoosesalutation || 'Please choose salutation' }}
                  </mat-error>
                </div>
                <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                  <mat-label>{{ translationData.lblFirstName || 'First Name' }}<span class='mandatoryColor'>*</span></mat-label>
                  <mat-form-field appearance="outline" class="full-width">
                    <input maxlength="120" placeholder="{{ translationData.lblFirstName || 'First Name' }}" matInput formControlName="firstName" required>
                  </mat-form-field>
                  <mat-error *ngIf="firstFormGroup.get('firstName').hasError('required')">
                    {{ translationData.lblPleaseenterFirstName || 'Please enter First Name' }}
                  </mat-error>
                  <mat-error *ngIf="firstFormGroup.get('firstName').hasError('specialCharsNotAllowed')">
                    {{ translationData.lblSpecialcharactersnotallowed || 'Special characters not allowed' }}
                  </mat-error>
                  <mat-error *ngIf="firstFormGroup.get('firstName').hasError('numberNotAllowed')">
                    {{ translationData.lblNumbersNotAllowed || 'Numbers not allowed' }}
                  </mat-error>
                  <mat-error *ngIf="!firstFormGroup.get('firstName').hasError('required')  && firstFormGroup.get('firstName').hasError('whitespace')">
                    {{ translationData.lblFirstNamecannotcontainonlywhitespace || 'First Name cannot contain only whitespace' }}
                   </mat-error>
                </div>
                <div class="areaWidth min-width-30-per max-width-30-per" fxLayout="column" fxLayoutAlign="left">
                  <mat-label>{{ translationData.lblLastName || 'Last Name' }}<span class='mandatoryColor'>*</span></mat-label>
                  <mat-form-field appearance="outline" class="full-width">
                    <input maxlength="120" placeholder="{{ translationData.lblLastName || 'Last Name' }}" matInput formControlName="lastName" required>
                  </mat-form-field>
                  <mat-error *ngIf="firstFormGroup.get('lastName').hasError('required')">
                    {{ translationData.lblPleaseenterLastName || 'Please enter Last Name' }}
                  </mat-error>
                  <mat-error *ngIf="firstFormGroup.get('lastName').hasError('specialCharsNotAllowed')">
                    {{ translationData.lblSpecialcharactersnotallowed || 'Special characters not allowed' }}
                  </mat-error>
                  <mat-error *ngIf="firstFormGroup.get('lastName').hasError('numberNotAllowed')">
                    {{ translationData.lblNumbersNotAllowed || 'Numbers not allowed' }}
                  </mat-error>
                  <mat-error *ngIf="!firstFormGroup.get('lastName').hasError('required')  && firstFormGroup.get('lastName').hasError('whitespace')">
                    {{ translationData.lblLastNamecannotcontainonlywhitespace || 'Last Name cannot contain only whitespace' }}
                   </mat-error>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between" class="full-width" fxLayoutGap="10px">
                <div class="areaWidth min-width-30-per max-width-30-per" fxLayout="column" fxLayoutAlign="left">
                  <mat-label>{{ translationData.lblLoginEmail || 'Login Email' }}<span class='mandatoryColor'>*</span></mat-label>
                  <mat-form-field appearance="outline" class="full-width">
                    <input maxlength="50" placeholder="{{ translationData.lblLoginEmail || 'Login Email' }}" matInput formControlName="loginEmail" pattern="[a-zA-Z0-9-_.]{1,}@[a-zA-Z0-9-_.]{2,}[.]{1}[a-zA-Z]{2,}" required>
                  </mat-form-field>
                  <mat-error *ngIf="firstFormGroup.get('loginEmail').hasError('required')">
                    {{ translationData.lblPleaseenteremailID || 'Please enter email ID' }}
                  </mat-error>
                  <mat-error *ngIf="firstFormGroup.get('loginEmail').hasError('email')">
                    {{ translationData.lblPleaseentervalidemailID || 'Please enter valid email ID' }}
                  </mat-error>
                  <mat-error *ngIf="duplicateEmailMsg != ''">
                    {{ duplicateEmailMsg }}
                  </mat-error>
                </div>
                <div *ngIf='privilegeAccess' class="areaWidth min-width-30-per max-width-30-per" fxLayout="column" fxLayoutAlign="left">
                  <mat-label>{{ translationData.lblUserType || 'Account Type' }}<span class='mandatoryColor'>*</span></mat-label>
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-select placeholder="{{ translationData.lblUserType || 'Account Type' }}" formControlName="userType">
                      <mat-option *ngFor="let rer of userTypeList" [value]="rer.value">
                        {{ rer.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <!-- <mat-error *ngIf="firstFormGroup.get('userType').hasError('required')">
                    {{ translationData.lblPleasechooseusertype || 'Please choose account type' }}
                  </mat-error> -->
                </div>
                <div class="areaWidth min-width-30-per max-width-30-per" fxLayout="column" fxLayoutAlign="left">
                  <mat-label>{{ translationData.lblOrganisation || 'Organisation' }}</mat-label>
                  <mat-form-field appearance="outline" class="full-width">
                    <input placeholder="{{ translationData.lblOrganisation || 'Organisation' }}" matInput formControlName="organization">
                  </mat-form-field>
                </div>
                <div *ngIf='!privilegeAccess' class="areaWidth min-width-30-per max-width-30-per" fxLayout="column" fxLayoutAlign="left"></div>
              </div>
            </div>
          </div>
          <div style='padding: 20px; position: relative;'>
            <mat-divider></mat-divider>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center" class='margin-bottom-sm'>
            <div fxLayout="column" fxLayoutAlign="start">
              <span><span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblUserGeneralSetting || 'Account General Setting' }}</span> <span style='font: 200 16px/32px Roboto, "Helvetica Neue", sans-serif;'> ({{ translationData.lblOrganisationbasedsettings || 'Organisation based settings' }})</span></span>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
            <div [ngClass]="{'orgGrayDefault': orgDefaultFlag.language}" class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
              <mat-label>{{ translationData.lblLanguage || 'Language' }}</mat-label>
              <mat-form-field appearance="outline" class="full-width">
                <mat-select (openedChange)="onOpenChange($event, 'language')" (selectionChange)="onDropdownChange($event, 'language')" placeholder="{{ translationData.lblLanguage || 'Language' }}" formControlName="language">
                  <mat-option *ngFor="let rer of defaultSetting.languageDropdownData" [value]="rer.id">
                    {{ rer.value }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div [ngClass]="{'orgGrayDefault': orgDefaultFlag.timeZone}" class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
              <mat-label>{{ translationData.lblTimeZone || 'Time Zone' }}</mat-label>
              <mat-form-field appearance="outline" class="full-width">
                <mat-select (openedChange)="onOpenChange($event, 'timeZone')" (selectionChange)="onDropdownChange($event, 'timeZone')" placeholder="{{ translationData.lblTimeZone || 'Time Zone' }}" formControlName="timeZone">
                  <mat-option *ngFor="let rer of defaultSetting.timezoneDropdownData" [value]="rer.id">
                    {{ rer.value }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div [ngClass]="{'orgGrayDefault': orgDefaultFlag.unit}" class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
              <mat-label>{{ translationData.lblUnit || 'Unit' }}</mat-label>
              <mat-form-field appearance="outline" class="full-width">
                <mat-select (openedChange)="onOpenChange($event, 'unit')" (selectionChange)="onDropdownChange($event, 'unit')" placeholder="{{ translationData.lblUnit || 'Unit' }}" formControlName="unit">
                  <mat-option *ngFor="let rer of defaultSetting.unitDropdownData" [value]="rer.id">
                    {{ rer.value }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
            <div [ngClass]="{'orgGrayDefault': orgDefaultFlag.currency}" class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
              <!-- <mat-label>{{ translationData.lblCurrency }}</mat-label> -->
              <mat-label>{{ translationData.lblCurrency || 'Currency' }}</mat-label>
              <mat-form-field appearance="outline" class="full-width">
                <mat-select (openedChange)="onOpenChange($event, 'currency')" (selectionChange)="onDropdownChange($event, 'currency')" placeholder="{{ translationData.lblCurrency || 'Currency' }}" formControlName="currency">
                  <mat-option *ngFor="let rer of defaultSetting.currencyDropdownData" [value]="rer.id">
                    {{ rer.value }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div [ngClass]="{'orgGrayDefault': orgDefaultFlag.dateFormat}" class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
              <mat-label>{{ translationData.lblDateFormat || 'Date Format' }}</mat-label>
              <mat-form-field appearance="outline" class="full-width">
                <mat-select (openedChange)="onOpenChange($event, 'dateFormat')" (selectionChange)="onDropdownChange($event, 'dateFormat')" placeholder="{{ translationData.lblDateFormat || 'Date Format' }}" formControlName="dateFormat">
                  <mat-option *ngFor="let rer of defaultSetting.dateFormatDropdownData" [value]="rer.id">
                    {{ rer.value }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div [ngClass]="{'orgGrayDefault': orgDefaultFlag.timeFormat}" class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
              <mat-label>{{ translationData.lblTimeFormat || 'Time Format' }}</mat-label>
              <mat-form-field appearance="outline" class="full-width">
                <mat-select (openedChange)="onOpenChange($event, 'timeFormat')" (selectionChange)="onDropdownChange($event, 'timeFormat')" placeholder="{{ translationData.lblTimeFormat || 'Time Format' }}" formControlName="timeFormat">
                  <mat-option *ngFor="let rer of defaultSetting.timeFormatDropdownData" [value]="rer.id">
                    {{ rer.value }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between" class="full-width" fxLayoutGap="10px">
            <div [ngClass]="{'orgGrayDefault': orgDefaultFlag.vehDisplay}" class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
              <mat-label>{{ translationData.lblVehicleDisplayDefault || 'Vehicle Display (Default)' }}</mat-label>
              <mat-form-field appearance="outline" class="full-width">
                <mat-select (openedChange)="onOpenChange($event, 'vehDisplay')" (selectionChange)="onDropdownChange($event, 'vehDisplay')" placeholder="{{ translationData.lblVehicleDisplayDefault || 'Vehicle Display (Default)' }}" formControlName="vehDisplay">
                  <mat-option *ngFor="let rer of defaultSetting.vehicleDisplayDropdownData" [value]="rer.id">
                    {{ rer.value }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div [ngClass]="{'orgGrayDefault': orgDefaultFlag.landingPage}" class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
              <mat-label>{{ translationData.lblLandingPageDisplayDefault || 'Landing Page Display (Default)' }}</mat-label>
              <mat-form-field appearance="outline" class="full-width">
                <mat-select (openedChange)="onOpenChange($event, 'landingPage')" (selectionChange)="onDropdownChange($event, 'landingPage')" placeholder="{{ translationData.lblLandingPageDisplayDefault || 'Landing Page Display (Default)' }}" formControlName="landingPage">
                  <mat-option *ngFor="let rer of defaultSetting.landingPageDisplayDropdownData" [value]="rer.id">
                    {{ rer.value }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left"></div>
          </div>
        </mat-card-content>
      </mat-card>
      <div fxLayout="row" fxLayoutAlign="end end" class="full-width areaWidth">
        <!-- <button class='resetCancelBtnColor margin-right-10' mat-raised-button color="primary" (click)='onCancel(false)'>{{ translationData.lblCancel || 'Cancel' }}</button>
        <button mat-raised-button color="primary" [disabled]="!firstFormGroup.valid" matStepperNext>{{ translationData.lblNext || 'Next' }}</button> -->
        <!-- <button *ngIf='!linkFlag' [disabled]="!firstFormGroup.valid" class='margin-right-10' mat-raised-button color="primary" (click)='onCreate(true)'>{{ ( translationData.lblCreate || 'Create' ) }}</button>
        <button *ngIf='!linkFlag' [disabled]="!firstFormGroup.valid" mat-raised-button color="primary" (click)='onCreate(false)'>{{ translationData.lblCreateContinue || 'Create & Continue' }}</button> -->
        <!-- <button *ngIf='linkFlag' [disabled]="!firstFormGroup.valid" class='margin-right-10' mat-raised-button color="primary" (click)='onLink(true)'>{{ ( translationData.lblLink || 'Link' ) }}</button>
        <button *ngIf='linkFlag' [disabled]="!firstFormGroup.valid" mat-raised-button color="primary" (click)='onLink(false)'>{{ translationData.lblLinkContinue || 'Link & Continue' }}</button> -->
      </div>
    </form>
  <!-- </mat-step>
  <mat-step [stepControl]="firstFormGroup"> -->
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>{{ translationData.lblStep || 'Step' }} 2: {{ translationData.lblSelectUserRole || 'Select Account Role' }}</ng-template>
      <mat-card>
        <mat-card-content>
          <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
            <div class='areaWidth' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
              <mat-form-field appearance="outline">
                  <input matInput (keyup)="applyFilterForRole($event.target.value)" placeholder="{{ translationData.lblSearch || 'Search' }}">
                  <span matPrefix><mat-icon>search</mat-icon></span>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
            <div fxLayout="column" fxLayoutAlign="left">
              <div fxLayout="row" fxLayoutAlign='center center'>
                  <mat-icon class='margin-right-10'>info</mat-icon>
                  <span>{{ translationData.lblMessage || 'Select atleast one role.'}}<span class='mandatoryColor'>*</span></span>
              </div>
            </div>
          </div>
          <!-- <span>Select atleast one role to continue.</span> -->
          <div fxLayout="row">
            <div fxLayout="column" class='full-width'>
              <mat-table [dataSource]="roleDataSource" matSort>
                <ng-container matColumnDef="select">
                  <mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)='$event ? masterToggleForRole() : null'
                      [checked]='selectionForRole.hasValue() && isAllSelectedForRole()'
                      [indeterminate]='selectionForRole.hasValue() && !isAllSelectedForRole()'
                      [aria-label]='checkboxLabel()'>
                    </mat-checkbox>
                    <span style='margin: 5px 0px 0px 5px;'>{{ translationData.lblAll || 'All' }}</span>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <mat-checkbox (click)='$event.stopPropagation()'
                      (change)='$event ? selectionForRole.toggle(row) : null'
                      [checked]='selectionForRole.isSelected(row)' [aria-label]='checkboxLabel(row)'>
                    </mat-checkbox>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="roleName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblUserRole || 'Account Role' }}</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{ row.roleName }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="featureIds">
                  <mat-header-cell *matHeaderCellDef>{{ translationData.lblServices || 'Services' }}</mat-header-cell>
                  <mat-cell *matCellDef="let row">  
                    <span *ngIf='row.featureIds.length > 0'>
                      <span *ngFor='let item of [].constructor(row.featureIds.length > 4 ? 4 : row.featureIds.length); let i = index'>
                        <img title="{{ i > 7 ? servicesIcon[0] : servicesIcon[i] }}" src="assets/images/icons/services/{{ i > 7 ? servicesIcon[0] : servicesIcon[i] }}.svg" style="width: 20px; height: 20px;"/>&nbsp;
                      </span>
                    </span>
                    <span *ngIf='row.featureIds.length == 0'>&nbsp;&nbsp;-</span>
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="roleDisplayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: roleDisplayedColumns;">
                </mat-row>
              </mat-table>
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="end end">
          <div fxLayout="row" fxLayoutAlign="end end" class="full-width areaWidth">
            <button class='resetCancelBtnColor margin-right-10' mat-raised-button color="primary" (click)='onCancel(true)'>{{ translationData.lblCancel || 'Cancel' }}</button>
            <!-- <button mat-raised-button color="primary" matStepperPrevious>{{ translationData.lblPrevious || 'Previous' }}</button>  -->
            <!-- <button mat-raised-button [disabled]="selectionForRole.selected.length == 0" color="primary" matStepperNext>{{ translationData.lblNext || 'Next' }}</button> -->
            <button *ngIf='!linkFlag' [disabled]="!firstFormGroup.valid || selectionForRole.selected.length == 0" class='margin-right-10' mat-raised-button color="primary" (click)='onCreate(true)'>{{ ( translationData.lblCreate || 'Create' ) }}</button>
            <button *ngIf='!linkFlag' [disabled]="!firstFormGroup.valid || selectionForRole.selected.length == 0" mat-raised-button color="primary" (click)='onCreate(false)'>{{ translationData.lblCreateContinue || 'Create & Continue' }}</button> 
            <button *ngIf='linkFlag' [disabled]="!firstFormGroup.valid || selectionForRole.selected.length == 0" class='margin-right-10' mat-raised-button color="primary" (click)='onLink(true)'>{{ ( translationData.lblLink || 'Link' ) }}</button>
        <button *ngIf='linkFlag' [disabled]="!firstFormGroup.valid || selectionForRole.selected.length == 0" mat-raised-button color="primary" (click)='onLink(false)'>{{ translationData.lblLinkContinue || 'Link & Continue' }}</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>{{ translationData.lblStep || 'Step' }} 2: {{ translationData.lblSelectUserGroup || 'Select Account Group' }}</ng-template>
      <mat-card>
        <mat-card-content>
          <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
            <div class='areaWidth' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
              <mat-form-field appearance="outline">
                  <input matInput (keyup)="applyFilterForUserGrp($event.target.value)" placeholder="{{ translationData.lblSearch || 'Search' }}">
                  <span matPrefix><mat-icon>search</mat-icon></span>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row">
            <div fxLayout="column" class='full-width'>
              <mat-table [dataSource]="userGrpDataSource" matSort>
                <ng-container matColumnDef="select">
                  <mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)='$event ? masterToggleForUserGrp() : null'
                      [checked]='selectionForUserGrp.hasValue() && isAllSelectedForUserGrp()'
                      [indeterminate]='selectionForUserGrp.hasValue() && !isAllSelectedForUserGrp()'
                      [aria-label]='checkboxLabelForUserGrp()'>
                    </mat-checkbox>
                    <span style='margin: 5px 0px 0px 5px;'>{{ translationData.lblAll || 'All' }}</span>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <mat-checkbox (click)='$event.stopPropagation()'
                      (change)='$event ? selectionForUserGrp.toggle(row) : null'
                      [checked]='selectionForUserGrp.isSelected(row)'
                      [aria-label]='checkboxLabelForUserGrp(row)'>
                    </mat-checkbox>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="accountGroupName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblGroupName || 'Group Name' }}</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{ row.accountGroupName }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="accountCount">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblUsers || 'Accounts' }}</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <span (click)="row.accountCount > 0 ? viewUserGrpDetails(row) : ''" [ngClass]="{'row-hover': row.accountCount > 0}">{{ row.accountCount }}</span>
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="userGrpDisplayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: userGrpDisplayedColumns;">
                </mat-row>
              </mat-table>
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="end end">
          <div fxLayout="row" fxLayoutAlign="end end" class="full-width areaWidth">
            <button class='resetCancelBtnColor margin-right-10' mat-raised-button color="primary" (click)='onCancel(true)'>{{ translationData.lblCancel || 'Cancel' }}</button>
            <!-- <button class='margin-right-10' mat-raised-button color="primary" matStepperPrevious>{{ translationData.lblPrevious || 'Previous' }}</button> -->
            <button mat-raised-button color="primary" (click)='nextToSummaryStep()'>{{ translationData.lblNext || 'Next' }}</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>{{ translationData.lblStep || 'Step' }} 3: {{ translationData.lblSummary || 'Summary' }}</ng-template>
    <ng-template matStepLabel></ng-template>
    <app-summary-step *ngIf='summaryStepFlag' [defaultSetting]='defaultSetting' [profilePath]='croppedImage' [translationData]='translationData' [accountInfoData]='firstFormGroup.controls' [selectedRoleData]='selectionForRole.selected' [selectedUserGrpData]='selectionForUserGrp.selected' [privilegeAccess]='privilegeAccess'></app-summary-step>
    <mat-card class='bg-theme mat-elevation-z' class='background-transparent no-padding'>
      <mat-card-actions fxLayoutAlign="end end">
        <div fxLayout="row" fxLayoutAlign="end end" class="full-width areaWidth">
          <button class='resetCancelBtnColor' mat-raised-button color="primary" (click)='onCancel(true)'>{{ translationData.lblCancel || 'Cancel' }}</button>
          <button class='margin-right-10' mat-raised-button color="primary" (click)='backFromSummaryStep()'>{{ translationData.lblPrevious || 'Previous' }}</button>
          <button class='no-margin' mat-raised-button color="primary" (click)="onUpdateUserData()">{{ translationData.lblConfirm || 'Confirm' }}</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </mat-step>
</mat-horizontal-stepper>