<div class='bgtrans'>
    <div *ngIf='grpTitleVisible' fxLayout="row" fxLayoutAlign="center center"
        style='padding:10px; color:#fff; background: #5dc24e;'>
        <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center" style='width:95%;'>
        {{ displayMessage }}
        </div>
        <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center">
        <mat-icon (click)='onClose()' style='cursor: pointer;'>close</mat-icon>
        </div>
    </div>
    <div *ngIf='!editFlag'>
        <mat-card class='mat-elevation-z'>
            <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
                <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
                    <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblAllUserRoleDetails || 'All Account Role Details' }}</span>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
                <div class='areaWidth' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
                  <mat-form-field appearance="outline">
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ translationData.lblSearch || 'Search' }}">
                      <span matPrefix><mat-icon>search</mat-icon></span>
                  </mat-form-field>
                </div>
                <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="end">
                    <div fxLayout="row" class='areaWidth'>
                        <div class='areaWidth' fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end">
                        <button *ngIf='initData.length > 0' mat-button [matMenuTriggerFor]="menu"><mat-icon>file_upload</mat-icon>Export<mat-icon>more_vert</mat-icon></button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="exportAsPdf()">PDF (as snapshot)</button>
                            <button mat-menu-item (click)="exportAsCSV()">CSV (as full data)</button>
                        </mat-menu>
                        </div>
                        <div *ngIf="!adminAccessType.adminReadOnlyAccess" fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="end">
                            <button mat-flat-button color="primary" (click)="newUserRole()">
                            <mat-icon>add_circle_outline</mat-icon> {{ translationData.lblNewUserRole || 'New Account Role'}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf='initData.length == 0'>{{ translationData.lblNoRecordFound || 'No Record Found' }}</div>
            <div *ngIf='initData.length > 0' fxLayout="row" class='margin-top-xlg'>
                <div fxLayout="column" class='full-width' id="accountRoleData">
                    <mat-table matTableExporter [dataSource]="dataSource" matSort #exporter="matTableExporter" [hiddenColumns]="[2]">
                        <!-- <ng-container matColumnDef="newTag">
                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <mat-icon *ngIf="row.newTag" inline="true" color="warn"> fiber_new </mat-icon>
                            </mat-cell>
                        </ng-container> -->
                        <ng-container matColumnDef="roleName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblRoleName || 'Role Name'}}</mat-header-cell>
                            <mat-cell *matCellDef="let row" style="word-break: 'break-word'">
                                <span *ngIf="row.newTag" class='newTagIcon marginLeft-24'></span>
                                <span *ngIf="row.newTag" class='newTxtCss'>{{ translationData.lblNew || 'New' }}</span>
                                <span [ngClass]="{ 'marginLeft-14': row.newTag }">{{row.roleName}}</span> &nbsp;
                                <mat-icon *ngIf="row.organizationId == 0" inline="true"> public </mat-icon>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="description">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblRoleDescription || 'Role Description'}}</mat-header-cell>
                            <mat-cell *matCellDef="let row" matTooltip="{{ row.description }}"><span class="text-truncate">{{row.description}}</span> </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef class="action">{{ translationData.lblAction || 'Action' }}</mat-header-cell>
                            <mat-cell *matCellDef="let row" class="action">
                                <button class='actionBtn' mat-flat-button matTooltip="View" (click)="viewUserRole(row)">
                                    <mat-icon>visibility</mat-icon>
                                </button>
                                <button class='actionBtn'  mat-flat-button (click)="editUserRole(row, 'duplicate')" matTooltip="Duplicate">
                                    <mat-icon>content_copy</mat-icon>
                                </button>
                                <!-- <button *ngIf="(row.organizationId == 0 && loggedInUser == 'admin') || (row.organizationId != 0)" class='actionBtn'  mat-flat-button (click)="editUserRole(row, 'edit')" matTooltip="Edit">
                                    <mat-icon>create</mat-icon>
                                </button>
                                <button *ngIf="(row.organizationId == 0 && loggedInUser == 'admin') || (row.organizationId != 0)" class='actionBtn'  mat-flat-button (click)="deleteUserRole(row)" matTooltip="Delete">
                                    <mat-icon class="deleteIcon">delete_outline</mat-icon>
                                </button> -->
                                <button *ngIf="(row.organizationId == 0 && adminAccessType.adminFullAccess) || (row.organizationId != 0) && (!adminAccessType.adminReadOnlyAccess)" class='actionBtn'  mat-flat-button (click)="editUserRole(row, 'edit')" matTooltip="Edit">
                                    <mat-icon>create</mat-icon>
                                </button>
                                <button *ngIf="(row.organizationId == 0 && adminAccessType.adminFullAccess) || (row.organizationId != 0) && (adminAccessType.adminFullAccess)" class='actionBtn'  mat-flat-button (click)="deleteUserRole(row)" matTooltip="Delete">
                                    <mat-icon class="deleteIcon">delete_outline</mat-icon>
                                </button>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="roleDisplayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: roleDisplayedColumns;">
                        </mat-row>
                    </mat-table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
            </div>
            <app-spinner *ngIf="showLoadingIndicator" ></app-spinner>
        </mat-card>
    </div>
    <div *ngIf='editFlag'>
        <app-edit-user-role-details [translationData]='translationData' [viewFlag]='viewFlag' [duplicateFlag]='duplicateFlag' [createStatus]='createStatus' [title]='titleText' [roleData]='initData' [gridData]='rowsData' (backToPage)='editData($event)'></app-edit-user-role-details>
    </div>
</div>