<div *ngIf="actionType == 'create'" fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
    <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
      <span>{{ breadcumMsg }}</span>
    </div>
    <div *ngIf="actionType == 'view'" fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="end" class='margin-right-xxlg'>
      <span class='custom-font' (click)="onCancel()">
        <span>&nbsp;</span>
        <span class='backBtnCss'>{{ translationData.lblBack || 'Back' }}</span></span>
    </div>
</div>


<!-- New alerts -->
<br><br>
<mat-expansion-panel style="width:90%;" class="full-width">
    <mat-expansion-panel-header class="full-width">
      <mat-panel-title>
        <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblNewAlerts || 'New Alerts' }}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div fxLayout="row" fxLayoutAlign="space-between" class="full-width filter-direction" fxLayoutGap="10px">
        <div class="areaWidth min-width-25-per" fxLayout="column" fxLayoutAlign="left">
            <mat-label>{{ translationData.lblName || 'Name' }}</mat-label>
            <mat-form-field appearance="outline" class="full-width">
                <input placeholder="{{ translationData.lblSearchName || 'Search Name' }}"  matInput>
            </mat-form-field>
        </div>
        <div class="areaWidth min-width-25-per" fxLayout="column" fxLayoutAlign="left">
            <mat-label style='display: flex; place-content: space-between;'>
                {{ translationData.lblGroup || 'Group' }}
            </mat-label>
            <mat-form-field appearance="outline" class="full-width">
                <mat-select placeholder="{{ translationData.lblSelectUserGroup || 'Select User Group' }}" >
                    <!-- <mat-option value='All'>{{ translationData.lblAll || 'All' }}</mat-option> -->
                    <!-- <mat-option *ngFor="let usrGrp of userGroups | removeDuplicates" [value]="usrGrp"> -->
                    <!-- <mat-option *ngFor="let usrGrp of userGroups" [value]="usrGrp">
                        {{usrGrp}}
                    </mat-option> -->
                </mat-select>
            </mat-form-field>
        </div>
        <div class="areaWidth min-width-25-per" fxLayout="column" fxLayoutAlign="left">
            <mat-label style='display: flex; place-content: space-between;'>
                {{ translationData.lblRole || 'Role' }}
            </mat-label>
            <mat-form-field appearance="outline" class="full-width">
                <mat-select placeholder="{{ translationData.lblSelectUserRole || 'Select User Role' }}">
                    <!-- <mat-option value='All'>{{ translationData.lblAll || 'All' }}</mat-option> -->
                    <!-- <mat-option *ngFor="let role of roles | removeDuplicates" [value]="role"> -->
                    <!-- <mat-option *ngFor="let role of roles" [value]="role">
                        {{role}}
                    </mat-option> -->
                </mat-select>
            </mat-form-field>
        </div>
    </div>
  </mat-expansion-panel><br><br>

  <!-- Filters details -->
  <mat-expansion-panel style="width:90%;" class="full-width">
    <mat-expansion-panel-header class="full-width">
      <mat-panel-title>
        <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblFiltersdetails || 'Filters Details' }}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div fxLayout="row" fxLayoutAlign="space-between" class="full-width filter-direction" fxLayoutGap="10px">
        <div class="areaWidth min-width-25-per" fxLayout="column" fxLayoutAlign="left">
            <mat-label>{{ translationData.lblName || 'Name' }}</mat-label>
            <mat-form-field appearance="outline" class="full-width">
                <input placeholder="{{ translationData.lblSearchName || 'Search Name' }}"  matInput>
            </mat-form-field>
        </div>
        <div class="areaWidth min-width-25-per" fxLayout="column" fxLayoutAlign="left">
            <mat-label style='display: flex; place-content: space-between;'>
                {{ translationData.lblGroup || 'Group' }}
            </mat-label>
            <mat-form-field appearance="outline" class="full-width">
                <mat-select placeholder="{{ translationData.lblSelectUserGroup || 'Select User Group' }}" >
                    <!-- <mat-option value='All'>{{ translationData.lblAll || 'All' }}</mat-option> -->
                    <!-- <mat-option *ngFor="let usrGrp of userGroups | removeDuplicates" [value]="usrGrp"> -->
                    <!-- <mat-option *ngFor="let usrGrp of userGroups" [value]="usrGrp">
                        {{usrGrp}}
                    </mat-option> -->
                </mat-select>
            </mat-form-field>
        </div>
        <div class="areaWidth min-width-25-per" fxLayout="column" fxLayoutAlign="left">
            <mat-label style='display: flex; place-content: space-between;'>
                {{ translationData.lblRole || 'Role' }}
            </mat-label>
            <mat-form-field appearance="outline" class="full-width">
                <mat-select placeholder="{{ translationData.lblSelectUserRole || 'Select User Role' }}">
                    <!-- <mat-option value='All'>{{ translationData.lblAll || 'All' }}</mat-option> -->
                    <!-- <mat-option *ngFor="let role of roles | removeDuplicates" [value]="role"> -->
                    <!-- <mat-option *ngFor="let role of roles" [value]="role">
                        {{role}}
                    </mat-option> -->
                </mat-select>
            </mat-form-field>
        </div>
    </div>
  </mat-expansion-panel><br><br>

  <!-- Notification details -->
  <mat-expansion-panel style="width:90%;" class="full-width">
    <mat-expansion-panel-header class="full-width">
      <mat-panel-title>
        <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblNotificationDetails || 'Notification details' }}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div fxLayout="row" fxLayoutAlign="space-between" class="full-width filter-direction" fxLayoutGap="10px">
        <div class="areaWidth min-width-25-per" fxLayout="column" fxLayoutAlign="left">
            <mat-label>{{ translationData.lblName || 'Name' }}</mat-label>
            <mat-form-field appearance="outline" class="full-width">
                <input placeholder="{{ translationData.lblSearchName || 'Search Name' }}"  matInput>
            </mat-form-field>
        </div>
        <div class="areaWidth min-width-25-per" fxLayout="column" fxLayoutAlign="left">
            <mat-label style='display: flex; place-content: space-between;'>
                {{ translationData.lblGroup || 'Group' }}
            </mat-label>
            <mat-form-field appearance="outline" class="full-width">
                <mat-select placeholder="{{ translationData.lblSelectUserGroup || 'Select User Group' }}" >
                    <!-- <mat-option value='All'>{{ translationData.lblAll || 'All' }}</mat-option> -->
                    <!-- <mat-option *ngFor="let usrGrp of userGroups | removeDuplicates" [value]="usrGrp"> -->
                    <!-- <mat-option *ngFor="let usrGrp of userGroups" [value]="usrGrp">
                        {{usrGrp}}
                    </mat-option> -->
                </mat-select>
            </mat-form-field>
        </div>
        <div class="areaWidth min-width-25-per" fxLayout="column" fxLayoutAlign="left">
            <mat-label style='display: flex; place-content: space-between;'>
                {{ translationData.lblRole || 'Role' }}
            </mat-label>
            <mat-form-field appearance="outline" class="full-width">
                <mat-select placeholder="{{ translationData.lblSelectUserRole || 'Select User Role' }}">
                    <!-- <mat-option value='All'>{{ translationData.lblAll || 'All' }}</mat-option> -->
                    <!-- <mat-option *ngFor="let role of roles | removeDuplicates" [value]="role"> -->
                    <!-- <mat-option *ngFor="let role of roles" [value]="role">
                        {{role}}
                    </mat-option> -->
                </mat-select>
            </mat-form-field>
        </div>
    </div>
  </mat-expansion-panel><br><br>