.row-hover {
    cursor: pointer;
    text-decoration: underline;
}

.backBtnCss{
    text-decoration: underline;
    color: #29539c;
    cursor: pointer;
}

.selectGeoContainer{
    position: absolute;
    z-index: 1;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    //font-weight: bold;
    padding: 50px 430px;
}

.selectGeoBox{
    margin-top: 10px;
    border: 1px solid #2e71af;
    //padding: 10px;
    //border-radius: 5px;
    background: #FFF;
    .hoverClass{
        &:hover{
            background-color: #cbe6ff;
        }
    }
}

.opacity-0-5{
    opacity: 0.5;
}

.pointer-events-none{
    pointer-events: none;
}

.createPolyBtn{
    position: absolute;
    z-index: 1;
}