<div class='bgtrans'>
    <div *ngIf='grpTitleVisible' fxLayout="row" fxLayoutAlign="center center"
        style='padding:10px; color:#fff; background: #5dc24e;'>
        <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center" style='width:95%;'>
        {{ displayMessage }}
        </div>
        <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center">
        <mat-icon (click)='onClose()' style='cursor: pointer;'>close</mat-icon>
        </div>
    </div>
    <div *ngIf='errorMsgVisible' fxLayout="row" fxLayoutAlign="center center"
        style='padding:10px; color:#fff; background: red;'>
        <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center" style='width:95%;'>
        {{ displayMessage }}
        </div>
        <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center">
        <mat-icon (click)='onClose()' style='cursor: pointer;'>close</mat-icon>
        </div>
    </div>
    <div>
      <mat-card class='mat-elevation-z' *ngIf="!showVehicalDetails"> 
        <form [formGroup]="vehicleUpdatesForm">               
          <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
            <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
                <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>
                    {{ translationData.lblVehicleStatusList || 'Vehicle Status List' }}                 
                </span>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm vehicleStatusList_filter'>
              <div class='areaWidth' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left" style="margin-top: 24px;">
                <mat-form-field appearance="outline">
                    <input matInput [formControl]="searchFilter" placeholder="{{ translationData.lblSearch || 'Search' }}">
                    <span matPrefix><mat-icon>search</mat-icon></span>
                </mat-form-field>
              </div> 
             
              <div class="areaWidth" fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
                <mat-label style='display: flex; place-content: space-between;'>
                    {{ translationData.lblVehicleGroup || 'Vehicle Group' }}
                </mat-label>
                <mat-form-field appearance="outline" class="full-width">
                          <mat-select [disabled]="vehicleGroup.length == 0" (selectionChange)="onVehicleGroupChange('vehicleGroupNames',$event.value)" placeholder="Select"  formControlName="vehicleGroup">
                          <mat-option value="all">{{translationData.lblAll || 'All'}}</mat-option>
                             <mat-option *ngFor="let veh of vehicleGroup" [value]="veh">
                          {{ veh.vehicleGroup }}
                      </mat-option>
                    </mat-select>
                </mat-form-field> 
            </div>
            <div class="areaWidth" fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
                <mat-label style='display: flex; place-content: space-between;'>
                    {{ translationData.lblVehicleName || 'Vehicle Name' }}
                </mat-label>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-select [disabled]="vehicleName.length == 0" (selectionChange)="onVehicleChange('vehicleName',$event)" placeholder="Select" formControlName="vehicle"  [(ngModel)]="ngVehicleName">
                        <mat-option value='all'>{{ translationData.lblAll || 'All' }}</mat-option>
                        <mat-option *ngFor="let veh of vehicleName" [value]="veh.vehicleName">
                          {{ veh.vehicleName }}
                      </mat-option>
                    </mat-select>
                </mat-form-field> 
            </div>
            <div class="areaWidth" fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
                <mat-label style='display: flex; place-content: space-between;'>
                    {{ translationData.lblVehicleGroup || 'Vehicle Software Status' }}
                </mat-label>
                <mat-form-field appearance="outline" class="full-width">
                <mat-select placeholder="Select or search details"
                (selectionChange)="onVehicleChange('softwareStatus', $event)" formControlName="softStatus">
                <mat-option>
                    <ngx-mat-select-search (keyup)="filterVehicleSoft(softStatus.value)" placeholderLabel="{{ translationData.lblSearchLanguage || 'Search software status' }}" #softStatus>
                        <mat-icon (click)="resetSoftStatusFilter()" ngxMatSelectSearchClear>close</mat-icon>
                    </ngx-mat-select-search>
                </mat-option>   
                <mat-option value='all'>{{ translationData.lblAll || 'All' }}</mat-option>            
                <mat-option *ngFor="let soft of filteredSoftwareStatus | async" [value]="soft.value">
                    &nbsp;{{ soft.value }}
                </mat-option>
            </mat-select>  
          </mat-form-field>             
            </div>                     
          </div>        
        </form>       
         <div *ngIf='initData.length == 0'>{{ translationData.lblNoRecordFound || 'No Record Found'}}</div>
          <div *ngIf='initData.length > 0' id="vehicleListData">
            <mat-table matTableExporter [dataSource]="dataSource" class="table-items" matSort >
              <ng-container matColumnDef="vehicleName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblvehicleName || 'Vehicle Name'}}</mat-header-cell>
                <mat-cell *matCellDef="let row" class="text-truncate"  matTooltip="{{row.vehicleName}}" > 
                    {{row.vehicleName}}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="registrationNo">
                <mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 15%;">{{ translationData.lblregistrationNo || 'Registration No.' }}</mat-header-cell>
                <mat-cell *matCellDef="let row" style="min-width: 15%;"  matTooltip="{{ row.registrationNo }}" class="text-truncate">         
                  {{ row.registrationNo }}            
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="vehicleGroupNames">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblvehicleGroupNames || 'Vehicle Group'}}</mat-header-cell>
                <mat-cell *matCellDef="let row" matTooltip="{{ row.vehicleGroupNames }}" class="text-truncate">
                 {{row.vehicleGroupNames}}
                </mat-cell>
                <!-- <mat-cell *matCellDef="let row" matTooltip="{{ row.roleList }}"><span class="text-truncate">{{ row.roles.length > 0 ? row.roleList : '&nbsp; &nbsp; -' }}</span></mat-cell> -->
              </ng-container>
              <ng-container matColumnDef="modelYear">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblmodelYear || 'Model Year' }}</mat-header-cell>
                 <mat-cell *matCellDef="let row" >
                    <span>{{row.modelYear}}</span>               
                  </mat-cell>  
                </ng-container>
                <ng-container matColumnDef="type">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblvehicletype || 'Type' }}</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                   {{row.type}}
                  </mat-cell>
               </ng-container> 
              <ng-container matColumnDef="softwareStatus">
                <mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 15%;">{{ translationData.lblsoftwareStatus || 'Software Status' }}</mat-header-cell>
                <mat-cell *matCellDef="let row" style="min-width: 15%;">
                    <span *ngIf="row.softwareStatus == 'Update Failed'">
                        <span [style]="{ 'color':'#f00e0e' } ">{{row.softwareStatus}}</span> 
                    </span> 
                    <span *ngIf="row.softwareStatus == 'Update Available'">
                        <span [style]="{ 'color':'#0249cb' } ">{{row.softwareStatus}}</span> 
                    </span> 
                    <span *ngIf="row.softwareStatus == 'Update Running'">
                        <span [style]="{ 'color':'#FFBF00' } ">{{row.softwareStatus}}</span> 
                    </span> 
                    <span *ngIf="row.softwareStatus == 'Up-To Date'">
                        <span [style]="{ 'color':'#0ab90a' } ">{{row.softwareStatus}}</span> 
                    </span>  
              </mat-cell>            
              </ng-container>
              <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef class="action"> {{ translationData.lblAction || 'Action' }} </mat-header-cell>
                <mat-cell *matCellDef="let row" class="action">
                  <button class='actionBtn' mat-flat-button (click)="onViewVehicleList(row, 'view')" matTooltip="{{ translationData.lblView || 'view'  }}">
                    <mat-icon>visibility</mat-icon>
                  </button>
                 </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;">
              </mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageSizeUpdated($event)"></mat-paginator>
          </div> 
          <app-spinner *ngIf="showLoadingIndicator" ></app-spinner>
        </mat-card>   
    </div>
    <app-vehicle-update-details *ngIf="showVehicalDetails"></app-vehicle-update-details>
  </div>