<div class="bgtrans">
  <mat-card  class='margin-top-lg border-none bg-none no-padding full-width margin-top-40 mat-elevation-z'
    fxLayout="column" fxLayoutAlign="start start">
    <mat-card-content class="full-width" >
      <div fxLayout="row" fxLayoutAlign="space-around" fxLayoutGap="25px">
        <!-- <p style="color: darkgray; font-size: 2em">This screen is part of services feature</p> -->
        <div fxLayout="column" fxLayoutGap="3px">
          <div class="togglegroup">
            <mat-tab-group [(selectedIndex)]="selectedIndex">
              <mat-tab label="Manage POI and Geofence"><app-manage-poi-geofence></app-manage-poi-geofence></mat-tab>
              <mat-tab label="Manage Group"><app-manage-group></app-manage-group></mat-tab>
              <mat-tab label="Manage Category"><app-manage-category></app-manage-category></mat-tab>
              <mat-tab label="Manage Corridor"><app-manage-corridor></app-manage-corridor></mat-tab>
          </mat-tab-group>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>