<div class="bgtrans tabs">
  <!-- <mat-tab-group [ngStyle]="{'visibility':  tabVisibilityStatus  ? 'visible' : 'hidden' }" [(selectedIndex)]="selectedIndex"> -->
  <mat-tab-group [ngClass]="[ tabVisibilityStatus ? '' : 'hideTabHeader']" [(selectedIndex)]="selectedIndex" (selectedTabChange)="onTabChanged($event);">
    <mat-tab label="{{ translationData.lblManagePOIandGeofence || 'Manage POI and Geofence' }}">
      <app-manage-poi-geofence *ngIf="selectedIndex == 0" (tabVisibility)="tabVisibilityHandler($event)" [translationData]='translationData'></app-manage-poi-geofence>
    </mat-tab>
    <mat-tab label="{{ translationData.lblManageGroup || 'Manage Group' }}">
      <app-manage-group *ngIf="selectedIndex == 1" (tabVisibility)="tabVisibilityHandler($event)" [translationData]='translationData'></app-manage-group>
    </mat-tab>
    <mat-tab label="{{ translationData.lblManageCategory || 'Manage Category' }}">
      <app-manage-category *ngIf="selectedIndex == 2" (tabVisibility)="tabVisibilityHandler($event)" [translationData]='translationData'></app-manage-category>
    </mat-tab>
    <mat-tab label="{{ translationData.lblManageCorridor || 'Manage Corridor' }}">
      <app-manage-corridor *ngIf="selectedIndex == 3" (tabVisibility)="tabVisibilityHandler($event)" [translationData]='translationData'></app-manage-corridor>
    </mat-tab>
  </mat-tab-group>
</div>