<div class='bgtrans'>
  <mat-card class='mat-elevation-z'>   
      <mat-tab-group [(selectedIndex)]="selectedIndex" (selectedTabChange)="onTabChanged($event);">
          <mat-tab label="{{ translationData.lblVehicleDetails || 'Vehicle Details' }}"> 
              <app-vehicle-details *ngIf="selectedIndex == 0" [translationData]='translationData'></app-vehicle-details>
          </mat-tab>
          <mat-tab label="{{ translationData.lblVehicleConnectSettings || 'Vehicle Connect Settings' }}">
            <app-vehicle-connect-settings *ngIf="selectedIndex == 1" ></app-vehicle-connect-settings>
          </mat-tab>        
      </mat-tab-group>  
</mat-card>
</div>

