<mat-expansion-panel class="full-width margin-bottom-20m mb-10" fxLayoutGap="10px" [expanded]="true">
    <mat-expansion-panel-header class="full-width">
      <mat-panel-title>
        <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblTodaysLiveVehicle
          || 'Todays Live Vehicles' }}</span>
       
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button class='reportButton' mat-flat-button color="primary" (click)="navigateToReport()">
        {{ translationData.lblShowReport || 'Show Report'}}
    </button>
    <!-- block data -->
    <div style='margin-bottom: 10px;' *ngIf='liveVehicleData'>
        <div fxLayout="row" fxLayoutAlign="space-between" class="full-width" fxLayoutGap="10px">
          <div class="areaWidth  divTile normalClass" fxLayout="column" fxLayoutAlign="left">
            <span>
              <div>{{ translationData.lblDistance || 'Distance' }} </div>
              <div style='font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;'>{{distance}}{{prefUnitFormat == 'dunit_Metric' ?  (this.translationData.lblkms || 'Km') : (this.translationData.lblmile || 'Miles')}} </div>
            </span>
          </div>
          <div class="areaWidth  divTile normalClass" fxLayout="column" fxLayoutAlign="left">
            <span>
              <div>{{ translationData.lblDrivingTime || 'Driving Time' }} </div>
              <div style='font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;'>{{drivingTime}}</div>
            </span>
          </div>
            <div class="areaWidth  divTile normalClass" fxLayout="column" fxLayoutAlign="left">
              <span>
                <div>{{ translationData.lblDrivers || 'Drivers' }} </div>
                <div style='font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;'>{{liveVehicleData.driverCount}}</div>
              </span>
            </div>
            <div class="areaWidth  divTile activeClass" fxLayout="column" fxLayoutAlign="left">
              <span>
                <div>{{ translationData.lblCriticalAlerts || 'Critical Alerts' }}: </div>
                <div style='font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;'>{{liveVehicleData.criticleAlertCount}}</div>
              </span>
            </div>
        </div>
    </div>
    <!-- Charts  -->
    <div style='margin-bottom: 10px;'  *ngIf='liveVehicleData'>
        <div fxLayout="row" fxLayoutAlign="space-between" class="full-width" fxLayoutGap="10px">
          <div class="chartTile col-md-4">
            <div class="textDiv">
              <div>{{ translationData.lblActiveVehicles || 'Active Vehicles' }}</div>
              <div style='font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif; text-align: center;'>{{liveVehicleData.todayActiveVinCount}}</div>
            </div>
            
            <div class="col-md-8 chart-wrapper chartDimension">
                <canvas #chart1 baseChart
                  [data]="doughnutChartActiveVehicleData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"
                  [options]="doughnutChartOptions"
                  [colors]="doughnutColors"
                  [plugins]="doughnutChartPlugins">
                </canvas>
              </div>
          </div>
          <div class="chartTile col-md-4">
            <div class="textDiv">
              <div>{{ translationData.lblTimeBased || 'Time Based UtiliSation Rate' }} </div>
              <div style='font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;text-align: center;'>{{timeBasedRate}}</div>
            </div>
            
            <div class="col-md-8 chart-wrapper chartDimension">
                <canvas #chart2 baseChart
                  [data]="doughnutChartTimeBasedData"
                  [labels]="doughnutChartTimeBasedLabels"
                  [chartType]="doughnutChartType"
                  [options]="doughnutChartTimeOptions"
                  [colors]="doughnutTimeColors"
                  [plugins]="doughnutChartTimePlugins">
                </canvas>
              </div>
          </div>
          <div class="chartTile col-md-4">
            <div class="textDiv">
                <div>{{ translationData.lblDistanceBased || 'Distance Based Utilisation Rate' }} </div>
                <div style='font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;text-align: center;'>{{distanceRate}}{{prefUnitFormat == 'dunit_Metric' ?  (this.translationData.lblkms || 'Km') : (this.translationData.lblmile || 'Miles')}} </div>
            </div>
              
            <div class="col-md-8 chart-wrapper chartDimension">
                <canvas #chart3 baseChart
                  [data]="doughnutChartDistanceBasedData"
                  [labels]="doughnutChartDistanceBasedLabels"
                  [chartType]="doughnutChartType"
                  [options]="doughnutChartDistanceOptions"
                  [colors]="doughnutDistanceColors"
                  [plugins]="doughnutChartDistancePlugins">
                </canvas>
              </div>
            </div>
        </div>
    </div> 
  </mat-expansion-panel>
