.divTile{
    background: #e7e7e7;
    min-height: 27px;
    text-align: center;
    min-width: 24%;
    padding-top: 5px;
    border-radius: 5px;

}
.chartTile{
    min-height: 50px;
    min-width: 32%;
}
.mb-10{
    margin-bottom: 10px;
}
.normalClass{
    background: #65c3f7;
}
.activeClass{
    background: #d62a29;
}
.reportButton{
    position: absolute;
    right: 50px;
    top: 11px;
}
#chart1{
    height:100px !important;
    width:200px !important
}
.textDiv{
    display: inline-block;
    width:33%;
    text-align: center;
}
.chartDimension{
    display: inline-block;
    padding-top: 20px;
}
.caretGreen{
    color : green ;
}
.caretRed{
    color : red ;
}