.divTile{
    background: #e7e7e7;
    min-height: 27px;
    text-align: center;
    min-width: 24%;
    padding: 10px 0px;
    border-radius: 5px;

}
.chartTile{
    min-height: 50px;
    min-width: 32%;
}
.mb-10{
    margin-bottom: 10px;
}
.normalClass{
    background: #65c3f7;
    color: #fff;
}
.activeClass{
    background: #d62a29;
    color: #fff;
}
.reportButton{
    position: absolute;
    right: 50px;
    top: 11px;
}
#chart1{
    height:100px !important;
    width:200px !important
}
.textDiv{
    display: inline-block;
    width:33%;
    text-align: center;
}
.chartDimension{
    display: inline-block;
    //padding-top: 20px;
}
.caretGreen{
    color : green ;
}
.caretRed{
    color : red ;
}
.warningClass{
    margin-top: 27px;
}
.warningIcon{
    color: rgb(202, 18, 18);
}
.warningTextDiv{
    color : #808080;
}

.flex-css{
    place-content: space-between center;
    align-items: center;
    display: flex;
}