.row-hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .backBtnCss{
    text-decoration: underline;
    color: #29539c;
    cursor: pointer;
  }

  .card{
    margin-top:2%;
  }

  
  .buttons{
    padding-left: 75%;
  }

::ng-deep.H_ib_body {
  width: 260px;
  height: 30px;
  // position: fixed;

  .H_ib_close {
    display: none;
  }

  .H_ib_content {
    margin: 5px;
  }

}
::ng-deep.H_ib_tail {
  display: none;
}