<div *ngIf="actionType == 'create'" fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
  <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
    <span>{{ breadcumMsg }}</span>
  </div>
  <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="end" class='margin-right-xxlg'>
    <span class='custom-font' (click)="toBack()">
      <span>
        <&nbsp; </span>
          <span class='backBtnCss'>{{ translationData.lblBack || 'Back' }}</span>
      </span>
  </div>
</div>

<mat-card class='mat-elevation-z'>
  <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
    <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
      <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>Map View</span>
    </div>
  </div>

  <div #map id="map" style="width: 900px; height: 450px">
    <div #searchbox style="padding: 10px 0">  
          <input type="text" placeholder="Search your location..." style="width: 30%;" />  
          <!-- <button><mat-icon (click)="places(query)">search</mat-icon></button> -->
          <!-- <button><mat-icon>search</mat-icon></button> -->
        </div>  
   
  </div>

</mat-card>

<form [formGroup]="poiFormGroup">
  <mat-card class="card">
      <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>

        <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
          <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>Add New POI</span>
        </div>
      </div>
      <mat-card-content>

        <div  fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" >
          <div class="areaWidth" fxLayout="column" >
            <mat-label><span>{{ translationData.lblPoiName || 'Name' }}</span><span *ngIf="actionType != 'view'"
                class='mandatoryColor'>*</span></mat-label>
            <div *ngIf="actionType != 'view'">
              <mat-form-field appearance="outline" >
                <input maxlength="20" placeholder="{{ translationData.lblEnterPoiName|| 'Enter Poi Name' }}" matInput
                  formControlName="name">
              </mat-form-field>
            </div>
            <!-- <div *ngIf="actionType == 'edit'">
              <span style='font-weight: 500!important;'>{{ selectedElementData.name }}</span>
          </div> -->
          </div>
          <div class="areaWidth" fxLayout="column" >
            <mat-label>
              <span>{{ translationData.lblType || 'Select Category' }}</span><span *ngIf="actionType != 'view'"
                class='mandatoryColor'>*</span>
            </mat-label>
            <div class="areaWidth" fxLayout="column" fxLayoutAlign="left">
              <mat-form-field appearance="outline" >
                <mat-select  formControlName="category" (selectionChange)="onCategoryChange()" placeholder="{{ translationData.lblSelectCategory || 'Select Category' }}">
                <mat-option *ngFor="let rer of categoryList" [value]="rer.id">
                  {{ rer.name }}
                </mat-option>
              </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="areaWidth" fxLayout="column" >
            <mat-label>
              <span>{{ translationData.lblType || 'Select Sub-Category' }}</span><span *ngIf="actionType != 'view'"
                class='mandatoryColor'>*</span>
            </mat-label>
            <div class="areaWidth" fxLayout="column" >
              <mat-form-field appearance="outline" >
                <mat-select formControlName="subcategory" (selectionChange)="onSubCategoryChange()" placeholder="{{ translationData.lblSelectSubCategory || 'Select Sub-Category' }}">
                  <mat-option *ngFor="let rer of subCategoryList" [value]="rer.id">
                      {{ rer.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
  </div>



      <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>

        <div class="areaWidth" fxLayout="column" >
          <mat-label><span>{{ translationData.lblPoiAddress || 'Address' }}</span></mat-label>
          <div *ngIf="actionType != 'view'">
            <mat-form-field appearance="outline" class="full-width">
              <input maxlength="50" placeholder="{{ translationData.lblEnterPoiAddress|| 'Enter Address' }}" matInput
                formControlName="address"  >
            </mat-form-field>
          </div>
        </div>
        <div class="areaWidth" fxLayout="column" >
          <mat-label><span>{{ translationData.lblPoiZip || 'Zip-code' }}</span></mat-label>
          <div *ngIf="actionType != 'view'">
            <mat-form-field appearance="outline">
              <input maxlength="50" placeholder="{{ translationData.lblEnterPoiZip|| 'Select one' }}" matInput
                formControlName="zip">
            </mat-form-field>
          </div>
        </div>
        <div class="areaWidth" fxLayout="column" >
          <mat-label><span>{{ translationData.lblPoiCity || 'City' }}</span></mat-label>
          <div *ngIf="actionType != 'view'">
            <mat-form-field appearance="outline">
              <input maxlength="50" placeholder="{{ translationData.lblEnterPoiCity|| 'Select one' }}" matInput
                formControlName="city">
            </mat-form-field>
          </div>
        </div>

      </div>

      <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>

        <div class="areaWidth" fxLayout="column" >
          <mat-label><span>{{ translationData.lblPoiCountry || 'Country' }}</span></mat-label>
          <div *ngIf="actionType != 'view'">
            <mat-form-field appearance="outline" class="full-width">
              <input maxlength="50" placeholder="{{ translationData.lblEnterPoiCountry|| 'Select One' }}" matInput
                formControlName="country">
            </mat-form-field>
          </div>
        </div>
        <div class="areaWidth" fxLayout="column" >
          <mat-label><span>{{ translationData.lblPoiLattitude || 'Lattitude' }}</span></mat-label>
          <div *ngIf="actionType != 'view'">
            <mat-form-field appearance="outline" class="full-width">
              <input maxlength="50" placeholder="{{ translationData.lblEnterPoiLattitude|| 'Select One' }}" matInput
                formControlName="lattitude">
            </mat-form-field>
          </div>
        </div>
        <div class="areaWidth" fxLayout="column" >
          <mat-label><span>{{ translationData.lblPoiLongitude || 'Longitude' }}</span></mat-label>
          <div *ngIf="actionType != 'view'">
            <mat-form-field appearance="outline" class="full-width">
              <input maxlength="50" placeholder="{{ translationData.lblEnterPoiLongitude|| 'Select One' }}" matInput
                formControlName="longitude">
            </mat-form-field>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="end" class='margin-bottom-sm'>
        <div fxLayout="row" class='areaWidth'>
          <button class='resetCancelBtnColor margin-right-10' mat-raised-button color="primary" (click)='onCancel()'>{{
            translationData.lblCancel || 'Cancel' }}</button>
            <button class='no-margin' [disabled]="!poiFormGroup.valid" mat-raised-button (click)='onCreatePoi()'
            color="primary" *ngIf="actionType == 'create'">{{ createStatus ? (translationData.lblCreate ||
            'Create') :
            (translationData.lblConfirm || 'Confirm') }}</button>
            <button class='no-margin' mat-raised-button color="primary" *ngIf="actionType == 'edit'"
            (click)='onCreatePoi()'>{{ translationData.lblConfirm || 'Confirm' }}</button>
        </div>
      </div>

    </mat-card-content>

  </mat-card>
</form>