################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/atos.daf.ct2.0/v16
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/poc/keycloak
