<div>
  <div *ngIf='categoryTitleVisible' fxLayout="row" fxLayoutAlign="center center"
        style='padding:10px; color:#fff; background: #5dc24e;' class='margin-bottom-sm'>
        <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center" style='width:95%;'>
        {{ displayMessage }}
        </div>
        <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center">
        <mat-icon (click)='onClose()' style='cursor: pointer;'>close</mat-icon>
        </div>
    </div>
    <mat-card class='mat-elevation-z' *ngIf='!createViewEditStatus'>
        <div class="groupDetails margin-bottom-sm" fxLayout="row" fxLayoutAlign="space-between">
            <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
              <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblCategories ||
                'Categories' }} -
                ({{ dataSource.filteredData.length }})</span>
            </div>
            <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="end">
              <div fxLayout="row" class='areaWidth'>
                <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="end">
                  <button mat-flat-button color="primary" (click)="onNewCategory()">
                  <mat-icon>add_circle_outline</mat-icon> {{ translationData.lblNewCategory || 'New Category' }}
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="flex-start" fxLayoutGap="20px" class='margin-bottom-sm'>
            <div class='areaWidth' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
              <mat-form-field appearance="outline">
                <input matInput (keyup)="applyFilter($event.target.value)"
                  placeholder="{{ translationData.lblSearch || 'Search' }}">
                <span matPrefix>
                  <mat-icon>search</mat-icon>
                </span>
              </mat-form-field>
            </div>
            <div class='areaWidth' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
              <mat-form-field appearance="outline">
                <mat-select [(ngModel)]="categorySelection" [disabled]='allCategoryData.length == 0' (selectionChange)="onCategoryChange($event)" placeholder="{{ translationData.lblSelectCategory || 'Select Category' }}">
                <mat-option value="0">--All--</mat-option>
                <mat-option *ngFor="let rer of categoryList" [value]="rer.id">
                    {{ rer.name }}
                </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class='areaWidth' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
              <mat-form-field appearance="outline">
                <mat-select [(ngModel)]="subCategorySelection" [disabled]='allCategoryData.length == 0' (selectionChange)="onSubCategoryChange($event)" placeholder="{{ translationData.lblSelectSubCategory || 'Select Sub-Category' }}">
                  <mat-option value="0">--All--</mat-option>
                  <mat-option *ngFor="let rer of subCategoryList" [value]="rer.id">
                    {{ rer.name }}
                </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="areaWidth" fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="end" style='width: 100%; float: right;'>
              <div fxLayout="row" fxLayoutAlign="flex-end"  class='areaWidth'>
                <div class='areaWidth' fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end">
                  <button *ngIf="(userType == 'Admin#Platform' || userType == 'Admin#Global') || (accountOrganizationId != undefined && accountOrganizationId > 0)" [disabled]='selectedCategory.selected.length == 0' mat-flat-button color="warn" (click)="onBulkDeleteCategory()">
                    <mat-icon>deleteicon</mat-icon> {{ translationData.lblDelete || 'Delete' }}
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf='initData.length == 0'>{{ translationData.lblNoRecordFound || 'No Record Found' }}</div>
          <div *ngIf='initData.length > 0'>
            <mat-table matTableExporter [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="select">
                <mat-header-cell class="max-width-10-per" *matHeaderCellDef>
                  <mat-checkbox (change)='$event ? masterToggleForCategory() : null'
                    [checked]='selectedCategory.hasValue() && isAllSelectedForCategory()'
                    [indeterminate]='selectedCategory.hasValue() && !isAllSelectedForCategory()'
                    [aria-label]='checkboxLabelForCategory()'>
                  </mat-checkbox>
                  <span style="margin: 5px 0px 0px 5px;">{{ translationData.lblAll || 'All'}}</span>
                </mat-header-cell>
                <mat-cell class="max-width-10-per" *matCellDef="let row">
                  <span *ngIf="row.newTag" class='newTagIcon marginLeft-24'></span>
                  <span *ngIf="row.newTag" class='newTxtCss'>{{ translationData.lblNew || 'New' }}</span>
                  <span [ngClass]="{ 'marginLeft-14': row.newTag }">
                    <mat-checkbox (click)='$event.stopPropagation()' (change)='$event ? selectedCategory.toggle(row) : null'
                      [checked]='selectedCategory.isSelected(row)' [aria-label]='checkboxLabelForCategory(row)'>
                    </mat-checkbox>
                  </span>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="icon">
                <mat-header-cell *matHeaderCellDef class="max-width-8-per">{{ translationData.lblIcon || 'Icon'}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row" class="max-width-8-per"> 
                  <span>
                    <mat-icon *ngIf="row.imageUrl && row.imageUrl == ''">place</mat-icon>
                    <img *ngIf="row.imageUrl && row.imageUrl != ''" matTooltip={{row.iconName}} [src]='row.imageUrl' alt='' width='20px' height='20px'>
                  </span>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="parentCategoryName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblCategory || 'Category'}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"><span matTooltip="{{ row.parentCategoryName }}">{{ row.parentCategoryName }}</span></mat-cell>
              </ng-container>
              <ng-container matColumnDef="subCategoryName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblSubCategory || 'Sub-Category'}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"><span matTooltip="{{ row.subCategoryName }}">{{ row.subCategoryName ? row.subCategoryName : '-' }}</span></mat-cell>
              </ng-container>
              <ng-container matColumnDef="noOfPOI">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblNumberofPOI || 'Number of POI'}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"><span matTooltip="{{ row.noOfPOI }}" [ngClass]="row.noOfPOI != 0 ? 'row-hover' : '' "
                    (click)="row.noOfPOI != 0 ? onPOIClick(row) : ''">{{ (row.noOfPOI < 10) ? '0' : '' }}{{ row.noOfPOI }}</span></mat-cell>
              </ng-container>
              <ng-container matColumnDef="noOfGeofence">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblNumberofGeofence || 'Number of Geofence'}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"><span matTooltip="{{ row.noOfGeofence }}" [ngClass]="row.noOfGeofence != 0 ? 'row-hover' : '' "
                    (click)="row.noOfGeofence != 0 ? onGeofenceClick(row) : ''">{{ (row.noOfGeofence < 10) ? '0' : '' }}{{ row.noOfGeofence }}</span></mat-cell>
              </ng-container>
              <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef>{{ translationData.lblActions || 'Actions'}}</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <button class='actionBtn' (click)="editViewCategory(row, 'view')" mat-flat-button matTooltip="{{ translationData.lblView || 'View' }}">
                    <mat-icon>visibility</mat-icon>
                  </button>
                  <button *ngIf="(userType == 'Admin#Platform' || userType == 'Admin#Global') || (row.organizationId != undefined && row.organizationId > 0)" class='actionBtn' mat-flat-button (click)="editViewCategory(row, 'edit')" matTooltip="{{ translationData.lblEdit || 'Edit' }}">
                    <mat-icon>create</mat-icon>
                  </button>
                  <button *ngIf="(userType == 'Admin#Platform' || userType == 'Admin#Global') || (row.organizationId != undefined && row.organizationId > 0)" class='actionBtn' mat-flat-button (click)="deleteCategory(row)" matTooltip="{{ translationData.lblDelete || 'Delete' }}">
                    <mat-icon class="deleteIcon">delete_outline</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;">
              </mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
          <app-spinner *ngIf="showLoadingIndicator"></app-spinner>
    </mat-card>
    <app-create-edit-view-category *ngIf='createViewEditStatus' [translationData]='translationData' [actionType]='actionType' [selectedRowData]='selectedRowData' [parentCategoryList]='categoryList' (backToPage)='onBackToPage($event)'></app-create-edit-view-category>
</div>