<div class="bgtrans">
        <div class='custom-font' *ngIf='noDataFound'>{{ translationData.lblNodatafoundforthisorganisationsdashboard || "No data found for this organisation's dashboard" }}</div>
        <app-spinner *ngIf="showLoadingIndicator"></app-spinner>
        <app-fleetkpi *ngIf='finalVinList.length > 0' [translationData] ="translationData"  [finalVinList]='finalVinList' [prefData]='prefDetail' [preference]='preference' [dashboardPrefData] ="dashboardPrefData"></app-fleetkpi>
        <app-today-live-vehicle *ngIf='finalVinList.length > 0' [translationData] ="translationData" [finalVinList]='finalVinList' [prefData]='prefDetail' [preference]='preference' [dashboardPrefData] ="dashboardPrefData"></app-today-live-vehicle>
        <app-dashboard-vehicle-utilisation *ngIf='finalVinList.length > 0'  [translationData] ="translationData" [finalVinList]='finalVinList' [prefData]='prefDetail' [preference]='preference' [dashboardPrefData] ="dashboardPrefData"></app-dashboard-vehicle-utilisation>
</div>
