<mat-card class='mat-elevation-z no-padding margin-bottom-xlg margin-top-20 background-transparent'>
  <div *ngIf='updateMsgVisible' fxLayout="row" fxLayoutAlign="center center"
    style='padding:10px; color:#fff; background: #5dc24e;' class='margin-bottom-sm'>
    <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center" style='width:95%;'>
      {{ displayMessage }}
    </div>
    <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center">
      <mat-icon (click)='onClose()' style='cursor: pointer;'>close</mat-icon>
    </div>
  </div>
  <app-spinner *ngIf="showLoadingIndicator"></app-spinner>
  <div *ngIf='!showLoadingIndicator'>
    <mat-expansion-panel class="full-width margin-bottom-15" fxLayoutGap="10px" [(expanded)]="showTripReport" (opened)="showTripReport == true"
      (closed)="showTripReport == false">
      <mat-expansion-panel-header class="full-width">
        <mat-panel-title>
          <span>
            <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{
              translationData.lblTripReportComponent || 'Trip Report Component' }}</span>
            <span style='margin-left: 10px; vertical-align: middle;'>
              <mat-icon *ngIf='!editTripFlag' (click)="editTripReportPreferences()" style="cursor: pointer; font-size: 20px;">
                edit</mat-icon>
            </span>
          </span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <app-trip-report-preference *ngIf='showTripReport' [editFlag]='editTripFlag' [reportListData]='reportListData' [translationData]='translationData' (setTripReportFlag)="updateEditTripReportFlag($event)"></app-trip-report-preference>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel class="full-width margin-bottom-15" fxLayoutGap="10px" [(expanded)]="showFleetUtilisationReport" (opened)="showFleetUtilisationReport == true"
      (closed)="showFleetUtilisationReport == false">
      <mat-expansion-panel-header class="full-width">
        <mat-panel-title>
          <span>
            <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{
              translationData.lblFleetUtilisation || 'Fleet Utilisation' }}</span>
            <span style='margin-left: 10px; vertical-align: middle;'>
              <mat-icon *ngIf='!editFleetUtilisationFlag' (click)="editFleetUtilisationPreferences()" style="cursor: pointer; font-size: 20px;">
                edit</mat-icon>
            </span>
          </span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <app-fleet-utilisation-preference *ngIf='showFleetUtilisationReport' [editFlag]='editFleetUtilisationFlag' [reportListData]='reportListData' [translationData]='translationData' (setFleetUtilFlag)="updateEditFleetUtilFlag($event)"></app-fleet-utilisation-preference>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel class="full-width" fxLayoutGap="10px" [(expanded)]="showDriverTimePerferences" (opened)="showDriverTimePerferences == true"
      (closed)="showDriverTimePerferences == false">
      <mat-expansion-panel-header class="full-width">
        <mat-panel-title>
          <span>
            <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{
              translationData.lblSriverTimeReportComp || 'Driver Time Management Report Component' }}</span>
            <span style='margin-left: 10px; vertical-align: middle;'>
              <mat-icon *ngIf='!editDriverTimePerferencesFlag' (click)="editDriverTimePerferences()" style="cursor: pointer; font-size: 20px;">
                edit</mat-icon>
            </span>
          </span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
      <app-driver-time-preferences *ngIf='showDriverTimePerferences' [editFlag]='editDriverTimePerferencesFlag' [reportListData]='reportListData' [translationData]='translationData' (setDriverTimeFlag)="updateEditDriverTimeFlag($event)"></app-driver-time-preferences>
      </div>
    </mat-expansion-panel>
  </div>
</mat-card>