<!-- <div fxLayout="row" fxLayoutAlign="end end" class='margin-bottom-sm'>
    <button *ngIf="fromEdit == 'edit' || fromEdit == 'view'" mat-raised-button color="primary" (click)='toBack()'>{{ translationData.lblBack || 'Back' }}</button>
</div> -->
<div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
  <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
    <span>{{ breadcumMsg }}</span>
  </div>
  <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="end">
    <button mat-flat-button color="primary" (click)="toBack()">{{ translationData.lblBack || 'Back' }}</button>
  </div>
</div>
<mat-card class='margin-bottom-xlg mat-elevation-z'>
    <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="space-between center" class='margin-bottom-sm'>
            <div>
              <!-- <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblAccountInformation }}</span> -->
              <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblAccountInformation || 'Account Information' }}</span>
              <button *ngIf="fromEdit == 'edit'" class='actionBtn' mat-flat-button  matTooltip="{{ translationData.lblEdit || 'Edit' }}">
                <mat-icon *ngIf='!editAccountInfoFlag' style="cursor: pointer;" (click)="editAccountInfo()">create</mat-icon>
              </button>
            </div>
        </div>
        <div *ngIf='!editAccountInfoFlag' fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
          <div class="areaWidth min-width-20-per" fxLayout="column" fxLayoutAlign="left">
            <img [src]="croppedImage" style="display: block; margin: auto; width: 120px; height: 120px; border-radius: 50%;" />
          </div>
          <div class="areaWidth min-width-75-per" fxLayout="column" fxLayoutAlign="left">
            <div *ngIf="!editAccountInfoFlag" fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
              <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                <!-- <mat-label>{{ translationData.lblSalutation }}</mat-label> -->
                <mat-label>{{ translationData.lblSalutation || 'Salutation' }}</mat-label>
                <mat-label class='custom-font'>{{ accountInfoData.salutation ? accountInfoData.salutation : '--' }}</mat-label>
              </div>
              <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                  <!-- <mat-label>{{ translationData.lblFirstName }}</mat-label> -->
                  <mat-label>{{ translationData.lblFirstName || 'First Name'}}</mat-label>
                  <mat-label class='custom-font'>{{ accountInfoData.firstName ? accountInfoData.firstName : '--' }}</mat-label>
                </div>
                <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                  <!-- <mat-label>{{ translationData.lblLastName }}</mat-label> -->
                  <mat-label>{{ translationData.lblLastName || 'Last Name' }}</mat-label>
                  <mat-label class='custom-font'>{{ accountInfoData.lastName ? accountInfoData.lastName : '--' }}</mat-label>
                </div>
            </div>  
            <div *ngIf="!editAccountInfoFlag" fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
                <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                  <!-- <mat-label>{{ translationData.lblLoginEmail }}</mat-label> -->
                  <mat-label>{{ translationData.lblLoginEmail || 'Login Email' }}</mat-label>
                  <mat-label class='custom-font'>{{ accountInfoData.emailId ? accountInfoData.emailId : '--' }}</mat-label>
                </div>
                <!-- <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                  <mat-label>{{ translationData.lblBirthDate || 'Birth Date' }}</mat-label>
                    <mat-label class='custom-font'>{{ accountInfoData.dob ? (accountInfoData.dob | date: 'MM/dd/yyyy') : '--' }}</mat-label>
                </div> -->
                <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                  <!-- <mat-label>{{ translationData.lblOrganisation }}</mat-label> -->
                  <mat-label>{{ translationData.lblOrganisation || 'Organisation' }}</mat-label>
                  <mat-label class='custom-font'>{{ accountInfoData.organization ? accountInfoData.organization : '--' }}</mat-label>
                </div>
                <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left"></div>
            </div>
          </div>  
        </div>
        <form [formGroup]="accountInfoForm" *ngIf="editAccountInfoFlag">
          <div *ngIf='editAccountInfoFlag' fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
            <div class="areaWidth min-width-20-per" fxLayout="column" fxLayoutAlign="left">
              <!-- <img [src]="croppedImage" style="display: block; margin: auto; width: 120px; height: 120px; border-radius: 50%;" /> -->
              <div *ngIf="editAccountInfoFlag" appDragDrop (files)="filesDroppedMethod($event)" style="background-color: rgb(241, 240, 240); box-sizing: content-box; width: 170px; height: 170px;">
                <input *ngIf="!isSelectPictureConfirm" type="file" (change)="fileChangeEvent($event)" />
                <image-cropper *ngIf="isAccountPictureSelected && !isSelectPictureConfirm" style="height: 100px; width: 170px;" 
                  [imageChangedEvent]="imageChangedEvent" [imageBase64]="droppedImage" [maintainAspectRatio]="true" [aspectRatio]="1/ 1"
                  [resizeToWidth]="100" format="png" roundCropper=true (imageCropped)="imageCropped($event)"
                  (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
                </image-cropper>
                
                <img *ngIf="isSelectPictureConfirm" [src]="croppedImage" style="display: block; margin: auto; width: 170px; height: 170px; border-radius: 50%;" />
    
                <div *ngIf="!isAccountPictureSelected && !isSelectPictureConfirm">
                  <span fxLayout="row">
                    <mat-icon style="margin-left: 40px; font-size: 80px; color: grey;">account_circle</mat-icon>
                  </span>
                  <span fxLayout="row"
                    style="margin-left: 72px; margin-top: 20px;">{{ translationData.lblor || 'or' }}</span>
                  <span fxLayout="row"
                    style="margin-left: 50px; margin-top: 20px;">{{ translationData.lblDraghere || 'Drag here' }}</span>
                </div>
                <div fxLayout="row" *ngIf="!isSelectPictureConfirm">
                  <span style="margin-left:20px; margin-top: 15px;">
                    <a style="cursor: pointer;"
                      (click)="isAccountPictureSelected ? onSelectPictureCancel() : ''">{{ translationData.lblCancel || 'Cancel' }}</a>
                  </span>
                  <span
                    style="border-left: 1px solid; height: 20px; margin-left: 20px; margin-top: 15px; color: grey;"></span>
                  <span style="margin-left: 20px; margin-top: 15px;">
                    <a style="cursor: pointer;"
                      (click)="isAccountPictureSelected ? onSelectPictureConfirm() : ''">{{ translationData.lblConfirm || 'Confirm' }}</a>
                  </span>
                </div>
              </div>
            </div>
            <div class="areaWidth min-width-75-per" fxLayout="column" fxLayoutAlign="left">
                <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
                  <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                    <!-- <mat-label>{{ translationData.lblSalutation }}<span class='mandatoryColor'>*</span></mat-label> -->
                    <mat-label>{{ translationData.lblSalutation || 'Salutation' }}<span class='mandatoryColor'>*</span></mat-label>
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-select placeholder="{{ translationData.lblSalutation || 'Salutation' }}" formControlName="salutation" required>
                        <!-- <mat-option>
                          <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="No matching data found">
                          </ngx-mat-select-search>
                        </mat-option> -->
                        <!-- <mat-option>--</mat-option> -->
                        <mat-option *ngFor="let rer of solutationList" [value]="rer.name">
                          {{ rer.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="accountInfoForm.get('salutation').hasError('required')">
                      {{ translationData.lblPleasechoosesalutation || 'Please choose salutation' }}
                    </mat-error>
                  </div>
                  <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                    <!-- <mat-label>{{ translationData.lblFirstName }}<span class='mandatoryColor'>*</span></mat-label> -->
                    <mat-label>{{ translationData.lblFirstName || '`' }}<span class='mandatoryColor'>*</span></mat-label>
                    <mat-form-field appearance="outline" class="full-width">
                      <input maxlength="30" placeholder="{{ translationData.lblFirstName || 'First Name' }}" matInput formControlName="firstName" required>
                    </mat-form-field>
                    <mat-error *ngIf="accountInfoForm.get('firstName').hasError('required')">
                      {{ translationData.lblPleaseenterFirstName || 'Please enter First Name' }}
                    </mat-error>
                    <mat-error *ngIf="accountInfoForm.get('firstName').hasError('specialCharsNotAllowed')">
                      {{ translationData.lblSpecialcharactersnotallowed || 'Special characters not allowed' }}
                    </mat-error>
                    <mat-error *ngIf="accountInfoForm.get('firstName').hasError('numberNotAllowed')">
                      {{ translationData.lblNumbersNotAllowed || 'Numbers not allowed' }}
                    </mat-error>
                    <mat-error *ngIf="!accountInfoForm.get('firstName').hasError('required')  && accountInfoForm.get('firstName').hasError('whitespace')">
                      First Name cannot contain only whitespace
                     </mat-error>
                  </div>
                  <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                    <!-- <mat-label>{{ translationData.lblLastName }}<span class='mandatoryColor'>*</span></mat-label> -->
                    <mat-label>{{ translationData.lblLastName || 'Last Name' }}<span class='mandatoryColor'>*</span></mat-label>
                    <mat-form-field appearance="outline" class="full-width">
                      <input maxlength="20" placeholder="{{ translationData.lblLastName || 'Last Name' }}" matInput formControlName="lastName" required>
                    </mat-form-field>
                    <!-- <mat-error *ngIf="accountInfoForm.get('lastName').hasError('required')">
                      {{ translationData.lblPleaseenterLastName }}
                    </mat-error> -->
                    <mat-error *ngIf="accountInfoForm.get('lastName').hasError('required')">
                      {{ translationData.lblPleaseenterLastName || 'Please enter Last Name' }}
                    </mat-error>
                    <mat-error *ngIf="accountInfoForm.get('lastName').hasError('specialCharsNotAllowed')">
                      {{ translationData.lblSpecialcharactersnotallowed || 'Special characters not allowed' }}
                    </mat-error>
                    <mat-error *ngIf="accountInfoForm.get('lastName').hasError('numberNotAllowed')">
                      {{ translationData.lblNumbersNotAllowed || 'Numbers not allowed' }}
                    </mat-error>
                    <mat-error *ngIf="!accountInfoForm.get('lastName').hasError('required')  && accountInfoForm.get('lastName').hasError('whitespace')">
                      Last Name cannot contain only whitespace
                     </mat-error>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
                  <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                    <!-- <mat-label>{{ translationData.lblLoginEmail }}<span class='mandatoryColor'>*</span></mat-label> -->
                    <mat-label>{{ translationData.lblLoginEmail || 'Login Email' }}<span class='mandatoryColor'>*</span></mat-label>
                    <mat-form-field appearance="outline" class="full-width">
                      <input maxlength="50" placeholder="{{ translationData.lblLoginEmail || 'Login Email' }}" matInput formControlName="loginEmail" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z0-9.-_]{2,}[.]{1}[a-zA-Z]{2,}" required>
                    </mat-form-field>
                    <!-- <mat-error *ngIf="accountInfoForm.get('loginEmail').hasError('required')">
                      {{ translationData.lblPleaseenteremailID }}
                    </mat-error> -->
                    <mat-error *ngIf="accountInfoForm.get('loginEmail').hasError('required')">
                      {{ translationData.lblPleaseenteremailID || 'Please enter email ID' }}
                    </mat-error>
                    <!-- <mat-error *ngIf="accountInfoForm.get('loginEmail').hasError('email')">
                      {{ translationData.lblPleaseentervalidemailID }}
                    </mat-error> -->
                    <mat-error *ngIf="accountInfoForm.get('loginEmail').hasError('email')">
                      {{ translationData.lblPleaseentervalidemailID || 'Please enter valid email ID' }}
                    </mat-error>
                  </div>
                  <!-- <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                    <mat-label>{{ translationData.lblBirthDate || 'Birth Date' }}</mat-label>
                    <mat-form-field appearance="outline" class="full-width">
                      <input formControlName="birthDate" [matDatepickerFilter]="myFilter" style="cursor:pointer;"
                        placeholder="MM/DD/YYYY" [readonly]="true" matInput
                        [matDatepicker]="Due_Date">
                      <mat-datepicker-toggle matSuffix [for]="Due_Date"></mat-datepicker-toggle>
                      <mat-datepicker #Due_Date></mat-datepicker>
                    </mat-form-field>
                  </div> -->
                  <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                    <!-- <mat-label>{{ translationData.lblOrganisation }}</mat-label> -->
                    <mat-label>{{ translationData.lblOrganisation || 'Organisation' }}</mat-label>
                    <mat-form-field appearance="outline" class="full-width">
                      <input placeholder="{{ translationData.lblOrganisation || 'Organisation' }}" matInput value="DAF Connect" formControlName="organization">
                    </mat-form-field>
                  </div>
                  <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left"></div>
                </div>
                <div fxLayout="row" fxLayoutAlign="end end" class="full-width">
                  <button class='margin-right-10' mat-raised-button color="primary"
                    (click)='onEditAccountInfoCancel()'>{{ translationData.lblCancel || 'Cancel' }}</button>
                  <button class='margin-right-10' mat-raised-button color="primary"
                    (click)='onEditAccountInfoReset()'>{{ translationData.lblReset || 'Reset' }}</button>
                  <button [disabled]="!accountInfoForm.valid" mat-raised-button color="primary"
                    (click)='onAccountInfoUpdate()'>{{ translationData.lblConfirm || 'Confirm' }}</button>
                </div>
            </div>
          </div>
        </form>
        <div style='padding: 20px; position: relative;'>
            <mat-divider></mat-divider>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class='margin-bottom-sm'>
            <div>
              <span><span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblUserGeneralSetting || 'User General Setting' }}</span> <span style='font: 200 16px/32px Roboto, "Helvetica Neue", sans-serif;'> ({{ translationData.lblOrganisationbasedsettings || 'Organisation based settings' }})</span></span>
              <button *ngIf="fromEdit == 'edit'" class='actionBtn' mat-flat-button  matTooltip="Edit">
                <mat-icon *ngIf='!editGeneralSettingsFlag' style="cursor: pointer;" (click)="editGeneralSettings()">create</mat-icon>
              </button>
            </div>
        </div>
        <div *ngIf="!editGeneralSettingsFlag" fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
            <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
              <!-- <mat-label>{{ translationData.lblLanguage }}</mat-label> -->
              <mat-label>{{ translationData.lblLanguage || 'Language' }}</mat-label>
              <mat-label class='custom-font' >{{ !languageData ? '--' : languageData.length > 0 ? languageData[0].value : '--' }}</mat-label>
            </div>
            <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                <!-- <mat-label>{{ translationData.lblTimeZone }}</mat-label> -->
              <mat-label>{{ translationData.lblTimeZone || 'Time Zone' }}</mat-label>
                <mat-label class='custom-font'>{{ !timezoneData ? '--' : timezoneData.length > 0 ? timezoneData[0].value : '--' }}</mat-label>
              </div>
              <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                <!-- <mat-label>{{ translationData.lblUnit }}</mat-label> -->
              <mat-label>{{ translationData.lblUnit || 'Unit' }}</mat-label>
                <mat-label class='custom-font'>{{ !unitData ? '--' : unitData.length > 0 ? unitData[0].value : '--' }}</mat-label>
              </div>
        </div> 
        <div *ngIf="!editGeneralSettingsFlag" fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
            <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                <!-- <mat-label>{{ translationData.lblCurrency }}</mat-label> -->
                <mat-label>{{ translationData.lblCurrency || 'Currency' }}</mat-label>
                <mat-label class='custom-font'>{{ !currencyData ? '--' : currencyData.length > 0 ? currencyData[0].value : '--' }}</mat-label>
            </div>
            <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                <!-- <mat-label>{{ translationData.lblDateFormat }}</mat-label> -->
                <mat-label>{{ translationData.lblDateFormat || 'Date Format' }}</mat-label>
                <mat-label class='custom-font'>{{ !dateFormatData ? '--' : dateFormatData.length > 0 ? dateFormatData[0].value : '--' }}</mat-label>
            </div>
            <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
              <!-- <mat-label>{{ translationData.lblTimeFormat }}</mat-label> -->
              <mat-label>{{ translationData.lblTimeFormat || 'Time Format' }}</mat-label>
              <mat-label class='custom-font'>{{ !timeFormatData ? '--' : timeFormatData.length > 0 ? timeFormatData[0].value : '--' }}</mat-label>
            </div>  
        </div> 
        <div *ngIf="!editGeneralSettingsFlag" fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
          <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
            <!-- <mat-label>{{ translationData.lblVehicleDisplayDefault }}</mat-label> -->
            <mat-label>{{ translationData.lblVehicleDisplayDefault || 'Vehicle Display (Default)' }}</mat-label>
            <mat-label class='custom-font'>{{ !vehicleDisplayData ? '--' : vehicleDisplayData.length > 0 ? vehicleDisplayData[0].value : '--' }}</mat-label>
          </div>
          <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
            <!-- <mat-label>{{ translationData.lblLandingPageDisplayDefault }}</mat-label> -->
            <mat-label>{{ translationData.lblLandingPageDisplayDefault || 'Landing Page Display (Default)' }}</mat-label>
            <mat-label class='custom-font'>{{ !landingPageDisplayData ? '--' : landingPageDisplayData.length > 0 ? landingPageDisplayData[0].value : '--' }}</mat-label>
          </div>
          <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left"></div>
        </div>
        <form [formGroup]="generalSettingForm" *ngIf="editGeneralSettingsFlag">
            <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
              <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                <!-- <mat-label>{{ translationData.lblLanguage }}</mat-label> -->
                <mat-label>{{ translationData.lblLanguage || 'Language' }}</mat-label>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-select placeholder="{{ translationData.lblLanguage || 'Language' }}" formControlName="language">
                    <mat-option *ngFor="let rer of defaultSetting.languageDropdownData" [value]="rer.id">
                      {{ rer.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                <!-- <mat-label>{{ translationData.lblTimeZone }}</mat-label> -->
                <mat-label>{{ translationData.lblTimeZone || 'Time Zone' }}</mat-label>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-select placeholder="{{ translationData.lblTimeZone || 'Time Zone' }}" formControlName="timeZone">
                    <!-- <mat-option>
                            <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="No matching data found">
                            </ngx-mat-select-search>
                          </mat-option> -->
                    <mat-option *ngFor="let rer of defaultSetting.timezoneDropdownData" [value]="rer.id">
                      {{ rer.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                <!-- <mat-label>{{ translationData.lblUnit }}</mat-label> -->
                <mat-label>{{ translationData.lblUnit || 'Unit' }}</mat-label>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-select placeholder="{{ translationData.lblUnit || 'Unit' }}" formControlName="unit">
                    <!-- <mat-option>
                            <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="No matching data found">
                            </ngx-mat-select-search>
                          </mat-option> -->
                    <mat-option *ngFor="let rer of defaultSetting.unitDropdownData" [value]="rer.id">
                      {{ rer.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
    
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
              <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                <!-- <mat-label>{{ translationData.lblCurrency }}</mat-label> -->
                <mat-label>{{ translationData.lblCurrency || 'Currency' }}</mat-label>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-select placeholder="{{ translationData.lblCurrency || 'Currency' }}" formControlName="currency">
                    <!-- <mat-option>
                            <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="No matching data found">
                            </ngx-mat-select-search>
                          </mat-option> -->
                    <mat-option *ngFor="let rer of defaultSetting.currencyDropdownData" [value]="rer.id">
                      {{ rer.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                <!-- <mat-label>{{ translationData.lblDateFormat }}</mat-label> -->
                <mat-label>{{ translationData.lblDateFormat || 'Date Format' }}</mat-label>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-select placeholder="{{ translationData.lblDateFormat || 'Date Format' }}" formControlName="dateFormat">
                    <!-- <mat-option>
                            <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="No matching data found">
                            </ngx-mat-select-search>
                          </mat-option> -->
                    <mat-option *ngFor="let rer of defaultSetting.dateFormatDropdownData" [value]="rer.id">
                      {{ rer.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                <!-- <mat-label>{{ translationData.lblTimeFormat }}</mat-label> -->
                <mat-label>{{ translationData.lblTimeFormat || 'Time Format' }}</mat-label>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-select placeholder="{{ translationData.lblTimeFormat || 'Time Format' }}" formControlName="timeFormat">
                    <!-- <mat-option>
                            <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="No matching data found">
                            </ngx-mat-select-search>
                          </mat-option> -->
                    <mat-option *ngFor="let rer of defaultSetting.timeFormatDropdownData" [value]="rer.id">
                      {{ rer.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
              <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                <!-- <mat-label>{{ translationData.lblVehicleDisplayDefault }}</mat-label> -->
                <mat-label>{{ translationData.lblVehicleDisplayDefault || 'Vehicle Display (Default)' }}</mat-label>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-select placeholder="{{ translationData.lblVehicleDisplayDefault || 'Vehicle Display (Default)' }}" formControlName="vehDisplay">
                    <!-- <mat-option>
                            <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="No matching data found">
                            </ngx-mat-select-search>
                          </mat-option> -->
                    <mat-option *ngFor="let rer of defaultSetting.vehicleDisplayDropdownData" [value]="rer.id">
                      {{ rer.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                <!-- <mat-label>{{ translationData.lblLandingPageDisplayDefault }}</mat-label> -->
                <mat-label>{{ translationData.lblLandingPageDisplayDefault || 'Landing Page Display (Default)' }}</mat-label>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-select placeholder="{{ translationData.lblLandingPageDisplayDefault || 'Landing Page Display (Default)' }}" formControlName="landingPage">
                    <!-- <mat-option>
                            <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="No matching data found">
                            </ngx-mat-select-search>
                          </mat-option> -->
                    <mat-option *ngFor="let rer of defaultSetting.landingPageDisplayDropdownData" [value]="rer.id">
                      {{ rer.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left"></div>
            </div>
            <div fxLayout="row" fxLayoutAlign="end end" class="full-width">
              <button class='margin-right-10' mat-raised-button color="primary"
                (click)='onEditGeneralSettingsCancel()'>{{ translationData.lblCancel || 'Cancel' }}</button>
              <button class='margin-right-10' mat-raised-button color="primary"
                (click)='onEditGeneralSettingsReset()'>{{ translationData.lblReset || 'Reset' }}</button>
              <button mat-raised-button color="primary"
                (click)='onGeneralSettingsUpdate()'>{{ translationData.lblConfirm || 'Confirm' }}</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
<mat-card class='margin-bottom-xlg mat-elevation-z'>
  <mat-card-content>
      <div fxLayout="row">
          <div class='full-width' [ngClass]="{'margin-bottom-sm': selectedRoleDataSource.filteredData.length > 0 }">
              <!-- <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblSelectedUserRoles }} -
                  ({{ selectedRoleDataSource.filteredData.length }})</span> -->
              <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblSelectedUserRoles || 'Selected User Roles' }} -
                  ({{ selectedRoleDataSource.filteredData.length }})</span>    
                  <button *ngIf="fromEdit == 'edit'" (click)="editRoleData()" class='actionBtn' mat-flat-button  matTooltip="{{ translationData.lblEdit || 'Edit' }}">
                      <mat-icon>create</mat-icon>
                  </button>
          </div>
      </div>
      <div fxLayout="row" *ngIf='selectedRoleDataSource.filteredData.length > 0'>
          <div fxLayout="column" class='full-width'>
              <mat-table [dataSource]="selectedRoleDataSource" matSort>
                 <ng-container matColumnDef="roleName">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblUserRole || 'User Role' }}</mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{ row.roleName }} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="featureIds">
                      <mat-header-cell *matHeaderCellDef>{{ translationData.Services || 'Services' }}</mat-header-cell>
                      <mat-cell *matCellDef="let row">  
                        <span *ngIf='row.featureIds.length > 0'>
                          <span *ngFor='let item of [].constructor(row.featureIds.length); let i = index'>
                            <img title="{{servicesIcon[i]}}" src="assets/images/icons/services/{{servicesIcon[i]}}.svg" style="width: 20px; height: 20px;"/>&nbsp;
                          </span>
                        </span>
                        <span *ngIf='row.featureIds.length == 0'>&nbsp;&nbsp;-</span>
                      </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumnsRoleConfirm"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumnsRoleConfirm;">
                  </mat-row>
              </mat-table>
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
      </div>
  </mat-card-content>
</mat-card>
<mat-card class='margin-bottom-xlg mat-elevation-z'>
  <mat-card-content>
      <div fxLayout="row">
          <div class='full-width'  [ngClass]="{'margin-bottom-sm': selecteUserGrpDataSource.filteredData.length > 0 }">
              <!-- <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblSelectedUserGroups }} -
                  ({{ selecteUserGrpDataSource.filteredData.length }})</span> -->
              <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblSelectedUserGroups || 'Selected User Groups' }} -
                  ({{ selecteUserGrpDataSource.filteredData.length }})</span>    
                  <button *ngIf="fromEdit == 'edit'" (click)="editUserGroupData()" class='actionBtn' mat-flat-button  matTooltip="{{ translationData.lblEdit || 'Edit' }}">
                      <mat-icon>create</mat-icon>
                  </button>
          </div>
      </div>
      <div fxLayout="row" *ngIf='selecteUserGrpDataSource.filteredData.length > 0'>
          <div fxLayout="column" class='full-width'>
              <mat-table [dataSource]="selecteUserGrpDataSource" matSort>
                 <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblGroupName || 'Group Name' }}</mat-header-cell>
                      <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
                  </ng-container>
                  <!-- <ng-container matColumnDef="vehicles">
                      <mat-header-cell *matHeaderCellDef> Vehicles </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.vehicles}} </mat-cell>
                  </ng-container> -->
                  <ng-container matColumnDef="accountCount">
                      <mat-header-cell *matHeaderCellDef>{{ translationData.lblUsers || 'Users' }}</mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span (click)="row.accountCount > 0 ? viewUserGrpDetails(row) : ''" [ngClass]="{'row-hover': row.accountCount > 0}">{{ row.accountCount }}</span>
                      </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumnsUserGrpConfirm"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumnsUserGrpConfirm;">
                  </mat-row>
              </mat-table>
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
      </div>
  </mat-card-content>
</mat-card>
<!-- <mat-card class='margin-bottom-xlg mat-elevation-z'>
  <mat-card-content>
      <div fxLayout="row">
          <div class='full-width margin-bottom-sm'>
              <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblSelectedVehicleGroupsVehicles || 'Selected Vehicle Groups/Vehicles' }}
                  - ({{ selectedVehGrpDataSource.filteredData.length }})</span>
                <button *ngIf="fromEdit == 'edit'" class='actionBtn' mat-flat-button  matTooltip="Edit">
                    <mat-icon>create</mat-icon>
                </button>
          </div>
      </div>
      <div fxLayout="row" *ngIf='selectedVehGrpDataSource.filteredData.length > 0'>
          <div fxLayout="column" class='full-width'>
              <mat-table [dataSource]="selectedVehGrpDataSource" matSort>
                  <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle Group/Vehicle </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="vehicles">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Vehicles/VIN </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.vehicles}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="registrationNumber">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Registration Number </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.registrationNumber}} </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumnsVehGrpConfirm"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumnsVehGrpConfirm;">
                  </mat-row>
              </mat-table>
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
      </div>
  </mat-card-content>
</mat-card> -->