<mat-toolbar color="primary" *ngIf="isLogedIn">
    <mat-toolbar-row>
        <button mat-flat-button id="hamburger" class="hamburgerMenu" (click)="sidenavToggle()">
            <mat-icon class="" aria-hidden="true">{{ menuCollapsed ? 'menu' : 'close' }}</mat-icon>
        </button>
        <div class="logo">
            <img class='margin-left-sm' src="assets/logo.png">
        </div>
        
    </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="isLinkActive">
    <form *ngIf="!isChangePwdSuccess && !isResetPwdInvalidate" [formGroup]="setPasswordForm" (ngSubmit)="onCreatePassword(setPasswordForm.value)">
      <mat-card class='mat-elevation-z'>
        <mat-card-content>
        <!--<span class='resetText'>Reset your DAF Connect Password</span>-->
            <!-- <h2>Reset your DAF Connect Password</h2> -->
          <!--<div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start space-around"
            style='padding: 10px 20px !important;'>
            <div class='full-width' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
                <h2>Reset your DAF Connect Password</h2>
            </div>
          </div>-->
          <div>
                <h2>Reset your DAF Connect Password</h2>
          </div>
          <div fxLayout="row">
          <div fxLayout="column"> 
              <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="5px" class='margin-10'
              style='padding: 10px !important;'>  
                  <div fxLayout="column" fxLayoutAlign="left" class='areaWidth full-width' fxLayoutGap="3px">
                      <mat-label>{{ translationData.lblNewPassword || 'New Password' }} ({{ minCharacterTxt }}.)</mat-label>
                      <mat-form-field appearance="outline">
                          <input matInput type="password" placeholder="{{ translationData.lblNewPassword || 'New Password' }}" formControlName="newPassword" required>
                          <mat-icon>info</mat-icon>
                      </mat-form-field>
                      <mat-error *ngIf="setPasswordForm.get('newPassword').hasError('required') && setPasswordForm.get('newPassword').touched">
                          {{ translationData.lblNewpasswordisrequired || 'New password is required' }}
                      </mat-error>
                  </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="5px" class='margin-10'
                  style='padding: 10px !important;'>
                  <div fxLayout="column" fxLayoutAlign="left" class='areaWidth full-width' fxLayoutGap="3px">
                      <mat-label>{{ translationData.lblConfirmNewPassword || 'Confirm New Password' }}</mat-label>
                      <mat-form-field appearance="outline">
                          <input matInput type="password" placeholder="{{ translationData.lblConfirmNewPassword || 'Confirm New Password' }}" formControlName="confirmPassword" required>
                          <mat-icon>info</mat-icon>
                      </mat-form-field>
                      <mat-error *ngIf="setPasswordForm.get('confirmPassword').hasError('required') && setPasswordForm.get('confirmPassword').touched">
                          {{ translationData.lblConfirmpasswordisrequired || 'Confirm password is required' }}
                      </mat-error>
                      <mat-error *ngIf="setPasswordForm.get('confirmPassword').hasError('mustMatch')">
                          {{ translationData.lblNewPasswordandconfirmpasswordmustmatch || 'New Password and confirm password must match' }}
                      </mat-error>
                  </div>
              </div>
          </div>
          <div fxLayout="column">
              <div fxLayoutAlign="start" fxLayoutGap="5px" class='password-box arrow-left margin-20' style='padding: 5px 10px !important;'>
                  <ul>
                      <h6>{{ translationData.lblPasswordmust || 'Password must' }}:</h6>
                      <li [ngClass]="setPasswordForm.get('newPassword').touched && setPasswordForm.get('newPassword').hasError('minlength')? 'text-danger' : 'text-success'"> 
                          {{ translationData.lblBeatleasttencharacterslong || 'Be at least ten characters long' }}
                      </li>
                      <li [ngClass]="setPasswordForm.get('newPassword').touched && setPasswordForm.get('newPassword').hasError('maxlength')? 'text-danger' : 'text-success'"> 
                        {{ translationData.lblBeMaximum256characterslong || 'Be maximum 256 characters long' }}
                      </li>
                      <li [ngClass]="setPasswordForm.get('newPassword').touched && setPasswordForm.get('newPassword').hasError('uppercaseRequired')? 'text-danger' : 'text-success'">
                          {{ translationData.lblContainatleastoneuppercaseletter || 'Contain at least one uppercase letter' }}
                      </li>
                      <li [ngClass]="setPasswordForm.get('newPassword').touched && setPasswordForm.get('newPassword').hasError('lowercaseRequired')? 'text-danger' : 'text-success'">
                          {{ translationData.lblContainatleastonelowercaseletter || 'Contain at least one lowercase letter' }}
                      </li>
                      <li [ngClass]="setPasswordForm.get('newPassword').touched && setPasswordForm.get('newPassword').hasError('numberRequired')? 'text-danger' : 'text-success'">
                          {{ translationData.lblContainatleastonenumber || 'Contain at least one number' }}
                      </li>
                      <li [ngClass]="setPasswordForm.get('newPassword').touched && setPasswordForm.get('newPassword').hasError('specialCharRequired')? 'text-danger' : 'text-success'">
                          {{ translationData.lblContainatleastonespecialcharacter || 'Contain at least one special character' }}
                      </li>
                      <li [ngClass]="(errorCode == 400 && errorMsg.includes('last 6 passwords')) ? 'text-danger' : 'text-success'">
                        {{ translationData.lblPasswordmustnotbeequaltoanyoflastsixpasswords || 'Password must not be equal to any of last six passwords' }}
                    </li>
                  </ul>
              </div>
          </div>
      </div>
         </mat-card-content>
         <mat-card-actions fxLayoutAlign="start start" class='no-margin' style="padding: 0px 20px;">
          <div fxLayout="row" fxLayoutAlign="start start" class="full-width">
            <button type="button" class='margin-right-10' mat-raised-button color="warn"
              (click)='cancel()'>{{ translationData.lblCancel || 'Cancel' }}</button>
            <button [disabled]="!setPasswordForm.valid" type="submit" class='no-margin' mat-raised-button
              color="primary">Change Password</button>
          </div>
        </mat-card-actions>
        <mat-error fxLayoutAlign="start start" *ngIf="!errorMsg.includes('last 6 passwords')">
            {{errorMsg}}
        </mat-error>
       </mat-card>
     </form>

     <div *ngIf='isChangePwdSuccess' fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="stretch" class='loginTxtContainer'>
            <div fxLayout="row" fxLayoutAlign="start" class='fieldContainer'>
                <div fxLayout="column" fxLayoutAlign="start" class='full-width'>
                    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="15" class='loginField'>
                    <div fxLayout="row" fxLayoutAlign="start">
                        <div fxLayout="column" fxLayoutAlign="center">
                            <span class='resetText'>Reset your DAF Connect Password</span>
                        </div>
                    </div> 
                    <div fxLayout="row" fxLayoutAlign="start" class='margin-top-10'>
                        <div fxLayout="column" fxLayoutAlign="center">
                            <span>Your passowrd has been successfully changed.<a class="linkBtn" (click)="cancel()"> Click here</a> to return to login page.</span>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
     </div>    

    <div *ngIf='isResetPwdInvalidate' fxLayout="row" fxLayoutAlign="center center" class='txtContainer'>
        <div fxLayout="column" fxLayoutAlign="stretch" class='loginTxtContainer'>
            <div fxLayout="row" fxLayoutAlign="start" class='fieldContainer'>
                <div fxLayout="column" fxLayoutAlign="start" class='full-width'>
                    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="15" class='loginField'>
                    <div fxLayout="row" fxLayoutAlign="start">
                        <div fxLayout="column" fxLayoutAlign="center">
                            <span class='resetText'>Reset your DAF Connect Password</span>
                        </div>
                    </div> 
                    <div fxLayout="row" fxLayoutAlign="start" class='margin-top-10'>
                        <div fxLayout="column" fxLayoutAlign="center">
                            <span *ngIf="errorMsg == ''">Reset password link has been invalidated.<a class="linkBtn" (click)="cancel()"> Click here</a> to return to login page.</span>
                            <span *ngIf="errorMsg == 'InvalidateFailed'" style="color: red;">Failed to invalidate reset password link. Please try again!</span>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!isLinkActive">
    <div fxLayout="row" fxLayoutAlign="center" class='margin-top-10'>
        <div fxLayout="column" fxLayoutAlign="center">
    <span style="color: red;">Activation link is expired or invalidated. Please try again!<br>
        <a class="linkBtn" (click)="cancel()"> Click here</a> to return to login page.
    </span>
</div>
<footer>
    <div *ngIf='cookiesFlag' fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="100px" class='cookieContainer'>
        <div fxLayout="column">
            <span>This site uses cookies to offer you a better browsing experience. No third party cookies are used on this site.<br><a href='https://www.daf.com/en/legal/daf-and-cookies' target="_blank">Click here</a> to view the full details. By clicking accept you are accepting the policy.</span>
        </div>
        <div fxLayout="column">
            <button mat-raised-button color="primary" class="cookieBtn" (click)='acceptCookies()'>Accept To Login</button>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between" class='loginFooter'>
        <div fxLayout="column" fxLayoutAlign="left">
            <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="30px">
                <div fxLayout="column" fxLayoutAlign="left">
                    <a href='https://www.daf.com/en/legal/privacy-statement' target='_blank'><span>Private Statement</span></a>
                </div>
                <div fxLayout="column" fxLayoutAlign="left">
                    <a href='https://www.daf.com/en/legal/general-conditions' target='_blank'><span>General Conditions</span></a>
                </div>
                <div fxLayout="column" fxLayoutAlign="left">
                    <a href='https://www.daf.com/en/legal/daf-and-cookies' target='_blank'><span>DAF and Cookies</span></a>
                </div>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="end">
            <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="30px">
                <div fxLayout="column" fxLayoutAlign="left">
                    <a href='mailto:DAF.Connect@DAFTRUCKS.com' target='_blank'><span>Support: DAF.Connect@DAFTRUCKS.com</span></a>
                </div>
                <div fxLayout="column" fxLayoutAlign="left">
                    <a href='../../../assets/docs/Connect-quick-reference-guide-EN-V10.pdf' target='_blank' class='display-flex' download="Connect-quick-reference-guide-EN-V10.pdf"><span><mat-icon class='pdfIcon'>picture_as_pdf</mat-icon></span><span class='pdfLink'>Quick Reference Guide</span></a>
                </div>
            </div>
        </div>
        <!-- <div fxLayout="column">
            <a href='https://www.daf.com/en/legal/privacy-statement' target='_blank'><span>Private Statement</span></a>
        </div>
        <div fxLayout="column">
            <a href='https://www.daf.com/' target='_blank'><span>Support: DAF.Connect@DAFTRUCKS.com</span></a>
        </div>
        <div fxLayout="column">
            <a href='https://www.daf.com/' target='_blank' class='display-flex'><span><mat-icon class='pdfIcon'>picture_as_pdf</mat-icon></span><span class='pdfLink'>Quick Reference Guide</span></a>
        </div> -->
    </div>
</footer>