.password-box {
    border: 1px solid grey !important;
    box-shadow: 0px 13px 22px -6px rgba(0,0,0,0.3) !important;
    background-color: lightgray;
    box-sizing: content-box;  
    width: 300px;
    height: 200px;
    padding: 30px;  
  }

  .password-box.arrow-left:after {
    content: " ";
    position: absolute;
    left: -15px;
    top: 15px;
    border-top: 15px solid transparent;
    border-right: 15px grey;
    border-left: none;
    border-bottom: 15px solid transparent;
  }

  .fieldContainer{
    margin-top:20px;
    .loginField {
        .linkBtn{
            a{
                text-decoration: underline;
                cursor: pointer;
            }
        }
        .emailField{
            mat-label{
                font-size: 1em;
                font-weight: bold;
                margin-bottom: 3px;
                .asterick{
                    color: red;
                }
            }
        }
        .resetText{
            font-size: 1.3em;
            font-weight: bold;
        }
        .infoTxt{
            font-size: 1.1em;
        }
      }
    }

    .resetFooter {
        position: fixed;
        bottom: 0;
        width: 100%;
    }