<div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
  <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
    <span>{{ breadcumMsg }}</span>
  </div>
  <div *ngIf="actionType == 'view'" fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="end" class='margin-right-xxlg'>
    <span class='custom-font' (click)="onCancel()">
      <span><&nbsp;</span>
      <span class='backBtnCss'>{{ translationData.lblBack || 'Back' }}</span></span>
  </div>
</div>
<form [formGroup]="driverFormGroup">
  <mat-card class='mat-elevation-z margin-bottom-xlg'>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="space-between center" class='margin-bottom-sm'>
        <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="start">
          <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ (actionType == 'edit') ? (translationData.lblEditDriverDetails || 'Edit Driver Details') : (translationData.lblViewDriverDetails || 'View Driver Details') }}</span>
        </div>
        <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="end">
          <span style='color: red;'>*{{ translationData.lblAlldetailsaremandatory || 'All details are mandatory' }}</span>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
          <mat-label>{{ translationData.lblDriverID || 'Driver ID' }}<span class='mandatoryColor'>*</span></mat-label>
          <div *ngIf="actionType != 'view'">
            <mat-form-field appearance="outline" class="full-width">
              <input maxlength="19" placeholder="{{ translationData.lblDriverID || 'Driver ID' }}" matInput formControlName="driverId" required>
            </mat-form-field>
            <mat-error *ngIf="driverFormGroup.get('driverId').hasError('required')">
              {{ translationData.lblDriverIDirequired || 'Driver ID is required' }}
            </mat-error>
          </div>
          <div *ngIf="actionType == 'view'">
            <span style='font-weight: 500!important;'>{{ driverData.driverIdExt }}</span>
          </div>
        </div>
        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
          <mat-label>{{ translationData.lblEmailID || 'Email ID' }}<span class='mandatoryColor'>*</span></mat-label>
          <div *ngIf="actionType != 'view'">
            <mat-form-field appearance="outline" class="full-width">
              <input maxlength="100" placeholder="{{ translationData.lblEmailId || 'Email Id' }}" matInput formControlName="emailId" pattern="[a-zA-Z0-9-_.]{1,}@[a-zA-Z0-9-_.]{2,}[.]{1}[a-zA-Z]{2,}">
            </mat-form-field>
            <!-- <mat-error *ngIf="driverFormGroup.get('emailId').hasError('required')">
              {{ translationData.lblPleaseenteremailID || 'Please enter email ID' }}
            </mat-error> -->
            <mat-error *ngIf="driverFormGroup.get('emailId').hasError('email')">
              {{ translationData.lblPleaseentervalidemailID || 'Please enter valid email ID' }}
            </mat-error>
            <mat-error *ngIf="duplicateEmailMsg">
              {{ translationData.lblEmailIDAlreadyExists || 'Email ID already exists' }}
            </mat-error>
          </div>
          <div *ngIf="actionType == 'view'">
            <span style='font-weight: 500!important;'>{{ driverData.email != '' ? driverData.email : '--' }}</span>
          </div>
        </div>
        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
          <mat-label>{{ translationData.lblDriverIDConsentStatus || 'Driver ID Consent Status' }}<span class='mandatoryColor'>*</span></mat-label>
          <div *ngIf="actionType != 'view'" style='margin-top: 8px;'>
            <mat-radio-group (change)='onConsentChange($event)' class='margin-top-10' formControlName="consentStatus">
              <mat-radio-button style='margin-right: 20px;' [checked]="selectedConsentType === 'H' ? true : false" value="H" (click)='changeOptStatus(driverData,"H")' >{{ translationData.lblInherit || 'Inherit' }}</mat-radio-button>
              <mat-radio-button style='margin-right: 20px;' [checked]="selectedConsentType === 'I' ? true : false" value="I" (click)='changeOptStatus(driverData,"I")' >{{ translationData.lblOptIn || 'Opt-In' }}</mat-radio-button>
              <mat-radio-button [checked]="selectedConsentType === 'U' ? true : false" value="U" (click)='changeOptStatus(driverData,"U")' >{{ translationData.lblOptOut || 'Opt-Out' }}</mat-radio-button>
            </mat-radio-group>
           </div>
          <div *ngIf="actionType == 'view'">
            <span style='font-weight: 500!important;'>{{ (driverData.status == 'I') ? (translationData.lblOptIn || 'Opt-In') : (driverData.status == 'U') ? (translationData.lblOptOut || 'Opt-Out') : (translationData.lblInherit || 'Inherit') }}</span>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
          <mat-label>{{ translationData.lblFirstName || 'First Name' }}<span class='mandatoryColor'>*</span></mat-label>
          <div *ngIf="actionType != 'view'">
            <mat-form-field appearance="outline" class="full-width">
              <input maxlength="30" placeholder="{{ translationData.lblFirstName || 'First Name' }}" matInput formControlName="firstName">
            </mat-form-field>
            <!-- <mat-error *ngIf="driverFormGroup.get('firstName').hasError('required')">
              {{ translationData.lblPleaseenterFirstName || 'Please enter First Name' }}
            </mat-error> -->
            <mat-error *ngIf="driverFormGroup.get('firstName').hasError('specialCharsNotAllowed')">
              {{ translationData.lblSpecialcharactersnotallowed || 'Special characters not allowed' }}
            </mat-error>
            <mat-error *ngIf="driverFormGroup.get('firstName').hasError('numberNotAllowed')">
              {{ translationData.lblNumbersNotAllowed || 'Numbers not allowed' }}
            </mat-error>
            <mat-error *ngIf="driverFormGroup.get('firstName').hasError('whitespace')">
              {{ translationData.lblFirstNamecannotcontainonlywhitespace || 'First Name cannot contain only whitespace' }}
             </mat-error>
          </div>
          <div *ngIf="actionType == 'view'">
            <span style='font-weight: 500!important;'>{{ driverData.firstName != '' ? driverData.firstName : '--' }}</span>
          </div>
        </div>
        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
          <mat-label>{{ translationData.lblLastName || 'Last Name' }}<span class='mandatoryColor'>*</span></mat-label>
          <div *ngIf="actionType != 'view'">
            <mat-form-field appearance="outline" class="full-width">
              <input maxlength="20" placeholder="{{ translationData.lblLastName || 'Last Name' }}" matInput formControlName="lastName">
            </mat-form-field>
            <!-- <mat-error *ngIf="driverFormGroup.get('lastName').hasError('required')">
              {{ translationData.lblPleaseenterLastName || 'Please enter Last Name' }}
            </mat-error> -->
            <mat-error *ngIf="driverFormGroup.get('lastName').hasError('specialCharsNotAllowed')">
              {{ translationData.lblSpecialcharactersnotallowed || 'Special characters not allowed' }}
            </mat-error>
            <mat-error *ngIf="driverFormGroup.get('lastName').hasError('numberNotAllowed')">
              {{ translationData.lblNumbersNotAllowed || 'Numbers not allowed' }}
            </mat-error>
            <mat-error *ngIf="driverFormGroup.get('lastName').hasError('whitespace')">
              {{ translationData.lblLastNamecannotcontainonlywhitespace || 'Last Name cannot contain only whitespace' }}
             </mat-error>
          </div>
          <div *ngIf="actionType == 'view'">
            <span style='font-weight: 500!important;'>{{ driverData.lastName != '' ? driverData.lastName : '--' }}</span>
          </div>
        </div>
        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left"></div>
      </div>
     </mat-card-content>
  </mat-card> 
  <div *ngIf="actionType == 'edit'" fxLayout="row" fxLayoutAlign="end end" class="full-width areaWidth">
    <button class='resetCancelBtnColor margin-right-10' mat-raised-button color="primary" (click)='onCancel()'>{{ translationData.lblCancel || 'Cancel' }}</button>
    <button class='resetCancelBtnColor margin-right-10' mat-raised-button color="primary" (click)='onReset()'>{{ translationData.lblReset || 'Reset' }}</button>
    <button [disabled]="!driverFormGroup.valid" mat-raised-button color="primary" (click)='onConfirm()'>{{ translationData.lblConfirm || 'Confirm' }}</button>
  </div>
</form>