<div >
    <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
      <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
        <span>Vehicle Health</span>
      </div>
    </div>
    <div class="tabs">
      <mat-tab-group [ngClass]="[ tabVisibilityStatus ? '' : 'hideTabHeader']" [(selectedIndex)]="selectedIndex" (selectedTabChange)="onTabChanged(selectedIndex);">
        <mat-tab label="{{ translationData.lblCurrent || 'Current' }}">
        </mat-tab>
        <mat-tab label="{{ translationData.lblHistory || 'History' }}">
        </mat-tab>
      </mat-tab-group>
    </div>
  
    <form [formGroup]="vehicleHealthForm">
        <mat-card *ngIf='!isCurrent' class='mat-elevation-z no-padding margin-bottom-xlg'>
          <mat-expansion-panel [(expanded)]="searchExpandPanel" class="full-width" fxLayoutGap="10px">
            <mat-expansion-panel-header class="full-width">
              <mat-panel-title>
                <span>
                  <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblSearchReportParameters || 'Search Report Parameters' }}</span>
                  <!-- <span> ({{ translationData.lblMaxrange3months || 'Max range 3 months' }})</span> -->
                </span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-xlg" fxLayoutGap="10px">
                <div class="areaWidth min-width-60-per" fxLayout="column" fxLayoutAlign="left">
                  <mat-label>{{ translationData.lblTimeRange || 'Time Range' }} <span class='mandatoryColor'>*</span></mat-label>
                  <div style='margin-top: 5px;'>
                    <button [disabled]="selectionTab == 'today'" (click)="selectionTimeRange('today')" [ngClass]="{'selectedBtn': selectionTab == 'today'}" class='margin-right-10 no-margin margin-bottom-sm' mat-raised-button color="primary">{{translationData.lblToday || 'Today' }}</button>
                    <button [disabled]="selectionTab == 'yesterday'" (click)="selectionTimeRange('yesterday')" [ngClass]="{'selectedBtn': selectionTab == 'yesterday'}" class='margin-right-10 no-margin margin-bottom-sm' mat-raised-button color="primary">{{translationData.lblYesterday || 'Yesterday' }}</button>
                    <button [disabled]="selectionTab == 'lastweek'" (click)="selectionTimeRange('lastweek')" [ngClass]="{'selectedBtn': selectionTab == 'lastweek'}" class='margin-right-10 no-margin margin-bottom-sm' mat-raised-button color="primary">{{translationData.lblLastWeek || 'Last Week' }}</button>
                    <button [disabled]="selectionTab == 'lastmonth'" (click)="selectionTimeRange('lastmonth')" [ngClass]="{'selectedBtn': selectionTab == 'lastmonth'}" class='margin-right-10 no-margin margin-bottom-sm' mat-raised-button color="primary">{{translationData.lblLastMonth|| 'Last Month' }}</button>
                    <button [disabled]="selectionTab == 'last3month'" (click)="selectionTimeRange('last3month')" [ngClass]="{'selectedBtn': selectionTab == 'last3month'}" class='no-margin margin-bottom-sm' mat-raised-button color="primary">{{translationData.lblLast3Months || 'Last 3 Months' }}</button>
                  </div>
                </div>
                <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                  <mat-label>{{ translationData.lblWarningsType || 'Warnings Type' }} </mat-label>
                  <mat-form-field appearance="outline">
                    <mat-select formControlName="warningType" (selectionChange)="onChangeWarningType($event)" placeholder="{{ translationData.lblSelectVehicleGroup || 'Select Warnings Type' }}" >
                      <mat-option value="AllWarnings">All Warnings</mat-option>
                      <mat-option value="Active">Active</mat-option>
                      <mat-option value="Deactive">Deactive</mat-option>
                    </mat-select>
                  </mat-form-field> 
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-xlg" fxLayoutGap="10px">
                <div class="areaWidth min-width-60-per" fxLayout="column" fxLayoutAlign="left">
                  <div fxLayout="row" fxLayoutAlign="space-between" class="full-width" fxLayoutGap="10px">
                    <div class="areaWidth min-width-40-per" fxLayout="column" fxLayoutAlign="left">
                      <mat-label>{{ translationData.lblFrom || 'From' }} <span class='mandatoryColor'>*</span></mat-label>
                      <div fxLayout="row" fxLayoutAlign="start" class="full-width" fxLayoutGap="10px">
                        <div class="areaWidth max-width-50-per" fxLayout="column" fxLayoutAlign="left">
                          <mat-form-field appearance="outline">
                            <input matInput [(ngModel)]="startDateValue" (dateChange)="changeStartDateEvent($event)" [min]='last3MonthDate' [max]='endDateValue' [matDatepicker]="startPicker" formControlName="startDate">
                            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                            <mat-datepicker #startPicker></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <div class="areaWidth" fxLayout="column" fxLayoutAlign="left">
                          <div fxLayout="row" fxLayoutAlign="space-between" class="full-width" class="timepicker" style='margin-top: 4px;'>
                            <span class='timeAdjustSpan'>{{ startTimeDisplay }}</span> 
                            <input [max]='selectedEndTime' [(ngModel)]="selectedStartTime" class='inputBox' [format]="prefTimeFormat" [ngxTimepicker]="toggleStartTimepicker" [disableClick]="true" formControlName="startTime" readonly>
                            <ngx-material-timepicker-toggle [for]="toggleStartTimepicker"></ngx-material-timepicker-toggle>
                            <ngx-material-timepicker (timeChanged)="startTimeChanged($event)" #toggleStartTimepicker></ngx-material-timepicker>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="areaWidth min-width-40-per" fxLayout="column" fxLayoutAlign="left">
                      <mat-label>{{ translationData.lblTo || 'To' }} <span class='mandatoryColor'>*</span></mat-label>
                      <div fxLayout="row" fxLayoutAlign="start" class="full-width" fxLayoutGap="10px">
                        <div class="areaWidth max-width-50-per" fxLayout="column" fxLayoutAlign="left">
                          <mat-form-field appearance="outline">
                            <input matInput [(ngModel)]="endDateValue" (dateChange)="changeEndDateEvent($event)" [min]='startDateValue' [max]='todayDate' [matDatepicker]="endPicker" formControlName="endDate">
                            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                            <mat-datepicker #endPicker></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <div class="areaWidth" fxLayout="column" fxLayoutAlign="left">
                          <div fxLayout="row" fxLayoutAlign="space-between" class="full-width" class="timepicker" style='margin-top: 4px;'>
                            <span class='timeAdjustSpan'>{{ endTimeDisplay }}</span>
                            <input [min]='selectedStartTime' [(ngModel)]="selectedEndTime"  class='inputBox' [format]="prefTimeFormat" [ngxTimepicker]="toggleEndTimepicker" [disableClick]="true" formControlName="endTime" readonly>
                            <ngx-material-timepicker-toggle [for]="toggleEndTimepicker"></ngx-material-timepicker-toggle>
                            <ngx-material-timepicker (timeChanged)="endTimeChanged($event)" #toggleEndTimepicker></ngx-material-timepicker>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="end" class='areaWidth'> 
                <button class='resetCancelBtnColor margin-right-10 no-margin' mat-raised-button color="primary"
                  (click)='onReset()'>{{translationData.lblReset || 'Reset' }}</button>
                <button class='no-margin' mat-raised-button color="primary"
                  (click)='onSearch()'>{{ translationData.lblSearch || 'Search' }}</button>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-card> 
    </form>
    <!-- Summary Section -->
    <div id ="charts">
      <mat-card class='mat-elevation-z no-padding margin-bottom-xlg' id ="summary">
        <mat-expansion-panel [(expanded)]="isSummaryOpen" class="full-width" fxLayoutGap="10px" (opened)="isSummaryOpen == true"
        (closed)="isSummaryOpen == false">
          <mat-expansion-panel-header class="full-width">
            <mat-panel-title>
              <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblSummary || 'Summary' }}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <div style='padding: 20px; margin-bottom: 10px; background: #e7e7e7;'>
              <div *ngIf='!isCurrent' fxLayout="row" fxLayoutAlign="left" class="full-width" fxLayoutGap="10px">
                <div class="areaWidth min-width-25-per" fxLayout="column" fxLayoutAlign="left">
                  <span>
                    <span>{{ translationData.lblFrom || 'From' }}: </span>
                    <span style='font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ fromDisplayDate }}</span>
                  </span>
                </div>
                <div class="areaWidth min-width-25-per" fxLayout="column" fxLayoutAlign="left">
                  <span>
                    <span>{{ translationData.lblVehicleGroup || 'Warning Type' }}: </span>
                    <span style='font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ warningTypeDisplay }}</span>
                  </span>
                </div>
              </div>
              <div *ngIf='!isCurrent' fxLayout="row" fxLayoutAlign="left" class="full-width" fxLayoutGap="10px">
                <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                  <span>
                    <span>{{ translationData.lblTo || 'To' }}: </span>
                    <span style='font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ toDisplayDate }}</span>
                  </span>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="left" class="full-width" fxLayoutGap="10px">
                <div class="areaWidth min-width-25-per" fxLayout="column" fxLayoutAlign="left">
                  <span>
                    <span>{{ translationData.lblFrom || 'VIN' }}: </span>
                    <span style='font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;'>{{healthData.vin}}</span>
                  </span>
                </div>
                <div class="areaWidth min-width-25-per" fxLayout="column" fxLayoutAlign="left">
                  <span>
                    <span>{{ translationData.lblVehicleGroup || 'Vehicle Name' }}: </span>
                    <span style='font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ healthData.vehicleName }}</span>
                  </span>
                </div>
                <div class="areaWidth min-width-25-per" fxLayout="column" fxLayoutAlign="left">
                  <span>
                    <span>{{ translationData.lblTo || 'Vehicle Reg No' }}: </span>
                    <span style='font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;'>{{healthData.registrationNo}}</span>
                  </span>
                </div>
                <div class="areaWidth min-width-25-per" fxLayout="column" fxLayoutAlign="left">
                  <span>
                    <span>{{ translationData.lblTo || 'Driving Status' }}: </span>
                    <span style='font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;'>{{healthData.vehicleDrivingStatusType}}</span>
                  </span>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="left" class="full-width" fxLayoutGap="10px">
                <div class="areaWidth min-width-25-per" fxLayout="column" fxLayoutAlign="left">
                  <span>
                    <span>{{ translationData.lblFrom || 'Alert' }}: </span>
                    <span style='font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;'>{{(healthData.fleetOverviewAlert).length}}</span>
                  </span>
                </div>
                <div class="areaWidth min-width-25-per" fxLayout="column" fxLayoutAlign="left">
                  <span>
                    <span>{{ translationData.lblVehicleGroup || 'Address' }}: </span>
                    <span style='font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;'>{{healthData.latestGeolocationAddress}}</span>
                  </span>
                </div>
              </div>
            </div>
            
          </div>
        </mat-expansion-panel>
      </mat-card>
  
      <mat-card class='mat-elevation-z no-padding margin-bottom-xlg' id ="map">
        <mat-expansion-panel [(expanded)]="isMapOpen" class="full-width" fxLayoutGap="10px" (opened)="isMapOpen == true"
        (closed)="isMapOpen == false">
          <mat-expansion-panel-header class="full-width">
            <mat-panel-title>
              <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblMapView || 'Map View' }}</span>
              
              <span style="margin-left: 10px;"><mat-icon class='margin-right-10'>info</mat-icon>You can select warning from below list to view on map</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div #map id="map" style="width: 100%; height: 450px; margin-bottom: 25px"> </div>
        </mat-expansion-panel>
      </mat-card>
  
      <!-- Warning Details -->
      <mat-card class='mat-elevation-z no-padding margin-bottom-xlg' id="warning">
        <mat-expansion-panel [(expanded)]="isWarningOpen" class="full-width" fxLayoutGap="10px"
          (opened)="isWarningOpen == true" (closed)="isWarningOpen == false">
          <mat-expansion-panel-header class="full-width">
            <mat-panel-title>
              <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ (!isCurrent) &&
                (translationData.lblWarning || 'Warning History') || (translationData.lblWarning || 'Current Warning')
                }}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-xlg" fxLayoutGap="10px">
              <div class="areaWidth min-width-20-per" fxLayout="column" fxLayoutAlign="left">
                <mat-label>Sort By</mat-label>
                <mat-form-field appearance="outline">
                  <mat-select [(ngModel)]="warningTypeSelection" (selectionChange)="onWarningTypeSelection($event)"
                    placeholder="{{ translationData.lblSelectVehicleGroup || 'Severity' }}">
                    <mat-option value="severity">Severity</mat-option>
                    <mat-option *ngIf='isCurrent' value="activated_time">Activated Time</mat-option>
                    <mat-option *ngIf='!isCurrent' value="deactivated_time">Activated Time / Deactivated Time</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div *ngIf='!obs'>
              <div style='font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;' fxLayout="row"
                fxLayoutAlign="space-between" class='margin-bottom-sm'>{{ translationData.lblNoRecordFound || 'No Record
                Found!' }}</div>
              <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>{{
                translationData.lblSelectionMessage
                || 'Please select and search required fields from top to view the details' }}</div>
            </div>
            <div *ngIf="obs" style="font: 500 16px/32px Roboto, 'Helvetica Neue', sans-serif;" 
               class="full-width margin-bottom-xlg" fxLayoutGap="10px">
              <div *ngFor="let warning of obs | async">
                <div class="warning_block">
                <mat-checkbox style="font-size: 14px;" (change)='checkboxClicked($event,warning)'> View on Map
                </mat-checkbox>
                <div class="areaWidth warning_history" fxLayout="column" fxLayoutAlign="left">
                  <div style="font-size: 14px; line-height: initial; padding: 10px 10px 0;">
                    <img src="assets/images/icons/vehicleHealthStatus/{{warning.iconName}}" style="float: left; height: 40px; width: 40px;">
                    <span class="name_bold">{{warning.warningName}}&nbsp;</span>
                  </div>
                  <div fxLayout="row" class="class_padding">
                    <div class="warning_time" fxLayout="column" fxLayoutAlign="left">
                      <span [ngClass]="[isCurrent ? 'name_small warning_danger' : 'name_small']">Activated Time</span>
                      <span style="font-size: 14px;">{{warning.warningTimetamp | date: 'yyyy/MM/dd h:mm:ss a'}}</span>
                    </div>
                    <ng-container *ngIf="warning.warningDeactivatedTimestamp">
                      <div *ngIf='!isCurrent' class="warning_time" fxLayout="column" fxLayoutAlign="left">
                        <span class="name_small warning_danger">Deactivated Time</span>
                        <span style="font-size: 14px;">{{warning.warningDeactivatedTimestamp | date: 'yyyy/MM/dd h:mm:ss a'}}</span>
                      </div>
                    </ng-container>
                  </div>
                  <div fxLayout="row" class="name_small class_padding">
                    <span>Driver Name: </span>
                    <span class="name_bold"> {{warning.driverName}}</span>
                  </div>
                  <div class="bottom_hr"></div>
                  <div class="warning_advice class_padding">
                    <p>
                      <span class="name_bold">Advice:</span> {{warning.warningAdvice}}
                    </p>
                  </div>
                </div>
              </div>
              </div>              
            </div>
            <mat-paginator class="full-width"  fxLayoutAlign="left" *ngIf="obs" [pageSize]="3" [pageSizeOptions]="[3, 9, 15, 30]"></mat-paginator>
          </div>
        </mat-expansion-panel>
      </mat-card>
      </div>
  </div> 