.backBtnCss{
    text-decoration: underline;
    color: #29539c;
    cursor: pointer;
}

.mat-tab-label.mat-tab-label-active{
    min-width: 5px;
}

hideTabHeader {
    ::ng-deep.mat-tab-header {
        display: none;
    }
}