<div class='bgtrans'>
    <mat-card class='mat-elevation-z margin-bottom-xlg'>
        <form [formGroup]="dtcTranslationFormGroup">
            <div class='margin-bottom-sm' fxLayout="row" fxLayoutAlign="start start">
                <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
                    <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblImportDTCTranslation || 'Import DTC Translation' }}</span>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="15px">
                <div style='width: 60%' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
                    <!-- <span style='display: flex; align-items: center;'>
                        <img matTooltip='Download Excel' src='assets/images/icons/microsoftExcel/excel_icon.svg' style="width: 30px; height: 30px;" />&nbsp;
                        <a (click)='downloadDriverTemplate()' class='cursor-pointer'
                            style='font: 1 16px/32px Roboto, "Helvetica Neue", sans-serif; text-decoration-line: underline;'>{{ translationData.lblDownloadaTemplate || 'Download a Template' }}</a>
                    </span> -->
                    <span>{{ translationData.lblDownloadaTemplateMessage || 'You can enter multiple dtc translation records.'}}</span>
                </div>
                <div style='width: 90%; background: #ecf7fe; border-radius: 5px;' fxLayout="column" fxLayoutAlign="end">
                    <div style='padding: 30px;' fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="start">
                        <div class='full-width' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
                            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
                                <div class='areaWidth full-width myform-wrappe uploadArea' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
                                    <mat-label>{{ translationData.lblUploadUpdatedExcelFile || 'Upload updated Excel file' }} <span class='mandatoryColor'>*</span></mat-label>
                                    <mat-form-field appearance="outline">
                                        <ngx-mat-file-input #removableInput (change)="addfile($event)" [accept]="'.xlsx'" formControlName="uploadFile" placeholder="Upload Excel File" ></ngx-mat-file-input>
                                        <button mat-flat-button color="primary" matSuffix>{{ translationData.lblBrowse || 'Browse' }}</button>
                                    </mat-form-field>
                                    <mat-error *ngIf="dtcTranslationFormGroup.get('uploadFile').hasError('required')">
                                        {{ translationData.lblPleaseselectafile || 'Please select a file' }}
                                    </mat-error>
                                    <mat-error *ngIf="dtcTranslationFormGroup.get('uploadFile').hasError('maxContentSize')">
                                        The total size must not exceed {{dtcTranslationFormGroup.get('uploadFile')?.getError('maxContentSize').maxSize | byteFormat}} ({{dtcTranslationFormGroup.get('uploadFile')?.getError('maxContentSize').actualSize
                                        | byteFormat}}).
                                    </mat-error>
                                    <mat-error *ngIf="excelEmptyMsg">
                                        {{ translationData.lblEmptyFile || 'Empty File' }}
                                    </mat-error>
                                    <mat-error *ngIf="serverError">
                                        {{ translationData.lblImportingError || 'Importing Error' }}
                                    </mat-error>
                                </div>
                                <div fxLayout="column" fxLayoutAlign="space-around" class='margin-bottom-sm'>
                                    <button style='color: #fff;' [disabled]="!dtcTranslationFormGroup.valid || excelEmptyMsg" [ngStyle]="{'margin-top': dtcTranslationFormGroup.get('uploadFile').hasError('required') || excelEmptyMsg || serverError ? '9px' : '29px' }" mat-flat-button color="primary"
                                        (click)="importDTCTranslation(removableInput)">
                                        <mat-icon>arrow_circle_up</mat-icon> {{ translationData.lblImport || 'Import' }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </mat-card>
</div>