<mat-card class='margin-bottom-xlg mat-elevation-z'>
    <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="space-between center" class='margin-bottom-sm'>
            <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="start">
              <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblAccountInformation}}</span>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
            <div class="areaWidth min-width-20-per" fxLayout="column" fxLayoutAlign="left">
                <img [src]="profilePath" style="display: block; margin: auto; width: 120px; height: 120px; border-radius: 50%;" />
            </div>
            <div class="areaWidth min-width-75-per" fxLayout="column" fxLayoutAlign="left">
                <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
                    <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                      <mat-label>{{ translationData.lblSalutation}}</mat-label>
                      <mat-label class='custom-font'>{{ confirmAccountInfoData.salutationData }}</mat-label>
                    </div>
                    <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                        <mat-label>{{ translationData.lblFirstName}}</mat-label>
                        <mat-label class='custom-font'>{{ confirmAccountInfoData.firstNameData }}</mat-label>
                      </div>
                      <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                        <mat-label>{{ translationData.lblLastName }}</mat-label>
                        <mat-label class='custom-font'>{{ confirmAccountInfoData.lastNameData }}</mat-label>
                      </div>
                </div>  
                <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
                    <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                      <mat-label>{{ translationData.lblLoginEmail}}</mat-label>
                      <mat-label class='custom-font'>{{ confirmAccountInfoData.loginEmailData }}</mat-label>
                    </div>
                    <div *ngIf='privilegeAccess' class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                        <mat-label>{{ translationData.lblUserType }}</mat-label>
                        <mat-label class='custom-font'>{{ confirmAccountInfoData.userTypeData }}</mat-label>
                    </div>
                    <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                        <mat-label>{{ translationData.lblOrganisation }}</mat-label>
                        <mat-label class='custom-font'>{{ confirmAccountInfoData.organizationData }}</mat-label>
                    </div>
                    <div *ngIf='!privilegeAccess' class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left"></div>
                </div>
            </div>
        </div>
        <div style='padding: 20px; position: relative;'>
            <mat-divider></mat-divider>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class='margin-bottom-sm'>
            <div>
                <span><span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblUserGeneralSetting  }}</span> <span style='font: 200 16px/32px Roboto, "Helvetica Neue", sans-serif;'> ({{ translationData.lblOrganisationbasedsettings }})</span></span>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
            <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
              <mat-label>{{ translationData.lblLanguage }}</mat-label>
              <mat-label class='custom-font'>{{ confirmAccountInfoData.languageData.length > 0 ? confirmAccountInfoData.languageData[0].value : '--' }}</mat-label>
            </div>
            <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                <mat-label>{{ translationData.lblTimeZone }}</mat-label>
                <mat-label class='custom-font'>{{ confirmAccountInfoData.timezoneData.length > 0 ? confirmAccountInfoData.timezoneData[0].value : '--' }}</mat-label>
            </div>
            <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                <mat-label>{{ translationData.lblUnit }}</mat-label>
                <mat-label class='custom-font'>{{ confirmAccountInfoData.unitData.length > 0 ? confirmAccountInfoData.unitData[0].value : '--' }}</mat-label>
            </div>
        </div> 
        <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
            <!-- <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                <mat-label>{{ translationData.lblCurrency || 'Currency' }}</mat-label>
                <mat-label class='custom-font'>{{ confirmAccountInfoData.currencyData.length > 0 ? confirmAccountInfoData.currencyData[0].value : '--' }}</mat-label>
            </div> -->
            <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                <mat-label>{{ translationData.lblDateFormat }}</mat-label>
                <mat-label class='custom-font'>{{ confirmAccountInfoData.dateFormatData.length > 0 ? confirmAccountInfoData.dateFormatData[0].value : '--' }}</mat-label>
            </div>
            <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                <mat-label>{{ translationData.lblTimeFormat}}</mat-label>
                <mat-label class='custom-font'>{{ confirmAccountInfoData.timeFormatData.length > 0 ? confirmAccountInfoData.timeFormatData[0].value : '--' }}</mat-label>
            </div>
            <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                <mat-label>{{ translationData.lblVehicleDisplayDefault  }}</mat-label>
                <mat-label class='custom-font'>{{ confirmAccountInfoData.vehicleDisplayData.length > 0 ? confirmAccountInfoData.vehicleDisplayData[0].value : '--' }}</mat-label>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
            <!-- <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                <mat-label>{{ translationData.lblVehicleDisplayDefault || 'Vehicle Display (Default)' }}</mat-label>
                <mat-label class='custom-font'>{{ confirmAccountInfoData.vehicleDisplayData.length > 0 ? confirmAccountInfoData.vehicleDisplayData[0].value : '--' }}</mat-label>
            </div> -->
            <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                <mat-label>{{ translationData.lblLandingPageDisplayDefault }}</mat-label>
                <mat-label class='custom-font'>{{ confirmAccountInfoData.landingPageDisplayData.length > 0 ? confirmAccountInfoData.landingPageDisplayData[0].value : '--' }}</mat-label>
            </div>
            <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                <mat-label>{{ translationData.lblPageRefreshTime }}</mat-label>
                <mat-label class='custom-font'>{{ confirmAccountInfoData.pageRefreshTime ? confirmAccountInfoData.pageRefreshTime : '--'}}</mat-label>
            </div>
            <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left"></div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card class='margin-bottom-xlg mat-elevation-z'>
    <mat-card-content>
        <div fxLayout="row">
            <div class='full-width' [ngClass]="{'margin-bottom-sm': selectedRoleDataSource.filteredData.length > 0 }">
                <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblSelectedUserRoles }} -
                    ({{ selectedRoleDataSource.filteredData.length }})</span>    
            </div>
        </div>
        <div fxLayout="row" *ngIf='selectedRoleDataSource.filteredData.length > 0'>
            <div fxLayout="column" class='full-width'>
                <mat-table [dataSource]="selectedRoleDataSource" matSort>
                   <ng-container matColumnDef="roleName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblUserRole}}</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.roleName }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="featureIds">
                        <mat-header-cell *matHeaderCellDef>{{ translationData.lblServices }}</mat-header-cell>
                        <mat-cell *matCellDef="let row">  
                            <span *ngIf='row.featureIds.length > 0'>
                                <span *ngFor='let item of [].constructor(row.featureIds.length > 4 ? 4 : row.featureIds.length); let i = index'>
                                    <img title="{{ i > 7 ? servicesIcon[0] : servicesIcon[i] }}" src="assets/images/icons/services/{{ i > 7 ? servicesIcon[0] : servicesIcon[i] }}.svg" style="width: 20px; height: 20px;"/>&nbsp;
                                </span>
                            </span>
                            <span *ngIf='row.featureIds.length == 0'>&nbsp;&nbsp;-</span>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumnsRoleConfirm"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumnsRoleConfirm;">
                    </mat-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card class='margin-bottom-xlg mat-elevation-z'>
    <mat-card-content>
        <div fxLayout="row">
            <div class='full-width' [ngClass]="{'margin-bottom-sm': selecteUserGrpDataSource.filteredData.length > 0 }">
                <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblSelectedUserGroups}} -
                    ({{ selecteUserGrpDataSource.filteredData.length }})</span>    
            </div>
        </div>
        <div fxLayout="row" *ngIf='selecteUserGrpDataSource.filteredData.length > 0'>
            <div fxLayout="column" class='full-width'>
                <mat-table [dataSource]="selecteUserGrpDataSource" matSort>
                   <ng-container matColumnDef="accountGroupName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblGroupName}}</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.accountGroupName }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="accountCount">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblUsers }}</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.accountCount }}</mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumnsUserGrpConfirm"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumnsUserGrpConfirm;">
                    </mat-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </div>
    </mat-card-content>
</mat-card>