<div class='bgtrans'>
  <div *ngIf='grpTitleVisible' fxLayout="row" fxLayoutAlign="center center"
      style='padding:10px; color:#fff; background: #5dc24e;'>
      <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center" style='width:95%;'>
      {{ displayMessage }}
      </div>
      <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center">
      <mat-icon (click)='onClose()' style='cursor: pointer;'>close</mat-icon>
      </div>
  </div>
  <div *ngIf='!createViewEditStatus'>
      <mat-card class='mat-elevation-z'>
        <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
          <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
              <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblScheduledReportList || 'Scheduled Report List' }}
                  <!-- ({{ dataSource.filteredData.length }}) -->
              </span>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
            <div class='areaWidth' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
              <mat-form-field appearance="outline">
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ translationData.lblSearch || 'Search' }}">
                  <span matPrefix><mat-icon>search</mat-icon></span>
              </mat-form-field>
            </div>
            <div class='areaWidth' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
              <mat-form-field appearance="outline">
                <mat-select [(ngModel)]="reportTypeSelection" (selectionChange)="onReportTypeChange($event)" placeholder="{{ translationData.lblSelectReportType || 'Select Report Type' }}">
                <mat-option value="0">--All--</mat-option>
                <mat-option *ngFor="let rer of ReportTypeList" [value]="rer.id">
                    {{ rer.reportName }}
                </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class='areaWidth' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
              <mat-form-field appearance="outline">
                <mat-select [(ngModel)]="statusSelection" (selectionChange)="onStatusSelectionChange($event)" placeholder="{{ translationData.lblSelectStatus || 'Select Status' }}">
                  <mat-option value="0">--All--</mat-option>
                  <mat-option *ngFor="let rer of StatusList" [value]="rer.id">
                    {{ rer.name }}
                </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="end">
                <div fxLayout="row" class='areaWidth'>
                    <!-- <div class='areaWidth' fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end">
                    <button *ngIf='initData.length > 0' mat-button [matMenuTriggerFor]="menu"><mat-icon>file_upload</mat-icon>Export<mat-icon>more_vert</mat-icon></button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="exportAsPdf()">PDF (as snapshot)</button>
                        <button mat-menu-item (click)="exportAsCSV()">CSV (as full data)</button>
                    </mat-menu>
                    </div> -->
                    <div *ngIf="!adminAccessType.adminReadOnlyAccess" fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="end">
                        <button mat-flat-button color="primary" (click)="onClickNewReportScheduler()">
                        <mat-icon>add_circle_outline</mat-icon> {{ translationData.lblScheduleReport || 'Schedule Report'}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
       <div *ngIf='initData.length == 0'>{{ translationData.lblNoRecordFound || 'No Record Found' }}</div>
        <div *ngIf='initData.length > 0'>
          <mat-table matTableExporter [dataSource]="dataSource" class="table-items" matSort >
             <ng-container matColumnDef="reportName">      
              <mat-header-cell *matHeaderCellDef> {{ translationData.lblReportType || 'Report Type'}}</mat-header-cell>     
              <mat-cell *matCellDef="let row" style="word-break: 'break-word'">
                <span *ngIf="row.newTag" class='newTagIcon marginLeft-24'></span>               
                <span *ngIf="row.newTag" class='newTxtCss'>{{ translationData.lblNew || 'New' }}</span>
                <span [ngClass]="{ 'marginLeft-14': row.newTag }">{{row.reportName}}</span> 
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="scheduledReportVehicleRef">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblVehicleGroup || 'Vehicle Group/Vehicle' }}</mat-header-cell>
                <mat-cell *matCellDef="let row" matTooltip="{{ row.vehicleGroupAndVehicleList }}">
                  <!-- <span [ngClass]="row.vehicleGroupName != '' ? 'row-hover' : ''"
                  (click)="row.vehicleGroupName != '' ? onVehicleGroupClick(row) : ''" style="text-decoration: underline;cursor: pointer;">
                  {{ row.vehicleGroupName }}</span>
                </span> -->
                  <span *ngIf="row.scheduledReportVehicleRef.length ==1 && row.scheduledReportVehicleRef[0].vehicleGroupType == 'G'">
                  <span [ngClass]="row.scheduledReportVehicleRef[0].vehicleGroupName != '' ? 'row-hover' : ''"
                  (click)="row.scheduledReportVehicleRef[0].vehicleGroupName != '' ? onVehicleGroupClick(row) : ''" style="text-decoration: underline;cursor: pointer;">
                  {{ row.scheduledReportVehicleRef[0].vehicleGroupName }}</span>
                  </span>              
                  <span *ngIf="row.scheduledReportVehicleRef.length ==1 && row.scheduledReportVehicleRef[0].vehicleGroupType == 'S'">{{ row.scheduledReportVehicleRef[0].vehicleName }}</span>
                  <span *ngIf="row.scheduledReportVehicleRef.length != 1" class="text-truncate">{{ row.scheduledReportVehicleRef.length > 0 ? row.vehicleGroupAndVehicleList : '&nbsp; &nbsp; -' }}</span>
                </mat-cell>
             </ng-container> 
             <ng-container matColumnDef="frequencyType">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblFrequency || 'Frequency' }}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span *ngIf="row.frequencyType=='D'">Daily</span>
                <span *ngIf="row.frequencyType=='W'">Weekly</span>
                <span *ngIf="row.frequencyType=='B'">Biweekly</span>
                <span *ngIf="row.frequencyType=='M'">Monthly</span>
                <span *ngIf="row.frequencyType=='Q'">Quarterly</span>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="scheduledReportRecipient">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblRecipient || 'Recipient' }}</mat-header-cell>
              <!-- <mat-cell *matCellDef="let row">         
                {{ row.recipient }}            
              </mat-cell> -->
              <mat-cell *matCellDef="let row" matTooltip="{{ row.recipientList }}">
                <span *ngIf="row.scheduledReportRecipient.length != 1" class="text-truncate">{{ row.scheduledReportRecipient.length > 0 ? row.recipientList : '&nbsp; &nbsp; -' }}</span>
                <span *ngIf="row.scheduledReportRecipient.length == 1">{{ row.recipientList }} </span>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="scheduledReportDriverRef">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblDriver || 'Driver' }}</mat-header-cell>
              <!-- <mat-cell *matCellDef="let row">{{ row.driver }} </mat-cell> -->
              <mat-cell *matCellDef="let row" matTooltip="{{ row.driverList }}"><span class="text-truncate">{{ row.scheduledReportDriverRef.length > 0 ? row.driverList : '&nbsp; &nbsp; -' }}</span></mat-cell>
            </ng-container>
            <ng-container matColumnDef="lastScheduleRunDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblLastRun || 'Last  Run' }}</mat-header-cell>
               <mat-cell *matCellDef="let row">
                  <span>{{row.lastScheduleRunDate}}</span>               
                </mat-cell>  
            </ng-container>
            <ng-container matColumnDef="nextScheduleRunDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblNextRun || 'Next  Run' }}</mat-header-cell>
               <mat-cell *matCellDef="let row">
                  <span>{{row.nextScheduleRunDate}}</span>               
                </mat-cell>  
            </ng-container>
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblStatus || 'Status' }}</mat-header-cell>
              <mat-cell *matCellDef="let row">
              <button class='actionBtn' mat-flat-button (click)="onChangeReportSchedulerStatus(row)" matTooltip="{{ row.status == 'A' ? (translationData.lblClicktodeactivate || 'Click to Suspended') : translationData.lblClicktoactivate || 'Click to Activate' }}">
                <mat-slide-toggle color="primary" [checked]='row.status == "A" ? true : false' >
              </mat-slide-toggle>&nbsp;
              <span>{{ row.status == "A" ? (translationData.lblActive || 'Active') : translationData.lblSuspended || 'Suspended' }}</span>
              </button>
            </mat-cell>            
            </ng-container>
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef class="action"> {{ translationData.lblAction || 'Action' }} </mat-header-cell>
              <mat-cell *matCellDef="let row" class="action">
                <button class='actionBtn' mat-flat-button (click)="onViewReportScheduler(row, 'view')" matTooltip="{{ translationData.lblView || 'view' }}">
                  <mat-icon>visibility</mat-icon>
                </button>
                <button *ngIf="!adminAccessType.adminReadOnlyAccess" class='actionBtn' mat-flat-button (click)="onEditReportScheduler(row, 'edit')" matTooltip="{{ translationData.lblEdit || 'Edit' }}">
                  <mat-icon>create</mat-icon>
                </button>
                <button *ngIf="adminAccessType.adminFullAccess" class='actionBtn' mat-flat-button (click)="onDeleteReportScheduler(row)" matTooltip="{{ translationData.lblDelete || 'Delete' }}">
                  <mat-icon class="deleteIcon">delete_outline</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageSizeUpdated($event)"></mat-paginator>
        </div> 
        <app-spinner *ngIf="showLoadingIndicator" ></app-spinner>
      </mat-card>
  </div>
  <div *ngIf='createViewEditStatus'>
      <app-create-edit-view-report-scheduler [reportSchedulerParameterData]="reportSchedulerParameterData" [translationData]='translationData' [actionType]='actionType' [selectedRowData]="rowsData"
        (backToPage)='onBackToPage($event)'></app-create-edit-view-report-scheduler>
  </div>
</div>