<mat-expansion-panel class="full-width margin-bottom-20m mb-10" fxLayoutGap="10px" [expanded]="true">
    <mat-expansion-panel-header class="full-width">
      <mat-panel-title>
        <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblFleetKPI
          || 'Fleet KPI' }}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <!-- time selection -->
    <button class="weekButton"
    (click)="selectionTimeRange('lastweek')" [ngClass]="{'selectedBtn': selectionTab == 'lastweek'}"  mat-raised-button
      color="primary">{{translationData.lblLast7days|| 'Last 7 days' }}</button>
    <button class="monthButton" 
    (click)="selectionTimeRange('lastmonth')" [ngClass]="{'selectedBtn': selectionTab == 'lastmonth'}" mat-raised-button
      color="primary">{{translationData.lblLast30days|| 'Last 30 days' }}</button>
    <button class="moreButton"
    (click)="selectionTimeRange('last3month')" [ngClass]="{'selectedBtn': selectionTab == 'last3month'}" mat-raised-button
      color="primary">{{translationData.lblLastWeek || 'Last 90 days' }}</button>
</mat-expansion-panel>
