<mat-expansion-panel class="full-width margin-bottom-20m mb-10" fxLayoutGap="10px" [expanded]="true">
    <mat-expansion-panel-header class="full-width">
      <mat-panel-title>
        <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblFleetKPI
          || 'Fleet KPI' }}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <!-- time selection -->
    <button class="weekButton"
    (click)="selectionTimeRange('lastweek')" [ngClass]="{'selectedBtn': selectionTab == 'lastweek'}"  mat-raised-button
      color="primary">{{translationData.lblLast7days|| 'Last 7 days' }}</button>
    <button class="monthButton" 
    (click)="selectionTimeRange('lastmonth')" [ngClass]="{'selectedBtn': selectionTab == 'lastmonth'}" mat-raised-button
      color="primary">{{translationData.lblLast30days|| 'Last 30 days' }}</button>
    <button class="moreButton"
    (click)="selectionTimeRange('last3month')" [ngClass]="{'selectedBtn': selectionTab == 'last3month'}" mat-raised-button
      color="primary">{{translationData.lblLastWeek || 'Last 90 days' }}</button>

       <!-- Charts  -->
    <div style='margin-bottom: 10px;'>
      <div fxLayout="row" fxLayoutAlign="space-between" class="full-width" fxLayoutGap="10px">
        <div class="chartTile col-md-2">
          <div class="textDiv">
            <div>{{ translationData.lblCO2Emission || 'CO2 Emission' }}</div>
            <div style='font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;'>{{currentC02Value}} T</div>
            <div style='font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;'>out of {{cutOffC02Value}} T</div>
            
          </div>
          
          <div class="col-md-8 chart-wrapper chartDimension">
              <canvas #chart1 baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"
                [options]="doughnutChartOptions"
                [colors]="doughnutColors"
                [plugins]="doughnutChartPlugins">
              </canvas>
            </div>
        </div>

        <!-- Idling Time -->
        <div class="chartTile col-md-2">
          <div class="textDiv">
            <div>{{ translationData.lblIdlingTime || 'Idling Time' }}</div>
            <div style='font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;'>{{currentIdlingTime}}</div>
            <div style='font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;'>{{cutOffIdlingTime}}</div>
            
          </div>
          
          <div class="col-md-8 chart-wrapper chartDimension">
              <canvas #chart2 baseChart
                [data]="doughnutChartIdlingData"
                [labels]="idlingChartLabels"
                [chartType]="doughnutChartType"
                [options]="doughnutChartIdlingOptions"
                [colors]="doughnutIdlingColors"
                [plugins]="doughnutChartIdlingPlugins">
              </canvas>
            </div>
        </div>

         <!-- Driving Time -->
         <div class="chartTile col-md-2">
          <div class="textDiv">
            <div>{{ translationData.lblDrivingTime || 'Driving Time' }}</div>
            <div style='font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;'>1 Hr 46 min</div>
            <div style='font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;'>out of 2 Hr</div>
            
          </div>
          
          <div class="col-md-8 chart-wrapper chartDimension">
              <canvas #chart3 baseChart
                [data]="doughnutChartDrivingData"
                [labels]="drivingChartLabels"
                [chartType]="doughnutChartType"
                [options]="doughnutChartDrivingOptions"
                [colors]="doughnutColors"
                [plugins]="doughnutChartDrivingPlugins">
              </canvas>
            </div>
        </div>

       
        </div>
        <!-- row2 -->
        
        <div fxLayout="row" fxLayoutAlign="space-between" class="full-width" fxLayoutGap="10px">
 <!-- Distance Chart -->
 <div class="chartTile col-md-2">
  <div class="textDiv">
    <div>{{ translationData.lblDistance || 'Distance' }}</div>
    <div style='font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;'>73 Km</div>
    <div style='font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;'>out of 110 Km</div>
    
  </div>
  
  <div class="col-md-8 chart-wrapper chartDimension">
      <canvas #chart4 baseChart
        [data]="doughnutChartDistanceData"
        [labels]="distanceChartLabels"
        [chartType]="doughnutChartType"
        [options]="doughnutChartDistanceOptions"
        [colors]="doughnutColors"
        [plugins]="doughnutChartDistancePlugins">
      </canvas>
    </div>
</div>
</div>
<!-- row3 -->

<div fxLayout="row" fxLayoutAlign="space-between" class="full-width" fxLayoutGap="10px">
          <div class="chartTile col-md-2">
            <div class="textDiv">
              <div>{{ translationData.lblFuelConsume || 'Fuel Consumed' }}</div>
              <div style='font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;'>42 L</div>
              <div style='font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;'>out of 85 L</div>
              
            </div>
            
            <div class="col-md-8 chart-wrapper chartDimension">
                <canvas #chart5 baseChart
                  [data]="doughnutChartFuelConsumedData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"
                  [options]="doughnutChartFuelConsumedOptions"
                  [colors]="doughnutFuelConsumedColors"
                  [plugins]="doughnutChartFuelConsumedPlugins">
                </canvas>
              </div>
          </div>
  
          <!-- Fuel Used -->
          <div class="chartTile col-md-2">
            <div class="textDiv">
              <div>{{ translationData.lblFuelUsed || 'Fuel Used' }}</div>
              <div style='font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;'>1 Hr 46 min</div>
              <div style='font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;'>out of 2 Hr</div>
              
            </div>
            
            <div class="col-md-8 chart-wrapper chartDimension">
                <canvas #chart6 baseChart
                  [data]="doughnutChartFuelUsedData"
                  [labels]="doughnutChartFuelUsedLabels"
                  [chartType]="doughnutChartType"
                  [options]="doughnutChartFuelUsedOptions"
                  [colors]="doughnutFuelUsedColors"
                  [plugins]="doughnutChartFuelUsedPlugins">
                </canvas>
              </div>
          </div>
  
           <!-- Fuel Consumption -->
           <div class="chartTile col-md-2">
            <div class="textDiv">
              <div>{{ translationData.lblFuelConsumption || 'Fuel Consumption' }}</div>
              <div style='font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;'>1 Hr 46 min</div>
              <div style='font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;'>out of 2 Hr</div>
              
            </div>
            
            <div class="col-md-8 chart-wrapper chartDimension">
                <canvas #chart7 baseChart
                  [data]="doughnutChartFuelConsumptionData"
                  [labels]="doughnutChartFuelConsumptionLabels"
                  [chartType]="doughnutChartType"
                  [options]="doughnutChartFuelConsumptionOptions"
                  [colors]="doughnutFuelConsumptionColors"
                  [plugins]="doughnutChartFuelConsumptionPlugins">
                </canvas>
              </div>
          </div>
  
         
          </div>
    </div>
</mat-expansion-panel>
 