<form [formGroup]="notificationForm">
    <!-- for level selection -->
<!-- <div  formArrayName="FormArrayItems"> -->
    <!-- <div  [formGroupName]="i"> -->
   
    <div *ngIf="(alert_category_selected === 'L') && (alert_type_selected === 'Y')" class="areaWidth min-width-30-per"
        fxLayout="column" fxLayoutAlign="left">
        <div class="full-width filter-direction margin-bottom-sm" fxLayout="row" fxLayoutAlign="left">
            <mat-label>{{ translationData.lblLevel || 'Level' }} <span class='mandatoryColor'>*</span></mat-label>
        </div>
        <div class="areaWidth" fxLayout="row" fxLayoutAlign="left">
                <div class="areaWidth areaWidth min-width-10-per" fxLayout="column" fxLayoutAlign="left">
                    <mat-checkbox [checked] ="isCriticalLevelSelected" [disabled] ="!isCriticalLevelSelected" (change)="onChangeCriticalLevel($event)" formControlName="criticalLevel">Critical
                    </mat-checkbox>
                </div>
                <div class="areaWidth min-width-10-per" fxLayout="column" fxLayoutAlign="left">
                    <mat-checkbox [checked] = "isWarningLevelSelected" [disabled] ="!isWarningLevelSelected" (change)="onChangeWarningLevel($event)" formControlName="warningLevel">Warning
                    </mat-checkbox>
                </div>
                <div class="areaWidth areaWidth min-width-10-per" fxLayout="column" fxLayoutAlign="left">
                    <mat-checkbox [checked] = "isAdvisoryLevelSelected" [disabled] ="!isAdvisoryLevelSelected" (change)="onChangeAdvisoryLevel($event)" formControlName="advisoryLevel">Advisory
                    </mat-checkbox>
                </div>
        </div>
    </div>

    <div fxLayout="row" *ngIf="actionType != 'view'" fxLayoutAlign="space-between" class="full-width filter-direction margin-bottom-sm"
        fxLayoutGap="10px">
        <div class="areaWidth" fxLayout="column" fxLayoutAlign="left">
            <mat-label>{{ translationData.lblRecipientLabel || 'Recipient Label' }} <span
                    class='mandatoryColor'>*</span></mat-label>
            <mat-form-field appearance="outline" class="full-width">
                <input placeholder="{{ translationData.lblEnterRecipientLabel || 'Enter Recipient Label' }}" matInput
                    formControlName="recipientLabel" maxlength="50">
            </mat-form-field>
            <mat-hint>{{translationData.lblEnterMaxRecipientLabelForCategorization || 'Enter max 10 recipient label for
                categorization' }}</mat-hint>
            <mat-error *ngIf="notificationForm.get('recipientLabel').hasError('required') && notificationForm.get('recipientLabel').touched">
                {{translationData.lblPleaseEnterRecipientLabel|| 'Please enter recipient label' }}
            </mat-error>
            <mat-error *ngIf="notificationForm.get('recipientLabel').hasError('specialCharsNotAllowed')">
                {{ translationData.lblSpecialcharactersnotallowed || 'Special characters not allowed' }}
            </mat-error>
        </div>
        <div class="areaWidth" fxLayout="column" fxLayoutAlign="left">
            <mat-label>{{ translationData.lblContactMode || 'Contact Mode' }} <span class='mandatoryColor'>*</span>
            </mat-label>
            <mat-form-field appearance="outline" class="full-width">
                <mat-select  placeholder="{{ translationData.lblSelectContactMode || 'Select Contact Mode' }}"
                    formControlName="contactMode">
                    <mat-option *ngFor="let item of contactModes" [value]="item.id">
                       {{item.value}}
                    </mat-option>
                    <!-- <mat-option>
                        Ws
                    </mat-option> -->
                </mat-select>
            </mat-form-field>
            <mat-hint>{{translationData.lblSelectContactModeAndAddWithList || 'Select contact mode and add with list'}}
            </mat-hint>
            <mat-error *ngIf="notificationForm.get('contactMode').hasError('required') && notificationForm.get('contactMode').touched">
                {{translationData.lblPleaseSelectContactMode|| 'Please select contact Mode' }}
            </mat-error>
        </div>
        <div class="areaWidth" fxLayout="column" fxLayoutAlign="left">
            <button class='no-margin' mat-raised-button color="primary" (click)='addMultipleItems(true)'>{{ actionType ==
                'create'
                ? (translationData.lblAdd || 'Add') :
                (translationData.lblAdd || 'Add') }}</button>
        </div>
    </div>
<!-- <div  formArrayName="FormArrayItems">
    <div  *ngFor="let item of notificationForm.controls['FormArrayItems']['controls']; let i = index" >
    <div  [formGroupName]="i"> -->
<div formArrayName="FormEmailArray">
    <div *ngFor="let item of notificationForm.controls['FormEmailArray']['controls']; let i = index">
        <div [formGroupName]="i">
    <!-- For email -->
    <mat-card class='mat-elevation-z' *ngIf="(contactModeType == 'E' && addEmailFlag) || emailCount > 0" style="border: 1px solid #000">
        <mat-panel-title>
            <!-- <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;padding-right: 80%;'>{{
                translationData.lblRecipientLabel02 || 'Recipient Label 02' }}</span>
            <mat-icon style="color: red;" (click)="deleteEmailNotificationRow(i)">deleteicon</mat-icon> -->
            <div fxLayout="row" fxLayoutAlign="space-between" style="width: 100%;">
                <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="right" class="areawidth">
            <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{
                translationData.lblRecipientLabel02 || 'Recipient Label' }} <span style="margin-left: 5px;">{{item['controls']['emailRecipientLabel'].value}}</span></span>
               </div>
                <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="end" class="areawidth">
                <mat-icon style="color: red;" (click)="deleteEmailNotificationRow(i)">deleteicon</mat-icon>
                </div>
            </div>
        </mat-panel-title>
        <div fxLayout="row" class="full-width filter-direction" fxLayoutAlign="space-between">
            <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
                <div fxLayout="row" fxLayoutAlign="space-between" class="full-width filter-direction margin-bottom-sm"
                    fxLayoutGap="10px">
                    <div class="areaWidth" fxLayout="column" fxLayoutAlign="left">
                        <mat-label>{{ translationData.lblEmailAddress || 'Email Address' }} <span
                                class='mandatoryColor'>*</span>
                        </mat-label>
                        <mat-form-field appearance="outline" class="full-width">
                            <input placeholder="{{ translationData.lblEmailAddress || 'Enter Email Address' }}" matInput
                                formControlName="emailAddress" >
                        </mat-form-field>
                        <!-- <mat-hint>{{translationData.lblTypeMultipleEmailsWithCommaSeparated || 'Type multiple emails
                            with comma (;) separated' }}</mat-hint> -->
                            <mat-error *ngIf="notificationForm.controls['FormEmailArray']['controls'][0].get('emailAddress').hasError('required') && notificationForm.controls['FormEmailArray']['controls'][0].get('emailAddress').touched">
                                {{ translationData.lblPleaseenteremailAddress || 'Please enter email address' }}
                                  </mat-error>
                            <mat-error *ngIf="notificationForm.controls['FormEmailArray']['controls'][0].get('emailAddress').hasError('email')">
                                {{ translationData.lblPleaseentervalidemailAddress || 'Please enter valid email address' }}
                            </mat-error>
                    </div>
                    <div class="areaWidth" fxLayout="column" fxLayoutAlign="left">
                        <mat-label style='display: flex; place-content: space-between;'>{{ translationData.lblMailSubject || 'Mail Subject' }} <span
                                class='mandatoryColor'>*</span>
                                <span>{{ translationData.lbl120CharMax || '120 characters max' }}</span>
                        </mat-label>
                        <mat-form-field appearance="outline" class="full-width">
                            <input
                                placeholder="{{ translationData.lblMailSubjectAlertType || 'Mail Subject - Alert Type' }}"
                                matInput formControlName="mailSubject" maxlength="120">
                        </mat-form-field>
                        <mat-error *ngIf="notificationForm.controls['FormEmailArray']['controls'][0].get('mailSubject').hasError('required') && notificationForm.controls['FormEmailArray']['controls'][0].get('mailSubject').touched">
                            {{ translationData.lblPleaseenterMailSubject || 'Please enter Mail Subject' }}
                              </mat-error>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between" class="full-width filter-direction margin-bottom-sm"
                    fxLayoutGap="10px">
                    <div class="full-width  " fxLayout="column" fxLayoutAlign="left">
                        <mat-label style='display: flex; place-content: space-between;'>{{ translationData.lblMailDescription || 'Mail Description' }} <span
                                class='mandatoryColor'>*</span>
                                <span>{{ translationData.lbl250CharMax || '250 characters max' }}</span>
                            </mat-label>
                                
                        <mat-form-field appearance="outline">
                            <textarea matInput maxlength="250"
                                placeholder="{{ translationData.lblVehicleIsInKnownZone || 'Vehicle is in known zone' }}"
                                formControlName="mailDescription"></textarea>
                        </mat-form-field>
                        <mat-error *ngIf="notificationForm.controls['FormEmailArray']['controls'][0].get('mailDescription').hasError('required') && notificationForm.controls['FormEmailArray']['controls'][0].get('mailDescription').touched">
                            {{ translationData.lblPleaseentermailDescription || 'Please enter mail Description' }}
                              </mat-error>
                    </div>
                </div>
                <!-- <div style="display:none">
                    <mat-form-field style="display:none" appearance="outline" class="full-width">
                        <input placeholder="{{ translationData.lblEnterRecipientLabel || 'Enter Recipient Label' }}" matInput
                            formControlName="emailRecipientLabel" maxlength="50">
                    </mat-form-field>
                </div> -->
            </div>
            <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left" style="background: grey" class="areaWidth">
                <!-- <div class="full-width orgGrayDefault" fxLayout="column" fxLayoutAlign="left" style="background: grey"> -->
                <span style='font: 500 Roboto, "Helvetica Neue", sans-serif;font-weight: bold;padding-left: 10px;padding-top: 10px;'>{{
                    translationData.lblSetLimitations || 'Set Limitations' }}</span>
                <span style="padding-bottom: 15px;padding-left: 8px;">{{translationData.lblMaxAlertNotificationsPerVehicle || 'Max 10
                    alert notifications per vehicle' }}</span>
                <span style="padding-left: 10px;" class='radioLabel'>{{ translationData.lblNotify || 'Notify' }}<span
                        class='mandatoryColor'>*</span></span>
                <!-- <mat-radio-button formControlName="notifyPeriod" checked style='margin-right: 20px;' [value]="'A'">{{
                    translationData.lblAlways || 'Always' }}
                </mat-radio-button> -->
                <mat-radio-group formControlName="notifyPeriod" style='margin-right: 20px;'>
                    <mat-radio-button style='margin-right: 20px;' value="A">
                        {{ translationData.lblAlways || 'Always' }}
                    </mat-radio-button>
                </mat-radio-group>
                <!-- </div> -->
            </div>
        </div>
    </mat-card>
        </div>
    </div>
</div>

    <div formArrayName="FormWebArray">
        <div *ngFor="let item of notificationForm.controls['FormWebArray']['controls']; let i = index">
            <div [formGroupName]="i">
    <!-- For webservice -->
    <mat-card class='mat-elevation-z' *ngIf="(contactModeType == 'W' && addWsFlag) || wsCount > 0" style="border: 1px solid #000;">
        <mat-panel-title>
            <div fxLayout="row" fxLayoutAlign="space-between" style="width: 100%;">
                <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="right" class="areawidth">
            <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{
                translationData.lblRecipientLabel02 || 'Recipient Label' }} <span style="margin-left: 5px;">{{item['controls']['webRecipientLabel'].value}}</span></span>
               </div>
                <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="end" class="areawidth">
                <mat-icon style="color: red;" (click)="deleteWebNotificationRow(i)">deleteicon</mat-icon>
                </div>
            </div>
            </mat-panel-title>
        <div fxLayout="row" class="full-width filter-direction" fxLayoutAlign="space-between">
            <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left"  style="padding-right: 15px;">
                <div fxLayout="row" fxLayoutAlign="space-between" class="full-width filter-direction margin-bottom-sm"
                    fxLayoutGap="10px">
                    <div class="areaWidth min-width-10-per" fxLayout="column" fxLayoutAlign="right">
                        <mat-label>{{ translationData.lblWebServiceURL || 'Web Service URL' }} <span
                                class='mandatoryColor'>*</span>
                        </mat-label>
                        <mat-form-field appearance="outline" class="full-width">
                            <input placeholder="{{ translationData.lblhttpsTestCom || 'https://Test.com' }}" matInput
                                formControlName="webURL" >
                        </mat-form-field>
                            <mat-error *ngIf="notificationForm.controls['FormWebArray']['controls'][0].get('webURL').hasError('required') && notificationForm.controls['FormWebArray']['controls'][0].get('webURL').touched">
                                {{ translationData.lblPleaseenterWebServiceURL || 'Please enter Web Service URL' }}
                                  </mat-error>
                    </div>
                    <div class="areaWidth min-width-10-per" fxLayout="column" fxLayoutAlign="right">
                        <div class="margin-bottom-sm">
                        <mat-radio-group (change)="onRadioButtonChange($event)" formControlName="authentication">
                        <mat-radio-button style='margin-right: 20px;' [checked]="true" value="N">{{
                            translationData.lblNoAuthentication || 'No Authentication' }}
                        </mat-radio-button>
                        <mat-radio-button  style='margin-right: 20px;'  value="A">{{
                            translationData.lblLoginPasswordAuthentication || 'Login/Password Authentication' }}
                        </mat-radio-button>     
                    </mat-radio-group>          </div>    
                    </div>
                </div>
                <div fxLayout="row" *ngIf="item['controls']['authentication'].value == 'N'" fxLayoutAlign="space-between" class="full-width filter-direction margin-bottom-sm"
                    fxLayoutGap="10px">
                    <div class="full-width  " fxLayout="column" fxLayoutAlign="left">
                        <mat-label style='display: flex; place-content: space-between;'>{{ translationData.lblWSDescription || 'WS Description' }} <span
                                class='mandatoryColor'>*</span>
                                <span>{{ translationData.lbl250CharMax || '250 characters max' }}</span>
                            </mat-label>
                        <mat-form-field appearance="outline">
                            <textarea matInput maxlength="120"
                                placeholder="{{ translationData.lblVehicleIsInKnownZone || 'Vehicle is in known zone' }}"
                                formControlName="wsDescription"></textarea>
                        </mat-form-field>
                        <mat-error *ngIf="notificationForm.controls['FormWebArray']['controls'][0].get('wsDescription').hasError('required') && notificationForm.controls['FormWebArray']['controls'][0].get('wsDescription').touched">
                            {{ translationData.lblPleaseenterwsDescription || 'Please enter ws Description' }}
                              </mat-error>
                    </div>
                </div>
                    <div fxLayout="row" *ngIf="item['controls']['authentication'].value == 'A'" fxLayoutAlign="space-between" class="full-width filter-direction margin-bottom-sm"
                        fxLayoutGap="10px">
                        <div class="full-width" fxLayout="column" fxLayoutAlign="left">
                            <mat-label style='display: flex; place-content: space-between;'>{{ translationData.lblWSDescription || 'WS Description' }}
                                <span>{{ translationData.lbl250CharMax || '250 characters max' }}</span>
                            </mat-label>
                            <mat-form-field appearance="outline">
                                <textarea matInput maxlength="120" placeholder="{{ translationData.lblVehicleIsInKnownZone || 'Vehicle is in known zone' }}"
                                    formControlName="wsTextDescription"></textarea>
                            </mat-form-field>
                        </div>
                    <div class="areaWidth" fxLayout="column" fxLayoutAlign="left">
                        <mat-label>{{ translationData.lblLogin || 'Login' }} <span class='mandatoryColor'>*</span>
                        </mat-label>
                        <mat-form-field appearance="outline" class="full-width">
                            <input placeholder="{{ translationData.lblloginId || 'Login ID' }}" matInput formControlName="loginId">
                        </mat-form-field>
                        <mat-error *ngIf="notificationForm.controls['FormWebArray']['controls'][0].get('loginId').hasError('required') && notificationForm.controls['FormWebArray']['controls'][0].get('loginId').touched">
                            {{ translationData.lblPleaseenteremailAddress || 'Please enter email address' }}
                              </mat-error>
                        <mat-error *ngIf="notificationForm.controls['FormWebArray']['controls'][0].get('loginId').hasError('email')">
                            {{ translationData.lblPleaseentervalidemailAddress || 'Please enter valid email address' }}
                        </mat-error>
                        <mat-label>{{ translationData.lblPassword || 'Password' }} <span class='mandatoryColor'>*</span>
                        </mat-label>
                        <mat-form-field appearance="outline" class="full-width">
                            <input type = "password" placeholder="{{ translationData.lblPassword || 'Password' }}" matInput formControlName="password">
                        </mat-form-field>
                        <mat-error *ngIf="notificationForm.controls['FormWebArray']['controls'][0].get('password').hasError('required') && notificationForm.controls['FormWebArray']['controls'][0].get('password').touched">
                            {{ translationData.lblPleaseEnterPassword || 'Please enter password' }}
                        </mat-error>
                    </div>
                    </div>
            </div>

            <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left" style="background: grey" class="areaWidth">
                <!-- <div class="full-width orgGrayDefault" fxLayout="column" fxLayoutAlign="left" style="background: grey"> -->
                <span style='font: 500 Roboto, "Helvetica Neue", sans-serif;font-weight: bold;padding-left: 10px;padding-top: 10px;'>{{
                    translationData.lblSetLimitations || 'Set Limitations' }}</span>
                <span style="padding-bottom: 15px;padding-left:10px;">{{translationData.lblMaxAlertNotificationsPerVehicle || 'Max 10
                    alert notifications per vehicle' }}</span>
                <span style="padding-left: 10px;" class='radioLabel'>{{ translationData.lblNotify || 'Notify' }}<span
                        class='mandatoryColor'>*</span></span>
                <!-- <mat-radio-button checked style='margin-right: 20px;' [value]="'A'">{{
                    translationData.lblAlways || 'Always' }}
                </mat-radio-button> -->
                <mat-radio-group formControlName="notifyPeriodweb" style='margin-right: 20px;'>
                    <mat-radio-button style='margin-right: 20px;' value="A">
                        {{ translationData.lblAlways || 'Always' }}
                    </mat-radio-button>
                </mat-radio-group>
                <!-- </div> -->
            </div>
        </div>
    </mat-card>
    <div fxLayout="row" fxLayoutAlign="space-between" class="full-width filter-direction margin-bottom-sm" fxLayoutGap="10px">
        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
            <a class="linkBtn" (click)="onClickAdvancedFilter()"> Advanced Filter <mat-icon class='font-size-20'> {{ openAdvancedFilter ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon></a>
        </div>
        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left"></div>
        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left"></div>
    </div>

    <div *ngIf="openAdvancedFilter" style="background:#c3f1f7;" fxLayout="row" fxLayoutAlign="space-between" class="full-width filter-direction margin-bottom-sm" fxLayoutGap="10px">
        <div class="areaWidth" fxLayout="column" fxLayoutAlign="left">
            <mat-card  class='mat-elevation-z' style="background:#c3f1f7;">
                <mat-panel-title>
                    <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblAdvancedFilterDetails || 'Advanced Filter Details' }}</span>
                </mat-panel-title>
                <div fxLayout="row" fxLayoutAlign="space-around" fxLayoutGap="25px">
                    <p style="color: darkgray; font-size: 2em">This feature is part of sprint4</p>
                </div>   
            </mat-card>
        </div>
    </div>
    </div></div></div>
<!-- </div>
</div>
</div> -->
</form>


<div fxLayout="row" *ngIf="actionType == 'view'" fxLayoutAlign="space-between"
    class="full-width filter-direction margin-bottom-sm" fxLayoutGap="10px">
    <!-- for web service -->
    <div class="areaWidth full-width" fxLayout="column" fxLayoutAlign="left">
        <div *ngFor="let item of selectedRowData.notifications[0].notificationRecipients">
            <div *ngIf="item.notificationModeType == 'W'">
                <div fxLayout="row" fxLayoutAlign="space-between" class="full-width filter-direction margin-bottom-sm" fxLayoutGap="10px">
                    <div class="areaWidth half-width" fxLayout="column" fxLayoutAlign="left">
                        <mat-label>{{ translationData.lblRecipientLabel || 'Recipient Label' }}</mat-label>
                        <span style='font-weight: 500!important;'>{{ item.recipientLabel }}</span>
                    </div>
                    <div class="areaWidth half-width" fxLayout="column" fxLayoutAlign="left">
                        <mat-label>{{ translationData.lblNotificationModeType || 'Notification Mode Type' }}</mat-label>
                        <span style='font-weight: 500!important;'>Web Service</span>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between" class="full-width filter-direction margin-bottom-sm" fxLayoutGap="10px">
                    <div class="areaWidth half-width" fxLayout="column" fxLayoutAlign="left">
                        <mat-label>{{ translationData.lblWebServiceURL || 'Web Service URL' }}</mat-label>
                        <span style='font-weight: 500!important;'>{{ item.wsUrl }}</span>
                    </div>
                    <div class="areaWidth half-width" fxLayout="column" fxLayoutAlign="left">
                        <mat-label>{{ translationData.lblWebDescription || 'Web Service Description' }}</mat-label>
                        <span style='font-weight: 500!important;'>{{ item.wsText }}</span>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between" class="full-width filter-direction margin-bottom-sm" fxLayoutGap="10px">
                    <div class="areaWidth half-width" fxLayout="column" fxLayoutAlign="left">
                        <mat-label>{{ translationData.lblAuthentication || 'Authentication' }}</mat-label>
                        <span style='font-weight: 500!important;'>{{ item.wsType == 'N'? 'No Authentication' : 'Authentication' }}</span>
                    </div>
                    <div *ngIf="item.wsType == 'A'" class="areaWidth half-width" fxLayout="column" fxLayoutAlign="left">
                        <mat-label>{{ translationData.lblLoginId || 'Login Id' }}</mat-label>
                        <span style='font-weight: 500!important;'>{{ item.wsLogin }}</span>
                    </div>
                </div>
            </div>
            <div *ngIf="item.notificationModeType == 'E'">
                <div fxLayout="row" fxLayoutAlign="space-between" class="full-width filter-direction margin-bottom-sm" fxLayoutGap="10px">
                    <div class="areaWidth half-width" fxLayout="column" fxLayoutAlign="left">
                        <mat-label>{{ translationData.lblRecipientLabel || 'Recipient Label' }}</mat-label>
                        <span style='font-weight: 500!important;'>{{ item.recipientLabel }}</span>
                    </div>
                    <div class="areaWidth half-width" fxLayout="column" fxLayoutAlign="left">
                        <mat-label>{{ translationData.lblNotificationModeType || 'Notification Mode Type' }}</mat-label>
                        <span style='font-weight: 500!important;'>Email</span>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between" class="full-width filter-direction margin-bottom-sm" fxLayoutGap="10px">
                    <div class="areaWidth half-width" fxLayout="column" fxLayoutAlign="left">
                        <mat-label>{{ translationData.lblEmailId || 'EmailId' }}</mat-label>
                        <span style='font-weight: 500!important;'>{{ item.emailId }}</span>
                    </div>
                    <div class="areaWidth half-width" fxLayout="column" fxLayoutAlign="left">
                        <mat-label>{{ translationData.lblEmailSubject || 'Email Subject' }}</mat-label>
                        <span style='font-weight: 500!important;'>{{ item.emailSub }}</span>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between" class="full-width filter-direction margin-bottom-sm" fxLayoutGap="10px">
                    <div  class="areaWidth half-width" fxLayout="column" fxLayoutAlign="left">
                        <mat-label>{{ translationData.lblEmailText || 'Email Text' }}</mat-label>
                    </div>
                </div>
            </div>
            <div style='padding: 20px; position: relative;'>
                <mat-divider></mat-divider>
            </div>
        </div>
    </div>

</div>