<form [formGroup]="ecoScoreProfileKPIForm">
    <div class='bgtrans'>
        <div fxLayout="row" fxLayoutAlign="space-between " class='margin-bottom-sm'>
            <div fxLayout="column" fxLayoutAlign="left" class="areaWidth half-width">
                <div class="custom-slider">
                    <ngx-slider *ngIf="isKPI" [(value)]="value" [(highValue)]="maxvalue" [options]="options"
                        (valueChange)="sliderEvent(value)" (highValueChange)="sliderEndEvent(maxvalue)"></ngx-slider>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm' fxLayoutGap="10px">
                <div fxLayout="column" fxLayoutAlign="left" class="areaWidth min-width-5-per">
                    <mat-label style='display: flex;'>
                        <span>Min</span>
                    </mat-label>
                    <mat-form-field appearance="outline" class="half-width">
                        <input maxlength="50" matInput formControlName="limitValue"
                            (focusout)="changeMin(ecoScoreProfileKPIForm.valid ? $event.target.value : value)">
                    </mat-form-field>
                    <mat-error *ngIf="ecoScoreProfileKPIForm.get('limitValue').hasError('cannotExceedMaxValue')">
                        Min Value cannot be greater than target value
                     </mat-error>
                     <mat-error *ngIf="ecoScoreProfileKPIForm.get('limitValue').hasError('cannotExceedMinValue')">
                        Min Value cannot be lesser than lower value
                     </mat-error>
                     <mat-error *ngIf="ecoScoreProfileKPIForm.get('limitValue').hasError('noNegativeValueAllowed')">
                        Min Value cannot be negative
                     </mat-error>
                </div>
                <div fxLayout="column" fxLayoutAlign="right" class="areaWidth min-width-5-per">
                    <mat-label style='display: flex;'>
                        <span>Target</span>
                    </mat-label>
                    <mat-form-field appearance="outline" class="half-width">
                        <input maxlength="50" matInput formControlName="targetValue"
                            (focusout)="changeTarget(ecoScoreProfileKPIForm.valid ? $event.target.value : maxvalue)">
                    </mat-form-field>
                    <mat-error *ngIf="ecoScoreProfileKPIForm.get('targetValue').hasError('cannotExceedMaxValue')">
                        Target Value cannot be greater than upper value
                     </mat-error>
                     <mat-error *ngIf="ecoScoreProfileKPIForm.get('targetValue').hasError('cannotExceedMinValue')">
                        Target Value cannot be less than min value
                     </mat-error>
                     <mat-error *ngIf="ecoScoreProfileKPIForm.get('targetValue').hasError('noNegativeValueAllowed')">
                        Target Value cannot be negative
                     </mat-error>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class='margin-bottom-sm' fxLayoutGap="10px">
            <div fxLayout="column" fxLayoutAlign="left" class="areaWidth half-width">
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm' fxLayoutGap="10px">
                <div fxLayout="column" fxLayoutAlign="left" class="areaWidth min-width-5-per">
                    <mat-label style='display: flex;'>
                        <span>Lower Value</span>
                    </mat-label>
                    <mat-form-field appearance="outline" class="half-width">
                        <input maxlength="50" matInput formControlName="lowerValue"
                            (focusout)="changeLower(ecoScoreProfileKPIForm.valid ? $event.target.value : options.floor)">
                    </mat-form-field>
                    <mat-error *ngIf="ecoScoreProfileKPIForm.get('lowerValue').hasError('cannotExceedMaxValue')">
                        Lower Value cannot be greater than Min value
                     </mat-error>
                     <mat-error *ngIf="ecoScoreProfileKPIForm.get('lowerValue').hasError('cannotExceedMinValue')">
                        Lower Value cannot be negative
                     </mat-error>
                     <mat-error *ngIf="ecoScoreProfileKPIForm.get('lowerValue').hasError('noNegativeValueAllowed')">
                        Lower Value cannot be negative
                     </mat-error>
                </div>
                <div fxLayout="column" fxLayoutAlign="right" class="areaWidth min-width-5-per">
                    <mat-label style='display: flex;'>
                        <span>Upper Value</span>
                    </mat-label>
                    <mat-form-field appearance="outline" class="half-width">
                        <input maxlength="50" matInput formControlName="upperValue"
                            (focusout)="changeUpper(ecoScoreProfileKPIForm.valid ? $event.target.value : options.ceil)">
                    </mat-form-field>
                    <mat-error *ngIf="ecoScoreProfileKPIForm.get('upperValue').hasError('cannotExceedMaxValue')">
                       Upper Value cannot be greater than Max upper value
                    </mat-error>
                    <mat-error *ngIf="ecoScoreProfileKPIForm.get('upperValue').hasError('cannotExceedMinValue')">
                        Upper Value cannot be lesser than Target upper value
                     </mat-error>
                    <mat-error *ngIf="ecoScoreProfileKPIForm.get('upperValue').hasError('noNegativeValueAllowed')">
                        Upper Value cannot be negative
                     </mat-error>
                </div>
            </div>
        </div>
    </div>
</form>