<form [formGroup]="ecoScoreProfileKPIForm">
    <div class='bgtrans'>
              <div fxLayout="row" fxLayoutAlign="space-between " class='margin-bottom-sm'>
                <div fxLayout="column" fxLayoutAlign="left" class="areaWidth half-width"> 
                <div class="custom-slider">
                <ngx-slider *ngIf = "isKPI" [(value)]="value" [(highValue)]="maxvalue" [options]="options" (valueChange)="sliderEvent(value)" (highValueChange)="sliderEndEvent(maxvalue)"></ngx-slider>  
            </div>  
            </div>
              <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm' fxLayoutGap="10px">
                <div  fxLayout="column" fxLayoutAlign="left" class ="areaWidth min-width-5-per"> 
                    <mat-label style='display: flex;'>
                        <span>Min</span>
                    </mat-label>
                        <mat-form-field appearance="outline" class="half-width">
                            <input maxlength="50" matInput
                                formControlName="limitValue" (keyup.enter)="changeMin($event.target.value)">
                        </mat-form-field>
                </div>
                <div  fxLayout="column" fxLayoutAlign="right"  class ="areaWidth min-width-5-per"> 
                    <mat-label style='display: flex;'>
                        <span>Target</span>
                    </mat-label>
                        <mat-form-field appearance="outline" class="half-width">
                            <input maxlength="50" matInput
                                formControlName="targetValue" (keyup.enter)="changeTarget($event.target.value)">
                        </mat-form-field>
                </div>
                </div>
            </div>
                <div fxLayout="row" fxLayoutAlign="space-between center" class='margin-bottom-sm'fxLayoutGap="10px">
                    <div  fxLayout="column" fxLayoutAlign="left" class ="areaWidth half-width">
                    </div>
                    <div  fxLayout="column" fxLayoutAlign="left" class ="areaWidth min-width-5-per"> 
                        <mat-label style='display: flex;'>
                            <span>Lower Value</span>
                        </mat-label>
                            <mat-form-field appearance="outline" class="half-width">
                                <input maxlength="50" matInput
                                    formControlName="lowerValue"  (keyup.enter)="changeLower($event.target.value)">
                            </mat-form-field>
                    </div>
                    <div  fxLayout="column" fxLayoutAlign="right" class ="areaWidth min-width-5-per"> 
                        <mat-label style='display: flex;'>
                            <span>Upper Value</span>
                        </mat-label>
                            <mat-form-field appearance="outline" class="half-width">
                                <input maxlength="50" matInput
                                    formControlName="upperValue"  (keyup.enter)="changeUpper($event.target.value)">
                            </mat-form-field>
                    </div>
                </div>   
            </div>   
</form>
        