<mat-card class='mat-elevation-z'>
  <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
    <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
      <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>Map View</span>
    </div>
  </div>
  
  <div #map style="width: 1000px; height: 450px">
    <!-- <div style="padding: 10px 0">  
        <input type="text" placeholder="Search places..." [(ngModel)]="query" style="width: 90%;" />  
        <button><mat-icon (click)="places(query)">search</mat-icon></button>
      </div>   -->
    <!-- <code>H.map.Marker</code> -->
  </div>

</mat-card>