.maintenancePopup{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 30px;
    background: #d62a29;
    color: #fff;
}

.disableOverlay{
    width: 100%;
    background: transparent;
    // height: 570px;  // 590
    height:calc(100vh - 70px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.clickLink{
    color:#00529C;
    cursor: pointer;
}

.clickLink:hover{
    text-decoration: underline;
}
.welcome-msg {
    padding: 8px 12px;
    background: linear-gradient(180deg, rgba(191, 218, 243, 0.95) 3.58%, rgba(147, 186, 222, 0.95) 17.65%, rgba(70, 119, 163, 0.95) 103.58%);
    border-radius: 12px;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    top: 12px;
    /* margin: 0 auto; */
    /* margin-top: 10px; */
    // width: 650px;
    /* font-style: italic; */
    position: absolute;
    text-align: l;
    p{
        /* text-align: center; */
        font-weight: 600;
        margin-bottom: 6px;
    }
    a{
        color:#FFF; 
        text-decoration:underline;
    }
}