<div *ngIf="actionType == 'view' || actionType == 'edit'" fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
    <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
      <span>{{ breadcumMsg }}</span>
    </div>
    <div *ngIf="actionType == 'view'" fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="end" class='margin-right-xxlg'>
      <span class='custom-font' (click)="onCancel()">
        <span><&nbsp;</span>
        <span class='backBtnCss'>{{ translationData.lblBack }}</span></span>
    </div>
</div>
<form [formGroup]="accessRelationshipFormGroup">
    <mat-card class='mat-elevation-z'>
        <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-between center" class='margin-bottom-sm'>
              <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="start">
                <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ actionType == 'create' ? (translationData.lblAddNewAssociation  ) : actionType == 'edit' ? (translationData.lblEditAssociation ) : (translationData.lblViewAssociation) }}</span>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-xlg" fxLayoutGap="10px">
              <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                <mat-label>{{ (actionType == 'view') ? (translationData.lblAssociationBy ) : (translationData.lblCreateAssociationBy ) }}<span class='mandatoryColor'>*</span></mat-label>
                <div *ngIf="actionType != 'view'">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-select (selectionChange)="onAssociationChange($event)" placeholder="{{ translationData.lblSelectAssociationType }}" formControlName="associationType" required>
                      <mat-option *ngFor="let rer of associationTypeList" [value]="rer.id">
                        {{ rer.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-error *ngIf="accessRelationshipFormGroup.get('associationType').hasError('required')">
                    {{ translationData.lblPleaseSelectAssociationType }}
                  </mat-error>
                </div>
                <div *ngIf="actionType == 'view'">
                  <span style='font-weight: 500!important;'>{{ associationTypeLocal == 1 ? (translationData.lblVehicle ) : (translationData.lblAccount ) }}</span>
                </div>
              </div>
              <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                  <mat-label>{{ (associationTypeLocal == 1) ? (translationData.lblVehicleGroupVehicle) : (translationData.lblAccountGroupAccount ) }}<span class='mandatoryColor'>*</span></mat-label>
                  <div *ngIf="actionType != 'view'">
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-select placeholder="{{ (associationTypeLocal == 1) ? (translationData.lblSelectVehicleGroupVehicle ) : (translationData.lblSelectAccountGroupAccount ) }}" formControlName="vehAccountType" required>
                        <mat-option *ngFor="let rer of associationData" [value]="rer.id">
                          <!-- {{ rer.name }} -->
                          <span *ngIf="associationTypeLocal == 2">{{ rer.name }} <mat-icon *ngIf='rer.isGroup' class='grpDotIcon'>circle</mat-icon></span>
                          <span *ngIf="associationTypeLocal == 1 && rer.isGroup"> {{ rer.name }} <mat-icon class='grpDotIcon'>circle</mat-icon></span>
                          <span *ngIf="associationTypeLocal == 1 && !rer.isGroup && vehicleDisplayPreference == 'dvehicledisplay_VehicleName'">{{ rer.name }}</span>
                          <span *ngIf="associationTypeLocal == 1 && !rer.isGroup && vehicleDisplayPreference == 'dvehicledisplay_VehicleIdentificationNumber'">{{ rer.vin }}</span>
                          <span *ngIf="associationTypeLocal == 1 && !rer.isGroup && vehicleDisplayPreference == 'dvehicledisplay_VehicleRegistrationNumber'">{{ rer.registrationNo ? rer.registrationNo : rer.name }}</span>
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="accessRelationshipFormGroup.get('vehAccountType').hasError('required')">
                      {{ (associationTypeLocal == 1) ? (translationData.lblPleaseSelectVehicleGroupVehicle ) : (translationData.lblPleaseSelectAccountGroupAccount) }}
                    </mat-error>
                  </div>
                  <div *ngIf="actionType == 'view'">
                    <span style='font-weight: 500!important;'>{{ selectedElementData.name }}</span>
                  </div>
              </div>
              <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                <mat-label>{{ translationData.lblAccessType }}<span class='mandatoryColor'>*</span></mat-label>
                <div *ngIf="actionType != 'view'">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-select placeholder="{{ translationData.lblSelectAccessType }}" formControlName="accessType" required>
                      <mat-option *ngFor="let rer of accessTypeList" [value]="rer.type">
                        {{ rer.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-error *ngIf="accessRelationshipFormGroup.get('accessType').hasError('required')">
                    {{ translationData.lblPleaseSelectAccessType }}
                  </mat-error>
                </div>
                <div *ngIf="actionType == 'view'">
                  <span style='font-weight: 500!important;'>{{ selectedElementData.accessType == 'F' ? (translationData.lblFullAccess) : (translationData.lblViewOnly ) }}</span>
                </div>
              </div>
            </div>
            <div *ngIf="actionType != 'view'" fxLayout="row" fxLayoutAlign="space-between center">
              <div fxLayout="column" fxLayoutAlign="left">
                  <div fxLayout="row" fxLayoutAlign='center center'>
                      <mat-icon class='margin-right-10'>info</mat-icon>
                      <span>{{ (associationTypeLocal == 1) ? (translationData.lblVehicleAccessRelationCreateHintMessage ) : (translationData.lblAccountAccessRelationCreateHintMessage) }}</span>
                  </div>
              </div>
              <div fxLayout="column" fxLayoutAlign="end">
                <div fxLayout="row" class='areaWidth'>
                  <button class='resetCancelBtnColor margin-right-10' mat-raised-button color="primary" (click)='onCancel()'>{{ translationData.lblCancel }}</button>
                  <button *ngIf="actionType == 'edit'" class='resetCancelBtnColor margin-right-10 no-margin' mat-raised-button color="primary"
                    (click)='onReset()'>{{translationData.lblReset }}</button>
                  <button class='no-margin' [disabled]="!accessRelationshipFormGroup.valid || selectionForAssociation.selected.length == 0" mat-raised-button color="primary"
                    (click)='onConfirm()'>{{ actionType == 'create' ? (translationData.lblCreate ) :
                    (translationData.lblConfirm ) }}</button>
                </div>
              </div>
            </div>
            <div style='padding: 20px; position: relative;'>
              <mat-divider></mat-divider>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" class='margin-bottom-sm'>
              <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="start">
                  <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ (actionType == 'view') ? (associationTypeLocal == 1 ? (translationData.lblSelectedAccountGroupAccount ) : (translationData.lblSelectedVehicleGroupVehicle)) : (associationTypeLocal == 1 ? (translationData.lblSelectAccountGroupAccount ) : (translationData.lblSelectVehicleGroupVehicle )) }}</span>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="left" class='margin-bottom-sm'>
              <div style='margin-right: 50px;' class='areaWidth' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
                <mat-form-field appearance="outline">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ translationData.lblSearch }}" formControlName="gridSearch">
                    <span matPrefix><mat-icon>search</mat-icon></span>
                </mat-form-field>
              </div>
              <div class='areaWidth margin-right-10' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center">
                <span>{{ translationData.lblViewlistby }}:</span>
              </div>
              <div class='areaWidth' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center">
                <mat-radio-group (change)='onListChange($event)'>
                  <mat-radio-button style='margin-right: 20px;' value="group"
                    [checked]="selectedViewType ===  'group' ? true : false">{{ translationData.lblGroup }}
                  </mat-radio-button>
                  <mat-radio-button *ngIf='associationTypeLocal == 1' style='margin-right: 20px;' value="account"
                    [checked]="selectedViewType ===  'account' ? true : false">{{ translationData.lblAccount }}
                  </mat-radio-button>
                  <mat-radio-button *ngIf='associationTypeLocal == 2' style='margin-right: 20px;' value="vehicle"
                    [checked]="selectedViewType ===  'vehicle' ? true : false">{{ translationData.lblVehicle }}
                  </mat-radio-button>
                  <mat-radio-button value="both" [checked]="selectedViewType ===  'both' ? true : false">{{
                    translationData.lblBoth }}</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class='margin-bottom-xlg'>
              <mat-table [dataSource]="dataSource" class="table-items" matSort>
                <ng-container matColumnDef="select">
                  <div>
                    <mat-header-cell [ngClass]="{'max-width-15-per': actionType != 'view'}" *matHeaderCellDef>
                      <mat-checkbox (change)='$event ? masterToggleForAssociation() : null'
                        [checked]='selectionForAssociation.hasValue() && isAllSelectedForAssociation()'
                        [indeterminate]='selectionForAssociation.hasValue() && !isAllSelectedForAssociation()'
                        [aria-label]='checkboxLabelForAssociation()' [disabled]="actionType == 'view'">
                      </mat-checkbox>
                      <span style="margin: 5px 0px 0px 5px;" [ngClass]="{'opacity-0-5': actionType == 'view'}">{{ translationData.lblAll }}</span>
                    </mat-header-cell>
                    <mat-cell [ngClass]="{'max-width-15-per': actionType != 'view'}" *matCellDef="let row">
                      <mat-checkbox (click)='$event.stopPropagation()' (change)='$event ? selectionForAssociation.toggle(row) : null'
                        [checked]='selectionForAssociation.isSelected(row)' [aria-label]='checkboxLabelForAssociation(row)' [disabled]="actionType == 'view'">
                      </mat-checkbox>
                    </mat-cell>
                  </div>
                </ng-container>
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{ (associationTypeLocal == 1) ? (translationData.lblAccountGroupAccount ) : (translationData.lblVehicleGroupVehicle) }}</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    {{ row.name }}
                    <div [ngClass]="{'cursor-pointer': (row.isGroup == true && row.count > 0)}" (click)="(row.isGroup == true && row.count > 0) ? (associationTypeLocal == 1 ? showAccountPopup(row) : showVehiclePopup(row)) : ''" *ngIf="row.isGroup == true">
                      <img src='assets/images/icons/vehicleStatus/Group.svg' style="width: 40px; height: 40px;" />
                      <span class='iconTxt'>{{ (row.count < 10) ? '0' : '' }}{{ row.count }}</span>
                    </div>
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
              </mat-table>
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </mat-card-content>
    </mat-card> 
</form>