<form [formGroup]="corridorFormGroup">
<mat-card  class='mat-elevation-z'>
<div #map class='mapDiv' style="width: 100%; height: 450px; margin-bottom: 25px"></div>
<div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm">
    <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
        <mat-label>
            <span>{{ translationData.lblCorridorLabel || 'Corridor Label' }}</span>
            <span *ngIf="actionType != 'view'" class='mandatoryColor'>*</span>
        </mat-label>
        <div *ngIf="actionType != 'view'">
            <mat-form-field appearance="outline" class="full-width">
                <input maxlength="50" placeholder="{{ translationData.lblEnterLabel|| 'Enter Label' }}" matInput
                    formControlName="label" required>
            </mat-form-field>
            <mat-error
                *ngIf="corridorFormGroup.get('label').hasError('required') && corridorFormGroup.get('label').touched">
                {{translationData.lblPleaseEnterName || 'Please Enter Name' }}
            </mat-error>
            <mat-error
                *ngIf="!corridorFormGroup.get('label').hasError('required')  && corridorFormGroup.get('label').hasError('whitespace')">
                {{ translationData.lblNamecannotcontainonlywhitespace || 'Name cannot contain only whitespace'
                }}
            </mat-error>
            <mat-error *ngIf="corridorFormGroup.get('label').hasError('specialCharsNotAllowed')">
                {{ translationData.lblSpecialcharactersnotallowed || 'Special characters not allowed' }}
            </mat-error>
        </div>
        <div *ngIf="actionType == 'view'">
            <span style='font-weight: 500!important;'></span>
        </div>
    </div>
    <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
        <mat-label>
            <span>{{ translationData.lblStartAddress || 'Start Address' }}</span>
            <span *ngIf="actionType != 'view'" class='mandatoryColor'>*</span>

        </mat-label>
        <div *ngIf="actionType != 'view'">
            <mat-form-field appearance="outline" class='full-width'>
                <input maxlength="50" placeholder="{{ translationData.lblEnterAddress|| 'Search Place' }}"
                    matInput formControlName="startaddress" required>
            </mat-form-field>
            <mat-error
                *ngIf="corridorFormGroup.get('startaddress').hasError('required') && corridorFormGroup.get('startaddress').touched">
                {{translationData.lblPleaseEnterName || 'Please Enter Start Address' }}
            </mat-error>
            <mat-error *ngIf="corridorFormGroup.get('startaddress').hasError('specialCharsNotAllowed')">
                {{ translationData.lblSpecialcharactersnotallowed || 'Special characters not allowed' }}
            </mat-error>
        </div>
        <div *ngIf="actionType == 'view'">
            <span style='font-weight: 500!important;'></span>
        </div>
    </div>
    <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
        <mat-label>
            <span>{{ translationData.lblEndAddress || 'End Address' }}</span>
            <span *ngIf="actionType != 'view'" class='mandatoryColor'>*</span>

        </mat-label>
        <div *ngIf="actionType != 'view'">
            <mat-form-field appearance="outline" class='full-width'>
                <input maxlength="50" placeholder="{{ translationData.lblEnterAddress|| 'Search Place' }}"
                    matInput formControlName="endaddress">
            </mat-form-field>
            <mat-error
                *ngIf="corridorFormGroup.get('endaddress').hasError('required') && corridorFormGroup.get('endaddress').touched">
                {{translationData.lblPleaseEnterName || 'Please Enter End Address' }}
            </mat-error>
            <mat-error *ngIf="corridorFormGroup.get('endaddress').hasError('specialCharsNotAllowed')">
                {{ translationData.lblSpecialcharactersnotallowed || 'Special characters not allowed' }}
            </mat-error>
        </div>
        <div *ngIf="actionType == 'view'">
            <span style='font-weight: 500!important;'></span>
        </div>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm">
    <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
        <span>{{ translationData.lblWidth|| 'Width' }} ({{ translationData.lblKm|| 'km' }})</span>

        <span *ngIf="actionType != 'view'">
            <input formControlName="widthInput">
        </span>
        <div *ngIf="actionType != 'view'">
            <mat-slider min="0" max="1000000" step="1" (change)="sliderChanged($event)" color='#00529c'
                thumbLabel [displayWith]="formatLabel"></mat-slider>
        </div>
    </div>
    <div *ngIf="viaRouteCount" class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
        <div *ngIf="actionType != 'view'">
            <mat-form-field appearance="outline" class='full-width'>
                <input maxlength="50"
                    placeholder="{{ translationData.lblEnterViaRouteAddress|| 'Enter via route address' }}"
                    matInput formControlName="viaroute1">
                <mat-icon (click)="removeViaRoute()">close</mat-icon>
            </mat-form-field>

            <mat-error
                *ngIf="corridorFormGroup.get('viaroute1').hasError('required') && corridorFormGroup.get('viaroute1').touched">
                {{translationData.lblPleaseEnterViaRouteAddress || 'Please Enter via route address' }}
            </mat-error>
            <mat-error *ngIf="corridorFormGroup.get('viaroute1').hasError('specialCharsNotAllowed')">
                {{ translationData.lblSpecialcharactersnotallowed || 'Special characters not allowed' }}
            </mat-error>

        </div>
    </div>
    <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
        <button mat-flat-button color="primary" (click)="addViaRoute()" [disabled]='viaRouteCount'>
            <mat-icon>add_circle_outline</mat-icon> {{ translationData.lblViaRoute || 'Via Route'}}
        </button>
    </div>
</div>
<mat-accordion class="example-headers-align" style="background-color:#7e7878;">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Additional Data
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" fxLayoutGap="10px" class="full-width margin-bottom-sm">
            <mat-checkbox class="example-margin" (change)="transportDataCheckedFn($event.checked)">Transaport Data</mat-checkbox>
            <mat-checkbox class="example-margin" (change)="trafficFlowCheckedFn($event.checked)">Traffic Flow</mat-checkbox>
        </div>
            <mat-accordion class="example-headers-align pt-2" style="background-color:#7e7878;">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Attributes
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div fxLayout="row"  fxLayoutGap="100px" class="full-width margin-bottom-sm">
                        <mat-checkbox class="example-margin" (change)="attributeCheck($event.checked,'explosive')">Explosive</mat-checkbox>
                        <mat-checkbox class="example-margin" (change)="attributeCheck($event.checked,'gas')">Gas</mat-checkbox>
                        <mat-checkbox class="example-margin" (change)="attributeCheck($event.checked,'lammable')">Flammable</mat-checkbox>
                        <mat-checkbox class="example-margin" (change)="attributeCheck($event.checked,'combustible')">Combustible</mat-checkbox>
                     </div>
                     <div fxLayout="row" fxLayoutGap="100px" class="full-width margin-bottom-sm">
                        <mat-checkbox class="example-margin" (change)="attributeCheck($event.checked,'organic')">Organic</mat-checkbox>
                        <mat-checkbox class="example-margin" (change)="attributeCheck($event.checked,'poison')">Poison</mat-checkbox>
                        <mat-checkbox class="example-margin" (change)="attributeCheck($event.checked,'radioactive')">Radio Active</mat-checkbox>
                        <mat-checkbox class="example-margin" (change)="attributeCheck($event.checked,'corrosive')">Corrosive</mat-checkbox>
                     </div>
                     <div fxLayout="row" fxLayoutGap="100px" class="full-width margin-bottom-sm">
                        <mat-checkbox class="example-margin" (change)="attributeCheck($event.checked,'organic')">Poisonous Inhalation</mat-checkbox>
                        <mat-checkbox class="example-margin" (change)="attributeCheck($event.checked,'poison')">Water Harm</mat-checkbox>
                        <mat-checkbox class="example-margin" (change)="attributeCheck($event.checked,'radioactive')">Others</mat-checkbox>
                     </div>
                </mat-expansion-panel>
                </mat-accordion>
            <mat-accordion class="example-headers-align pt-2" style="background-color:#7e7878;">

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Exclusions
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div fxLayout="row" fxLayoutGap="20px" class="full-width margin-bottom-xlg">
                        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                            <div>
                                <mat-label><span>{{ translationData.lblTollRoad|| 'Toll Road' }}</span></mat-label>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-select formControlName="corridorType" required>
                                        <mat-option *ngFor="let type of corridorTypeList" [value]="type.id">
                                            {{ type.value }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                            <div>
                                <mat-label><span>{{ translationData.lblMotorWay|| 'Motor Way' }}</span></mat-label>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-select formControlName="corridorType" required>
                                        <mat-option *ngFor="let type of corridorTypeList" [value]="type.id">
                                            {{ type.value }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                            <div>
                                <mat-label><span>{{ translationData.lblBoatFerries || 'Boat Ferries' }}</span></mat-label>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-select formControlName="corridorType" required>
                                        <mat-option *ngFor="let type of corridorTypeList" [value]="type.id">
                                            {{ type.value }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutGap="20px" class="full-width margin-bottom-xlg">
                        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                            <div>
                                <mat-label><span>{{ translationData.lblRailFerries || 'Rail Ferries' }}</span></mat-label>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-select formControlName="corridorType" required>
                                        <mat-option *ngFor="let type of corridorTypeList" [value]="type.id">
                                            {{ type.value }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                            <div>
                                <mat-label><span>{{ translationData.lblTunnels|| 'Tunnels' }}</span></mat-label>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-select formControlName="corridorType" required>
                                        <mat-option *ngFor="let type of corridorTypeList" [value]="type.id">
                                            {{ type.value }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                            <div>
                                <mat-label><span>{{ translationData.lblDirtRoad || 'Dirt Road' }}</span></mat-label>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-select formControlName="corridorType" required>
                                        <mat-option *ngFor="let type of corridorTypeList" [value]="type.id">
                                            {{ type.value }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion class="example-headers-align pt-2" style="background-color:#7e7878;">

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Vehicle Size
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div fxLayout="row" fxLayoutGap="20px" class="full-width margin-bottom-xlg">
                        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                            <div>
                                <mat-label><span>{{ translationData.lblHeight|| 'Height' }}</span></mat-label>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-select formControlName="corridorType" required>
                                        <mat-option *ngFor="let type of corridorTypeList" [value]="type.id">
                                            {{ type.value }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                            <div>
                                <mat-label><span>{{ translationData.lblWidth|| 'Width' }}</span></mat-label>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-select formControlName="corridorType" required>
                                        <mat-option *ngFor="let type of corridorTypeList" [value]="type.id">
                                            {{ type.value }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                            <div>
                                <mat-label><span>{{ translationData.lblLength|| 'Length' }}</span></mat-label>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-select formControlName="corridorType" required>
                                        <mat-option *ngFor="let type of corridorTypeList" [value]="type.id">
                                            {{ type.value }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutGap="20px" class="full-width margin-bottom-xlg">
                        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                            <div>
                                <mat-label><span>{{ translationData.lblLimitedWeight|| 'Limited Weight' }}</span></mat-label>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-select formControlName="corridorType" required>
                                        <mat-option *ngFor="let type of corridorTypeList" [value]="type.id">
                                            {{ type.value }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                            <div>
                                <mat-label><span>{{ translationData.lblWeightPerAxle|| 'Weight Per Axle' }}</span></mat-label>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-select formControlName="corridorType" required>
                                        <mat-option *ngFor="let type of corridorTypeList" [value]="type.id">
                                            {{ type.value }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
                </mat-accordion>
       
                <div class="example-button-row pt-2" fxLayoutAlign="right">
                    <button mat-flat-button color="primary">
                        <span>Reset</span>
                    </button>
                </div>
    </mat-expansion-panel>
</mat-accordion>
<div class="example-button-row pt-2" fxLayoutGap="20px">
    <button mat-flat-button color="primary" class="float:right;">
        <span>Cancel</span>
    </button>
    <button mat-flat-button  color="primary" class="float:right;">
        <span>Create</span>
    </button>
</div>
</mat-card>
</form>
