<form [formGroup]="corridorFormGroup">
<mat-card  class='mat-elevation-z'>
<div #map class='mapDiv' style="width: 100%; height: 450px; margin-bottom: 25px"></div>
<div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm">
    <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
        <mat-label>
            <span>{{ translationData.lblCorridorLabel || 'Corridor Label' }}</span>
            <span *ngIf="actionType != 'view'" class='mandatoryColor'>*</span>
        </mat-label>
        <div *ngIf="actionType != 'view'">
            <mat-form-field appearance="outline" class="full-width">
                <input maxlength="50" placeholder="{{ translationData.lblEnterLabel|| 'Enter Label' }}" matInput
                    formControlName="label" required>
            </mat-form-field>
            <mat-error
                *ngIf="corridorFormGroup.get('label').hasError('required') && corridorFormGroup.get('label').touched">
                {{translationData.lblPleaseEnterName || 'Please Enter Name' }}
            </mat-error>
            <mat-error
                *ngIf="!corridorFormGroup.get('label').hasError('required')  && corridorFormGroup.get('label').hasError('whitespace')">
                {{ translationData.lblNamecannotcontainonlywhitespace || 'Name cannot contain only whitespace'
                }}
            </mat-error>
            <mat-error *ngIf="corridorFormGroup.get('label').hasError('specialCharsNotAllowed')">
                {{ translationData.lblSpecialcharactersnotallowed || 'Special characters not allowed' }}
            </mat-error>
        </div>
        <div *ngIf="actionType == 'view'">
            <span style='font-weight: 500!important;'></span>
        </div>
    </div>
    <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
        <mat-label>
            <span>{{ translationData.lblStartAddress || 'Start Address' }}</span>
            <span *ngIf="actionType != 'view'" class='mandatoryColor'>*</span>

        </mat-label>
        <div *ngIf="actionType != 'view'">
            <mat-form-field appearance="outline" class='full-width'>
                <input maxlength="50" placeholder="{{ translationData.lblEnterAddress|| 'Search Place' }}"
                    matInput formControlName="startaddress" (keyup)="getSuggestion($event)" (focusout)="startAddressFocusOut()" required>
            </mat-form-field>
            <mat-error
                *ngIf="corridorFormGroup.get('startaddress').hasError('required') && corridorFormGroup.get('startaddress').touched">
                {{translationData.lblPleaseEnterName || 'Please Enter Start Address' }}
            </mat-error>
            <mat-error *ngIf="corridorFormGroup.get('startaddress').hasError('specialCharsNotAllowed')">
                {{ translationData.lblSpecialcharactersnotallowed || 'Special characters not allowed' }}
            </mat-error>
        </div>
        <div *ngIf="actionType == 'view'">
            <span style='font-weight: 500!important;'></span>
        </div>
    </div>
    <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
        <mat-label>
            <span>{{ translationData.lblEndAddress || 'End Address' }}</span>
            <span *ngIf="actionType != 'view'" class='mandatoryColor'>*</span>

        </mat-label>
        <div *ngIf="actionType != 'view'">
            <mat-form-field appearance="outline" class='full-width'>
                <input maxlength="50" placeholder="{{ translationData.lblEnterAddress|| 'Search Place' }}"
                    matInput formControlName="endaddress" (focusout)="endAddressFocusOut()" required>
            </mat-form-field>
            <mat-error
                *ngIf="corridorFormGroup.get('endaddress').hasError('required') && corridorFormGroup.get('endaddress').touched">
                {{translationData.lblPleaseEnterName || 'Please Enter End Address' }}
            </mat-error>
            <mat-error *ngIf="corridorFormGroup.get('endaddress').hasError('specialCharsNotAllowed')">
                {{ translationData.lblSpecialcharactersnotallowed || 'Special characters not allowed' }}
            </mat-error>
        </div>
        <div *ngIf="actionType == 'view'">
            <span style='font-weight: 500!important;'></span>
        </div>
    </div>
</div>
<div fxLayout="row" class="margin-bottom-sm">
    <div class="col-sm-3 areaWidth min-width-30-per">
        <span>{{ translationData.lblWidth|| 'Width' }} ({{ translationData.lblKm|| 'km' }}):
            <input class="sliderInput" formControlName="widthInput"  (focusout)="changeSliderInput()" disabled>
        </span>
        <div *ngIf="actionType != 'view'">
            <!-- <ngx-slider [(value)]="value" [options]="options"></ngx-slider> -->
        <mat-label>{{min}}</mat-label>
            <mat-slider class='sliderStyle' [min]="0" [max]="1000000" [step]="1" (change)="sliderChanged($event)"
                thumbLabel [displayWith]="formatLabel"></mat-slider>
        <mat-label>{{max}}</mat-label>

        </div>
    </div>
    <div *ngIf="viaRouteCount" class="col-sm-3 areaWidth min-width-30-per">
        <div *ngIf="actionType != 'view'">
            <mat-form-field appearance="outline">
                <input maxlength="50"
                    placeholder="{{ translationData.lblEnterViaRouteAddress|| 'Enter via route address' }}"
                    matInput formControlName="viaroute1">
            </mat-form-field>
            <mat-icon (click)="removeViaRoute()">close</mat-icon>

            <mat-error
                *ngIf="corridorFormGroup.get('viaroute1').hasError('required') && corridorFormGroup.get('viaroute1').touched">
                {{translationData.lblPleaseEnterViaRouteAddress || 'Please Enter via route address' }}
            </mat-error>
            <mat-error *ngIf="corridorFormGroup.get('viaroute1').hasError('specialCharsNotAllowed')">
                {{ translationData.lblSpecialcharactersnotallowed || 'Special characters not allowed' }}
            </mat-error>

        </div>
    </div>
    
</div>

<!-- <span style="float:left">
    <button mat-flat-button color="primary" (click)="addViaRoute()" [disabled]='viaRouteCount'>
        <mat-icon>add_circle_outline</mat-icon> {{ translationData.lblViaRoute || 'Via Route'}}
    </button>
</span> -->
<div class="fixDiv"></div>
<mat-accordion class="example-headers-align" style="background-color:#7e7878;">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Additional Data
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" fxLayoutGap="20px" class="full-width margin-bottom-sm">
            <mat-checkbox class="example-margin" (change)="transportDataCheckedFn($event.checked)">Transaport Data</mat-checkbox>
            <mat-checkbox class="example-margin" (change)="trafficFlowCheckedFn($event.checked)">Traffic Flow</mat-checkbox>
        </div>
        <div class='fixDiv'></div>
            <mat-accordion class="example-headers-align pt-2" style="background-color:#7e7878;">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Attributes
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div fxLayout="row" fxLayoutAlign="space-around center" class="container full-width margin-bottom-sm">
                        <span class="col-sm">
                            <mat-label><span>{{ translationData.lblTrailer|| 'Trailer' }}</span></mat-label>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-select formControlName="trailer"  [(value)]="selectedTrailerId" (selectionChange)="trailerSelected($event)" required>
                                    <mat-option *ngFor="let type of trailerList" [value]="type">
                                        {{type}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </span>
                        <mat-checkbox class="example-margin col-sm" [checked]="explosiveChecked" (change)="attributeCheck($event.checked,'explosive')">Explosive</mat-checkbox>
                        <mat-checkbox class="example-margin col-sm" [checked]="gasChecked" (change)="attributeCheck($event.checked,'gas')">Gas</mat-checkbox>
                        <mat-checkbox class="example-margin col-sm" [checked]="flammableChecked" (change)="attributeCheck($event.checked,'flammable')">Flammable</mat-checkbox>
                     </div>
                     <div fxLayout="row"  fxLayoutAlign="space-around center" class=" container full-width margin-bottom-sm">
                        <mat-checkbox class="example-margin col-sm" [checked]="combustibleChecked" (change)="attributeCheck($event.checked,'combustible')">Combustible</mat-checkbox>
                        <mat-checkbox class="example-margin col-sm" [checked]="organicChecked" (change)="attributeCheck($event.checked,'organic')">Organic</mat-checkbox>
                        <mat-checkbox class="example-margin col-sm" [checked]="poisonChecked" (change)="attributeCheck($event.checked,'poison')">Poison</mat-checkbox>
                        <mat-checkbox class="example-margin col-sm" [checked]="radioactiveChecked" (change)="attributeCheck($event.checked,'radioactive')">Radio Active</mat-checkbox>
                     </div>
                     <div fxLayout="row"  fxLayoutAlign="space-around center" class="container full-width margin-bottom-sm">
                        <mat-checkbox class="example-margin col-sm" [checked]="corrosiveChecked"  (change)="attributeCheck($event.checked,'corrosive')">Corrosive</mat-checkbox>
                        <mat-checkbox class="example-margin col-sm" [checked]="poisonInhaleChecked"  (change)="attributeCheck($event.checked,'poisonInhale')">Poisonous Inhalation</mat-checkbox>
                        <mat-checkbox class="example-margin col-sm" [checked]="waterHarmChecked"  (change)="attributeCheck($event.checked,'waterHarm')">Water Harm</mat-checkbox>
                        <mat-checkbox class="example-margin col-sm" [checked]="othersChecked"  (change)="attributeCheck($event.checked,'others')">Others</mat-checkbox>
                     </div>
                </mat-expansion-panel>
                </mat-accordion>
                <div class='fixDiv'></div>
            <mat-accordion class="example-headers-align pt-2" style="background-color:#7e7878;">

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Exclusions
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div fxLayout="row" fxLayoutGap="20px" class="full-width margin-bottom-xlg">
                        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                            <div>
                                <mat-label><span>{{ translationData.lblTollRoad|| 'Toll Road' }}</span></mat-label>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-select formControlName="tollRoad" [(value)]="tollRoadId" (selectionChange)="exclusionSelected($event,'tollRoad')" required>
                                        <mat-option *ngFor="let type of exclusionList" [value]="type.enum">
                                            {{ type.value }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                            <div>
                                <mat-label><span>{{ translationData.lblMotorWay|| 'Motor Way' }}</span></mat-label>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-select formControlName="motorWay" [(value)]="motorWayId" (selectionChange)="exclusionSelected($event,'motorWay')" required>
                                        <mat-option *ngFor="let type of exclusionList" [value]="type.enum">
                                            {{ type.value }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                            <div>
                                <mat-label><span>{{ translationData.lblBoatFerries || 'Boat Ferries' }}</span></mat-label>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-select formControlName="boatFerries" [(value)]="boatFerriesId" (selectionChange)="exclusionSelected($event,'boatFerries')" required>
                                        <mat-option *ngFor="let type of exclusionList" [value]="type.enum">
                                            {{ type.value }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutGap="20px" class="full-width margin-bottom-xlg">
                        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                            <div>
                                <mat-label><span>{{ translationData.lblRailFerries || 'Rail Ferries' }}</span></mat-label>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-select formControlName="railFerries" [(value)]="railFerriesId" (selectionChange)="exclusionSelected($event,'railFerries')" required>
                                        <mat-option *ngFor="let type of exclusionList" [value]="type.enum">
                                            {{ type.value }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                            <div>
                                <mat-label><span>{{ translationData.lblTunnels|| 'Tunnels' }}</span></mat-label>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-select formControlName="tunnels" [(value)]="tunnelId" (selectionChange)="exclusionSelected($event,'tunnel')" required>
                                        <mat-option *ngFor="let type of exclusionList" [value]="type.enum">
                                            {{ type.value }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                            <div>
                                <mat-label><span>{{ translationData.lblDirtRoad || 'Dirt Road' }}</span></mat-label>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-select formControlName="dirtRoad"  [(value)]="dirtRoadId" (selectionChange)="exclusionSelected($event,'dirtRoad')" required>
                                        <mat-option *ngFor="let type of exclusionList" [value]="type.enum">
                                            {{ type.value }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <div class='fixDiv'></div>
            <mat-accordion class="example-headers-align pt-2" style="background-color:#7e7878;">

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Vehicle Size
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div fxLayout="row" fxLayoutGap="20px" class="full-width margin-bottom-xlg">
                        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                            <div>
                                <mat-label><span>{{ translationData.lblHeight|| 'Height' }}:</span></mat-label>
                                <mat-form-field appearance="outline" class='full-width'>
                                    <input type="number" maxlength="50" 
                                        matInput formControlName="vehicleHeight" required>
                                </mat-form-field>
                                <mat-error *ngIf="corridorFormGroup.get('vehicleHeight').hasError('specialCharsNotAllowed')">
                                    {{ translationData.lblSpecialcharactersnotallowed || 'Special characters not allowed' }}
                                </mat-error>
                            </div>
                        </div>
                        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                            <div>
                                <mat-label><span>{{ translationData.lblWidth|| 'Width' }}:</span></mat-label>
                                <mat-form-field appearance="outline" class='full-width'>
                                    <input type="number" maxlength="50" 
                                        matInput formControlName="vehicleWidth" required>
                                </mat-form-field>
                                <mat-error *ngIf="corridorFormGroup.get('vehicleWidth').hasError('specialCharsNotAllowed')">
                                    {{ translationData.lblSpecialcharactersnotallowed || 'Special characters not allowed' }}
                                </mat-error>
                            </div>
                        </div>
                        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                            <div>
                                <mat-label><span>{{ translationData.lblLength|| 'Length' }}:</span></mat-label>
                                <mat-form-field appearance="outline" class='full-width'>
                                    <input type="number" maxlength="50" 
                                        matInput formControlName="vehicleLength" required>
                                </mat-form-field>
                                <mat-error *ngIf="corridorFormGroup.get('vehicleLength').hasError('specialCharsNotAllowed')">
                                    {{ translationData.lblSpecialcharactersnotallowed || 'Special characters not allowed' }}
                                </mat-error>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutGap="20px" class="full-width margin-bottom-xlg">
                        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                            <div>
                                <mat-label><span>{{ translationData.lblLimitedWeight|| 'Limited Weight' }}:</span></mat-label>
                                <mat-form-field appearance="outline" class='full-width'>
                                    <input type="number" maxlength="50" 
                                        matInput formControlName="limitedWeight" required>
                                </mat-form-field>
                                <mat-error *ngIf="corridorFormGroup.get('limitedWeight').hasError('specialCharsNotAllowed')">
                                    {{ translationData.lblSpecialcharactersnotallowed || 'Special characters not allowed' }}
                                </mat-error>
                            </div>
                        </div>
                        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                            <div>
                                <mat-label><span>{{ translationData.lblWeightPerAxle|| 'Weight Per Axle' }}:</span></mat-label>
                                <mat-form-field appearance="outline" class='full-width'>
                                    <input type="number" maxlength="50" 
                                        matInput formControlName="weightPerAxle" required>
                                </mat-form-field>
                                <mat-error *ngIf="corridorFormGroup.get('weightPerAxle').hasError('specialCharsNotAllowed')">
                                    {{ translationData.lblSpecialcharactersnotallowed || 'Special characters not allowed' }}
                                </mat-error>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
                </mat-accordion>
       
                <div class="example-button-row pt-2" fxLayoutAlign="right">
                    <button mat-flat-button color="primary" (click)="resetValues()">
                        <span>Reset</span>
                    </button>
                </div>
    </mat-expansion-panel>
</mat-accordion>
<div class='fixDiv'></div>

<div class="example-button-row pt-2" fxLayoutGap="20px" style="float:right;">
    <button mat-flat-button color="primary" (click)="backToCorridorList()">
        <span>Cancel</span>
    </button>
    <button mat-flat-button  color="primary" (click)="createCorridorClicked()" ><!-- [disabled]="!corridorFormGroup.valid"-->
        <span>Create</span>
    </button>
</div>
</mat-card>
</form>
