
.fixDiv{
    margin: 20px;
    float: none;
    clear: both;
}

.alignWidth{
    display: inline-block;
    max-width:100px;
}
.sliderInput{
    width:50px;
    height: 20px;
    margin-left: 5px;
    font-size: 12px;
}
.sliderStyle{
    width: 200px;
    margin-top: 17px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}