<div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
  <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
    <span>{{ breadcumMsg }}</span>
  </div>
  <div *ngIf="actionType == 'view' || actionType == 'create'" fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="end" class='margin-right-xxlg'>
    <span class='custom-font' (click)="onCancel()">
      <span><&nbsp;</span>
      <span class='backBtnCss'>{{ translationData.lblBack}}</span></span>
  </div>
</div>
<form [formGroup]="userGroupForm">
  <mat-card class='mat-elevation-z'>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="space-between center" class='margin-bottom-sm'>
        <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="start">
            <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ actionType == 'create' ? (translationData.lblAddNewUserGroup ) : actionType == 'edit' ? (translationData.lblEditUserGroup ) : (translationData.lblViewUserGroup ) }}</span>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between" class="full-width" fxLayoutGap="10px">
        <div class="areaWidth min-width-25-per" fxLayout="column" fxLayoutAlign="left">
          <mat-label>{{ translationData.lblUserGroupName }} <span class='mandatoryColor'>*</span>
          </mat-label>
            <div *ngIf="actionType != 'view'">
              <mat-form-field appearance="outline" class="full-width">
                <input placeholder="{{ translationData.lblEnterNewUserGroupName  }}" matInput
                  formControlName="userGroupName" required maxlength="50">
              </mat-form-field>
              <!-- <mat-error *ngIf="userGroupForm.get('userGroupName').hasError('required')">
                {{translationData.lblErrorUserGroupName || 'Please enter any Account Group name' }}
              </mat-error> -->
              <mat-error *ngIf="userGroupForm.get('userGroupName').hasError('required')">
                {{translationData.lblErrorUserGroupName  }}
              </mat-error>
              <mat-error *ngIf="!userGroupForm.get('userGroupName').hasError('required')  && userGroupForm.get('userGroupName').hasError('whitespace')">
                {{ translationData.lblUserGroupNamecannotcontainonlywhitespace  }}
               </mat-error>
              <mat-error *ngIf="duplicateEmailMsg">{{translationData.lblDuplicateUserGroupName }}</mat-error>
                <mat-error *ngIf="userGroupForm.get('userGroupName').hasError('specialCharsNotAllowed')">
                  {{ translationData.lblSpecialcharactersnotallowed }}
              </mat-error>
            </div>
            <div *ngIf="actionType == 'view'">
              <span style='font-weight: 500!important;'>{{ selectedRowData.name ? selectedRowData.name : '--' }}</span>
            </div>
          </div>
        <div class="areaWidth min-width-10-per" fxLayout="column" fxLayoutAlign="left">
          <mat-label>{{ translationData.lblGroupType }}<span class='mandatoryColor'>*</span></mat-label>
          <div *ngIf="actionType != 'view'">  
            <mat-form-field appearance="outline" class="full-width">
                <mat-select (selectionChange)="groupTypeChange($event)" placeholder="{{ translationData.lblGroupType  }}" formControlName="groupType" required>
                <mat-option *ngFor="let rer of groupTypeList" [value]="rer.value">
                  {{ rer.name }}
                </mat-option>
              </mat-select>
              </mat-form-field>
              <mat-error *ngIf="userGroupForm.get('groupType').hasError('required')">
                {{ translationData.lblPleasechoosegrouptype }}
              </mat-error>
          </div>
          <div *ngIf="actionType == 'view'">
            <span style='font-weight: 500!important;'>{{ selectedRowData.groupType ? (selectedRowData.groupType == 'G' ? 'Group' : 'Dynamic') : '--' }}</span>
          </div>
        </div>
        <div class="areaWidth min-width-50-per" fxLayout="column" fxLayoutAlign="left">
          <mat-label style='display: flex; place-content: space-between;'>
            <span>{{translationData.lblUserGroupDescriptionOptional
              }}</span>
            <span *ngIf="actionType != 'view'">{{ translationData.lbl100CharMax }}</span>
          </mat-label>
          <div *ngIf="actionType != 'view'">
            <mat-form-field appearance="outline" class="full-width">
              <input maxlength="100"
                placeholder="{{translationData.lblEnterAboutGroupPlaceholder }}" matInput
                formControlName="userGroupDescription">
            </mat-form-field>
            <mat-error *ngIf="userGroupForm.get('userGroupDescription').hasError('whitespace')">
              {{ translationData.lblUserGroupDescriptioncannotcontainonlywhitespace }}
            </mat-error>
            <mat-error *ngIf="userGroupForm.get('userGroupDescription').hasError('specialCharsNotAllowed')">
              {{ translationData.lblSpecialcharactersnotallowed }}
          </mat-error>
          </div>
          <div *ngIf="actionType == 'view'">
            <span style='font-weight: 500!important;'>{{ selectedRowData.description ? selectedRowData.description : '--' }}</span>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class='no-margin no-padding' *ngIf="actionType != 'view'">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="column" fxLayoutAlign="left">
          <div *ngIf='showUserList' fxLayout="row" fxLayoutAlign='center center'>
            <mat-icon class='margin-right-10'>info</mat-icon>
            <span>{{translationData.lblUserGroupManagementInfo }}</span>
          </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="end">
          <div fxLayout="row" class='areaWidth'>
            <button class='resetCancelBtnColor margin-right-10' mat-raised-button color="primary" (click)='onCancel()'>{{ translationData.lblCancel }}</button>
            <button *ngIf="actionType == 'edit'" class='resetCancelBtnColor margin-right-10 no-margin' mat-raised-button color="primary"
              (click)='onReset()'>{{translationData.lblReset  }}</button>
            <button class='no-margin' [disabled]="!userGroupForm.valid" mat-raised-button color="primary"
              (click)='onCreateUpdate()'>{{ actionType == 'create' ? (translationData.lblCreate ) :
              (translationData.lblConfirm ) }}</button>
          </div>
        </div>
      </div>
    </mat-card-actions>
    <div *ngIf='showUserList'>
      <div style='padding: 20px; position: relative;'>
        <mat-divider></mat-divider>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" class='margin-bottom-sm'>
        <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="start">
            <span><span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ (actionType == 'view') ? (translationData.lblSelectedUser ) : (translationData.lblSelectUser ) }}</span>&nbsp;<span>{{ translationData.lblOptional  }}</span></span>
        </div>
      </div>
      
      <app-data-table *ngIf="!showLoadingIndicator" [tableData]="tableDataList" [translationData]="translationData" [columnCodes]="columnCodes" 
      [columnLabels]="columnLabels" [displayedColumns]="displayedColumns" [selectColumnDataElements]="selectColumnDataElements"
      [selectColumnHeaderElements]="selectColumnHeaderElements"
      >
      <ng-template #selectColumnHeaderElements let-gridData='rowData'>
        <mat-checkbox (change)='$event ? masterToggleForAccount() : null'
                  [checked]='selectedAccounts.hasValue() && isAllSelectedForAccount()'
                  [indeterminate]='selectedAccounts.hasValue() && !isAllSelectedForAccount()'
                  [aria-label]='checkboxLabelForAccount()'>
        </mat-checkbox>
        <span style="margin: 5px 0px 0px 5px;">{{ translationData.lblAll }}</span>
      </ng-template>
      <ng-template #selectColumnDataElements let-gridData='rowData'>
        <mat-checkbox (click)='$event.stopPropagation()' (change)='$event ? selectedAccounts.toggle(gridData) : null'
        [checked]='selectedAccounts.isSelected(gridData)' [aria-label]='checkboxLabelForAccount(gridData)'>
        </mat-checkbox>
      </ng-template>
      </app-data-table>
      <!-- <div fxLayout="row" fxLayoutAlign="left" class='margin-bottom-sm'>
        <div style='margin-right: 50px;' class='areaWidth' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
          <mat-form-field appearance="outline">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ translationData.lblSearch || 'Search' }}">
              <span matPrefix><mat-icon>search</mat-icon></span>
          </mat-form-field>
        </div>
      </div>
      <div>
        <mat-table [dataSource]="dataSource" class="table-items" matSort>
          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)='$event ? masterToggleForAccount() : null'
                [checked]='selectedAccounts.hasValue() && isAllSelectedForAccount()'
                [indeterminate]='selectedAccounts.hasValue() && !isAllSelectedForAccount()'
                [aria-label]='checkboxLabelForAccount()'>
              </mat-checkbox>
              <span style="margin: 5px 0px 0px 5px;">{{ translationData.lblAll || 'All'}}</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-checkbox (click)='$event.stopPropagation()' (change)='$event ? selectedAccounts.toggle(row) : null'
                [checked]='selectedAccounts.isSelected(row)' [aria-label]='checkboxLabelForAccount(row)'>
              </mat-checkbox>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblName || 'Name' }}</mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.firstName }} {{ row.lastName }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="emailId">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblEmailID || 'Email ID' }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.emailId }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="roles">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblRole || 'Role' }}</mat-header-cell>
            <mat-cell *matCellDef="let row" matTooltip="{{ row.roleList }}"><span class="text-truncate">{{
                row.roles.length > 0 ? row.roleList : '&nbsp; &nbsp; -' }}</span></mat-cell>
          </ng-container>
          <ng-container matColumnDef="accountGroups">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblUserGroup || 'Account Group' }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row" matTooltip="{{ row.accountGroupList }}"><span class="text-truncate">{{
                row.accountGroups.length > 0 ? row.accountGroupList : '&nbsp; &nbsp; -' }}</span></mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div> -->
    </div>
  </mat-card>
</form>
<app-spinner *ngIf="showLoadingIndicator"></app-spinner>