<div style="width: 1000px; height: 500px;">
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start space-around"
    style='padding: 10px 20px !important; background: #a2def8;'>
    <div class='full-width' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
      <span class='custom-font'>{{ data.translationData.lblTermsAndConditions || 'DAF Connect - Terms & Conditions' }}</span>
    </div>
    <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center flex-end">
    </div>
  </div>

  <div style="overflow-y: scroll; max-height: 350px; margin: 20px;">
    <!-- <app-terms-conditions-content></app-terms-conditions-content> -->
    <iframe class= "webPage" [src]='fileURL' name="abc.pdf" width="100%" height="350px" frameborder="0"></iframe>
  </div>
  <div fxLayout="row" fxLayoutAlign="end end" class="full-width" style="padding: 10px 20px;">
    <button type="button" class='margin-right-10' mat-raised-button color="warn" (click)='disagree()'
      matTooltip="You cannot proceed by clicking disagree">{{ data.translationData.lblDisagree  }}</button>
    <button type="button" class='no-margin' mat-raised-button color="primary" (click)='onClickIAgree()'>{{
      data.translationData.lblIAgree }}</button>
  </div>
</div>
