<div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="5px" class='margin-10'
    style='padding: 10px !important;'>
    <div fxLayout="column" fxLayoutAlign="left" class='areaWidth' fxLayoutGap="3px">
            <ul>    
                <li><b>General Definitions.</b>
 
                <ul>
                    <li><i>Application</i><br>
                        The use of the Services is subjected to these general terms and conditions (hereinafter: “General Terms”)
                    </li><br>
                    <li><i>DAF</i><br>
                        DAF Trucks N.V., based in Eindhoven, The Netherlands.
                    </li><br>    
                    <li><i>DAF Device</i><br>
                        The device built in in the vehicle necessary to make use of the Services
                    </li><br>
                    <li><i>DAF Connect Portal</i><br>
                        The web based contact point where Users can log in to use Services. Via the linked DAF Connected web shop additional Services can be obtained.
                    </li><br>    
                    <li><i>Services</i><br>
                        The Connected Truck Services as offered by DAF, including all features and functionalities, website, and user interfaces, as well as all content and software associated with these services.
                        The Services may also provide recommendations and other information regarding the use of the vehicles where the Services are used for.
                    </li><br>    
                    <li><i>PACCAR.</i><br>
                        PACCAR Inc., based in Bellevue, Washington, U.S.A.
                    </li><br>    
                    <li><i>PACCAR Affiliates.</i><br>
                        Any legal entity in which PACCAR holds, directly or indirectly, at least 50% of the shares or voting rights. As well as the authorised DAF Dealers.
                    </li><br>    
                    <li><i>User.</i><br>
                        Legal entity or natural person that makes use of the Services. Users can be divided in various categories, that depending on their role have access to various Services. The Account Owner (see "Account Owner" below) will be the responsible party to grant such access.
                    </li><br>
                    <li>
                        The rest of the definitions will be defined throughout the text of the General Terms
                    </li><br>
                </ul>
            </li>
                
            <li><b>Entitlement to Services.</b>
                <ul>
                    <li><i>Services</i><br>
                        Services consist out of:<br><br>

                        <i><u>BASIC SERVICES.</u></i>
                        Services that DAF provides as part of the truck sale, for a fixed period, to DAF customers that purchase a factory new commercial vehicle of the DAF make.
                        The Basic Services are under constant development. Examples are track and trace functionality and fuel reporting. For the content of the Basic Services please contact your dealer, or visit the DAF Connect website.
                    
                        <i><u>OPTIONAL SERVICES</u></i>
                        Various services that DAF offers against a service fee to Users that via the DAF Connected web shop have entered into a contract (“the Contract”). For the availability and content of the Optional Services please contact your dealer, or visit the DAF Connect website.
                    </li><br>
                    <li><i>Contract confirmation.</i><br>
                        The Contract will only be considered to be concluded at the time and to the extent to which DAF has assented to this Contract by means of a specified order confirmation or other similar (electronic) document containing all the material terms of the Contract.
                    </li><br>
                    <li><i>Acceptance of these General Terms.</i><br>
                        All User’s expressions of acceptance of the offer made by DAF to make use of the (Basic) Services as well as User’s offer to DAF to enter into a Contract will be deemed to include User’s assent to the exclusive application of these General Terms.
                    </li><br>    
                    <li><i>Battle of Forms.</i><br>
                        The general terms of User shall not apply to the Services. Any standard terms that will be added to or will deviate from these General Terms, will only apply when DAF unconditionally consented to the application of the relevant terms in writing. The mere fact DAF grants User access to the Services will, in isolation, not be deemed to be such an acceptance.
                    </li><br>
                </ul>
            </li>
        </ul>
    </div>
</div>