<div *ngIf="viewFlag" fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
    <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
      <span>{{ breadcumMsg }}</span>
    </div>
    <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="end" class='margin-right-xxlg'>
      <span class='custom-font' (click)="onCancel()">
        <span><&nbsp;</span>
        <span class='backBtnCss'>{{ translationData.lblBack }}</span></span>
    </div>
</div>
<form [formGroup]="userRoleFormGroup">
    <mat-card class='mat-elevation-z margin-bottom-xlg' *ngIf="viewFlag">
        <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-between center" class='margin-bottom-sm'>
                <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="start">
                    <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ title }}</span>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
                <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                  <!-- <mat-label>{{ translationData.lblSalutation }}</mat-label> -->
                  <mat-label>{{ translationData.lblUserRoleName }}</mat-label>
                  <mat-label class='custom-font'>{{ this.gridData[0].roleName  }}</mat-label>
                </div>
                <!-- <div *ngIf="loggedInUser == 'admin'" class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                    <mat-label>{{ translationData.lblUserRoleType || 'Role Type' }}</mat-label>
                    <mat-label class='custom-font'>{{ this.gridData[0].organizationId == 0 ? 'Global' : 'Regular'  }}</mat-label>
                </div>
                <div [ngClass]="loggedInUser == 'admin' ? 'areaWidth min-width-30-per' : 'areaWidth min-width-60-per'" fxLayout="column" fxLayoutAlign="left">
                    <mat-label>{{ translationData.lblUserRoleDescriptionOptional || 'User Role Description' }}</mat-label>
                    <mat-label class='custom-font'>{{ this.gridData[0].description ? this.gridData[0].description : '--' }}</mat-label>
                </div> -->

                <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                    <mat-label>{{ translationData.lblUserRoleType}}</mat-label>
                    <mat-label class='custom-font'>{{ (this.gridData[0].organizationId == 0) ? translationData.lblGlobal || 'Global' : translationData.lblOrganisation || 'Organisation' }}</mat-label>
                </div>
                <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                    <mat-label>{{ translationData.lblUserRoleDescriptionOptional }}</mat-label>
                    <mat-label class='custom-font'>{{ this.gridData[0].description ? this.gridData[0].description : '--' }}</mat-label>
                </div>
            </div>  
            <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
                <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                    <mat-label>{{ translationData.lblLevel || 'Level' }}</mat-label>
                    <mat-label class='custom-font'>{{ this.gridData[0].levelName }}</mat-label>
                </div>
                <!-- <div *ngIf="userLevel < 30 || (gridData && gridData.length > 0 && gridData[0].code)" class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left"> -->
                <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                    <mat-label>{{ translationData.lblCode || 'Code' }}</mat-label>
                    <mat-label class='custom-font'>{{ this.gridData[0].code }}</mat-label>
                </div>
                <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left"></div>
            </div>  
        </mat-card-content>
    </mat-card> 
    <mat-card class='mat-elevation-z margin-bottom-xlg' *ngIf="!viewFlag">
        <mat-card-content style='margin-bottom: 30px;'>
            <div fxLayout="row" fxLayoutAlign="space-between center" class='margin-bottom-sm'>
                <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="start">
                    <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ title }}</span>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between" class="full-width" fxLayoutGap="10px">
                <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                    <mat-label>{{ createStatus ? (translationData.lblNewUserRoleName ) : (translationData.lblUserRoleName) }}<span class='mandatoryColor'>*</span></mat-label>
                    <mat-form-field appearance="outline" class="full-width">
                        <input placeholder="{{ translationData.lblEnterUserRoleName  }}" (keyup)="isUserRoleExist=false; doneFlag=false"  matInput formControlName="userRoleName" required maxlength="60">
                    <mat-icon style='color:green;' matSuffix *ngIf="doneFlag">done</mat-icon>
                    </mat-form-field>
                    <mat-error *ngIf="userRoleFormGroup.get('userRoleName').hasError('required')">
                        {{ translationData.lblPleaseentertheUserRolename }}
                    </mat-error>
                    <mat-error *ngIf="userRoleFormGroup.get('userRoleName').hasError('maxlength')">
                        {{ translationData.lblUserRoleNameShouldbeMax60Characters}}
                    </mat-error>
                    <mat-error #UserValueCheck *ngIf="isUserRoleExist" >
                        {{ translationData.lblUserRolealreadyexistsPleasechooseadifferentname }}
                    </mat-error>
                    <mat-error *ngIf="!userRoleFormGroup.get('userRoleName').hasError('required')  && userRoleFormGroup.get('userRoleName').hasError('whitespace')">
                        {{ translationData.lblUserRoleNamecannotcontainonlywhitespace  }}
                     </mat-error>
                </div>
                <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                    <mat-label>
                        {{ translationData.lblUserRoleType}}<span class='mandatoryColor'>*</span>
                    </mat-label>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-select formControlName="roleType" [disabled]="(!adminAccessType.adminFullAccess) || (!createStatus && !duplicateFlag)">
                            <mat-option *ngFor="let roleType of roleTypes" [value]="roleType">
                                {{ roleType }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="userRoleFormGroup.get('roleType').hasError('required')">
                        {{ translationData.lblPleasechooseroletype || 'Please choose role type' }}
                    </mat-error>
                </div>
                <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                    <mat-label style='display: flex; place-content: space-between;'>
                        <span>{{ translationData.lblUserRoleDescriptionOptional }}</span>
                        <span *ngIf="showCount"> {{textLengthCounter }}  out of max 100 characters</span>
                        <span *ngIf="!showCount"> {{ translationData.lbl120CharMax }}</span>
                    </mat-label>
                    <mat-form-field appearance="outline" class="full-width">
                        <input maxlength="100" (keyup)="textCounter($event,100)" placeholder="{{ translationData.lblEnterAboutUserRole  }}" matInput formControlName="userRoleDescription">
                    </mat-form-field>
                    <mat-error *ngIf="userRoleFormGroup.get('userRoleDescription').hasError('whitespace')">
                      {{ translationData.lblAccountRoleDescriptioncannotcontainonlywhitespace || 'Account Role Description cannot contain only whitespace' }}
                    </mat-error>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-top-10" fxLayoutGap="10px">
                <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                    <mat-label>
                        {{ translationData.lblLevel || 'Level' }}<span class='mandatoryColor'>*</span>
                    </mat-label>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-select formControlName="levelType" (selectionChange)="changeRoleLevel($event.value)">
                            <mat-option *ngFor="let roleLevel of levelDD" [value]="roleLevel.level">
                                {{ roleLevel.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="userRoleFormGroup.get('levelType').hasError('required')">
                        {{ translationData.lblPleasechooserolelevel || 'Please choose role level' }}
                    </mat-error>
                </div>
                <div *ngIf="userLevel < 30" class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                    <mat-label>
                        {{ translationData.lblCode || 'Code' }}
                        <!-- <span class='mandatoryColor'>*</span> -->
                    </mat-label>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-select [disabled]="duplicateFlag || !customCodeBtnEnable" formControlName="codeType">
                            <mat-option *ngFor="let code of codeDD" [value]="code">
                                {{ code }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div [ngClass]="{'margin-top-xlg': !userRoleFormGroup.get('levelType').hasError('required')}"  class="areaWidth min-width-33-per" fxLayout="column" fxLayoutAlign="center">
                    <div *ngIf="!duplicateFlag && userLevel < 30" fxLayout="row" fxLayoutAlign="left center">
                        <button style="width: 200px;" *ngIf="customCodeBtnEnable" class='resetCancelBtnColor margin-right-10' mat-raised-button color="primary" (click)='showCodeField()'>{{ translationData.lblAddCustomCode || 'Add Custom Code' }}</button>
                        <mat-form-field style="width: 200px; margin-right: 10px;" *ngIf="!customCodeBtnEnable" appearance="outline" class="full-width">
                            <input (keyup)="validateCode($event.target.value)" #input [value]="input.value.toUpperCase()" placeholder="{{ translationData.lblEnterCustomCode || 'Enter Custom Code' }}" matInput formControlName="customCodeValue" maxlength="20">
                        </mat-form-field>
                        <button style="width: 100px; padding: 0; font-size: 14px;" *ngIf="!customCodeBtnEnable" class='resetCancelBtnColor' mat-raised-button color="primary" (click)='showCodeField()'>{{ translationData.lblRemoveCode || 'Remove Code' }}</button>
                        <mat-error style="position: absolute; margin-top: 60px;" *ngIf="userRoleFormGroup.get('customCodeValue').hasError('specialCharsNotAllowed') && !customCodeBtnEnable">
                            {{ translationData.lblSpecialcharactersnotallowed || 'Special characters not allowed' }}
                        </mat-error>
                        <mat-error style="position: absolute; margin-top: 60px;" *ngIf="userRoleFormGroup.get('customCodeValue').hasError('numberNotAllowed') && !customCodeBtnEnable">
                            {{ translationData.lblNumbersNotAllowed || 'Numbers Not Allowed' }}
                        </mat-error>
                        <mat-error style="position: absolute; margin-top: 60px;" *ngIf="invalidCode && !customCodeBtnEnable">
                            {{ translationData.lblCodecannotcontainORGNISATIONorACCOUNT || 'Code cannot contain ORGNISATION or ACCOUNT' }}
                         </mat-error>
                    </div>
                </div>
            </div>
        </mat-card-content>        
        <mat-card-actions class='no-margin no-padding'>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column" fxLayoutAlign="left">
                    <div fxLayout="row" fxLayoutAlign='center center'>
                        <mat-icon class='margin-right-10'>info</mat-icon>
                        <span>{{ translationData.lblHintMessage}}<span class='mandatoryColor'>*</span></span>
                    </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="end">
                    <div fxLayout="row" class='areaWidth'>
                        <button class='resetCancelBtnColor margin-right-10' mat-raised-button color="primary" (click)='onCancel()'>{{ translationData.lblCancel }}</button>
                        <button class='resetCancelBtnColor margin-right-10 no-margin'  mat-raised-button color="primary" *ngIf="!createStatus"
                            (click)='onReset()'>{{ translationData.lblReset  }}</button>
                        <button style='margin: 0px;' [disabled]="!userRoleFormGroup.valid || selectionForFeatures.selected.length == 0 || isUserRoleExist || invalidCode || (!customCodeBtnEnable && !userRoleFormGroup.controls.customCodeValue.value) || (!customCodeBtnEnable && userRoleFormGroup.controls.customCodeValue.value && userRoleFormGroup.controls.customCodeValue.value.trim() == '')" mat-raised-button color="primary"
                            (click)='onCreate()'>{{ createStatus || duplicateFlag ? (translationData.lblCreate ) : (translationData.lblConfirm ) }}</button>
                    </div>
                </div>
            </div>
        </mat-card-actions>
    </mat-card>
    <mat-card class='mat-elevation-z'>
        <div fxLayout="row" fxLayoutAlign="space-between center" class='margin-bottom-sm'>
            <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="start">
                <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ createStatus ? ( translationData.lblSelectRoleAccess ) : (translationData.lblSelectedRoleAccess ) }}</span>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
            <div class='areaWidth' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
              <mat-form-field appearance="outline">
                  <input (keydown.enter)="$event.preventDefault()" matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ translationData.lblSearch }}">
                  <span matPrefix><mat-icon>search</mat-icon></span>
              </mat-form-field>
            </div>
          </div>
        <div fxLayout="row" class='margin-top-xlg'>
            <div fxLayout="column" class='full-width'>
                <mat-table [dataSource]="dataSource" matSort>      
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblFeatureName }}</mat-header-cell>
                        <mat-cell *matCellDef="let row; let index"> {{row.name}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="select">
                        <mat-header-cell *matHeaderCellDef>{{ translationData.lblAccess }}
                            <mat-slide-toggle color="primary" (change)='$event ? masterToggleForFeatures() : null;' [disabled]="viewFlag"
                              [checked]='selectionForFeatures.hasValue() && isAllSelectedForFeatures()'
                              [indeterminate]='selectionForFeatures.hasValue() && !isAllSelectedForFeatures()'
                              [aria-label]='checkboxLabelForFeatures()'>
                            </mat-slide-toggle>
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <mat-slide-toggle color="primary" (click)='$event.stopPropagation()' [disabled]="viewFlag"
                              (change)='$event ? selectionForFeatures.toggle(row) : null; onChange($event, row)'
                              [checked]='selectionForFeatures.isSelected(row)'
                              [aria-label]='checkboxLabelForFeatures(row)'>
                            </mat-slide-toggle>
                          </mat-cell>
                    </ng-container> 
                    <mat-header-row *matHeaderRowDef="featureDisplayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: featureDisplayedColumns;">
                    </mat-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </div>
    </mat-card>
</form>