<div class='bgtrans' *ngIf="!importClicked">
  <div *ngIf='titleVisible' fxLayout="row" fxLayoutAlign="center center"
      style='padding:10px; color:#fff; background: #5dc24e;'>
      <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center" style='width:95%;'>
      {{ packageCreatedMsg }}
      </div>
      <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center">
      <mat-icon (click)='onClose()' style='cursor: pointer;'>close</mat-icon>
      </div>
</div>
<mat-card class='mat-elevation-z' *ngIf='!createEditViewPackageFlag'>
  <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
    <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
      <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblPackageDetails || 'Package Details' }}</span>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
    <div class='areaWidth' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
        <mat-form-field appearance="outline">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ translationData.lblSearch || 'Search' }}">
            <span matPrefix><mat-icon>search</mat-icon></span>
        </mat-form-field>
    </div>
    <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="end">
      <div fxLayout="row" class='areaWidth'>
      <div class='areaWidth' fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end">
        <button *ngIf='initData.length > 0' mat-button [matMenuTriggerFor]="menu"><mat-icon>file_upload</mat-icon>Export<mat-icon>more_vert</mat-icon></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="exportAsPdf()">PDF (as snapshot)</button>
          <button mat-menu-item (click)="exportAsCSV()">CSV (as full data)</button>
        </mat-menu>
      </div>
      <div>
        <button mat-flat-button (click)="importPackageCSV()">
          {{ translationData.lblImport || 'Import' }}<mat-icon>file_download</mat-icon>
        </button>
      </div>
      <div  *ngIf="!adminAccessType.adminReadOnlyAccess" >
      <button mat-flat-button color="primary" (click)="createNewPackage()">
        <mat-icon>add_circle_outline</mat-icon> {{ translationData.lblNewPackage || 'New Package' }}
        </button>
      </div>
      </div>
    </div>
</div>
<div *ngIf='initData.length == 0'>{{ translationData.lblNoRecordFound || 'No Record Found' }}</div>
<div *ngIf='initData.length > 0' id="packageData">
  <mat-table matTableExporter [dataSource]="dataSource" class="table-items" matSort #exporter="matTableExporter" [hiddenColumns]="[4]">
    <!-- <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)='$event ? masterToggleForPackage() : null'
          [checked]='selectedPackages.hasValue() && isAllSelectedForPackege()'
          [indeterminate]='selectedPackages.hasValue() && !isAllSelectedForPackege()'
          [aria-label]='checkboxLabelForPackage()'>
        </mat-checkbox>
        <span style="margin: 5px 0px 0px 5px;">{{ translationData.lblAll || 'All'}}</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span *ngIf="row.newTag" class='newTagIcon marginLeft-24'></span>
        <span *ngIf="row.newTag" class='newTxtCss'>{{ translationData.lblNew || 'New' }}</span>
        <span [ngClass]="{ 'marginLeft-14': row.newTag }"></span>
        <mat-checkbox (click)='$event.stopPropagation()' (change)='$event ? selectedPackages.toggle(row) : null'
          [checked]='selectedPackages.isSelected(row)' [aria-label]='checkboxLabelForPackage(row)'>
        </mat-checkbox>
      </mat-cell>
    </ng-container> -->
    <ng-container matColumnDef="code">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblPackageCode || 'Package Code' }}</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span *ngIf="row.newTag" class='newTagIcon marginLeft-24'></span>
        <span *ngIf="row.newTag" class='newTxtCss'>{{ translationData.lblNew || 'New' }}</span>
        <span [ngClass]="{ 'marginLeft-14': row.newTag }">{{ row.code }}</span>
    </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblName || 'Name' }}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblType || 'Type' }}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.type }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblStatus || 'Status' }}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.state == "Active" ? (translationData.lblActive || 'Active') : translationData.lblInActive || 'Inactive' }}</mat-cell>
    <!--<mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblStatus || 'Status' }}</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button class='actionBtn' mat-flat-button (click)="changePackageStatus(row)" matTooltip="{{ row.state == 'Active' ? (translationData.lblClicktodeactivate || 'Click to Deactivate') : translationData.lblClicktoactivate || 'Click to Activate' }}">
        <mat-slide-toggle color="primary" [checked]='row.state == "Active" ? true : false' >
      </mat-slide-toggle>&nbsp;
      <span>{{ row.state == "Active" ? (translationData.lblActive || 'Active') : translationData.lblInActive || 'Inactive' }}</span>
      </button>
    </mat-cell>-->
  </ng-container>
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef class="action"> {{ translationData.lblAction || 'Actions' }} </mat-header-cell>
    <mat-cell *matCellDef="let row" class="action">
      <button class='actionBtn' mat-flat-button (click)="editViewPackage(row, 'view')" matTooltip="{{ translationData.lblView || 'View' }}">
        <mat-icon>visibility</mat-icon>
      </button>
      <button *ngIf="!adminAccessType.adminReadOnlyAccess" [disabled]="row.state == 'Inactive'"  class='actionBtn' mat-flat-button (click)="editViewPackage(row, 'edit')" matTooltip="{{ translationData.lblEdit || 'Edit' }}">
        <mat-icon [disabled]="row.state == 'Inactive'">create</mat-icon>
      </button>
      <button *ngIf="adminAccessType.adminFullAccess" class='actionBtn' mat-flat-button (click)="deletePackage(row)" matTooltip="{{ translationData.lblDelete || 'Delete' }}">
        <mat-icon class="deleteIcon">delete_outline</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;">
  </mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageSizeUpdated($event)"></mat-paginator>
</div>
<app-spinner *ngIf="showLoadingIndicator"></app-spinner>
</mat-card>
<app-create-edit-package-details *ngIf='createEditViewPackageFlag' [translationData]='translationData' [actionType]='actionType' [selectedElementData]='selectedElementData' (createViewEditPackageEmit)='checkCreationForPackage($event)'></app-create-edit-package-details>
</div>

<div class='bgtrans' *ngIf = "importClicked">
<app-common-import [importFileComponent]="'package'" (showImportCSV)="updateImportView($event)"  [importTranslationData] = "importTranslationData" 
                    [templateTitle]="templateTitle" [templateValue] ="templateValue" [tableColumnList] = "tableColumnList" [tableColumnName]="tableColumnName"
                    [tableTitle]='tableTitle'
></app-common-import>
</div>