    <div fxLayout="row" class="full-width margin-bottom-sm">
    <div id="summary" style="border: 1px solid black" class="full-width">
        <app-fleet-overview-summary></app-fleet-overview-summary>
    </div>
    <div id="sidenav">
        <div class="example-sidenav-content"
        [ngClass]="userPreferencesFlag ? 'pref-expand' : 'pref-collapse' " >
            <button type="button" mat-button (click)='userPreferencesSetting($event)'>
                Click to Hide </button>
        </div>
        <div style="padding-top: 5%;">
        <app-fleet-overview-filters *ngIf="userPreferencesFlag"></app-fleet-overview-filters>
        </div>
    </div>
    </div>

        <!-- <mat-drawer-container class="example-container" autosize>
            <mat-drawer #filters class="example-sidenav" mode="side" position="end">
                <app-fleet-overview-filters></app-fleet-overview-filters>
            </mat-drawer>
        </mat-drawer-container> -->

