.row-hover {
    color: black;
    text-decoration: underline !important;
    cursor: pointer !important;
}

.max-width-20-per{
    max-width: 20%;
}

.max-width-35-per{
    max-width: 35%;
}

::ng-deep.H_ib_body {
    width: 200px;
    height: auto;
    // position: fixed;
  
    .H_ib_close {
      display: none;
    }
  
    .H_ib_content {
      margin: 5px;
    }
  
  }