<div class='bgtrans'>
  <div *ngIf='titleVisible' fxLayout="row" fxLayoutAlign="center center"
    style='padding:10px; color:#fff; background: #5dc24e;'>
    <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center" style='width:95%;'>
      {{ accessRelationCreatedMsg }}
    </div>
    <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center">
      <mat-icon (click)='onClose()' style='cursor: pointer;'>close</mat-icon>
    </div>
  </div>

  <mat-card class='mat-elevation-z' *ngIf='!createVehicleAccountAccessRelation'> 
    <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
      <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
        <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblAllAccessRelationshipDetails || 'All Access Relationship Details' }}</span>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="space-between" class='margin-bottom-sm'>
        <div class='areaWidth' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="end">
          <mat-form-field appearance="outline">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ translationData.lblSearch || 'Search' }}">
              <span matPrefix><mat-icon>search</mat-icon></span>
          </mat-form-field>
        </div>
        <div *ngIf="!isViewListDisabled" class='areaWidth' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center">
          <span class='radioLabel'>{{ translationData.lblViewlistby || 'View list by' }}:</span>
          <mat-radio-group (change)='onVehicleListChange($event)'>
            <mat-radio-button style='margin-right: 20px;' value="group"
              [checked]="selectedVehicleViewType ===  'group' ? true : false">{{ translationData.lblGroup || 'Group' }}
            </mat-radio-button>
            <mat-radio-button style='margin-right: 20px;' value="vehicle"
              [checked]="selectedVehicleViewType ===  'vehicle' ? true : false">{{ translationData.lblVehicle || 'Vehicle' }}
            </mat-radio-button>
            <mat-radio-button value="both" [checked]="selectedVehicleViewType ===  'both' ? true : false">{{
              translationData.lblBoth || 'Both' }}</mat-radio-button>
          </mat-radio-group>
        </div>
        <div *ngIf="isViewListDisabled" class='areaWidth' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center">
          <span class='radioLabel'>{{ translationData.lblViewlistby || 'View list by' }}:</span>
          <mat-radio-group (change)='onAccountListChange($event)'>
            <mat-radio-button style='margin-right: 20px;' value="group"
              [checked]="selectedAccountViewType ===  'group' ? true : false">{{ translationData.lblGroup || 'Group' }}
            </mat-radio-button>
            <mat-radio-button style='margin-right: 20px;' value="account"
              [checked]="selectedAccountViewType ===  'account' ? true : false">{{ translationData.lblAccount || 'Account' }}
            </mat-radio-button>
            <mat-radio-button value="both" [checked]="selectedAccountViewType ===  'both' ? true : false">{{
              translationData.lblBoth || 'Both' }}</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class='areaWidth' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center">
          <span>{{ translationData.lblViewassociationby || 'View association by' }}:</span>
          <mat-radio-group (change)='onColumnChange($event)'>
            <mat-radio-button style='margin-right: 20px;' value="vehicle"
              [checked]="selectedColumnType ===  'vehicle' ? true : false">{{ translationData.lblVehicle || 'Vehicle' }}
            </mat-radio-button>
            <mat-radio-button value="account"
              [checked]="selectedColumnType ===  'account' ? true : false">{{ translationData.lblAccount || 'Account' }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="end">
          <div fxLayout="row" class='areaWidth'>
          <div class='areaWidth' fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end">
            <button *ngIf='initData.length > 0' mat-button [matMenuTriggerFor]="menu"><mat-icon>file_upload</mat-icon>Export<mat-icon>more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="exportAsPdf()">PDF (as snapshot)</button>
              <button mat-menu-item (click)="exportAsCSV()">CSV (as full data)</button>
            </mat-menu>
          </div>
          <div  *ngIf="!adminAccessType.adminReadOnlyAccess" >
          <button mat-flat-button color="primary" (click)="createNewAssociation()">
            <mat-icon>add_circle_outline</mat-icon> {{ translationData.lblNewAssociation || 'New Association' }}
          </button>
        </div>
        </div>
        </div>
    </div>
    <div *ngIf='initData.length == 0'>{{ translationData.lblNoRecordFound || 'No Record Found' }}</div>
    <div *ngIf='initData.length > 0' id="vehicleAccessData">
      <mat-table matTableExporter [dataSource]="dataSource" class="table-items" matSort #exporter="matTableExporter" [hiddenColumns]="[3]">
        <ng-container *ngFor="let disCol of cols; let colIndex = index" matColumnDef="{{ disCol }}">
          <div *ngIf="disCol != 'action' && disCol != 'accessType' && disCol != 'associatedAccount' && disCol != 'associatedVehicle'">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ columnNames[colIndex] }}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element[disCol] }} 
              <div [ngClass]="{'cursor-pointer': (element.isGroup == true && element.count > 0)}" (click)="(element.isGroup == true && element.count > 0) ? showPopup(element) : ''" *ngIf="element.isGroup == true">
                <img src='assets/images/icons/vehicleStatus/Group.svg' style="width: 40px; height: 40px;" />
                <span class='iconTxt'>{{ (element.count < 10) ? '0' : '' }}{{ element.count }}</span>
              </div>
            </mat-cell>
          </div>
          <div *ngIf="disCol == 'accessType'">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ columnNames[colIndex] }}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ (element[disCol] == 'F') ? (translationData.lblFullAccess || 'Full Access') : (translationData.lblViewOnly || 'View Only') }} </mat-cell>
          </div>
          <div *ngIf="disCol == 'associatedAccount'">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ columnNames[colIndex] }}</mat-header-cell>
            <mat-cell *matCellDef="let element" matTooltip="{{ element.associatedAccountList }}"><span class="text-truncate">{{ element.associatedData.length > 0 ? element.associatedAccountList : '&nbsp; &nbsp; -' }}</span></mat-cell>
          </div>
          <div *ngIf="disCol == 'associatedVehicle'">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ columnNames[colIndex] }}</mat-header-cell>
            <mat-cell *matCellDef="let element" matTooltip="{{ element.associatedVehicleList }}"><span class="text-truncate">{{ element.associatedData.length > 0 ? element.associatedVehicleList : '&nbsp; &nbsp; -' }}</span></mat-cell>
          </div>
          <div *ngIf="disCol == 'action'">
            <mat-header-cell *matHeaderCellDef class="action">{{ columnNames[colIndex] }}</mat-header-cell>
            <mat-cell *matCellDef="let row" class="action">
              <button class='actionBtn' mat-flat-button (click)="editViewAccessRelationship(row, 'view')" matTooltip="{{ translationData.lblView || 'View' }}">
                <mat-icon>visibility</mat-icon>
              </button>
              <button *ngIf="!adminAccessType.adminReadOnlyAccess" class='actionBtn' mat-flat-button (click)="editViewAccessRelationship(row, 'edit')" matTooltip="{{ translationData.lblEdit || 'Edit' }}">
                <mat-icon>create</mat-icon>
              </button>
              <button *ngIf="adminAccessType.adminFullAccess" class='actionBtn' mat-flat-button (click)="deleteAccessRelationship(row)" matTooltip="{{ translationData.lblDelete || 'Delete' }}">
                <mat-icon class="deleteIcon">delete_outline</mat-icon>
              </button>
            </mat-cell>
          </div>
        </ng-container>
        <mat-header-row *matHeaderRowDef="cols"></mat-header-row>
        <mat-row *matRowDef="let row; columns: cols;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
    <app-spinner *ngIf="showLoadingIndicator" ></app-spinner>
  </mat-card>
  <app-create-edit-view-vehicle-account-access-relationship *ngIf='createVehicleAccountAccessRelation' [vehicleDisplayPreference]='vehicleDisplayPreference' [associationTypeId]='associationTypeId' [translationData]='translationData' [actionType]='actionType' [accountGrpList]='accountGrpAccountDetails' [vehicleGrpList]='vehicleGrpVehicleDetails' [selectedElementData]='selectedElementData' (accessRelationCreate)='checkCreationForAccountVehicle($event)'></app-create-edit-view-vehicle-account-access-relationship>
</div>