<div class='bgtrans'>
    <div *ngIf='titleVisible' fxLayout="row" fxLayoutAlign="center center"
    style='padding:10px; color:#fff; background: #5dc24e;'>
    <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center" style='width:95%;'>
      {{ userCreatedMsg }}
    </div>
    <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center">
      <mat-icon (click)='onClose()' style='cursor: pointer;'>close</mat-icon>
    </div>
  </div>

  <mat-card class='mat-elevation-z'>
    <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
      <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
        <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblAllAccessRelationshipDetails || 'All Access Relationship Details' }}</span>
      </div>
      <!-- <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="end">
        <button mat-flat-button color="primary" (click)="newAssociation()">
          <mat-icon>add_circle_outline</mat-icon> {{ translationData.lblNewAssociation || 'New Association' }}
        </button>
      </div> -->
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
        <div class='areaWidth' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
          <mat-form-field appearance="outline">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ translationData.lblSearch || 'Search' }}">
              <span matPrefix><mat-icon>search</mat-icon></span>
          </mat-form-field>
        </div>
        <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="end">
          <button mat-flat-button color="primary" (click)="newAssociation()">
            <mat-icon>add_circle_outline</mat-icon> {{ translationData.lblNewAssociation || 'New Association' }}
          </button>
        </div>
    </div>
  </mat-card>
</div>
<!-- <app-spinner *ngIf="showLoadingIndicator"></app-spinner> -->