<mat-expansion-panel class="full-width margin-bottom-20m" fxLayoutGap="10px" hideToggle = "false" [expanded]="true" [disabled]="clickButton" (click)="toggle(clickButton)">
  <mat-expansion-panel-header class="full-width">
    <mat-panel-title>
      <span *ngIf="clickButton"  class="mat-expansion-indicator"></span>
      <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblVehiclesUtilisation
        || 'Vehicles Utilisation' }}</span>
      <div style='padding-left: 52%;' fxLayoutAlign="end">
        <button class='margin-right-10 no-margin margin-bottom-sm' 
        (click)="selectionTimeRange('week')" [ngClass]="{'selectedBtn': selectionTab == 'week'}"  mat-raised-button
          color="primary">{{translationData.lblLast7days|| 'Last 7 days' }}</button>
        <button class='margin-right-10 no-margin margin-bottom-sm' 
        (click)="selectionTimeRange('month')" [ngClass]="{'selectedBtn': selectionTab == 'month'}" mat-raised-button
          color="primary">{{translationData.lblLast30days|| 'Last 30 days' }}</button>
        <button class='margin-right-10 no-margin margin-bottom-sm' 
        (click)="selectionTimeRange('3months')" [ngClass]="{'selectedBtn': selectionTab == '3months'}" mat-raised-button
          color="primary">{{translationData.lblLastWeek || 'Last 90 days' }}</button>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div fxLayout="row" class="full-width filter-direction margin-bottom-sm" fxLayoutGap="10px">
    <div class="areaWidth min-width-35-per" fxLayout="column" fxLayoutAlign="left">
      <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblDistancePerDay ||
        'Distance Per Day' }}</span>
      <div *ngIf="distanceChartType =='bar'" class="chart-wrapper">
        <canvas baseChart [datasets]="barChartData1" [labels]="barChartLabels1" [options]="barChartOptions"
          [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
      </div>
      <div *ngIf="distanceChartType =='line'" class="chart-wrapper">
        <canvas baseChart [datasets]="lineChartData1" [labels]="lineChartLabels1" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
      </div>
    </div>
    <div class="areaWidth min-width-35-per" fxLayout="column" fxLayoutAlign="left">
      <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblActiveVehiclesPerDay
        || 'Active Vehicles Per Day' }}</span>
      <div *ngIf="vehicleChartType =='line'" class="chart-wrapper">
        <canvas baseChart [datasets]="lineChartData2" [labels]="lineChartLabels2" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
      </div>
      <div *ngIf="vehicleChartType =='bar'" class="chart-wrapper">
        <canvas baseChart [datasets]="barChartData2" [labels]="barChartLabels2" [options]="barChartOptions"
          [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
      </div>
    </div>
    <div class="areaWidth min-width-20-per" fxLayout="column" fxLayoutAlign="end">
      <div fxLayout="column">
        <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;padding-left: 25%;'>{{
          translationData.lblTimeBasedUtilisation || 'Time based utilisation' }}</span>
        <div *ngIf="timeDChartType =='doughnut'" class="chart-wrapper">
          <canvas baseChart [data]="doughnutChartData1" [chartType]="doughnutChartType" [labels]="doughnutChartLabels1"
            [colors]="doughnutChartColors" [options]="doughnut_barOptions" [legend]="barChartLegend">
          </canvas>
        </div>
        <div *ngIf="timeDChartType =='pie'" class="chart-wrapper">
          <canvas baseChart [data]="timePieChartData" [labels]="timePieChartLabels" [chartType]="pieChartType"
            [colors]="doughnutChartColors" [options]="pieChartOptions" [plugins]="pieChartPlugins"
            [legend]="barChartLegend">
          </canvas>
        </div>
      </div>
      <div fxLayout="column">
        <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;padding-left: 25%;'>{{
          translationData.lblMileageBasedUtilisation || 'Mileage based utilisation' }}</span>
        <div *ngIf="mileageDChartType == 'doughnut'" class="chart-wrapper">
          <canvas baseChart [data]="doughnutChartData2" [chartType]="doughnutChartType" [labels]="doughnutChartLabels2"
            [colors]="doughnutChartColors" [options]="doughnut_barOptions" [legend]="barChartLegend">
          </canvas>
        </div>
        <div *ngIf="mileageDChartType == 'pie'" class="chart-wrapper">
          <canvas baseChart [data]="mileagePieChartData" [labels]="mileagePieChartLabels" [chartType]="pieChartType"
            [colors]="doughnutChartColors" [options]="pieChartOptions" [plugins]="pieChartPlugins"
            [legend]="barChartLegend">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</mat-expansion-panel>

<mat-expansion-panel class="full-width" fxLayoutGap="10px" [expanded]="true" [disabled]="clickButton" (click)="toggle(clickButton)">
  <mat-expansion-panel-header class="full-width">
    <mat-panel-title>
      <!-- <span *ngIf="clickButton"  class="mat-expansion-indicator"></span> -->
      <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblAlertsLast24Hours || 'Alerts Last 24 Hours' }}</span>
      <div style='padding-left: 76%;' fxLayoutAlign="end">
        <button class='margin-right-10 no-margin margin-bottom-sm' (click)="gotoLogBook()" mat-raised-button
          color="primary">{{translationData.lblMoreInfo|| 'More Info' }}</button>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div fxLayout="row" class="full-width filter-direction margin-bottom-sm" fxLayoutGap="10px">
    <div class="areaWidth min-width-20-per" fxLayout="column" fxLayoutAlign="left">
      <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblLevelsOfAlertsTriggered ||
        'Levels Of Alerts Triggered' }}</span>
        <div class="chart-wrapper">
          <canvas baseChart 
            [data]="alertPieChartData" 
            [labels]="alertPieChartLabels" 
            [chartType]="pieChartType"
            [colors]="doughnutChartColors" 
            [options]="pieChartOptions1" 
            [plugins]="pieChartPlugins"
            [legend]="barChartLegend">
          </canvas>
        </div>
    </div>
    <div class="areaWidth full-width" fxLayout="column" fxLayoutAlign="left" style="padding-top: 5%;">
      <div fxLayout="row" class="full-width filter-direction margin-bottom-sm" fxLayoutGap="10px">
        <div class="areaWidth min-width-33-per block1" matTooltip="{{translationData.lblClicktoviewmoredetails || 'Click to view more details'}}"
        (click)="gotoLogBookFromLogistic()" >
          <div style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;' class="full width">{{ translationData.lblLogistic ||
            'Logistic'}}</div>
            <div style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;' class="full width" >0</div>
        </div>
        <div class="areaWidth min-width-33-per block2" matTooltip="{{translationData.lblClicktoviewmoredetails || 'Click to view more details'}}"
        (click)="gotoLogBookFromFuel()" >
          <div style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;' class="full width">{{ translationData.lblFuelAndDriver ||
            'Fuel & Driver'}}</div>
            <div style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;' class="full width" >1</div>
        </div>
        <div class="areaWidth min-width-33-per block3" matTooltip="{{translationData.lblClicktoviewmoredetails || 'Click to view more details'}}"
        (click)="gotoLogBookFromRepair()" >
          <div style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;' class="full width">{{ translationData.lblRepairAndMaintenance ||
            'Repair & Maintenance'}}</div>
            <div style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;' class="full width" >2</div>
        </div>
      </div>
    </div>
    </div>
</mat-expansion-panel>
