// .chart {
//     display: block;
//     height: 250px;
//     width: 387px;
// }

// .mat-expansion-panel:hover  .mat-expansion-indicator::after{
//     color: yellow;
// }

.margin-bottom-20m{
    margin-bottom: 20px !important;
}

.block1{
    padding-top: 3%;
    background-color: #29b6f6;
}

.block2{
    padding-top: 3%;
    background-color: #f8bbd0;
}

.block3{
    padding-top: 3%;
    background-color: #ffa500
}

.min-width-33-per{
    min-width: 33%;
}

.min-width-35-per{
    min-width: 35%;
}