
 
  <mat-expansion-panel style="width:100%;" class="full-width"> 
    <mat-expansion-panel-header class="full-width">
      <mat-panel-title>
        <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblFilter || 'Filter' }}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div fxLayout="row" fxLayoutAlign="space-between" class="full-width filter-direction" fxLayoutGap="10px">
        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
            <mat-label>{{ translationData.lblName || 'Category' }}</mat-label>
            <mat-form-field appearance="outline" class="full-width">
                <mat-select (selectionChange)="handleCategoryChange('category', $event.value.enum ,$event)" placeholder="{{translationData.lblSelectUserGroup || 'Select Category'}}">
                    <mat-option value=''>{{ translationData.lblAll || 'All' }}</mat-option>
                      <mat-option *ngFor="let catList of alertCategoryList | removeDuplicates" [value]="catList">
                      {{ catList.value }}                                           
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
            <mat-label style='display: flex; place-content: space-between;'>
                {{ translationData.lblGroup || 'Type' }}
            </mat-label>
            <mat-form-field appearance="outline" class="full-width">
                <mat-select [disabled]="isDisabledAlerts" placeholder="Select Type" (selectionChange)="filterAlertTypeChange('type',$event)" [(ngModel)]="alertType">
                    <mat-option value=''>{{ translationData.lblAll || 'All' }}</mat-option>
                    <mat-option *ngFor="let typeList of dataResultTypes | removeDuplicates" [value]="typeList">{{typeList.value}}</mat-option>
                </mat-select>
            </mat-form-field> 
        </div>
        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
            <mat-label style='display: flex; place-content: space-between;'>
                {{ translationData.lblRole || 'Vehicle Group' }}
            </mat-label>
            <mat-form-field appearance="outline" class="full-width">
                <mat-select placeholder="{{ translationData.lblSelectUserRole || 'Select Vehicle Group' }}" (selectionChange)="filterChange('vehicleGroupName',$event)" >
                    <mat-option value=''>{{ translationData.lblAll || 'All' }}</mat-option>
                    <mat-option *ngFor="let vehGroupList of vehicleGroupList | removeDuplicates" [value]="vehGroupList"> {{vehGroupList.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>             
    </div>
    <br>
    <div fxLayout="row" fxLayoutAlign="space-between" class="full-width filter-direction" fxLayoutGap="10px">
               <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
            <mat-label>{{ translationData.lblName || 'Vehicle' }}</mat-label>
            <mat-form-field appearance="outline" class="full-width">
                <mat-select placeholder="{{translationData.lblSelectUserGroup || 'Select Vehicle'}}" (selectionChange)="filterChange('vehicleGroupName',$event)">
                <mat-option value=''>{{ translationData.lblAll || 'All' }}</mat-option>
                <mat-option *ngFor="let vehList of vehicleList | removeDuplicates"  [value]="vehList">
                    {{vehList.vehicleName}}
                </mat-option>
            </mat-select>
            </mat-form-field>
        </div>
        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
            <mat-label>{{ translationData.lblName || 'Criticality' }}</mat-label>
            <mat-form-field appearance="outline" class="full-width">
                <mat-select placeholder="{{translationData.lblSelectUserGroup || 'Select Criticality'}}" (selectionChange)="filterChange('highUrgencyLevel',$event)" >
                    <mat-option value=''>{{ translationData.lblAll || 'All' }}</mat-option>
                    <mat-option *ngFor="let critList of alertCriticalityList | removeDuplicates" [value]="critList"> {{critList.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
            <mat-label>{{ translationData.lblName || 'Status' }}</mat-label>
            <mat-form-field appearance="outline" class="full-width">
                <mat-select placeholder="{{translationData.lblSelectUserGroup || 'Select Status'}}" (selectionChange)="filterChange('state',$event)">
                    <mat-option value=''>{{ translationData.lblAll || 'All' }}</mat-option>
                    <mat-option *ngFor="let statusList of alertStatusList | removeDuplicates" [value]="statusList"> {{statusList.key}}
                    </mat-option>
            </mat-select>
            </mat-form-field>       
        </div>   
    </div>
  </mat-expansion-panel><br><br>   