<mat-card class='mat-elevation-z no-padding margin-bottom-xlg margin-top-20 background-transparent'>
    <app-spinner *ngIf="showLoadingIndicator"></app-spinner>
    <form [formGroup]="dashboardPreferenceForm">
        <div *ngIf="!showLoadingIndicator" class='dashboardPref'>
            <mat-expansion-panel class="full-width margin-bottom-15"
                [(expanded)]="showDashboardReport" (opened)="showDashboardReport == true"
                (closed)="showDashboardReport == false">
                <mat-expansion-panel-header class="full-width">
                    <mat-panel-title>
                        <span>
                            <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>
                                {{ 'Dashboard' }}</span>
                            <span style='margin-left: 10px; vertical-align: middle;'>
                                <mat-icon *ngIf='!editDashboardFlag' (click)="editDashboardPreferences()"
                                    style="cursor: pointer; font-size: 20px;">
                                    edit</mat-icon>
                            </span>
                        </span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngIf='updateMsgVisible' fxLayout="row" fxLayoutAlign="center center"
                    style='padding:10px; color:#fff; background: #5dc24e;' class='margin-bottom-sm'>
                    <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center" style='width:95%;'>
                        {{ displayMessage }}
                    </div>
                    <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center">
                        <mat-icon (click)='onClose()' style='cursor: pointer;'>close</mat-icon>
                    </div>
                </div>
                <!-- *********Fleet KPI ********** -->
                <div *ngIf='fleetKPIColumnData && fleetKPIColumnData.length > 0' fxLayout="row" class='areaWidth full-width padding-10' fxLayoutAlign="left center"
                    style='background: #BEE3F8 !important; border-radius: 5px 5px 0px 0px;' fxLayoutGap="10px">
                    <div fxLayout="column" fxLayoutGap="3px" class='min-width-45-per'>
                        <mat-checkbox class='custom-checkbox' (change)='$event ? masterToggle("FleetKPI") : null'
                            [checked]='selectionForFleetKPIColumns.hasValue() && isAllSelected("FleetKPI")'
                            [indeterminate]='selectionForFleetKPIColumns.hasValue() && !isAllSelected("FleetKPI")'
                            [disabled]='!editDashboardFlag'>
                            <span class='headerFont'>{{
                                translationData.lblFleetKPI || 'Fleet KPI' }} <span class='font-weight-normal'>({{ translationData.lblComponentviewsettings || 'Component view settings' }})</span></span>
                        </mat-checkbox>
                    </div>

                    <div fxLayout="column" fxLayoutGap="3px" class='min-width-25-per headerFont'>
                        {{'Target Per Day Per Vehicle'}}
                    </div>

                    <div fxLayout="column" fxLayoutGap="3px" class='min-width-25-per headerFont'>
                        {{'Thereshold Type'}}
                    </div>
                </div>
                <div *ngIf='fleetKPIColumnData && fleetKPIColumnData.length > 0'>
                    <ng-container *ngFor="let field of fleetKPIColumnData; let index = index">
                        <div [ngClass]="{'oddColumnColor': (index % 2) != 0}" fxLayout="row" class='areaWidth full-width padding-10' fxLayoutAlign="left center"
                            style='border-radius: 5px 5px 0px 0px;' fxLayoutGap="10px">
                            <div fxLayout="column" class="areaWidth min-width-45-per" fxLayoutGap="0px"
                                fxLayoutAlign="left">
                                <mat-checkbox class='custom-checkbox' 
                                    (change)='$event ? selectionForFleetKPIColumns.toggle(field) : null;'
                                    [checked]="selectionForFleetKPIColumns.isSelected(field)"
                                    [disabled]='!editDashboardFlag'>
                                    <span>{{ field.translatedName }}</span>
                                </mat-checkbox>
                            </div>

                            <div *ngIf="field.translatedName !=='DrivingTime' && field.translatedName !=='IdlingTime'"
                                fxLayout="column" class="areaWidth min-width-25-per targetSpanIcon" fxLayoutGap="0px"
                                fxLayoutAlign="left">
                                <mat-form-field appearance="outline" style='width: 80%'>
                                    <input [readonly]='!editDashboardFlag' matInput type="number" [formControlName]="field.key+'thresholdValue'"
                                        placeholder="{{ 'Set Target' }}">
                                    <span *ngIf="field.translatedName =='CO2Emission'" matSuffix>Ton</span>
                                    <span *ngIf="field.translatedName =='FuelConsumption'" matSuffix>
                                        {{prefUnit == 'Metric' ? (translationData.lblltr100km || 'Ltr/100km') :
                                        (translationData.lblmpg || 'MPG')}}
                                    </span>
                                    <span *ngIf="field.translatedName =='TotalDistance'" matSuffix>
                                        {{prefUnit == 'Metric' ? (translationData.lblkms || 'Km') : (translationData.lblmile
                                        ||
                                        'Miles')}} </span>
                                    <span *ngIf="field.translatedName =='FuelUsedIdling' || 
                        field.translatedName =='FuelConsumed'" matSuffix>
                                        {{prefUnit == 'Metric' ? (translationData.lbl || 'L') : (translationData.lbl ||
                                        'G')}}
                                    </span>
                                    <mat-error style="margin-top: 10px;" *ngIf="dashboardPreferenceForm.get(field.key + 'thresholdValue').hasError('min')">
                                        No negative values allowed
                                       </mat-error>
                                       <mat-error style="margin-top: 10px;" *ngIf="dashboardPreferenceForm.get(field.key + 'thresholdValue').hasError('max')">
                                        Max value exceeded
                                       </mat-error>
                                       <mat-error style="margin-top: 10px;" *ngIf="dashboardPreferenceForm.get(field.key + 'thresholdValue').hasError('pattern')">
                                        Value allowed upto 2 decimal places
                                       </mat-error>
                                </mat-form-field>
                            </div>

                            <div *ngIf="field.translatedName =='DrivingTime' || field.translatedName =='IdlingTime'"
                                style="display: inline-block" fxLayout="column"
                                class="areaWidth min-width-25-per targetSpanIcon" fxLayoutGap="0px" fxLayoutAlign="left">
                                <div style="display: inline-block">
                                    <mat-form-field appearance="outline" style='width: 38%;'>
                                        <input [readonly]='!editDashboardFlag' matInput type="number" placeholder="{{ '' }}"
                                            [formControlName]="field.key+'thresholdValue'">
                                        <span matSuffix>Hr</span>
                                        <mat-error style="margin-top: 10px;" *ngIf="dashboardPreferenceForm.get(field.key + 'thresholdValue').hasError('min')">
                                            00:00 min allowed
                                           </mat-error>
                                           <mat-error style="margin-top: 10px;" *ngIf="dashboardPreferenceForm.get(field.key + 'thresholdValue').hasError('max')">
                                           23:60 max allowed
                                           </mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" style='width: 38%; margin-left: 4%;'>
                                        <input [readonly]='!editDashboardFlag' matInput type="number" placeholder="{{ '' }}"
                                            [formControlName]="field.key+'thresholdValuemin'">
                                        <span matSuffix>Min</span>
                                        <mat-error style="margin-top: 10px;" *ngIf="dashboardPreferenceForm.get(field.key + 'thresholdValuemin').hasError('min')">
                                            00:00 min allowed
                                           </mat-error>
                                           <mat-error style="margin-top: 10px;" *ngIf="dashboardPreferenceForm.get(field.key + 'thresholdValuemin').hasError('max')">
                                            23:60 max allowed
                                           </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left"
                                class="areaWidth min-width-25-per">
                                <mat-form-field appearance="outline" style='width: 80%'>
                                    <mat-select [formControlName]="field.key+'thresholdType'"
                                        [disabled]='!editDashboardFlag || upperLowerDD.length == 0' placeholder="{{'Threshold Type' }}">
                                        <mat-option *ngFor="let rer of upperLowerDD" [value]="rer.type">
                                            {{ rer.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </ng-container>
                </div>


                <!-- ********* today live vehicles ********** -->

                <div *ngIf='todayLiveVehicleColumnData && todayLiveVehicleColumnData.length > 0' fxLayout="row" class='areaWidth full-width padding-10 margin-top-20' fxLayoutAlign="left center"
                    style='background: #BEE3F8 !important; border-radius: 5px 5px 0px 0px;' fxLayoutGap="10px">
                    <div fxLayout="column" fxLayoutGap="3px" class='min-width-45-per'>
                        <mat-checkbox class='custom-checkbox'
                            (change)='$event ? masterToggle("TodayLiveVehicle") : null'
                            [checked]='selectionForTodayLiveVehicleColumns.hasValue() && isAllSelected("TodayLiveVehicle")'
                            [indeterminate]='selectionForTodayLiveVehicleColumns.hasValue() && !isAllSelected("TodayLiveVehicle")'
                            [disabled]='!editDashboardFlag'>
                            <span class='headerFont'>{{
                                translationData.lblTodayLiveVehicle || 'Today Live Vehicle' }} <span class='font-weight-normal'>({{ translationData.lblComponentviewsettings || 'Component view settings' }})</span></span>
                        </mat-checkbox>
                    </div>

                    <div fxLayout="column" fxLayoutGap="3px" class='min-width-25-per headerFont'>
                        {{'Target Per Day Per Vehicle'}}
                    </div>

                    <div fxLayout="column" fxLayoutGap="3px" class='min-width-25-per headerFont'>
                        {{'Thereshold Type'}}
                    </div>
                </div>
                <div *ngIf='todayLiveVehicleColumnData && todayLiveVehicleColumnData.length > 0'>
                    <ng-container *ngFor="let field of todayLiveVehicleColumnData; let index = index">
                        <div [ngClass]="{'oddColumnColor': (index % 2) != 0}" fxLayout="row" class='areaWidth full-width padding-10' fxLayoutAlign="left center" fxLayoutGap="10px">
                            <div fxLayout="column" class="areaWidth min-width-45-per" fxLayoutGap="0px"
                                fxLayoutAlign="left">
                                <mat-checkbox class='custom-checkbox'
                                    (change)='$event ?selectionForTodayLiveVehicleColumns.toggle(field) : null;'
                                    [checked]="selectionForTodayLiveVehicleColumns.isSelected(field)" [disabled]='!editDashboardFlag'>
                                    <span>{{ field.translatedName }}</span>
                                </mat-checkbox>
                            </div>

                            <div *ngIf="field.translatedName == 'TimeBasedUtilizationRate'" style="display:inline-block"
                                fxLayout="column" class="areaWidth min-width-25-per targetSpanIcon" fxLayoutGap="0px"
                                fxLayoutAlign="left">
                                <div style="display:inline-block">
                                    <mat-form-field appearance="outline" style='width: 38%;'>
                                        <input [readonly]='!editDashboardFlag' matInput type="number" [formControlName]="field.key+'thresholdValue'"
                                            placeholder="{{ '' }}">
                                        <span matSuffix>Hr</span>
                                        <mat-error style="margin-top: 10px;" *ngIf="dashboardPreferenceForm.get(field.key + 'thresholdValue').hasError('min')">
                                            00:00 min allowed
                                           </mat-error>
                                           <mat-error style="margin-top: 10px;" *ngIf="dashboardPreferenceForm.get(field.key + 'thresholdValue').hasError('max')">
                                            23:60 max allowed
                                           </mat-error>
                                          
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" style='width: 38%; margin-left: 4%;'>
                                        <input [readonly]='!editDashboardFlag' matInput type="number" [formControlName]="field.key+'thresholdValuemin'"
                                            placeholder="{{ '' }}">
                                        <span matSuffix>Min</span>
                                        <mat-error style="margin-top: 10px;" *ngIf="dashboardPreferenceForm.get(field.key + 'thresholdValuemin').hasError('min')">
                                            00:00 min allowed
                                           </mat-error>
                                           <mat-error style="margin-top: 10px;" *ngIf="dashboardPreferenceForm.get(field.key + 'thresholdValuemin').hasError('max')">
                                            23:60 max allowed
                                           </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div *ngIf="field.translatedName == 'DistanceBasedUtilizationRate' || field.translatedName =='ActiveVehicles'"
                                fxLayout="column" class="areaWidth min-width-25-per targetSpanIcon" fxLayoutGap="0px"
                                fxLayoutAlign="left">
                                <mat-form-field appearance="outline" style='width: 80%'>
                                    <input [readonly]='!editDashboardFlag' matInput type="number" [formControlName]="field.key+'thresholdValue'"
                                        placeholder="{{ 'Set Target' }}">
                                    <span *ngIf="field.translatedName == 'DistanceBasedUtilizationRate'" matSuffix>
                                        {{prefUnit == 'Metric' ? (translationData.lblkms || 'Km') : (translationData.lblmile
                                        ||
                                        'Miles')}}
                                    </span>
                                    <mat-error style="margin-top: 10px;" *ngIf="dashboardPreferenceForm.get(field.key + 'thresholdValue').hasError('min')">
                                        No negative values allowed
                                       </mat-error>
                                       <mat-error style="margin-top: 10px;" *ngIf="dashboardPreferenceForm.get(field.key + 'thresholdValue').hasError('max')">
                                        Max value allowed- 10000
                                       </mat-error>
                                       <mat-error style="margin-top: 10px;" *ngIf="dashboardPreferenceForm.get(field.key + 'thresholdValue').hasError('pattern')">
                                        Value allowed upto 2 decimal places
                                       </mat-error>
                                </mat-form-field>
                            </div>

                            <div *ngIf="field.translatedName == 'TimeBasedUtilizationRate' || field.translatedName == 'DistanceBasedUtilizationRate' || field.translatedName == 'ActiveVehicles'"
                                fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left"
                                class="areaWidth min-width-25-per">
                                <mat-form-field appearance="outline" style='width: 80%'>
                                    <mat-select [formControlName]="field.key+'thresholdType'"
                                        [disabled]='!editDashboardFlag || upperLowerDD.length == 0' placeholder="{{'Threshold Type' }}">
                                        <mat-option *ngFor="let rer of upperLowerDD" [value]="rer.type">
                                            {{ rer.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                        </div>
                    </ng-container>
                </div>


                <!-- ********* Vehicle Utilization ********** -->

                <div *ngIf='vehicleUtilizationColumnData && vehicleUtilizationColumnData.length > 0' fxLayout="row" class='areaWidth full-width padding-10 margin-top-20' fxLayoutAlign="left center"
                    style='background: #BEE3F8 !important; border-radius: 5px 5px 0px 0px;' fxLayoutGap="10px">
                    <div fxLayout="column" fxLayoutGap="3px" class='min-width-45-per'>
                        <mat-checkbox class='custom-checkbox'
                            (change)='$event ? masterToggle("VehicleUtilization") : null'
                            [checked]='selectionForVehicleUtilizationColumns.hasValue() && isAllSelected("VehicleUtilization")'
                            [indeterminate]='selectionForVehicleUtilizationColumns.hasValue() && !isAllSelected("VehicleUtilization")'
                            [disabled]='!editDashboardFlag'>
                            <span class='headerFont'>{{
                                translationData.lblVehicleUtilization || 'Vehicle Utilization' }} <span class='font-weight-normal'>({{ translationData.lblComponentviewsettings || 'Component view settings' }})</span></span>
                        </mat-checkbox>
                    </div>
                    <div fxLayout="column" fxLayoutGap="3px"  class='min-width-25-per headerFont'>
                        {{'Target Per Day Per Vehicle'}}
                    </div>

                    <div fxLayout="column" fxLayoutGap="3px"  class='min-width-25-per headerFont'>
                        {{'Chart Type'}}
                    </div>
                </div>
                <div *ngIf='vehicleUtilizationColumnData && vehicleUtilizationColumnData.length > 0'>
                    <ng-container *ngFor="let field of vehicleUtilizationColumnData; let index = index">
                        <div [ngClass]="{'oddColumnColor': (index % 2) != 0}" fxLayout="row" class='areaWidth full-width padding-10' fxLayoutAlign="left center" fxLayoutGap="10px">
                            <div fxLayout="column" class="areaWidth min-width-45-per" fxLayoutGap="0px"
                                fxLayoutAlign="left">
                                <mat-checkbox class='custom-checkbox'
                                    (change)='$event ? selectionForVehicleUtilizationColumns.toggle(field) : null;'
                                    [checked]="selectionForVehicleUtilizationColumns.isSelected(field)" [disabled]='!editDashboardFlag'>
                                    <span>{{ field.translatedName }}</span>
                                </mat-checkbox>
                            </div>

                            <div *ngIf="field.translatedName!== 'TimeBasedUtilizationRate' && field.translatedName!== 'DistanceBasedUtilizationRate'"
                                fxLayout="column" class="areaWidth min-width-25-per" fxLayoutGap="0px"
                                fxLayoutAlign="left">
                            </div>

                            <div *ngIf="field.translatedName== 'TimeBasedUtilizationRate'" fxLayout="column"
                                class="areaWidth min-width-25-per targetSpanIcon" fxLayoutGap="0px" fxLayoutAlign="left">
                                <div style="display:inline-block">
                                    <mat-form-field appearance="outline" style='width: 38%;'>
                                        <input [readonly]='!editDashboardFlag' matInput type="number" [formControlName]="field.key+'thresholdValue'"
                                            placeholder="{{ '' }}">
                                        <span matSuffix>Hr</span>
                                        <mat-error style="margin-top: 10px;" *ngIf="dashboardPreferenceForm.get(field.key + 'thresholdValue').hasError('min')">
                                            00:00 min allowed
                                           </mat-error>
                                           <mat-error style="margin-top: 10px;" *ngIf="dashboardPreferenceForm.get(field.key + 'thresholdValue').hasError('max')">
                                            23:60 max allowed
                                           </mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" style='width: 38%; margin-left: 4%;'>
                                        <input [readonly]='!editDashboardFlag' matInput type="number" [formControlName]="field.key+'thresholdValuemin'"
                                            placeholder="{{ '' }}">
                                        <span matSuffix>Min</span>
                                        <mat-error style="margin-top: 10px;" *ngIf="dashboardPreferenceForm.get(field.key + 'thresholdValuemin').hasError('min')">
                                            00:00 min allowed
                                           </mat-error>
                                           <mat-error style="margin-top: 10px;" *ngIf="dashboardPreferenceForm.get(field.key + 'thresholdValuemin').hasError('max')">
                                            23:60 max allowed
                                           </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div *ngIf="field.translatedName== 'DistanceBasedUtilizationRate'" fxLayout="column"
                                class="areaWidth min-width-25-per targetSpanIcon" fxLayoutGap="0px" fxLayoutAlign="left">
                                <mat-form-field appearance="outline" style='width: 80%'>
                                    <input [readonly]='!editDashboardFlag' matInput type="number" [formControlName]="field.key+'thresholdValue'" placeholder="{{ 'Set Target' }}">
                                      <span matSuffix> {{prefUnit == 'Metric' ? (translationData.lblkms || 'Km') : (translationData.lblmile || 'Miles')}}
                                    </span>
                                    <mat-error style="margin-top: 10px;" *ngIf="dashboardPreferenceForm.get(field.key + 'thresholdValue').hasError('min')">
                                        No negative values allowed
                                       </mat-error>
                                       <mat-error style="margin-top: 10px;" *ngIf="dashboardPreferenceForm.get(field.key + 'thresholdValue').hasError('max')">
                                        Max value allowed- 10000
                                       </mat-error>
                                       <mat-error style="margin-top: 10px;" *ngIf="dashboardPreferenceForm.get(field.key + 'thresholdValue').hasError('pattern')">
                                        Value allowed upto 2 decimal places
                                       </mat-error>
                                </mat-form-field>
                            </div>

                            <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left"
                                class="areaWidth min-width-25-per">
                                <mat-form-field appearance="outline" style='width: 80%'>
                                    <mat-select
                                        *ngIf="field.translatedName== 'DistanceBasedUtilizationRate' || field.translatedName== 'TimeBasedUtilizationRate'"
                                        [disabled]='!editDashboardFlag || donutPieDD.length == 0' placeholder="{{'Chart Type' }}"
                                        [formControlName]="field.key+'chartType'">
                                        <mat-option *ngFor="let rer of donutPieDD" [value]="rer.type">
                                            {{ rer.name }}
                                        </mat-option>
                                    </mat-select>

                                    <mat-select
                                        *ngIf="field.translatedName== 'DistancePerDay' || field.translatedName== 'ActiveVehiclesPerDay'"
                                        [disabled]='!editDashboardFlag || lineBarDD.length == 0' placeholder="{{'Chart Type' }}"
                                        [formControlName]="field.key+'chartType'">
                                        <mat-option *ngFor="let rer of lineBarDD" [value]="rer.type">
                                            {{ rer.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </ng-container>
                </div>


                <!-- ********* Alert Last 24 Hours ********** -->


                <div *ngIf='vehicleUtilizationColumnData && vehicleUtilizationColumnData.length > 0' fxLayout="row" class='areaWidth full-width padding-10 margin-top-20' fxLayoutAlign="left center"
                    style='background: #BEE3F8 !important; border-radius: 5px 5px 0px 0px;'>
                    <div class='min-width-45-per'>
                        <mat-checkbox class='custom-checkbox'
                            (change)='$event ? masterToggle("AlertLast24Hours") : null'
                            [checked]='selectionForAlertLast24HoursColumns.hasValue() && isAllSelected("AlertLast24Hours")'
                            [indeterminate]='selectionForAlertLast24HoursColumns.hasValue() && !isAllSelected("AlertLast24Hours")'
                            [disabled]='!editDashboardFlag'>
                            <span class='headerFont'>{{
                                translationData.lblAlertLast24Hours || 'Alert Last 24 Hours' }} <span class='font-weight-normal'>({{ translationData.lblComponentviewsettings || 'Component view settings' }})</span></span>
                        </mat-checkbox>
                    </div>
                </div>

                <div *ngIf='vehicleUtilizationColumnData && vehicleUtilizationColumnData.length > 0'>
                    <ng-container *ngIf='alertLast24HoursColumnData.length > 0'>
                        <div fxLayout="row" class='areaWidth full-width padding-10' fxLayoutAlign="left center"
                            style='border-radius: 5px 5px 0px 0px;' fxLayoutGap="30px">
                            <ng-container *ngFor="let field of alertLast24HoursColumnData; let index = index">
                                <div fxLayout="column" class="areaWidth min-width-15-per" fxLayoutGap="0px"
                                    fxLayoutAlign="left">
                                    <mat-checkbox class='custom-checkbox'
                                        (change)='$event ? selectionForAlertLast24HoursColumns.toggle(field) : null;'
                                        [checked]="selectionForAlertLast24HoursColumns.isSelected(field)"
                                        [disabled]='!editDashboardFlag'>
                                        <span>{{ field.translatedName }}</span>
                                    </mat-checkbox>
                                </div>
                            </ng-container>

                        </div>
                    </ng-container>
                </div>

                <div *ngIf='editDashboardFlag && (fleetKPIColumnData.length > 0 || todayLiveVehicleColumnData.length > 0 || vehicleUtilizationColumnData.length > 0 || alertLast24HoursColumnData.length > 0)' fxLayout="row" class='areaWidth margin-top-20' fxLayoutAlign="end">
                    <button class='resetCancelBtnColor margin-right-10' (click)='onCancel()' mat-raised-button
                        color="primary">{{
                        translationData.lblCancel || 'Cancel' }}</button>
                    <button class='resetCancelBtnColor margin-right-10' (click)='onReset()' mat-raised-button
                        color="primary">{{
                        translationData.lblReset || 'Reset' }}</button>
                    <button [disabled]='!dashboardPreferenceForm.valid ||(selectionForFleetKPIColumns.selected.length == 0 && fleetKPIColumnData.length > 0) || (selectionForVehicleUtilizationColumns.selected.length == 0 && vehicleUtilizationColumnData.length > 0) || (selectionForTodayLiveVehicleColumns.selected.length == 0 && todayLiveVehicleColumnData.length > 0) || (selectionForAlertLast24HoursColumns.selected.length == 0 && alertLast24HoursColumnData.length > 0)' class='no-margin' (click)='onConfirm()' mat-raised-button color="primary">{{
                        (translationData.lblConfirm ||
                        'Confirm') }}</button>
                </div>

            </mat-expansion-panel>
        </div>
    </form>
</mat-card>