.adjust-padding{
    padding: 10px !important;
}

.oddColumnColor{
    background: #e4f4fd;
}
.headerFont{
    font: 500 14px/16px Roboto, "Helvetica Neue", sans-serif;
}
.mainTabAlignment
{
    display: inline-block;
    
}
.min-width-33-3-per{
    width: 33.3%;
}