<div class="change-password-popup">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword(changePasswordForm.value)">
    <mat-card class='mat-elevation-z margin-bottom-xlg no-padding'>
      <mat-card-content>
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start space-around"
          style='padding: 10px 20px !important; background: #d4d4d4;'>
          <div class='full-width' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
            <!-- <span class='custom-font'>{{ data.translationData.lblChangePassword }}</span> -->
            <span class='custom-font'>{{ data.translationData.lblChangePassword || 'Change Password' }}</span>
          </div>
          <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center flex-end">
            <mat-icon (click)='cancel()' style='cursor: pointer;'>close</mat-icon>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="5px" class='margin-10'
          style='padding: 10px !important;'>
            <div fxLayout="column" fxLayoutAlign="left" class='areaWidth' fxLayoutGap="3px">
                <!-- <mat-label>{{ data.translationData.lblCurrentPassword }}</mat-label> -->
                <mat-label>{{ data.translationData.lblCurrentPassword || 'Current Password' }}</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput type="password" placeholder="{{ data.translationData.lblCurrentPassword || 'Current Password' }}" formControlName="currentPassword" required>
                </mat-form-field>
                <!-- <mat-error *ngIf="changePasswordForm.get('currentPassword').hasError('required')">
                    {{ data.translationData.lblCurrentpasswordisrequired }}
                </mat-error> -->
                <mat-error *ngIf="changePasswordForm.get('currentPassword').hasError('required') && changePasswordForm.get('currentPassword').touched">
                    {{ data.translationData.lblCurrentpasswordisrequired || 'Current password is required' }}
                </mat-error>
                <mat-error *ngIf="changePasswordForm.get('currentPassword').hasError('wrongPassword')">
                    {{ data.translationData.lblWrongPassword || 'Wrong password' }}
                </mat-error>
            </div>
        </div>
        <div fxLayout="row">
        <div fxLayout="column"> 
            <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="5px" class='margin-10'
            style='padding: 10px !important;'>  
                <div fxLayout="column" fxLayoutAlign="left" class='areaWidth' fxLayoutGap="3px">
                    <!-- <mat-label>{{ data.translationData.lblNewPassword }} (8 {{ data.translationData.lblcharactersmin }}.)</mat-label> -->
                    <mat-label>{{ data.translationData.lblNewPassword || 'New Password' }} (8 {{ data.translationData.lblcharactersmin || 'characters min' }}.)</mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput type="password" placeholder="{{ data.translationData.lblNewPassword || 'New Password' }}" formControlName="newPassword" required>
                    </mat-form-field>
                    <!-- <mat-error *ngIf="changePasswordForm.get('newPassword').hasError('required')">
                        {{ data.translationData.lblNewpasswordisrequired }}
                    </mat-error> -->
                    <mat-error *ngIf="changePasswordForm.get('newPassword').hasError('required') && changePasswordForm.get('newPassword').touched">
                        {{ data.translationData.lblNewpasswordisrequired || 'New password is required' }}
                    </mat-error>
                </div>
                <!-- <mat-error style='padding-top: 40px !important;' *ngIf="changePasswordForm.get('newPassword').hasError('minlength') || changePasswordForm.get('newPassword').hasError('passwordInvalid') && changePasswordForm.get('newPassword').touched">
                    <mat-icon>error</mat-icon>
                </mat-error> -->
            </div>

            <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="5px" class='margin-10'
                style='padding: 10px !important;'>
                <div fxLayout="column" fxLayoutAlign="left" class='areaWidth' fxLayoutGap="3px">
                    <!-- <mat-label>{{ data.translationData.lblConfirmNewPassword }}</mat-label> -->
                    <mat-label>{{ data.translationData.lblConfirmNewPassword || 'Confirm New Password' }}</mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput type="password" placeholder="{{ data.translationData.lblConfirmNewPassword || 'Confirm New Password' }}" formControlName="confirmPassword" required>
                    </mat-form-field>
                    <!-- <mat-error *ngIf="changePasswordForm.get('confirmPassword').hasError('required')">
                        {{ data.translationData.lblConfirmpasswordisrequired }}
                    </mat-error> -->
                    <mat-error *ngIf="changePasswordForm.get('confirmPassword').hasError('required') && changePasswordForm.get('confirmPassword').touched">
                        {{ data.translationData.lblConfirmpasswordisrequired || 'Confirm password is required' }}
                    </mat-error>
                    <!-- <mat-error *ngIf="changePasswordForm.get('confirmPassword').hasError('mustMatch')">
                        {{ data.translationData.lblNewPasswordandconfirmpasswordmustmatch }}
                    </mat-error> -->
                    <mat-error *ngIf="changePasswordForm.get('confirmPassword').hasError('mustMatch')">
                        {{ data.translationData.lblNewPasswordandconfirmpasswordmustmatch || 'New Password and confirm password must match' }}
                    </mat-error>
                </div>
            </div>
        </div>
        <div fxLayout="column">
            <div fxLayoutAlign="start" fxLayoutGap="5px" class='password-box arrow-left margin-20' style='padding: 10px 10px !important;'>
                
                <ul>
                    <!-- <h6>{{ data.translationData.lblPasswordmust }}:</h6> -->
                    <h6>{{ data.translationData.lblPasswordmust || 'Password must' }}:</h6>
                    <li [ngClass]="changePasswordForm.get('newPassword').touched && changePasswordForm.get('newPassword').hasError('minlength')? 'text-danger' : 'text-success'"> 
                    <!-- <li> -->
                        {{ data.translationData.lblBeatleasteightcharacterslong || 'Be at least eight characters long' }}
                    </li>
                    <li [ngClass]="changePasswordForm.get('newPassword').touched && changePasswordForm.get('newPassword').hasError('uppercaseRequired')? 'text-danger' : 'text-success'">
                    <!-- <li>     -->
                        {{ data.translationData.lblContainatleastoneuppercaseletter || 'Contain at least one uppercase letter' }}
                    </li>
                    <li [ngClass]="changePasswordForm.get('newPassword').touched && changePasswordForm.get('newPassword').hasError('lowercaseRequired')? 'text-danger' : 'text-success'">
                    <!-- <li> -->
                        {{ data.translationData.lblContainatleastonelowercaseletter || 'Contain at least one lowercase letter' }}
                    </li>
                    <li [ngClass]="changePasswordForm.get('newPassword').touched && changePasswordForm.get('newPassword').hasError('numberRequired')? 'text-danger' : 'text-success'">
                    <!-- <li> -->
                        {{ data.translationData.lblContainatleastonenumber || 'Contain at least one number' }}
                    </li>
                    <li [ngClass]="changePasswordForm.get('newPassword').touched && changePasswordForm.get('newPassword').hasError('specialCharRequired')? 'text-danger' : 'text-success'">
                    <!-- <li>      -->
                        {{ data.translationData.lblContainatleastonespecialcharacter || 'Contain at least one special character' }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
       </mat-card-content>
       <mat-card-actions fxLayoutAlign="end end" class='no-margin' style="padding: 0px 20px;">
        <div fxLayout="row" fxLayoutAlign="end end" class="full-width">
          <!-- <button type="button" class='margin-right-10' mat-raised-button color="warn"
            (click)='cancel()'>{{ data.translationData.lblCancel }}</button> -->
            <button type="button" class='margin-right-10' mat-raised-button color="warn"
            (click)='cancel()'>{{ data.translationData.lblCancel || 'Cancel' }}</button>
          <!-- <button [disabled]="!changePasswordForm.valid" type="submit" class='no-margin' mat-raised-button
            color="primary">{{ data.translationData.lblChangePassword }}</button> -->
            <button [disabled]="!changePasswordForm.valid" type="submit" class='no-margin' mat-raised-button
            color="primary">{{ data.translationData.lblChangePassword || 'Change Password' }}</button>
        </div>
      </mat-card-actions>

     </mat-card>
   </form>
</div> 
