<div>
    <mat-card class='mat-elevation-z no-padding margin-bottom-xlg'>
    <mat-expansion-panel [(expanded)]="showMap" class="full-width" fxLayoutGap="10px">
      <mat-expansion-panel-header class="full-width">
        <mat-panel-title>
          <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblMapView || 'Map
            View' }}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div #map id="map" style="width: 100%; height: 450px; margin-bottom: 25px"></div>
    </mat-expansion-panel>
  </mat-card>
    <mat-card class='mat-elevation-z' *ngIf='!createEditStatus'>
        <div class="groupDetails margin-bottom-sm" fxLayout="row" fxLayoutAlign="space-between">
            <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="end">
                <div fxLayout="row" class='areaWidth'>
                    <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="end">
                        <button mat-flat-button color="primary" (click)="onNewCorridor()">
                            <mat-icon>add_circle_outline</mat-icon> {{ translationData.lblNewCorridor || 'New Corridor'
                            }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
    <app-create-edit-corridor *ngIf='createEditStatus' [translationData]='translationData' [actionType]='actionType' (backToPage)='onBackToPage($event)'></app-create-edit-corridor>

</div>