   <div  *ngFor="let item of signalRService.notificationData" style="background-color: #E5E4E2;padding-left: 5%;padding-right: 5%;margin-bottom: 1px;cursor: pointer;"> 
        <mat-card class="card1" (click)="gotoLogBook(item)">
        <div fxLayout="row" class="areaWidth min-width-50-per" fxLayoutAlign="start"
        fxLayoutGap="1px">
        <div fxLayout="column" class="areaWidth min-width-10-per">
            <!-- <mat-icon class="line3">{{item.icons}}</mat-icon> -->
            <span *ngIf="item.alertUrgency == 'C'">
                <i class="material-icons" [style]="{ 'color':'#FF0000' } ">warning</i> 
              </span> 
              <span *ngIf="item.alertUrgency == 'W'">
                <i class="material-icons" [style]="{ 'color':'#FFBF00' } ">warning</i> 
              </span>
              <span *ngIf="item.alertUrgency == 'A'">
                <i class="material-icons" [style]="{ 'color':'#FFFF00' } ">warning</i> 
              </span>
        </div>
        <div fxLayout="column" class="areaWidth min-width-50-per line3">
            <span>{{item.alertName}}</span>
        </div>
        <div fxLayout="column" fxLayoutAlign="flex-end" class="col1">
            <span class="demo1">{{item.date}}</span>
            <span class="demo2">{{item.time}}</span>
        </div>
    </div>

        <div class="line">
            <div fxLayout="row" class="areaWidth min-width-50-per" fxLayoutAlign="start"
            fxLayoutGap="1px">
            <span *ngIf="signalRService.vehicleDisplayPreference == 'dvehicledisplay_VehicleName'" class="line2"> {{item.vehicleName}} </span>
            <span *ngIf="signalRService.vehicleDisplayPreference == 'dvehicledisplay_VehicleIdentificationNumber'" class="line2"> {{item.vin}} </span>
            <span *ngIf="signalRService.vehicleDisplayPreference == 'dvehicledisplay_VehicleRegistrationNumber'" class="line2"> {{item.vehicleLicencePlate ? item.vehicleLicencePlate : item.vehicleName}} </span>
        </div>
    </div>
</mat-card>
</div>
<div *ngIf="signalRService.notificationData.length == 0" style="text-align: center;">
    <span > No notifications available </span>
</div>
<a *ngIf="signalRService.notificationData.length > 0" class="more" (click)="gotoLogBookForMoreAlerts()">more ></a>