<div class='bgtrans'>
  <div *ngIf='grpTitleVisible' fxLayout="row" fxLayoutAlign="center center"
      style='padding:10px; color:#fff; background: #5dc24e;'>
      <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center" style='width:95%;'>
      {{ displayMessage }}
      </div>
      <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center">
      <mat-icon (click)='onClose()' style='cursor: pointer;'>close</mat-icon>
      </div>
</div>
<div *ngIf='!createStatus'>
    <mat-card class='mat-elevation-z' [dataSource]="dataSource">
        <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
            <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
                <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblOrganisationRelationshipDetails || 'Organisation Relationship Details' }}</span>
            </div>
            <div fxLayout="row" class='areaWidth'>
              <div class='areaWidth' fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end">
                <button *ngIf='initData.length > 0' mat-button [matMenuTriggerFor]="menu"><mat-icon>file_upload</mat-icon>Export<mat-icon>more_vert</mat-icon></button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="exportAsPdf()">PDF (as snapshot)</button>
                  <button mat-menu-item (click)="exportAsCSV()">CSV (as full data)</button>
                </mat-menu>
              </div>
              <div fxLayout="row" class='areaWidth'>
                <button mat-flat-button color="primary" (click)="newRelationship()">
                    <mat-icon>add_circle_outline</mat-icon> {{ translationData.lblNewRelationship || 'New Relationship'}}
                </button>
            </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm' fxLayoutGap="10px">
            <div class='areaWidth min-width-10-per' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
              <mat-form-field appearance="outline">
                  <input matInput [formControl]="searchFilter" placeholder="{{ translationData.lblSearch || 'Search' }}">
                  <span matPrefix><mat-icon>search</mat-icon></span>
              </mat-form-field>
            </div>
            <div class="areaWidth min-width-5-per" fxLayoutGap="2px" fxLayoutAlign="left">
                <mat-form-field appearance="outline" class="full-width" >   
                      <mat-select placeholder="Relationship"  [formControl]="relationFilter">
                        <mat-option value="allRelations">All</mat-option>
                        <mat-option  *ngFor="let options of relationshipList" [value]="options.relationId">
                          {{options.relationName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="areaWidth min-width-5-per"  fxLayoutAlign="left">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-select placeholder="Vehicle Group"  [formControl]="vehicleGrpFilter">
                    <!-- <mat-option *ngFor="let options of relationshipList" [value]="options.id"> -->
                      <mat-option value="allVehicle">All</mat-option>
                      <mat-option *ngFor="let options of vehicleList" [value]="options.vehiclegroupID">
                      {{options.groupName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="areaWidth min-width-10-per" fxLayoutAlign="right">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-select placeholder="Organisation"  [formControl]="orgFilter">
                    <mat-option value="allOrg">All</mat-option>
                    <mat-option *ngFor="let options of organizationList" [value]="options.organizationId">
                      {{options.organizationName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="areaWidth min-width-10-per" fxLayoutAlign="right">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-select placeholder="All Type"  [formControl]="typeFilter">
                    <mat-option value="all">All</mat-option>
                    <mat-option *ngFor="let options of allTypes" [value]="options.name">
                        {{options.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="end">
                <button mat-flat-button color="warn" (click)="deleteOrgRelationship()">
                    <mat-icon>block_outline</mat-icon> {{ translationData.lblEndRelationship || 'End Relationship'}}
                </button>
            </div>
        </div>
        <div *ngIf='initData.length == 0'>{{ translationData.lblNoRecordFound || 'No Record Found' }}</div>
        <div *ngIf='initData.length > 0' fxLayout="row" class='margin-top-xlg' id="organisationRelationData"> 
            <div fxLayout="column" class='full-width'>
                <mat-table matTableExporter [dataSource]="dataSource" matSort #exporter="matTableExporter">
                    <!-- <ng-container matColumnDef="newTag">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <mat-icon *ngIf="row.newTag" inline="true" color="warn"> fiber_new </mat-icon>
                        </mat-cell>
                    </ng-container> -->
                    <ng-container matColumnDef="select">
                        <mat-header-cell *matHeaderCellDef>
                          <mat-checkbox (change)='$event ? masterToggleForOrgRelationship() : null'
                            [checked]='selectedOrgRelations.hasValue() && isAllSelectedForOrgRelationship()'
                            [indeterminate]='selectedOrgRelations.hasValue() && !isAllSelectedForOrgRelationship()'
                            [aria-label]='checkboxLabelForOrgRelationship()'>
                          </mat-checkbox>
                          <span style="margin: 5px 0px 0px 5px;">{{ translationData.lblAll || 'All'}}</span>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <span *ngIf="row.newTag" class='newTagIcon marginLeft-24'></span>
                          <span *ngIf="row.newTag" class='newTxtCss'>{{ translationData.lblNew || 'New' }}</span>
                          <span [ngClass]="{ 'marginLeft-14': row.newTag }"></span>
                          <mat-checkbox (click)='$event.stopPropagation()' (change)='$event ? selectedOrgRelations.toggle(row) : null'
                            [checked]='selectedOrgRelations.isSelected(row)' [aria-label]='checkboxLabelForOrgRelationship(row)' [disabled]="row.endDate != 0">
                          </mat-checkbox>
                        </mat-cell>
                      </ng-container>
                    <ng-container matColumnDef="relationshipName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblRelationshipName || 'Relationship Name' }}</mat-header-cell>
                        <mat-cell *matCellDef="let row" [disabled]="row.endDate != 0" style="word-break: 'break-word'">
                          <!-- <a routerLink="relationshipmanagement", viewFlag;> -->

                            <a *ngIf="row.endDate == 0" [routerLink]="['relationshipmanagement']" [state]="{ id:1 ,name:'orgRelationship',rowData: row, viewRelationshipFromOrg:true}">
                              {{row.relationshipName}}
                            </a>
                        <a *ngIf="row.endDate != 0" style= "cursor:not-allowed" >
                          {{row.relationshipName}}
                        </a>
                        <!-- <button type="button" class="btn btn-primary-outline pull-right" (click)="btnClick();"><i class="fa fa-plus"></i> Add</button> -->
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="vehicleGroupName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblVehicleGroup || 'Vehicle Group'}}</mat-header-cell>
                        <mat-cell *matCellDef="let row" class="text-truncate"  matTooltip="{{row.vehicleGroupName}}">{{row.vehicleGroupName}} </mat-cell>
                    </ng-container>
                    <!-- <ng-container matColumnDef="level">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblLevel || 'Level'}}</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.level}} </mat-cell>
                    </ng-container> -->
                    <ng-container matColumnDef="organizationName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblTargetOrganisation || 'Target Organisation'}}</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.organizationName}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="startDate">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblStartDate || 'Start Date'}}</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{setDate(row.startDate)}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="endDate">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblEndDate || 'End Date'}}</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{setDate(row.endDate)}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="allowChain">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblStatus || 'Allow Chaining' }}</mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <button class='actionBtn' mat-flat-button (click)="changeOrgRelationStatus(row)" matTooltip="{{ row.allowChain == true && row.endDate == 0 ? (translationData.lblActive || 'Active') : translationData.lblInActive || 'Inactive' }}">
                          <mat-slide-toggle color="primary"  
                          [disabled]="row.endDate != 0" 
                          [checked]='row.allowChain == true && row.endDate == 0 ? true : false'
                           >
                        </mat-slide-toggle>&nbsp;
                        <span>{{ row.allowChain == true && row.endDate == 0 ? (translationData.lblActive || 'Active') : translationData.lblInActive || 'Inactive' }}</span>
                        </button>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="endRelationship">
                        <mat-header-cell *matHeaderCellDef>{{ translationData.lblEndOrgRelationship || 'End Relationship' }}</mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <mat-icon *ngIf = "row.endDate != 0">block_outline</mat-icon>
                            <mat-icon *ngIf = "row.endDate == 0" (click)="deleteRow(row)">directions_car</mat-icon>                     
                       </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="orgrelationshipDisplayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: orgrelationshipDisplayedColumns;" 
                    (click)="row.endDate != 0"
                    [ngStyle]="row.endDate != 0 && {'background-color': 'lightgrey'}" >
                    </mat-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </div>
        <app-spinner *ngIf="showLoadingIndicator" ></app-spinner>
    </mat-card>
</div>
<div *ngIf='createStatus || editFlag || viewFlag' >
<app-create-edit-view-organisation-relationship 
[createStatus]='createStatus' 
[translationData]='translationData'
[editFlag]='editFlag'
[viewFlag]='viewFlag'
[applyFilter]='applyFilter'
(backToPage)='checkCreationForOrgRelationship($event)'
 ></app-create-edit-view-organisation-relationship>

</div>
