<div *ngIf='!createStatus'>
    <mat-card class='mat-elevation-z' [dataSource]="dataSource">
        <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
            <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
                <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblOrganisationRelationshipDetails || 'Organisation Relationship Details' }}</span>
            </div>
            <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="end">
                <button mat-flat-button color="primary" (click)="newRelationship()">
                    <mat-icon>add_circle_outline</mat-icon> {{ translationData.lblNewRelationship || 'New Relationship'}}
                </button>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
            <div class='areaWidth min-width-10-per' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
              <mat-form-field appearance="outline">
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ translationData.lblSearch || 'Search' }}">
                  <span matPrefix><mat-icon>search</mat-icon></span>
              </mat-form-field>
            </div>
            <div class="areaWidth min-width-5-per" fxLayoutGap="2px" fxLayoutAlign="left">
                <mat-form-field appearance="outline" class="full-width" >
                  <mat-label>Relationship</mat-label>
                      <mat-select (selectionChange)="applyFilterOnRelationship($event.value)">
                        <mat-option  *ngFor="let options of relationshipList" [value]="options.relationId">
                          {{options.relationName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="areaWidth min-width-5-per"  fxLayoutAlign="left">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Vehicle Group</mat-label>
                  <mat-select>
                    <!-- <mat-option *ngFor="let options of relationshipList" [value]="options.id"> -->
                      <mat-option *ngFor="let options of vehicleList" [value]="options.vehiclegroupID">
                      {{options.groupName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="areaWidth min-width-10-per" fxLayoutAlign="right">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Organisation</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let options of organizationList" [value]="options.organizationId">
                      {{options.organizationName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="areaWidth min-width-10-per" fxLayoutAlign="right">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>All Type</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let options of allTypes" [value]="options.name">
                        {{options.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="end">
                <button mat-flat-button color="warn" (click)="deleteOrgRelationship()">
                    <mat-icon>block_outline</mat-icon> {{ translationData.lblEndRelationship || 'End Relationship'}}
                </button>
            </div>
        </div>
        <div *ngIf='initData.length == 0'>{{ translationData.lblNoRecordFound || 'No Record Found' }}</div>
        <div *ngIf='initData.length > 0' fxLayout="row" class='margin-top-xlg'>
            <div fxLayout="column" class='full-width'>
                <mat-table [dataSource]="dataSource" matSort>
                    <!-- <ng-container matColumnDef="newTag">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <mat-icon *ngIf="row.newTag" inline="true" color="warn"> fiber_new </mat-icon>
                        </mat-cell>
                    </ng-container> -->
                    <ng-container matColumnDef="select">
                        <mat-header-cell *matHeaderCellDef>
                          <mat-checkbox (change)='$event ? masterToggleForOrgRelationship() : null'
                            [checked]='selectedOrgRelations.hasValue() && isAllSelectedForOrgRelationship()'
                            [indeterminate]='selectedOrgRelations.hasValue() && !isAllSelectedForOrgRelationship()'
                            [aria-label]='checkboxLabelForOrgRelationship()'>
                          </mat-checkbox>
                          <span style="margin: 5px 0px 0px 5px;">{{ translationData.lblAll || 'All'}}</span>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <mat-checkbox (click)='$event.stopPropagation()' (change)='$event ? selectedOrgRelations.toggle(row) : null'
                            [checked]='selectedOrgRelations.isSelected(row)' [aria-label]='checkboxLabelForOrgRelationship(row)' [disabled]="row.endDate != 0">
                          </mat-checkbox>
                        </mat-cell>
                      </ng-container>
                    <ng-container matColumnDef="relationshipName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblRelationshipName || 'Relationship Name' }}</mat-header-cell>
                        <mat-cell *matCellDef="let row" [disabled]="row.endDate != 0" style="word-break: 'break-word'">
                          
                          {{row.relationshipName}}
                          
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="vehicleGroup">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblVehicleGroup || 'Vehicle Group'}}</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.vehicleGroupName}} </mat-cell>
                    </ng-container>
                    <!-- <ng-container matColumnDef="level">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblLevel || 'Level'}}</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.level}} </mat-cell>
                    </ng-container> -->
                    <ng-container matColumnDef="targetOrg">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblTargetOrganisation || 'Target Organisation'}}</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.organizationName}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="startDate">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblStartDate || 'Start Date'}}</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{setDate(row.startDate)}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="endDate">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblEndDate || 'End Date'}}</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{setDate(row.endDate)}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="allowChain">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblStatus || 'Allow Chaining' }}</mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <button class='actionBtn' mat-flat-button (click)="changeOrgRelationStatus(row)" matTooltip="{{ row.allowChain == true ? (translationData.lblActive || 'Active') : translationData.lblInActive || 'Inactive' }}">
                          <mat-slide-toggle color="primary" [checked]='row.allowChain == true && row.endDate == 0 ? true : false' >
                        </mat-slide-toggle>&nbsp;
                        <span>{{ row.allowChain == true && row.endDate == 0 ? (translationData.lblActive || 'Active') : translationData.lblInActive || 'Inactive' }}</span>
                        </button>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="endRelationship">
                        <mat-header-cell *matHeaderCellDef>{{ translationData.lblEndOrgRelationship || 'End Relationship' }}</mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <mat-icon *ngIf = "row.endDate != 0">block_outline</mat-icon>
                            <mat-icon *ngIf = "row.endDate == 0">directions_car</mat-icon>                     
                       </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="orgrelationshipDisplayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: orgrelationshipDisplayedColumns;" 
                    (click)="row.endDate != 0"
                    [ngStyle]="row.endDate != 0 && {'background-color': 'lightgrey'}" >
                    </mat-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
            <app-spinner *ngIf="showLoadingIndicator" ></app-spinner>
        </div>
    </mat-card>
</div>
<div *ngIf='createStatus || editFlag || viewFlag' >
<app-create-edit-view-organisation-relationship 
[createStatus]='createStatus' 
[translationData]='translationData'
[editFlag]='editFlag'
[viewFlag]='viewFlag'
[applyFilter]='applyFilter'
 ></app-create-edit-view-organisation-relationship>

</div>
