<!-- fxLayoutAlign="space-between" class='margin-bottom-sm' -->
<div fxLayout="row" fxLayoutGap="10px" class='margin-bottom-sm'>
    <div class='areaWidth' fxLayoutAlign="center center">
        <mat-form-field appearance="outline">
            <input matInput (keyup)="applyFilter($event.target.value)"
                placeholder="{{ translationData.lblSearch  }}">
            <span matPrefix>
                <mat-icon>Search</mat-icon>
            </span>
        </mat-form-field>
    </div>

    <ng-container *ngIf="topLeftElements">
        <ng-container *ngTemplateOutlet='topLeftElements'></ng-container>
    </ng-container>

    <div fxFlex="2 1 auto" fxLayoutAlign="center center"></div>

    <div class='areaWidth' *ngIf="showExport" fxLayoutAlign="center center">
        <button *ngIf='tableData.length > 0' mat-button [matMenuTriggerFor]="menu">
            <mat-icon>file_upload</mat-icon>{{ translationData.lblExport || 'Export' }}<mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="exportAsPdf()">{{ translationData.lblPDF || 'PDF (as snapshot)'}}</button>
            <button mat-menu-item (click)="exportAsCSV()">{{ translationData.lblCSV || 'CSV (as full data)' }}</button>
        </mat-menu>
    </div>

    <ng-container *ngIf="topRightElements">
        <ng-container *ngTemplateOutlet='topRightElements'></ng-container>
    </ng-container>
</div>

<div *ngIf='tableData.length == 0'>{{ translationData.lblNoRecordFound  }}</div>

<div id="packageData" *ngIf='tableData.length > 0'>
    <mat-table matTableExporter [dataSource]="dataSource" class="table-items" matSort #exporter="matTableExporter">

        <ng-container [matColumnDef]="column" *ngFor="let column of columnCodes; let i=index;">

            <ng-container
                *ngIf="column != 'viewstatus' && column != 'action2' && column != 'action' && column != 'select' && column != 'isExclusive'">
                <mat-header-cell *matHeaderCellDef mat-sort-header style="word-break: break-all;">{{ translationData['lbl'+columnLabels[i]]  }}</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <span *ngIf="row.newTag && i == 0" class='newTagIcon marginLeft-24'></span>
                    <span *ngIf="row.newTag && i == 0" class='newTxtCss'>{{ translationData.lblNew }}</span>
                    <span class="text-truncate" matTooltip="{{row[column]}}" [ngClass]="{ 'marginLeft-14': row.newTag && i == 0 }">{{row[column]}}</span>
                </mat-cell>
            </ng-container>

            <ng-container *ngIf="column == 'viewstatus'">
                <mat-header-cell *matHeaderCellDef style="word-break: break-all;">{{ translationData['lbl'+columnLabels[i]] }}</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <!-- Action Column template elements will be printed here -->
                    <ng-container *ngTemplateOutlet='viewStatusColumnElements; context: {rowData: row}'></ng-container>
                </mat-cell>
            </ng-container>

            <ng-container *ngIf="column == 'action'">
                <mat-header-cell *matHeaderCellDef style="word-break: break-all;">{{ translationData['lbl'+columnLabels[i]] }}</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <!-- Action Column template elements will be printed here -->
                    <ng-container *ngTemplateOutlet='actionColumnElements; context: {rowData: row}'></ng-container>
                </mat-cell>
            </ng-container>

            <ng-container *ngIf="column == 'action2'">
                <mat-header-cell *matHeaderCellDef mat-sort-header style="word-break: break-all;">{{ translationData['lbl'+columnLabels[i]]  }}</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <!-- Action Column template elements will be printed here -->
                    <ng-container *ngTemplateOutlet='action2ColumnElements; context: {rowData: row}'></ng-container>
                </mat-cell>
            </ng-container>

            <ng-container *ngIf="column == 'isExclusive'">
                <mat-header-cell *matHeaderCellDef style="word-break: break-all;">{{ translationData['lbl'+columnLabels[i]]  }}
                </mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.isExclusive ? translationData.lblExclusive : translationData.lblInclusive }}</mat-cell>
            </ng-container>

            <ng-container *ngIf="column == 'select'">
                <mat-header-cell *matHeaderCellDef style="word-break: break-all;">
                    <!-- Action Column template elements will be printed here -->
                    <ng-container *ngTemplateOutlet='selectColumnHeaderElements'></ng-container>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <!-- Action Column template elements will be printed here -->
                    <ng-container *ngTemplateOutlet='selectColumnDataElements; context: {rowData: row}'></ng-container>
                </mat-cell>
            </ng-container>

        </ng-container>

        <mat-header-row *matHeaderRowDef="columnCodes"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnCodes;"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageSizeUpdated($event)"></mat-paginator>

</div>