<mat-card class='mat-elevation-z margin-bottom-xlg no-padding' *ngIf='closePopup' style="min-width: 700px; min-height: 300px;">
    <mat-card-content class="contentInpopup">
      <div class="header_sticky" fxLayout="row" fxLayoutAlign="start space-around"
              style='padding: 10px 20px !important; background: #65c3f8; color: #fff;'>
        <div class='half-width' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
            <span class='font-16-px line-height-24px font-helvetica-md'>{{ data.tableTitle }} ({{ dataSource.filteredData.length < 10 ? '0' : '' }}{{ dataSource.filteredData.length }})</span>
        </div>
        <div class='half-width' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center flex-end">
            <mat-icon (click)='onClose(false)' style='cursor: pointer; color: #000;'>close</mat-icon>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start space-around">
        <div style='padding: 10px 20px 0px 20px;' class='full-width' fxLayout="column" fxLayoutGap="3px"
            fxLayoutAlign="left">
            <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
              <div class='areaWidth' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
                <mat-form-field appearance="outline">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{data.translationData.lblSearch || 'Search'}}">
                    <span matPrefix><mat-icon>search</mat-icon></span>
                </mat-form-field>
              </div>
            </div>
            <mat-table [dataSource]="dataSource" class="table-items" matSort>
              <ng-container *ngFor="let disCol of data.colsList; let colIndex = index" matColumnDef="{{disCol}}">
                <div *ngIf="disCol == 'firstName'">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{ data.colsName[colIndex] }}</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{ element.firstName }} {{ element.lastName }}</mat-cell>
                </div>
                <div *ngIf="disCol == 'roles'">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{ data.colsName[colIndex] }}</mat-header-cell>
                  <mat-cell *matCellDef="let element" matTooltip="{{ element.roleList }}"><span class="text-truncate">{{ element[disCol].length > 0 ? element.roleList : '&nbsp; &nbsp; -' }}</span></mat-cell>
                </div>
                <div *ngIf="disCol != 'roles' && disCol != 'firstName' && disCol != 'icon'">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{ data.colsName[colIndex] }}</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{ element[disCol] }}</mat-cell>
                </div>
              </ng-container>
              <mat-header-row *matHeaderRowDef="data.colsList"></mat-header-row>
              <mat-row *matRowDef="let row; columns: data.colsList;">
              </mat-row>
            </mat-table>
          </div>
        </div>  
      </mat-card-content>
      <mat-paginator class="contentInpopup__paginator" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </mat-card>