<div class='bgtrans'>
    <div *ngIf='titleVisible' fxLayout="row" fxLayoutAlign="center center"
        style='padding:10px; color:#fff; background: #5dc24e;'>
        <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center" style='width:95%;'>
        {{ subscriptionCreatedMsg }}
        </div>
  </div>
  <mat-card class='mat-elevation-z' *ngIf='!createEditViewSubscriptionFlag'>
    <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
        <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
          <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblSubscriptionDetails || 'Subscription Details' }}</span>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
        <div class='areaWidth' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
            <mat-form-field appearance="outline">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ translationData.lblSearch || 'Search' }}">
                <span matPrefix><mat-icon>search</mat-icon></span>
            </mat-form-field>
        </div>
        <div class="areaWidth min-width-10-per" fxLayoutAlign="right">
          <mat-form-field appearance="outline" class="full-width">
            <mat-select placeholder="{{ translationData.lblSelectOrganisation || 'Select Organisation' }}" (selectionChange)="applyFilterOnOrganization($event.value)" >
              <mat-option *ngFor="let options of organizationList" [value]="options.id" [disabled] = "organizationList.length == 1">
                {{options.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="areaWidth min-width-10-per" fxLayoutAlign="right">
          <mat-form-field appearance="outline" class="full-width">
            <mat-select placeholder="{{ translationData.lblSelectType || 'Select Type' }}" (selectionChange)="applyFilterOnType(1,$event.value)">
              <mat-option *ngFor="let options of TypeList" [value]="options.value">
                {{options.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      <div class="areaWidth min-width-10-per" fxLayoutAlign="right">
        <mat-form-field appearance="outline" class="full-width">
          <mat-select placeholder="{{ translationData.lblSelectStatus || 'Select Status' }}" (selectionChange)="applyFilterOnStatus(1,$event.value)">
            <mat-option *ngFor="let options of StatusList" [value]="options.value">
              {{options.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button *ngIf='initData.length > 0' mat-button [matMenuTriggerFor]="menu"><mat-icon>file_upload</mat-icon>Export<mat-icon>more_vert</mat-icon></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="exportAsPdf()">PDF (as snapshot)</button>
          <button mat-menu-item (click)="exportAsCSV()">CSV (as full data)</button>
        </mat-menu>
    </div>
    <div *ngIf='initData.length == 0'>{{ translationData.lblNoRecordFound || 'No Record Found' }}</div>
    <div *ngIf='initData.length > 0' id="subscriptionData">
        <mat-table matTableExporter [dataSource]="dataSource" class="table-items" matSort #exporter="matTableExporter" [hiddenColumns]="[9]">
            <ng-container matColumnDef="subscriptionId">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblOrderId || 'Order ID' }}</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <span [ngClass]="{ 'marginLeft-14': row.newTag }">{{ row.subscriptionId }}</span>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="packageCode">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblPackageCode || 'Package Code' }}</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.packageCode }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblPackageName || 'Package Name' }}</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="orgName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblPackageName || 'Organization' }}</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.orgName }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblType || 'Type' }}</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.type == 'O' ? (translationData.lblOrganization || 'Organization') : translationData.lblVehicle || 'Vehicle' }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="count" >
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblVehicle || 'Vehicle' }}</mat-header-cell>
                <mat-cell *matCellDef="let row"><span [ngClass]="row.count != 0 ? 'row-hover' : ''"
                  (click)="row.count != 0 ? onVehicleClick(row) : ''">{{ (row.count < 10) ? '0' : '' }}{{ row.count }}</span></mat-cell>
              </ng-container>
              <ng-container matColumnDef="subscriptionStartDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblStartDate || 'Start Date' }}</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ setDate(row.subscriptionStartDate) }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="subscriptionEndDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblEndDate || 'End Date' }}</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ setDate(row.subscriptionEndDate) }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="state">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblStatus || 'Status' }}</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.state == true ? (translationData.lblActive || 'Active') : translationData.lblInActive || 'Expired' }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef class="action"> {{ translationData.lblAction || 'Action' }} </mat-header-cell>
                <mat-cell *matCellDef="let row" class="action">
                  <!-- <button mat-stroked-button color="primary" class='actionBtn' *ngIf="row.status == 'Expired' ? true : false ">
                     shop
                  </button>  -->
                  <span  *ngIf="row.state == 'A'|| row.subscriptionEndDate == '0'  "  (click)="onShopclick(row)">
                  <button mat-flat-button color="primary" type="button" class="actionBtn">
                    Shop
                  </button>
                  </span>
                  <!--<button type="button" class="btn btn-outline-primary btn-sm" *ngIf="row.state ? false : true " [disabled]="!adminAccessType.adminReadOnlyAccess">Shop</button>-->       
               </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
    <app-spinner *ngIf="showLoadingIndicator"></app-spinner>
  </mat-card>
</div>