<div class='bgtrans'>
    <div *ngIf='titleVisible' fxLayout="row" fxLayoutAlign="center center"
        style='padding:10px; color:#fff; background: #5dc24e;'>
        <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center" style='width:95%;'>
        {{ subscriptionCreatedMsg }}
        </div>
  </div>
  <mat-card class='mat-elevation-z' *ngIf='!createEditViewSubscriptionFlag'>
    <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
        <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
          <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblSubscriptionDetails || 'Subscription Details' }}</span>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
        <div class='areaWidth' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
            <mat-form-field appearance="outline">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ translationData.lblSearch || 'Search' }}">
                <span matPrefix><mat-icon>search</mat-icon></span>
            </mat-form-field>
        </div>
  
        <div class="areaWidth min-width-10-per" fxLayoutAlign="right">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Organisation</mat-label>
            <mat-select (selectionChange)="applyFilterOnOrganization($event.value)">
              <mat-option *ngFor="let options of organizationList" [value]="options.id">
                {{options.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    <div class="areaWidth min-width-10-per" fxLayoutAlign="right">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Select Status</mat-label>
        <mat-select (selectionChange)="applyFilterOnStatus(1,$event.value)">
          <mat-option *ngFor="let options of StatusList" [value]="options.value">
            {{options.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="areaWidth min-width-10-per" fxLayoutAlign="right">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Select Type</mat-label>
        <mat-select (selectionChange)="applyFilterOnType(1,$event.value)">
          <mat-option *ngFor="let options of TypeList" [value]="options.value">
            {{options.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    

    </div>
    <div *ngIf='initData.length == 0'>{{ translationData.lblNoRecordFound || 'No Record Found' }}</div>
    <div *ngIf='initData.length > 0'>
        <mat-table [dataSource]="dataSource" class="table-items" matSort>
            <ng-container matColumnDef="subscriptionId">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblOrderId || 'Order ID' }}</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <span [ngClass]="{ 'marginLeft-14': row.newTag }">{{ row.subscriptionId }}</span>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="packageCode">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblPackageCode || 'Package Code' }}</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.packageCode }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblPackageName || 'Package Name' }}</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="orgName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblPackageName || 'Organization' }}</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.orgName }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblType || 'Type' }}</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.type == 'O' ? (translationData.lblOrganization || 'Organization') : translationData.lblVehicle || 'Vehicle' }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="count" >
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblVehicle || 'Vehicle' }}</mat-header-cell>
                <mat-cell *matCellDef="let row"><span [ngClass]="row.count != 0 ? 'row-hover' : ''"
                  (click)="row.count != 0 ? onVehicleClick(row) : ''">{{ (row.count < 10) ? '0' : '' }}{{ row.count }}</span></mat-cell>
              </ng-container>
              <ng-container matColumnDef="subscriptionStartDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblStartDate || 'Start Date' }}</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ setDate(row.subscriptionStartDate) }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="subscriptionEndDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblEndDate || 'End Date' }}</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ setDate(row.subscriptionEndDate) }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="isActive">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblStatus || 'Status' }}</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.isActive == true ? (translationData.lblActive || 'Active') : translationData.lblInActive || 'Expired' }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef> {{ translationData.lblAction || 'Action' }} </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <!-- <button mat-stroked-button color="primary" class='actionBtn' *ngIf="row.status == 'Expired' ? true : false ">
                     shop
                  </button>  -->
                  <button type="button" class="btn btn-outline-primary btn-sm" *ngIf="row.isActive == false ? true : false " [disabled]="!adminAccessType.adminReadOnlyAccess">Shop</button>           
               </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </mat-card>
</div>