<!-- <mat-expansion-panel style="width:50%;" class="full-width">
    <mat-expansion-panel-header class="full-width">
        <mat-panel-title>
          <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblExport || 'Export' }}</span><mat-icon>file_upload</mat-icon>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel> -->
    <div>
      <span >{{ translationData.lblExport || 'Export' }}<mat-icon>file_upload</mat-icon></span>
    </div>