<!-- General Tab -->
<div *ngIf='generalColumnData.length > 0' fxLayout="row" class='areaWidth full-width padding-10 summaryPref'
    fxLayoutAlign="left center" style='background: #BEE3F8 !important; border-radius: 5px 5px 0px 0px;'>
    <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
        <mat-checkbox class='custom-checkbox' (change)='$event ? masterToggleForGeneralColumns() : null'
            [checked]='selectionForGeneralColumns.hasValue() && isAllSelectedForGeneralColumns()'
            [indeterminate]='selectionForGeneralColumns.hasValue() && !isAllSelectedForGeneralColumns()'
            [aria-label]='checkboxLabelForGeneralColumns()' [disabled]='!editFlag'><span class='headerFont'>{{
                translationData.lblGeneral || 'General'
                }}</span>
        </mat-checkbox>
    </div>
</div>
<div *ngIf='generalColumnData.length > 0' fxLayout="row" class='areaWidth full-width' fxLayoutAlign="left">
    <div fxLayout="column" class="areaWidth min-width-33-3-per" fxLayoutGap="0px" fxLayoutAlign="left">
        <div fxLayout="row" class='areaWidth adjust-padding' fxLayoutAlign="left">
            <mat-checkbox [disabled]='!editFlag' (click)='$event.stopPropagation()'
                (change)='$event ? selectionForGeneralColumns.toggle(generalColumnData[0]) : null; checkboxClicked($event, generalColumnData[0])'
                [checked]="selectionForGeneralColumns.isSelected(generalColumnData[0])"
                [aria-label]='checkboxLabelForGeneralColumns(generalColumnData[0])' class='custom-checkbox'><span>{{
                    generalColumnData.length > 0 ? generalColumnData[0].translatedName : '' }}</span>
            </mat-checkbox>
        </div>
        <div fxLayout="row" class='areaWidth adjust-padding oddColumnColor' fxLayoutAlign="left">
            <mat-checkbox [disabled]='!editFlag' (click)='$event.stopPropagation()'
                (change)='$event ? selectionForGeneralColumns.toggle(generalColumnData[1]) : null; checkboxClicked($event, generalColumnData[1])'
                [checked]="selectionForGeneralColumns.isSelected(generalColumnData[1])"
                [aria-label]='checkboxLabelForGeneralColumns(generalColumnData[1])' class='custom-checkbox'><span>{{
                    generalColumnData.length > 0 ? generalColumnData[1].translatedName : '' }}</span>
            </mat-checkbox>
        </div>
        <div fxLayout="row" class='areaWidth adjust-padding' fxLayoutAlign="left">
            <mat-checkbox [disabled]='!editFlag' (click)='$event.stopPropagation()'
                (change)='$event ? selectionForGeneralColumns.toggle(generalColumnData[2]) : null; checkboxClicked($event, generalColumnData[2])'
                [checked]="selectionForGeneralColumns.isSelected(generalColumnData[2])"
                [aria-label]='checkboxLabelForGeneralColumns(generalColumnData[2])' class='custom-checkbox'><span>{{
                    generalColumnData.length > 0 ? generalColumnData[2].translatedName : '' }}</span>
            </mat-checkbox>
        </div>
    </div>
    <div fxLayout="column" class="areaWidth min-width-33-3-per" fxLayoutGap="0px" fxLayoutAlign="left">
        <div fxLayout="row" class='areaWidth adjust-padding' fxLayoutAlign="left">
            <mat-checkbox [disabled]='!editFlag' (click)='$event.stopPropagation()'
                (change)='$event ? selectionForGeneralColumns.toggle(generalColumnData[3]) : null; checkboxClicked($event, generalColumnData[3])'
                [checked]="selectionForGeneralColumns.isSelected(generalColumnData[3])"
                [aria-label]='checkboxLabelForGeneralColumns(generalColumnData[3])' class='custom-checkbox'><span>{{
                    generalColumnData.length > 0 ? generalColumnData[3].translatedName : '' }}</span>
            </mat-checkbox>
        </div>
        <div fxLayout="row" class='areaWidth adjust-padding oddColumnColor' fxLayoutAlign="left">
            <mat-checkbox [disabled]='!editFlag' (click)='$event.stopPropagation()'
                (change)='$event ? selectionForGeneralColumns.toggle(generalColumnData[4]) : null; checkboxClicked($event, generalColumnData[4])'
                [checked]="selectionForGeneralColumns.isSelected(generalColumnData[4])"
                [aria-label]='checkboxLabelForGeneralColumns(generalColumnData[4])' class='custom-checkbox'><span>{{
                    generalColumnData.length > 0 ? generalColumnData[4].translatedName : '' }}</span>
            </mat-checkbox>
        </div>
        <div fxLayout="row" class='areaWidth adjust-padding' fxLayoutAlign="left" style='height: 44px;'></div>
    </div>
    <div fxLayout="column" class="areaWidth min-width-33-3-per" fxLayoutGap="0px" fxLayoutAlign="left">
        <div fxLayout="row" class='areaWidth adjust-padding' fxLayoutAlign="left" style='height: 44px;'></div>
        <div fxLayout="row" class='areaWidth adjust-padding oddColumnColor' fxLayoutAlign="left" style='height: 44px;'>
        </div>
        <div fxLayout="row" class='areaWidth adjust-padding' fxLayoutAlign="left" style='height: 44px;'></div>
    </div>
</div>

<!-- General Graph Tab -->
<div *ngIf='generalGraphColumnData.length > 0' fxLayout="row" class='areaWidth full-width padding-10 margin-top-20'
    fxLayoutAlign="left center" style='background: #BEE3F8 !important; border-radius: 5px 5px 0px 0px;'>
    <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
        <mat-checkbox class='custom-checkbox' (change)='$event ? masterToggleForGeneralGraphColumns() : null'
            [checked]='selectionForGeneralGraphColumns.hasValue() && isAllSelectedForGeneralGraphColumns()'
            [indeterminate]='selectionForGeneralGraphColumns.hasValue() && !isAllSelectedForGeneralGraphColumns()'
            [aria-label]='checkboxLabelForGeneralGraphColumns()' [disabled]='!editFlag'><span class='headerFont'>{{
                translationData.lblGeneralGraph || 'General Graph'
                }}</span>
        </mat-checkbox>
    </div>
</div>
<div *ngIf='generalGraphColumnData.length > 0' fxLayout="row" class='areaWidth full-width' fxLayoutAlign="left">
    <div fxLayout="column" class="areaWidth min-width-33-3-per" fxLayoutGap="0px" fxLayoutAlign="left">
        <div fxLayout="row" class='areaWidth adjust-padding' fxLayoutAlign="left">
            <mat-checkbox [disabled]='!editFlag' (click)='$event.stopPropagation()'
                (change)='$event ? selectionForGeneralGraphColumns.toggle(generalGraphColumnData[0]) : null; checkboxClicked($event, generalGraphColumnData[0])'
                [checked]="selectionForGeneralGraphColumns.isSelected(generalGraphColumnData[0])"
                [aria-label]='checkboxLabelForGeneralGraphColumns(generalGraphColumnData[0])' class='custom-checkbox'><span>{{
                    generalGraphColumnData.length > 0 ? generalGraphColumnData[0].translatedName : '' }}</span>
            </mat-checkbox>
        </div>
    </div>
    <div fxLayout="column" class="areaWidth min-width-33-3-per" fxLayoutGap="0px" fxLayoutAlign="left">
        <div fxLayout="row" class='areaWidth adjust-padding' fxLayoutAlign="left">
            <mat-checkbox [disabled]='!editFlag' (click)='$event.stopPropagation()'
                (change)='$event ? selectionForGeneralGraphColumns.toggle(generalGraphColumnData[1]) : null; checkboxClicked($event, generalGraphColumnData[1])'
                [checked]="selectionForGeneralGraphColumns.isSelected(generalGraphColumnData[1])"
                [aria-label]='checkboxLabelForGeneralGraphColumns(generalGraphColumnData[1])' class='custom-checkbox'><span>{{
                    generalGraphColumnData.length > 0 ? generalGraphColumnData[1].translatedName : '' }}</span>
            </mat-checkbox>
        </div>
    </div>
    <div fxLayout="column" class="areaWidth min-width-33-3-per" fxLayoutGap="0px" fxLayoutAlign="left"></div>  
</div>

<!-- Driver Performance Tab -->
<div *ngIf='driverPerformanceColumnData.length > 0' fxLayout="row" class='areaWidth full-width padding-10 margin-top-20'
    fxLayoutAlign="left center" style='background: #BEE3F8 !important; border-radius: 5px 5px 0px 0px;'>
    <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
        <mat-checkbox class='custom-checkbox' (change)='$event ? masterToggleForDriverPerformanceColumns($event) : null'
            [checked]='mainParent.isChecked'
            [aria-label]='checkboxLabelForDriverPerformanceColumns()' [disabled]='!editFlag'><span class='headerFont'>{{
                translationData.lblDriverPerformance || 'Driver Performance'
                }}</span>
        </mat-checkbox>
    </div>
</div>
<!-- Eco-Score -->
<div *ngIf='driverPerformanceColumnData.length > 0' fxLayout="row" class='areaWidth full-width' fxLayoutAlign="left">
    <div fxLayout="column" class="areaWidth" fxLayoutGap="0px" fxLayoutAlign="left">
        <div fxLayout="row" class='areaWidth adjust-padding' fxLayoutAlign="left">
            <mat-checkbox [disabled]='!editFlag' (click)='$event.stopPropagation()'
                (change)='$event ? selectionForDriverPerformanceColumns.toggle(driverPerformanceColumnData[0]) : null; driverPerformanceCheckboxClicked($event, driverPerformanceColumnData[0], 0)'
                [checked]="driverPerformanceColumnData[0].isChecked"
                [aria-label]='checkboxLabelForDriverPerformanceColumns(driverPerformanceColumnData[0])' class='custom-checkbox'><span class="headerFont">{{
                    driverPerformanceColumnData.length > 0 ? driverPerformanceColumnData[0].translatedName : '' }}</span>
            </mat-checkbox>
        </div>
    </div>
</div>
<!-- Fuel Consumption -->
<div *ngIf='driverPerformanceColumnData.length > 0' fxLayout="row" class='areaWidth full-width oddColumnColor' fxLayoutAlign="left">
    <div fxLayout="column" class="areaWidth" fxLayoutGap="0px" fxLayoutAlign="left">
        <div fxLayout="row" class='areaWidth adjust-padding' fxLayoutAlign="left">
            <mat-checkbox [disabled]='!editFlag' (click)='$event.stopPropagation()'
                (change)='$event ? selectionForDriverPerformanceColumns.toggle(driverPerformanceColumnData[1]) : null; driverPerformanceCheckboxClicked($event, driverPerformanceColumnData[1], 1)'
                [checked]="driverPerformanceColumnData[1].isChecked"
                [aria-label]='checkboxLabelForDriverPerformanceColumns(driverPerformanceColumnData[1])' class='custom-checkbox'><span class="headerFont">{{
                    driverPerformanceColumnData.length > 0 ? driverPerformanceColumnData[1].translatedName : '' }}</span>
            </mat-checkbox>
        </div>
    </div>
</div>
<!-- Fuel Consumption child start -->
<!-- Cruise Usage -->
<div *ngIf='driverPerformanceColumnData && driverPerformanceColumnData.length > 0 && driverPerformanceColumnData[1].subReportUserPreferences && driverPerformanceColumnData[1].subReportUserPreferences.length > 0' fxLayout="row" fxLayoutAlign="left">
    <div fxLayout="column" class="areaWidth min-width-33-3-per adjust-padding" fxLayoutGap="0px" fxLayoutAlign="left">
        <mat-checkbox (change)='changeSubChildChecked($event, driverPerformanceColumnData[1].subReportUserPreferences[0], 1, 0)' [checked]="driverPerformanceColumnData[1].subReportUserPreferences[0].isChecked" style="padding-left: 10%;" [disabled]='!editFlag' class='custom-checkbox'>
            <span>{{ driverPerformanceColumnData[1].subReportUserPreferences.length > 0 ? driverPerformanceColumnData[1].subReportUserPreferences[0].translatedName : '' }}</span>
        </mat-checkbox>
    </div>
</div>
<!-- Cruise Usage child start -->
<div *ngIf='driverPerformanceColumnData && driverPerformanceColumnData.length > 0 && driverPerformanceColumnData[1].subReportUserPreferences && driverPerformanceColumnData[1].subReportUserPreferences.length > 0 && driverPerformanceColumnData[1].subReportUserPreferences[0].subReportUserPreferences && driverPerformanceColumnData[1].subReportUserPreferences[0].subReportUserPreferences.length > 0' fxLayout="row" fxLayoutAlign="left" class='oddColumnColor'>
    <div fxLayout="column" class="areaWidth min-width-33-3-per adjust-padding" fxLayoutGap="0px" fxLayoutAlign="left">
        <mat-checkbox (change)='changeLastSubChildChecked($event, driverPerformanceColumnData[1].subReportUserPreferences[0].subReportUserPreferences[0], 1, 0, 0)' [checked]="driverPerformanceColumnData[1].subReportUserPreferences[0].subReportUserPreferences[0].isChecked" style="padding-left: 20%;" [disabled]='!editFlag' class='custom-checkbox'>
            <span>{{ driverPerformanceColumnData[1].subReportUserPreferences[0].subReportUserPreferences.length > 0 ? driverPerformanceColumnData[1].subReportUserPreferences[0].subReportUserPreferences[0].translatedName : '' }}</span>
        </mat-checkbox>
    </div>
    <div fxLayout="column" class="areaWidth min-width-33-3-per adjust-padding" fxLayoutGap="0px" fxLayoutAlign="left">
        <mat-checkbox (change)='changeLastSubChildChecked($event, driverPerformanceColumnData[1].subReportUserPreferences[0].subReportUserPreferences[1], 1, 0, 1)' [checked]="driverPerformanceColumnData[1].subReportUserPreferences[0].subReportUserPreferences[1].isChecked" style="padding-left: 10%;" [disabled]='!editFlag' class='custom-checkbox'>
            <span>{{ driverPerformanceColumnData[1].subReportUserPreferences[0].subReportUserPreferences.length > 0 ? driverPerformanceColumnData[1].subReportUserPreferences[0].subReportUserPreferences[1].translatedName : '' }}</span>
        </mat-checkbox>
    </div>
    <div fxLayout="column" class="areaWidth min-width-33-3-per adjust-padding" fxLayoutGap="0px" fxLayoutAlign="left">
        <mat-checkbox (change)='changeLastSubChildChecked($event, driverPerformanceColumnData[1].subReportUserPreferences[0].subReportUserPreferences[2], 1, 0, 2)' [checked]="driverPerformanceColumnData[1].subReportUserPreferences[0].subReportUserPreferences[2].isChecked" style="padding-left: 10%;" [disabled]='!editFlag' class='custom-checkbox'>
            <span>{{ driverPerformanceColumnData[1].subReportUserPreferences[0].subReportUserPreferences.length > 0 ? driverPerformanceColumnData[1].subReportUserPreferences[0].subReportUserPreferences[2].translatedName : '' }}</span>
        </mat-checkbox>
    </div>
</div>
<!-- Cruise Usage child end -->
<div *ngIf='driverPerformanceColumnData && driverPerformanceColumnData.length > 0 && driverPerformanceColumnData[1].subReportUserPreferences && driverPerformanceColumnData[1].subReportUserPreferences.length > 0' fxLayout="row" class='areaWidth full-width' fxLayoutAlign="left">
    <div fxLayout="column" class="areaWidth min-width-33-3-per" fxLayoutGap="0px" fxLayoutAlign="left">
        <div fxLayout="row" class='areaWidth adjust-padding' fxLayoutAlign="left">
            <mat-checkbox (change)='changeSubChildChecked($event, driverPerformanceColumnData[1].subReportUserPreferences[1], 1, 1)' [checked]="driverPerformanceColumnData[1].subReportUserPreferences[1].isChecked" style="padding-left: 10%;" [disabled]='!editFlag' class='custom-checkbox'>
                <span>{{ driverPerformanceColumnData[1].subReportUserPreferences.length > 0 ? driverPerformanceColumnData[1].subReportUserPreferences[1].translatedName : '' }}</span>
            </mat-checkbox>
        </div>
        <div fxLayout="row" class='areaWidth adjust-padding oddColumnColor' fxLayoutAlign="left">
            <mat-checkbox (change)='changeSubChildChecked($event, driverPerformanceColumnData[1].subReportUserPreferences[2], 1, 2)' [checked]="driverPerformanceColumnData[1].subReportUserPreferences[2].isChecked" style="padding-left: 10%;" [disabled]='!editFlag' class='custom-checkbox'>
                <span>{{ driverPerformanceColumnData[1].subReportUserPreferences.length > 0 ? driverPerformanceColumnData[1].subReportUserPreferences[2].translatedName : '' }}</span>
            </mat-checkbox>
        </div>
        <div fxLayout="row" class='areaWidth adjust-padding' fxLayoutAlign="left">
            <mat-checkbox (change)='changeSubChildChecked($event, driverPerformanceColumnData[1].subReportUserPreferences[3], 1, 3)' [checked]="driverPerformanceColumnData[1].subReportUserPreferences[3].isChecked" style="padding-left: 10%;" [disabled]='!editFlag' class='custom-checkbox'>
                <span>{{ driverPerformanceColumnData[1].subReportUserPreferences.length > 0 ? driverPerformanceColumnData[1].subReportUserPreferences[3].translatedName : '' }}</span>
            </mat-checkbox>
        </div>
    </div>
    <div fxLayout="column" class="areaWidth min-width-33-3-per" fxLayoutGap="0px" fxLayoutAlign="left">
        <div fxLayout="row" class='areaWidth adjust-padding' fxLayoutAlign="left">
            <mat-checkbox (change)='changeSubChildChecked($event, driverPerformanceColumnData[1].subReportUserPreferences[4], 1, 4)' [checked]="driverPerformanceColumnData[1].subReportUserPreferences[4].isChecked" style="padding-left: 10%;" [disabled]='!editFlag' class='custom-checkbox'>
                <span>{{ driverPerformanceColumnData[1].subReportUserPreferences.length > 0 ? driverPerformanceColumnData[1].subReportUserPreferences[4].translatedName : '' }}</span>
            </mat-checkbox>
        </div>
        <div fxLayout="row" class='areaWidth adjust-padding oddColumnColor' fxLayoutAlign="left">
            <mat-checkbox (change)='changeSubChildChecked($event, driverPerformanceColumnData[1].subReportUserPreferences[5], 1, 5)' [checked]="driverPerformanceColumnData[1].subReportUserPreferences[5].isChecked" style="padding-left: 10%;" [disabled]='!editFlag' class='custom-checkbox'>
                <span>{{ driverPerformanceColumnData[1].subReportUserPreferences.length > 0 ? driverPerformanceColumnData[1].subReportUserPreferences[5].translatedName : '' }}</span>
            </mat-checkbox>
        </div>
        <div fxLayout="row" class='areaWidth adjust-padding' fxLayoutAlign="left">
            <mat-checkbox (change)='changeSubChildChecked($event, driverPerformanceColumnData[1].subReportUserPreferences[6], 1, 6)' [checked]="driverPerformanceColumnData[1].subReportUserPreferences[6].isChecked" style="padding-left: 10%;" [disabled]='!editFlag' class='custom-checkbox'>
                <span>{{ driverPerformanceColumnData[1].subReportUserPreferences.length > 0 ? driverPerformanceColumnData[1].subReportUserPreferences[6].translatedName : '' }}</span>
            </mat-checkbox>
        </div>
    </div>
    <div fxLayout="column" class="areaWidth min-width-33-3-per" fxLayoutGap="0px" fxLayoutAlign="left">
        <div fxLayout="row" class='areaWidth adjust-padding' fxLayoutAlign="left">
            <mat-checkbox (change)='changeSubChildChecked($event, driverPerformanceColumnData[1].subReportUserPreferences[7], 1, 7)' [checked]="driverPerformanceColumnData[1].subReportUserPreferences[7].isChecked" style="padding-left: 10%;" [disabled]='!editFlag' class='custom-checkbox'>
                <span>{{ driverPerformanceColumnData[1].subReportUserPreferences.length > 0 ? driverPerformanceColumnData[1].subReportUserPreferences[7].translatedName : '' }}</span>
            </mat-checkbox>
        </div>
        <div fxLayout="row" class='areaWidth adjust-padding oddColumnColor' fxLayoutAlign="left">
            <mat-checkbox (change)='changeSubChildChecked($event, driverPerformanceColumnData[1].subReportUserPreferences[8], 1, 8)' [checked]="driverPerformanceColumnData[1].subReportUserPreferences[8].isChecked" style="padding-left: 10%;" [disabled]='!editFlag' class='custom-checkbox'>
                <span>{{ driverPerformanceColumnData[1].subReportUserPreferences.length > 0 ? driverPerformanceColumnData[1].subReportUserPreferences[8].translatedName : '' }}</span>
            </mat-checkbox>
        </div>
        <div style='height: 44px;' fxLayout="row" class='areaWidth adjust-padding' fxLayoutAlign="left"></div>
    </div>
</div>
<!-- Fuel Consumption child end -->
<!-- Braking Score -->
<div *ngIf='driverPerformanceColumnData.length > 0' fxLayout="row" class='areaWidth full-width oddColumnColor' fxLayoutAlign="left">
    <div fxLayout="column" class="areaWidth" fxLayoutGap="0px" fxLayoutAlign="left">
        <div fxLayout="row" class='areaWidth adjust-padding' fxLayoutAlign="left">
            <mat-checkbox [disabled]='!editFlag' (click)='$event.stopPropagation()'
                (change)='$event ? selectionForDriverPerformanceColumns.toggle(driverPerformanceColumnData[2]) : null; driverPerformanceCheckboxClicked($event, driverPerformanceColumnData[2], 2)'
                [checked]="driverPerformanceColumnData[2].isChecked"
                [aria-label]='checkboxLabelForDriverPerformanceColumns(driverPerformanceColumnData[2])' class='custom-checkbox'><span class="headerFont">{{
                    driverPerformanceColumnData.length > 0 ? driverPerformanceColumnData[2].translatedName : '' }}</span>
            </mat-checkbox>
        </div>
    </div>
</div>
<!-- Braking Score child start -->
<div *ngIf='driverPerformanceColumnData && driverPerformanceColumnData.length > 0 && driverPerformanceColumnData[2].subReportUserPreferences && driverPerformanceColumnData[2].subReportUserPreferences.length > 0' fxLayout="row" class='areaWidth full-width' fxLayoutAlign="left">
    <div fxLayout="column" class="areaWidth min-width-33-3-per" fxLayoutGap="0px" fxLayoutAlign="left">
        <div fxLayout="row" class='areaWidth adjust-padding' fxLayoutAlign="left">
            <mat-checkbox (change)='changeSubChildChecked($event, driverPerformanceColumnData[2].subReportUserPreferences[0], 2, 0)' [checked]="driverPerformanceColumnData[2].subReportUserPreferences[0].isChecked" style="padding-left: 10%;" [disabled]='!editFlag' class='custom-checkbox'>
                <span>{{ driverPerformanceColumnData[2].subReportUserPreferences.length > 0 ? driverPerformanceColumnData[2].subReportUserPreferences[0].translatedName : '' }}</span>
            </mat-checkbox>
        </div>
        <div fxLayout="row" class='areaWidth adjust-padding oddColumnColor' fxLayoutAlign="left">
            <mat-checkbox (change)='changeSubChildChecked($event, driverPerformanceColumnData[2].subReportUserPreferences[0], 2, 1)' [checked]="driverPerformanceColumnData[2].subReportUserPreferences[1].isChecked" style="padding-left: 10%;" [disabled]='!editFlag' class='custom-checkbox'>
                <span>{{ driverPerformanceColumnData[2].subReportUserPreferences.length > 0 ? driverPerformanceColumnData[2].subReportUserPreferences[1].translatedName : '' }}</span>
            </mat-checkbox>
        </div>
    </div>
    <div fxLayout="column" class="areaWidth min-width-33-3-per" fxLayoutGap="0px" fxLayoutAlign="left">
        <div fxLayout="row" class='areaWidth adjust-padding' fxLayoutAlign="left">
            <mat-checkbox (change)='changeSubChildChecked($event, driverPerformanceColumnData[2].subReportUserPreferences[0], 2, 2)' [checked]="driverPerformanceColumnData[2].subReportUserPreferences[2].isChecked" style="padding-left: 10%;" [disabled]='!editFlag' class='custom-checkbox'>
                <span>{{ driverPerformanceColumnData[2].subReportUserPreferences.length > 0 ? driverPerformanceColumnData[2].subReportUserPreferences[2].translatedName : '' }}</span>
            </mat-checkbox>
        </div>
        <div fxLayout="row" class='areaWidth adjust-padding oddColumnColor' fxLayoutAlign="left">
            <mat-checkbox (change)='changeSubChildChecked($event, driverPerformanceColumnData[2].subReportUserPreferences[0], 2, 3)' [checked]="driverPerformanceColumnData[2].subReportUserPreferences[3].isChecked" style="padding-left: 10%;" [disabled]='!editFlag' class='custom-checkbox'>
                <span>{{ driverPerformanceColumnData[2].subReportUserPreferences.length > 0 ? driverPerformanceColumnData[2].subReportUserPreferences[3].translatedName : '' }}</span>
            </mat-checkbox>
        </div>
    </div>
    <div fxLayout="column" class="areaWidth min-width-33-3-per" fxLayoutGap="0px" fxLayoutAlign="left">
        <div style='height: 44px;' fxLayout="row" class='areaWidth adjust-padding' fxLayoutAlign="left"></div>
        <div style='height: 44px;' fxLayout="row" class='areaWidth adjust-padding oddColumnColor' fxLayoutAlign="left"></div>
    </div>
</div>
<!-- Braking Score child end -->
<!-- Anticipation score -->
<div *ngIf='driverPerformanceColumnData.length > 0' fxLayout="row" class='areaWidth full-width' fxLayoutAlign="left">
    <div fxLayout="column" class="areaWidth" fxLayoutGap="0px" fxLayoutAlign="left">
        <div fxLayout="row" class='areaWidth adjust-padding' fxLayoutAlign="left">
            <mat-checkbox [disabled]='!editFlag' (click)='$event.stopPropagation()'
                (change)='$event ? selectionForDriverPerformanceColumns.toggle(driverPerformanceColumnData[3]) : null; driverPerformanceCheckboxClicked($event, driverPerformanceColumnData[3], 3)'
                [checked]="driverPerformanceColumnData[3].isChecked"
                [aria-label]='checkboxLabelForDriverPerformanceColumns(driverPerformanceColumnData[3])' class='custom-checkbox'><span class="headerFont">{{
                    driverPerformanceColumnData.length > 0 ? driverPerformanceColumnData[3].translatedName : '' }}</span>
            </mat-checkbox>
        </div>
    </div>
</div>

<!-- Driver Performance Graph Tab -->
<div *ngIf='driverPerformanceGraphColumnData.length > 0' fxLayout="row" class='areaWidth full-width padding-10 margin-top-20'
    fxLayoutAlign="left center" style='background: #BEE3F8 !important; border-radius: 5px 5px 0px 0px;'>
    <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
        <mat-checkbox class='custom-checkbox' (change)='$event ? masterToggleForDriverPerformanceGraphColumns() : null'
            [checked]='selectionForDriverPerformanceGraphColumns.hasValue() && isAllSelectedForDriverPerformanceGraphColumns()'
            [indeterminate]='selectionForDriverPerformanceGraphColumns.hasValue() && !isAllSelectedForDriverPerformanceGraphColumns()'
            [aria-label]='checkboxLabelForDriverPerformanceGraphColumns()' [disabled]='!editFlag'><span class='headerFont'>{{
                translationData.lblDriverPerformanceGraph || 'Driver Performance Graph'
                }}</span>
        </mat-checkbox>
    </div>
</div>
<div *ngIf='driverPerformanceGraphColumnData.length > 0' fxLayout="row" class='areaWidth full-width' fxLayoutAlign="left">
    <div fxLayout="column" class="areaWidth min-width-33-3-per" fxLayoutGap="0px" fxLayoutAlign="left">
        <div fxLayout="row" class='areaWidth adjust-padding' fxLayoutAlign="left">
            <mat-checkbox [disabled]='!editFlag' (click)='$event.stopPropagation()'
                (change)='$event ? selectionForDriverPerformanceGraphColumns.toggle(driverPerformanceGraphColumnData[0]) : null; checkboxClicked($event, driverPerformanceGraphColumnData[0])'
                [checked]="selectionForDriverPerformanceGraphColumns.isSelected(driverPerformanceGraphColumnData[0])"
                [aria-label]='checkboxLabelForDriverPerformanceGraphColumns(driverPerformanceGraphColumnData[0])' class='custom-checkbox'><span>{{
                    driverPerformanceGraphColumnData.length > 0 ? driverPerformanceGraphColumnData[0].translatedName : '' }}</span>
            </mat-checkbox>
        </div>
    </div>
    <div fxLayout="column" class="areaWidth min-width-33-3-per" fxLayoutGap="0px" fxLayoutAlign="left">
        <div fxLayout="row" class='areaWidth adjust-padding' fxLayoutAlign="left">
            <mat-checkbox [disabled]='!editFlag' (click)='$event.stopPropagation()'
                (change)='$event ? selectionForDriverPerformanceGraphColumns.toggle(driverPerformanceGraphColumnData[1]) : null; checkboxClicked($event, driverPerformanceGraphColumnData[1])'
                [checked]="selectionForDriverPerformanceGraphColumns.isSelected(driverPerformanceGraphColumnData[1])"
                [aria-label]='checkboxLabelForDriverPerformanceGraphColumns(driverPerformanceGraphColumnData[1])' class='custom-checkbox'><span>{{
                    driverPerformanceGraphColumnData.length > 0 ? driverPerformanceGraphColumnData[1].translatedName : '' }}</span>
            </mat-checkbox>
        </div>
    </div>
    <div fxLayout="column" class="areaWidth min-width-33-3-per" fxLayoutGap="0px" fxLayoutAlign="left"></div>  
</div>

<!-- Button -->
<div *ngIf='(generalColumnData.length > 0 || generalGraphColumnData.length > 0 || driverPerformanceColumnData.length > 0 || driverPerformanceGraphColumnData.length > 0) && editFlag'
    fxLayout="row" class='areaWidth margin-top-20' fxLayoutAlign="end">
    <button class='resetCancelBtnColor margin-right-10' (click)='onCancel()' mat-raised-button color="primary">{{
        translationData.lblCancel || 'Cancel' }}</button>
    <button class='resetCancelBtnColor margin-right-10' (click)='onReset()' mat-raised-button color="primary">{{
        translationData.lblReset || 'Reset' }}</button>
    <button
        [disabled]='selectionForGeneralColumns.selected.length == 0 || selectionForGeneralGraphColumns.selected.length == 0 || (driverPerformanceColumnData.length > 0 && !driverPerformanceColumnData[0].isChecked && !driverPerformanceColumnData[1].isChecked && !driverPerformanceColumnData[2].isChecked && !driverPerformanceColumnData[3].isChecked) || selectionForDriverPerformanceGraphColumns.selected.length == 0'
        class='no-margin' mat-raised-button color="primary" (click)='onConfirm()'>{{ (translationData.lblConfirm ||
        'Confirm') }}</button>
</div>