<form [formGroup]="periodSelectionForm">
  <div fxLayout="column" fxLayoutAlign="left" fxLayoutAlign="space-between">
    <mat-label style="font-size: 17px; font-weight: bold;" class="margin-bottom-sm">{{ translationData.lblSelectCalender || 'Select Calender' }}
    </mat-label>
    <mat-label class="margin-bottom-sm">{{ translationData.lblSelectoneorseveraldays || 'Select one or several days' }} <span
        class='mandatoryColor'>*</span>
      <mat-label style="color: darkgray;">{{ translationData.lblMax04customperiodperday || '(Max 04 custom period per
        day)'}}</mat-label>
    </mat-label>
    <!-- calendar -->
    <div formArrayName="FormArrayItems">
      <div *ngFor="let item of weekDays().controls; let periodIndex = index">
        <div [formGroupName]="periodIndex">
          <mat-card class='mat-elevation-z' style="border: 1px solid #000; margin-bottom: 15px;">
            <div fxLayout="row" class="full-width margin-bottom-sm">
              <div class="areaWidth min-width-10-per" fxLayout="column" fxLayoutAlign="left">
                <mat-checkbox (change)="onChangeDaySelection($event, periodIndex)" formControlName="daySelection">
                  {{ days[periodIndex] }}</mat-checkbox>
              </div>
              <div class="areaWidth min-width-10-per" fxLayout="column" fxLayoutAlign="left">
                  <mat-radio-group [disabled]="item['controls']['daySelection'].value != true" formControlName="fulldayCustom">
                    <mat-radio-button style='margin-right: 20px;' value="A">
                        {{ translationData.lblFullDay || 'Full Day' }}
                    </mat-radio-button>
                    <mat-radio-button style='margin-right: 20px;' value="C">
                        {{ translationData.lblCustomPeriod || 'Custom Period' }}
                    </mat-radio-button>
                  </mat-radio-group>
              </div> 
            </div>
            <div  fxLayout="row" class="full-width margin-bottom-sm" *ngIf="item['controls']['fulldayCustom'].value ==  'C'">
              <div fxLayout="column" class="max-width-90-per"  fxLayoutAlign="left">
                <div  fxLayout="row">
                <div formArrayName="FormArrayCustomItems">
                 <div *ngFor="let customItem of customPeriods(periodIndex).controls; let customIndex = index">
                  <div [formGroupName]="customIndex">
                    <div class="areaWidth max-width-25-per" fxLayout="column" fxLayoutAlign="left">
                      <!-- <div  fxLayout="row" class="full-width margin-bottom-sm"> -->
                        <div class="halfWidth" fxLayout="column">
                          <mat-label>{{ translationData.lblFrom || 'From' }}</mat-label>
                          <mat-form-field appearance="outline" class="full-width">
                              <input type="time" matInput formControlName="fromTime" >
                          </mat-form-field>
                        </div>
                        <div class="halfWidth" fxLayout="column">
                          <mat-label>{{ translationData.lblTo || 'To' }}</mat-label>
                          <mat-form-field appearance="outline" class="full-width">
                              <input type="time" matInput formControlName="toTime" >
                          </mat-form-field>
                          <button class='actionBtn' mat-flat-button (click)="onDeleteCustomPeriod(periodIndex, customIndex)" matTooltip="{{ translationData.lblDelete || 'Delete' }}">
                            <mat-icon class="deleteIcon">delete_outline</mat-icon>
                          </button>
                        </div>
                      <!-- </div> -->
                    </div>
                  </div>
                 </div>
                </div> 
              </div>
              </div>   
              <div  fxLayout="column" class="max-width-10-per"  fxLayoutAlign="left" fxLayoutGap="10px">
                <button class='no-margin' mat-raised-button color="primary" (click)='addCustomPeriod(periodIndex)'>
                  {{ translationData.lblAdd || 'Add' }}</button>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</form>