<div fxLayout="row" fxLayoutAlign="end end" class="full-width margin-bottom-sm">
  <button class='no-margin' mat-raised-button color="primary"
      (click)='onCancel()'>{{ translationData.lblBack || 'Back' }}
  </button>
</div>

<form [formGroup]="vehicleFormGroup" #createVehicleForm="ngForm">
    <mat-card class='mat-elevation-z margin-bottom-xlg'>
        <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-between center" class='margin-bottom-sm'>
                <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="start">
                    <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ title }}</span>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between" class="full-width" fxLayoutGap="10px">
                <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                    <mat-label>{{ createStatus ? (translationData.lblNewGroupName || 'New Group Name') : (translationData.lblGroupName || 'Group Name') }}<span class='mandatoryColor'>*</span>
                    </mat-label>
                    <mat-form-field appearance="outline" class="full-width">
                        <input  placeholder="{{ translationData.lblEnterVehicleGroupName || 'Enter Vehicle Group Name' }}" [(ngModel)]="createStatus ? '' : vehGrpName"
                            matInput formControlName="vehicleGroupName" required maxlength="50">
                    </mat-form-field>
                    <mat-error *ngIf="vehicleFormGroup.get('vehicleGroupName').hasError('required')">
                        {{ translationData.lblPleaseenterthenewvehiclegroupname || 'Please enter the new vehicle group name'}}
                    </mat-error>
                    <mat-error *ngIf="!vehicleFormGroup.get('vehicleGroupName').hasError('required')  && vehicleFormGroup.get('vehicleGroupName').hasError('whitespace')">
                     Vehicle Group Name cannot contain only whitespace
                    </mat-error>
                </div>
                <div class="areaWidth min-width-60-per" fxLayout="column" fxLayoutAlign="left">
                    <mat-label style='display: flex; place-content: space-between;'>
                        <span>{{ translationData.lblGroupDescriptionOptional || 'Group Description (Optional)' }}</span>
                        <span>{{ translationData.lbl100CharMax || '100 characters max' }}</span>
                    </mat-label>
                    <mat-form-field appearance="outline" class="full-width">
                        <input maxlength="100" placeholder="{{ translationData.lblEnterVehicleGroupDescription || 'Enter Vehicle Group Description' }}" matInput
                            formControlName="vehicleGroupDescription">
                    </mat-form-field>
                    <mat-error *ngIf="  vehicleFormGroup.get('vehicleGroupDescription').hasError('whitespace')">
                      Vehicle Group Description cannot contain only whitespace
                    </mat-error>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions class='no-margin no-padding'>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column" fxLayoutAlign="left">
                    <div fxLayout="row" fxLayoutAlign='center center'>
                        <mat-icon class='margin-right-10'>info</mat-icon>
                        <span>{{ createStatus ? (translationData.lblVehicleHintMessage || 'Please select vehicles from below list to associate with this vehicle group if needed.') : (translationData.lblEditHintMessage || 'You can edit vehicle associations from the list below') }}</span>
                    </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="end">
                    <div fxLayout="row">
                        <button class='margin-right-10' mat-raised-button color="primary"  [ngClass]="{'hidden': viewGroupMode}"
                            (click)='onCancel()'>{{ translationData.lblCancel || 'Cancel' }}</button>
                            <button class='margin-right-10' mat-raised-button color="primary"  [ngClass]="{'hidden': viewGroupMode}"
                            (click)='onReset()'>{{ translationData.lblReset || 'Reset' }}</button>
                        <button class='no-margin' [disabled]="!vehicleFormGroup.valid" mat-raised-button color="primary"  [ngClass]="{'hidden': viewGroupMode}"
                            (click)='onCreate()'>{{ createStatus ? (translationData.lblCreate || 'Create') : (translationData.lblConfirm || 'Confirm') }}</button>
                    </div>
                </div>
            </div>
        </mat-card-actions>
    </mat-card>
    <mat-card class='mat-elevation-z'>
        <div fxLayout="row" fxLayoutAlign="space-between center" class='margin-bottom-sm'>
            <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="start">
                <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblSelectVehicleListOptional || 'Select Vehicle List (Optional)' }}</span>
            </div>
        </div>
        <div *ngIf='createStatus' fxLayout="row" fxLayoutAlign="start start" class='margin-top-xlg'>
            <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ translationData.lblFilter || 'Filter' }}">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" class='margin-top-xlg'>
            <div fxLayout="column" class='full-width'>
                <mat-table [dataSource]="dataSource" class="table-items" matSort>
                    <ng-container *ngFor="let disCol of displayedColumns; let colIndex = index" matColumnDef="{{disCol}}">
                      <div *ngIf="disCol == 'select'"  >
                        <mat-header-cell *matHeaderCellDef >
                            <mat-checkbox (change)='$event ? masterToggleForVehGrp() : null' 
                                [checked]='selectionForVehGrp.hasValue() && isAllSelectedForVehGrp()'
                                [indeterminate]='selectionForVehGrp.hasValue() && !isAllSelectedForVehGrp()'
                                [aria-label]='checkboxLabelForVehGrp()'>
                            </mat-checkbox><span style="padding-left:10px">{{displayColumnHeaders[colIndex]}}</span>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <mat-checkbox (click)='$event.stopPropagation()'
                                (change)='$event ? selectionForVehGrp.toggle(row) : null'
                                [checked]='selectionForVehGrp.isSelected(row)'
                                [aria-label]='checkboxLabelForVehGrp(row)'>
                            </mat-checkbox>
                        </mat-cell>
                      </div>
                      <div *ngIf="disCol != 'select'">
                        <mat-header-cell *matHeaderCellDef>{{displayColumnHeaders[colIndex]}}</mat-header-cell>
                        <mat-cell *matCellDef="let element "> {{element[disCol]}} </mat-cell>
                      </div>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>


                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </div>
    </mat-card>
</form>
