<div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
    <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
        <span>{{ breadcumMsg }}</span>
    </div>
    <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="end" class='margin-right-xxlg'>
        <span class='custom-font' (click)="backToCorridorList()">
            <span>
                <&nbsp;</span>
                    <span class='backBtnCss'>{{ translationData.lblBack || 'Back' }}</span>
        </span>
    </div>
</div>

    <mat-card class='mat-elevation-z' *ngIf="actionType!=='view'">
        <mat-card-content>
            <div style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left" class="margin-bottom-xlg">
                <span>{{ translationData.lblAddNewCorridor || 'Add New Corridor' }}</span>
            </div>
            <div *ngIf="actionType != 'view'">{{ translationData.lblCorridorType || 'Corridor Type' }} <span
                    class='mandatoryColor'>*</span></div>

            <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
                <span class="col-sm">
                <mat-form-field appearance="outline">
                    <mat-select [(value)]="selectedCorridorTypeId" (selectionChange)="corridorTypeChanged($event)" required>
                        <mat-option *ngFor="let type of corridorTypeList" [value]="type.id">
                            {{ type.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                </span>
            </div>
        </mat-card-content>
    </mat-card>
    <!-- Map Div-->
    <div class='fixDiv'></div>
    <app-route-calculating  *ngIf='selectedCorridorTypeId ==46 && exclusionList' [translationData]="translationData" (backToPage) = "backToCorridorList()" (backToCreate) = "backFromCreate()" (backToReject) = "backFromReject()" [exclusionList]="exclusionList" [actionType]='actionType'
                            [selectedElementData]="selectedElementData"></app-route-calculating>
    <app-existing-trips *ngIf='selectedCorridorTypeId ==45' [vehicleGroupList]="vehicleGroupList" [translationData]="translationData"></app-existing-trips>