<div class="account-info-settings-container" style="background: white;">
  <mat-card class='margin-bottom-xlg mat-elevation-z'>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="space-between center" class='margin-bottom-sm'>
        <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="start">
          <!-- <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblAccountInformation }}</span> -->
          <span
            style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblAccountInformation || 'Account Information' }}
            <mat-icon *ngIf='!editAccountSettingsFlag' (click)="editAccountSettings()" style="cursor: pointer;">edit</mat-icon></span>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
        <div class="areaWidth min-width-25-per" fxLayout="column" fxLayoutAlign="left">
          <div *ngIf="!changePictureFlag" fxLayout="row" style="box-sizing: content-box; width: 170px; height: 170px;">
            <mat-icon  style="cursor: pointer; font-size: 150px; text-align: center; color: grey;"
              (click)="onchangePictureClick()">account_circle</mat-icon>
            <!-- <span fxLayout="row" style="margin-left: 55px; margin-top: 60px;">{{ translationData.lblChange }}</span> -->
            <span fxLayout="row"
              style="margin-left: 30px; margin-top: 90px;">{{ translationData.lblChange || 'Change' }}</span>
          </div>

          <div *ngIf="changePictureFlag" appDragDrop (files)="filesDroppedMethod($event)" style="background-color: rgb(241, 240, 240); box-sizing: content-box; width: 170px; height: 170px;">
            <input *ngIf="!isSelectPictureConfirm" type="file" (change)="fileChangeEvent($event)" />
            <image-cropper *ngIf="isAccountPictureSelected && !isSelectPictureConfirm" style="height: 100px; width: 170px;" 
              [imageChangedEvent]="imageChangedEvent" [imageBase64]="droppedImage" [maintainAspectRatio]="true" [aspectRatio]="1/ 1"
              [resizeToWidth]="100" format="png" roundCropper=true (imageCropped)="imageCropped($event)"
              (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
            </image-cropper>
            
            <img *ngIf="isSelectPictureConfirm" [src]="croppedImage" style="display: block; margin: auto; width: 170px; height: 170px; border-radius: 50%;" />

            <div *ngIf="!isAccountPictureSelected && !isSelectPictureConfirm">
              <span fxLayout="row">
                <mat-icon style="margin-left: 40px; font-size: 80px; color: grey;">account_circle</mat-icon>
              </span>
              <!-- <span fxLayout="row" style="margin-left: 72px; margin-top: 20px;">{{ translationData.lblor }}</span> -->
              <span fxLayout="row"
                style="margin-left: 72px; margin-top: 20px;">{{ translationData.lblor || 'or' }}</span>
              <!-- <span fxLayout="row" style="margin-left: 50px; margin-top: 20px;">{{ translationData.lblDraghere }}</span> -->
              <span fxLayout="row"
                style="margin-left: 50px; margin-top: 20px;">{{ translationData.lblDraghere || 'Drag here' }}</span>
            </div>
            <div fxLayout="row" *ngIf="!isSelectPictureConfirm">
              <span style="margin-left:20px; margin-top: 15px;">
                <!-- <a style="cursor: pointer;" (click)="onSelectPictureCancel()">{{ translationData.lblCancel }}</a> -->
                <a style="cursor: pointer;"
                  (click)="onSelectPictureCancel()">{{ translationData.lblCancel || 'Cancel' }}</a>
              </span>
              <span
                style="border-left: 1px solid; height: 20px; margin-left:30px; margin-top: 15px; color: grey;"></span>
              <span style="margin-left:8px; margin-top: 15px;">
                <!-- <a style="cursor: pointer;"  (click)="onSelectPictureConfirm()">{{ translationData.lblConfirm }}</a> -->
                <a style="cursor: pointer;"
                  (click)="onSelectPictureConfirm()">{{ translationData.lblConfirm || 'Confirm' }}</a>
              </span>
            </div>
          </div>

          <div class="linkBtn" style="margin-top: 10px;">
            <a style='margin-left: 20px;'
              (click)="openChangePasswordPopup()">{{ translationData.lblChangePassword || 'Change Password' }}</a>
          </div>
        </div>
        
        <div class="areaWidth min-width-75-per" fxLayout="column">
          <div *ngIf="!editAccountSettingsFlag" fxLayout="row" fxLayoutAlign="space-between"
            class="full-width margin-bottom-sm" fxLayoutGap="10px">
            <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
              <!-- <mat-label>{{ translationData.lblSalutation }}</mat-label> -->
              <mat-label>{{ translationData.lblSalutation || 'Salutation' }}</mat-label>
              <mat-label class='custom-font'>
              <!-- original -->
                <!-- {{confirmAccountInfoData.salutation ? confirmAccountInfoData.salutation.value : '--'}} -->
                <!-- Mock data -->
                {{ accountInfo.length > 0 ? accountInfo[0].salutation : '--' }}
              </mat-label>
            </div>
            <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
              <!-- <mat-label>{{ translationData.lblFirstName }}</mat-label> -->
              <mat-label>{{ translationData.lblFirstName || 'First Name' }}</mat-label>
              <mat-label class='custom-font'>
                <!-- {{confirmAccountInfoData.firstName ? confirmAccountInfoData.firstName.value : '--'}} -->
                {{ accountInfo.length > 0 ? accountInfo[0].firstName : '--' }}
              </mat-label>
            </div>
            <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
              <!-- <mat-label>{{ translationData.lblLastName }}</mat-label> -->
              <mat-label>{{ translationData.lblLastName || 'Last Name' }}</mat-label>
              <mat-label class='custom-font'>
                <!-- {{confirmAccountInfoData.lastName ? confirmAccountInfoData.lastName.value : '--'}} -->
                {{ accountInfo.length > 0 ? accountInfo[0].lastName : '--' }}
              </mat-label>
            </div>
          </div>
          <div *ngIf="!editAccountSettingsFlag" fxLayout="row" fxLayoutAlign="space-between"
            class="full-width margin-bottom-sm" fxLayoutGap="10px">
            <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
              <!-- <mat-label>{{ translationData.lblLoginEmail }}</mat-label> -->
              <mat-label>{{ translationData.lblLoginEmail || 'Login Email' }}</mat-label>
              <mat-label class='custom-font'>
                <!-- {{confirmAccountInfoData.loginEmail ? confirmAccountInfoData.loginEmail.value : '--'}} -->
                {{ accountInfo.length > 0 ? accountInfo[0].emailId : '--' }}
              </mat-label>
            </div>
            <!-- <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
              <mat-label>{{ translationData.lblBirthDate || 'Birth Date' }}</mat-label>
              <mat-label class='custom-font'>
                {{ accountInfo.birthDate }}
              </mat-label>
            </div> -->
            <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
              <!-- <mat-label>{{ translationData.lblOrganization }}</mat-label> -->
              <mat-label>{{ translationData.lblOrganization || 'Organization' }}</mat-label>
              <mat-label class='custom-font'>
                <!-- {{confirmAccountInfoData.organization ? confirmAccountInfoData.organization.value : '--'}} -->
                {{ orgName ? orgName : '--' }}
              </mat-label>
            </div>
            <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left"></div>
          </div>

          <form [formGroup]="accountSettingsForm" *ngIf="editAccountSettingsFlag">
            <div fxLayout="row" fxLayoutAlign="space-between center" class='margin-bottom-sm'>
              <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="start">
                <!-- <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblAccountInformation }}</span> -->
                <span
                  style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblAccountInformation || 'Account Information' }}</span>
              </div>
              <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="end">
                <!-- <span style='color: red;'>*{{ translationData.lblAllDetailsAreMandatory }}</span> -->
                <span
                  style='color: red;'>*{{ translationData.lblAllDetailsAreMandatory || 'All details are mandatory' }}</span>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
              <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                <!-- <mat-label>{{ translationData.lblSalutation }}<span class='mandatoryColor'>*</span></mat-label> -->
                <mat-label>{{ translationData.lblSalutation || 'Salutation' }}<span class='mandatoryColor'>*</span>
                </mat-label>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-select placeholder="{{ translationData.lblSalutation || 'Salutation' }}"
                    formControlName="salutation" required>
                    <!-- <mat-option>
                                <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="No matching data found">
                                </ngx-mat-select-search>
                              </mat-option> -->
                    <!-- <mat-option>--</mat-option> -->
                    <mat-option *ngFor="let rer of salutationList" [value]="rer.name">
                      {{ rer.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <!-- <mat-error *ngIf="firstFormGroup.get('salutation').hasError('required')">
                            {{ translationData.lblPleasechoosesalutation }}
                          </mat-error> -->
                <mat-error *ngIf="accountSettingsForm.get('salutation').hasError('required')">
                  {{ translationData.lblPleasechoosesalutation || 'Please choose salutation' }}
                </mat-error>
              </div>
              <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                <!-- <mat-label>{{ translationData.lblFirstName }}<span class='mandatoryColor'>*</span></mat-label> -->
                <mat-label>{{ translationData.lblFirstName || 'First Name' }}<span class='mandatoryColor'>*</span>
                </mat-label>
                <mat-form-field appearance="outline" class="full-width">
                  <input maxlength="120" placeholder="{{ translationData.lblFirstName || 'First Name' }}" matInput
                    formControlName="firstName" required>
                </mat-form-field>
                <!-- <mat-error *ngIf="firstFormGroup.get('firstName').hasError('required')">
                            {{ translationData.lblPleaseenterFirstName }}
                          </mat-error> -->
                <mat-error *ngIf="accountSettingsForm.get('firstName').hasError('required')">
                  {{ translationData.lblPleaseenterFirstName || 'Please enter First Name' }}
                </mat-error>
                <mat-error *ngIf="accountSettingsForm.get('firstName').hasError('specialCharsNotAllowed')">
                  {{ translationData.lblSpecialCharactersNotAllowed || 'Special characters not allowed' }}
                </mat-error>
                <mat-error *ngIf="accountSettingsForm.get('firstName').hasError('numberNotAllowed')">
                  {{ translationData.lblNumbersNotAllowed || 'Numbers not allowed' }}
                </mat-error>

              </div>
              <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                <!-- <mat-label>{{ translationData.lblLastName }}<span class='mandatoryColor'>*</span></mat-label> -->
                <mat-label>{{ translationData.lblLastName || 'Last Name' }}<span class='mandatoryColor'>*</span>
                </mat-label>
                <mat-form-field appearance="outline" class="full-width">
                  <input maxlength="120" placeholder="{{ translationData.lblLastName || 'Last Name' }}" matInput
                    formControlName="lastName" required>
                </mat-form-field>
                <!-- <mat-error *ngIf="firstFormGroup.get('lastName').hasError('required')">
                            {{ translationData.lblPleaseenterLastName }}
                          </mat-error> -->
                <mat-error *ngIf="accountSettingsForm.get('lastName').hasError('required')">
                  {{ translationData.lblPleaseenterLastName || 'Please enter Last Name' }}
                </mat-error>
                <mat-error *ngIf="accountSettingsForm.get('lastName').hasError('specialCharsNotAllowed')">
                  {{ translationData.lblSpecialCharactersNotAllowed || 'Special characters not allowed' }}
                </mat-error>
                <mat-error *ngIf="accountSettingsForm.get('lastName').hasError('numberNotAllowed')">
                  {{ translationData.lblNumbersNotAllowed || 'Numbers not allowed' }}
                </mat-error>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
              <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                <!-- <mat-label>{{ translationData.lblLoginEmail }}<span class='mandatoryColor'>*</span></mat-label> -->
                <mat-label>{{ translationData.lblLoginEmail || 'Login Email' }}<span class='mandatoryColor'>*</span>
                </mat-label>
                <mat-form-field appearance="outline" class="full-width">
                  <input maxlength="120" placeholder="{{ translationData.lblLoginEmail || 'Login Email' }}" matInput
                    formControlName="loginEmail" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required>
                </mat-form-field>
                <!-- <mat-error *ngIf="firstFormGroup.get('loginEmail').hasError('required')">
                            {{ translationData.lblPleaseenteremailID }}
                          </mat-error> -->
                <mat-error *ngIf="accountSettingsForm.get('loginEmail').hasError('required')">
                  {{ translationData.lblPleaseenteremailID || 'Please enter email ID' }}
                </mat-error>
                <!-- <mat-error *ngIf="firstFormGroup.get('loginEmail').hasError('email')">
                            {{ translationData.lblPleaseentervalidemailID }}
                          </mat-error> -->
                <mat-error *ngIf="accountSettingsForm.get('loginEmail').hasError('email')">
                  {{ translationData.lblPleaseentervalidemailID || 'Please enter valid email ID' }}
                </mat-error>
              </div>
              <!-- <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                <mat-label>{{ translationData.lblBirthDate || 'Birth Date' }}</mat-label>
                <mat-form-field appearance="outline" class="full-width">
                  <input formControlName="birthDate" [matDatepickerFilter]="myFilter" style="cursor:pointer;"
                    placeholder="MM/DD/YYYY" [readonly]="true" matInput [matDatepicker]="Due_Date">
                  <mat-datepicker-toggle matSuffix [for]="Due_Date"></mat-datepicker-toggle>
                  <mat-datepicker #Due_Date></mat-datepicker>
                </mat-form-field>
              </div> -->
              <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                <!-- <mat-label>{{ translationData.lblOrganization }}</mat-label> -->
                <mat-label>{{ translationData.lblOrganization || 'Organization' }}</mat-label>
                <mat-form-field appearance="outline" class="full-width">
                  <input placeholder="{{ translationData.lblOrganization || 'Organization' }}" matInput
                    value="DAF Connect" formControlName="organization">
                </mat-form-field>
              </div>
              <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left"></div>
            </div>
            <div fxLayout="row" fxLayoutAlign="end end" class="full-width">
              <button class='margin-right-10' mat-raised-button color="primary"
                (click)='onEditAccountSettingsCancel()'>{{ translationData.lblCancel || 'Cancel' }}</button>
              <button class='margin-right-10'  mat-raised-button color="primary" 
                (click)='onResetAccountSettings()'>{{ translationData.lblReset || 'Reset' }}</button>  
              <button mat-raised-button type="submit" color="primary" [disabled]="!accountSettingsForm.valid"
                (click)='onAccountSettingsUpdate()'>{{ translationData.lblConfirm || 'Confirm' }}</button>
            </div>
          </form>
        </div>
      </div>
      <div style='padding: 20px; position: relative;'>
        <mat-divider></mat-divider>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" class='margin-bottom-sm'>

        <span
          style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblGeneralSettings || 'General Settings' }}
          ({{ translationData.lblDefaultorganizationbasedsettings || 'Default organization based settings' }})
          <mat-icon *ngIf='!editGeneralSettingsFlag' (click)="editGeneralSettings()" style="cursor: pointer;">edit</mat-icon>
        </span>

      </div>
      <div *ngIf="!editGeneralSettingsFlag" fxLayout="row" fxLayoutAlign="space-between"
        class="full-width margin-bottom-sm" fxLayoutGap="10px">
        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
          <!-- <mat-label>{{ translationData.lblLanguage }}</mat-label> -->
          <mat-label>{{ translationData.lblLanguage || 'Language' }}</mat-label>
          <mat-label class='custom-font'>
          <!-- original -->
            <!-- {{confirmAccountInfoData.language ? confirmAccountInfoData.language.value : '--'}} -->
            <!-- Mock data -->
            {{ !languageData ? '--' : languageData.length > 0 ? languageData[0].value : '--' }}
          </mat-label>
        </div>
        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
          <!-- <mat-label>{{ translationData.lblTimeZone }}</mat-label> -->
          <mat-label>{{ translationData.lblTimeZone || 'Time Zone' }}</mat-label>
          <mat-label class='custom-font'>
            <!-- {{confirmAccountInfoData.timeZone ? confirmAccountInfoData.timeZone.value : '--'}} -->
            {{ !timezoneData ? '--' : timezoneData.length > 0 ? timezoneData[0].value : '--' }}
          </mat-label>
        </div>
        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
          <!-- <mat-label>{{ translationData.lblUnit }}</mat-label> -->
          <mat-label>{{ translationData.lblUnit || 'Unit' }}</mat-label>
          <mat-label class='custom-font'>
              <!-- {{confirmAccountInfoData.unit ? confirmAccountInfoData.unit.value : '--'}} -->
              {{ !unitData ? '--' : unitData.length > 0 ? unitData[0].value : '--' }}
          </mat-label>
        </div>
      </div>
      <div *ngIf="!editGeneralSettingsFlag" fxLayout="row" fxLayoutAlign="space-between"
        class="full-width margin-bottom-sm" fxLayoutGap="10px">
        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
          <!-- <mat-label>{{ translationData.lblCurrency }}</mat-label> -->
          <mat-label>{{ translationData.lblCurrency || 'Currency' }}</mat-label>
          <mat-label class='custom-font'>
            <!-- {{confirmAccountInfoData.currency ? confirmAccountInfoData.currency.value : '--'}} -->
            {{ !currencyData ? '--' : currencyData.length > 0 ? currencyData[0].value : '--' }}
          </mat-label>
        </div>
        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
          <!-- <mat-label>{{ translationData.lblDateFormat }}</mat-label> -->
          <mat-label>{{ translationData.lblDateFormat || 'Date Format' }}</mat-label>
          <mat-label class='custom-font'>
            <!-- {{confirmAccountInfoData.dateFormat ? confirmAccountInfoData.dateFormat.value : '--'}} -->
            {{ !dateFormatData ? '--' : dateFormatData.length > 0 ? dateFormatData[0].value : '--' }}
          </mat-label>
        </div>
        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
          <!-- <mat-label>{{ translationData.lblTimeFormat }}</mat-label> -->
          <mat-label>{{ translationData.lblTimeFormat || 'Time Format' }}</mat-label>
          <mat-label class='custom-font'>
            <!-- {{ confirmAccountInfoData.timeFormat ? confirmAccountInfoData.timeFormat.value : '--'}} -->
            {{ !timeFormatData ? '--' : timeFormatData.length > 0 ? timeFormatData[0].value : '--' }}
          </mat-label>
        </div>
      </div>
      <div *ngIf="!editGeneralSettingsFlag" fxLayout="row" fxLayoutAlign="space-between"
        class="full-width margin-bottom-sm" fxLayoutGap="10px">  
        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
          <!-- <mat-label>{{ translationData.lblVehicleDisplayDefault }}</mat-label> -->
          <mat-label>{{ translationData.lblVehicleDisplayDefault || 'Vehicle Display (Default)' }}</mat-label>
          <mat-label class='custom-font'>
            <!-- {{confirmAccountInfoData.vehDisplay ? confirmAccountInfoData.vehDisplay.value : '--'}} -->
            {{ !vehicleDisplayData ? '--' : vehicleDisplayData.length > 0 ? vehicleDisplayData[0].value : '--' }}
          </mat-label>
        </div>
        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
          <!-- <mat-label>{{ translationData.lblLandingPageDisplayDefault }}</mat-label> -->
          <mat-label>{{ translationData.lblLandingPageDisplayDefault || 'Landing Page Display (Default)' }}</mat-label>
          <mat-label class='custom-font'>
            <!-- {{ confirmAccountInfoData.landingPage ? confirmAccountInfoData.landingPage.value : '--'}} -->
            {{ !landingPageDisplayData ? '--' : landingPageDisplayData.length > 0 ? landingPageDisplayData[0].value : '--' }}
          </mat-label>
        </div>
        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left"></div>
      </div>

      <form [formGroup]="userSettingsForm" *ngIf="editGeneralSettingsFlag">
        <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">

          <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
            <!-- <mat-label>{{ translationData.lblLanguage }}</mat-label> -->
            <mat-label>{{ translationData.lblLanguage || 'Language' }}</mat-label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-select placeholder="Language" formControlName="language">
                <!-- <mat-option>
                        <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="No matching data found">
                        </ngx-mat-select-search>
                      </mat-option> -->
                <mat-option *ngFor="let rer of languageDropdownData" [value]="rer.id">
                  {{ rer.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
            <!-- <mat-label>{{ translationData.lblTimeZone }}</mat-label> -->
            <mat-label>{{ translationData.lblTimeZone || 'Time Zone' }}</mat-label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-select placeholder="Time Zone" formControlName="timeZone">
                <!-- <mat-option>
                        <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="No matching data found">
                        </ngx-mat-select-search>
                      </mat-option> -->
                <mat-option *ngFor="let rer of timezoneDropdownData" [value]="rer.id">
                  {{ rer.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
            <!-- <mat-label>{{ translationData.lblUnit }}</mat-label> -->
            <mat-label>{{ translationData.lblUnit || 'Unit' }}</mat-label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-select placeholder="Unit" formControlName="unit">
                <!-- <mat-option>
                        <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="No matching data found">
                        </ngx-mat-select-search>
                      </mat-option> -->
                <mat-option *ngFor="let rer of unitDropdownData" [value]="rer.id">
                  {{ rer.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>

        <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
          <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
            <!-- <mat-label>{{ translationData.lblCurrency }}</mat-label> -->
            <mat-label>{{ translationData.lblCurrency || 'Currency' }}</mat-label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-select placeholder="Currency" formControlName="currency">
                <!-- <mat-option>
                        <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="No matching data found">
                        </ngx-mat-select-search>
                      </mat-option> -->
                <mat-option *ngFor="let rer of currencyDropdownData" [value]="rer.id">
                  {{ rer.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
            <!-- <mat-label>{{ translationData.lblDateFormat }}</mat-label> -->
            <mat-label>{{ translationData.lblDateFormat || 'Date Format' }}</mat-label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-select placeholder="Date Format" formControlName="dateFormat">
                <!-- <mat-option>
                        <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="No matching data found">
                        </ngx-mat-select-search>
                      </mat-option> -->
                <mat-option *ngFor="let rer of dateFormatDropdownData" [value]="rer.id">
                  {{ rer.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
            <mat-label>{{ translationData.lblTimeFormat || 'Time Format' }}</mat-label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-select placeholder="{{ translationData.lblTimeFormat || 'Time Format' }}" formControlName="timeFormat">
                <!-- <mat-option>
                  <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="No matching data found">
                  </ngx-mat-select-search>
                </mat-option> -->
                <mat-option *ngFor="let rer of timeFormatDropdownData" [value]="rer.id">
                  {{ rer.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
          <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
            <!-- <mat-label>{{ translationData.lblVehicleDisplayDefault }}</mat-label> -->
            <mat-label>{{ translationData.lblVehicleDisplayDefault || 'Vehicle Display (Default)' }}</mat-label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-select placeholder="Vehicle Display (Default)" formControlName="vehDisplay">
                <!-- <mat-option>
                        <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="No matching data found">
                        </ngx-mat-select-search>
                      </mat-option> -->
                <mat-option *ngFor="let rer of vehicleDisplayDropdownData" [value]="rer.id">
                  {{ rer.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
            <!-- <mat-label>{{ translationData.lblVehicleDisplayDefault }}</mat-label> -->
            <mat-label>{{ translationData.lblLandingPageDisplayDefault || 'Landing Page Display (Default)' }}</mat-label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-select placeholder="{{ translationData.lblLandingPageDisplayDefault || 'Landing Page Display (Default)' }}" formControlName="landingPage">
                <!-- <mat-option>
                  <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="No matching data found">
                  </ngx-mat-select-search>
                </mat-option> -->
                <mat-option *ngFor="let rer of landingPageDisplayDropdownData" [value]="rer.id">
                  {{ rer.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left"></div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end end" class="full-width">
          <button class='margin-right-10' mat-raised-button color="primary"
            (click)='onEditGeneralSettingsCancel()'>{{ translationData.lblCancel || 'Cancel' }}</button>
          <button class='margin-right-10'  mat-raised-button color="primary" 
                            (click)='onResetGeneralSettings()'>{{ translationData.lblReset || 'Reset' }}</button>
          <button mat-raised-button color="primary" type="submit"
            (click)='onGeneralSettingsUpdate()'>{{ translationData.lblConfirm || 'Confirm' }}</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>