<div class="account-info-settings-container" style="background: white;">
  <mat-card class='margin-bottom-xlg mat-elevation-z'>
    <mat-card-content>
      <div *ngIf='grpTitleVisible' fxLayout="row" fxLayoutAlign="center center"
          style='padding:10px; color:#fff; background: #5dc24e;'>
          <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center" style='width:95%;'>
          {{ displayMessage }}
          </div>
          <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center">
          <mat-icon (click)='onClose()' style='cursor: pointer;'>close</mat-icon>
          </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" class='margin-bottom-sm'>
        <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="start">
          <span
            style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblAccountInformation || 'Account Information' }}
            <mat-icon *ngIf='!editAccountSettingsFlag' (click)="editAccountSettings()" style="cursor: pointer;">edit</mat-icon></span>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between" class="accInfoContainer full-width margin-bottom-sm" fxLayoutGap="10px">
        <div class="" fxLayout="column" fxLayoutAlign="left">
          <div *ngIf="!changePictureFlag" fxLayout="row" style="box-sizing: content-box; width: 170px; height: 170px;">
            <mat-icon  style="cursor: pointer; font-size: 150px; text-align: center; color: grey;"
              (click)="onchangePictureClick()">account_circle</mat-icon>
            <span fxLayout="row" (click)="onchangePictureClick()"
              style="cursor: pointer; margin-left: 30px; margin-top: 90px;">{{ translationData.lblChange || 'Change' }}</span>
          </div>
          <div *ngIf="changePictureFlag" appDragDrop (files)="filesDroppedMethod($event)" style="background-color: rgb(241, 240, 240); box-sizing: content-box; width: 170px; height: 170px;">
            <input *ngIf="!isSelectPictureConfirm" type="file" (change)="fileChangeEvent($event)" />
            <image-cropper *ngIf="isAccountPictureSelected && !isSelectPictureConfirm" style="height: 100px; width: 170px;" 
              [imageChangedEvent]="imageChangedEvent" [imageBase64]="droppedImage" [maintainAspectRatio]="true" [aspectRatio]="1/ 1"
              [resizeToWidth]="100" format="png" roundCropper=true (imageCropped)="imageCropped($event)"
              (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
            </image-cropper>
            <img *ngIf="isSelectPictureConfirm" [src]="croppedImage" style="display: block; margin: auto; width: 170px; height: 170px; border-radius: 50%;" />
            <div *ngIf="!isAccountPictureSelected && !isSelectPictureConfirm">
              <span fxLayout="row">
                <mat-icon style="margin-left: 40px; font-size: 80px; color: grey;">account_circle</mat-icon>
              </span>
              <span fxLayout="row" style="margin-left: 72px; margin-top: 20px;">{{ translationData.lblor || 'or' }}</span>
              <span fxLayout="row"
                style="margin-left: 50px; margin-top: 20px;">{{ translationData.lblDraghere || 'Drag here' }}</span>
            </div>
            <div fxLayout="row" *ngIf="!isSelectPictureConfirm">
              <span style="margin-left:20px; margin-top: 15px;">
                <a style="cursor: pointer;"
                  (click)="onSelectPictureCancel()">{{ translationData.lblCancel || 'Cancel' }}</a>
              </span>
              <span
                style="border-left: 1px solid; height: 20px; margin-left:30px; margin-top: 15px; color: grey;"></span>
              <span style="margin-left:8px; margin-top: 15px;">
                <button style="cursor: pointer; border: none;" [disabled]="croppedImage == croppedImageTemp"
                  (click)="onSelectPictureConfirm()">{{ translationData.lblConfirm || 'Confirm' }}</button>
              </span>
            </div>
            
          </div>
          <div class="linkBtn" style="margin-top: 10px;">
            <a style='margin-left: 20px;'
              (click)="openChangePasswordPopup()">{{ translationData.lblChangePassword || 'Change Password' }}</a>
          </div>
          <div fxLayout="row" *ngIf="imageError!=''">
            <span style="color:red">{{imageError}}</span>
          </div>
        </div>
        <div fxLayout="column" class="areaWidth min-width-75-per accountInfo wordWrap">
          <div *ngIf="!editAccountSettingsFlag" fxLayout="row" fxLayoutAlign="space-between"
            class="full-width margin-bottom-sm accountInfo__fNlN" fxLayoutGap="10px">
            <div class="areaWidth min-width-30-per" style="width:30%" fxLayout="column" fxLayoutAlign="left">
              <mat-label>{{ translationData.lblSalutation || 'Salutation' }}</mat-label>
              <mat-label class='custom-font'>
                {{ accountInfo.length > 0 ? accountInfo[0].salutation : '--' }}
              </mat-label>
            </div>
            <div class="areaWidth min-width-30-per" style="width:30%" fxLayout="column" fxLayoutAlign="left">
              <mat-label>{{ translationData.lblFirstName || 'First Name' }}</mat-label>
              <mat-label class='custom-font'>
                {{ accountInfo.length > 0 ? accountInfo[0].firstName : '--' }}
              </mat-label>
            </div>
            <div class="areaWidth min-width-30-per" style="width:30%"  fxLayout="column" fxLayoutAlign="left">
              <mat-label>{{ translationData.lblLastName || 'Last Name' }}</mat-label>
              <mat-label class='custom-font'>
                {{ accountInfo.length > 0 ? accountInfo[0].lastName : '--' }}
              </mat-label>
            </div>
          </div>
          <div *ngIf="!editAccountSettingsFlag" fxLayout="row" fxLayoutAlign="space-between"
            class="full-width margin-bottom-sm accountInfo__fNlN" fxLayoutGap="10px">
            <div class="areaWidth min-width-30-per"  style="width:30%" fxLayout="column" fxLayoutAlign="left">
              <mat-label>{{ translationData.lblLoginEmail || 'Login Email' }}</mat-label>
              <mat-label class='custom-font'>
                {{ accountInfo.length > 0 ? accountInfo[0].emailId : '--' }}
              </mat-label>
            </div>
            <div class="areaWidth min-width-30-per" style="width:30%"  fxLayout="column" fxLayoutAlign="left">
              <mat-label>{{ translationData.lblOrganisation || 'Organisation' }}</mat-label>
              <mat-label class='custom-font'>
                {{ orgName ? orgName : '--' }}
              </mat-label>
            </div>
            <div class="areaWidth min-width-30-per"  style="width:30%" fxLayout="column" fxLayoutAlign="left">
              <!--<span *ngIf="accountInfo.length > 0 ? accountInfo[0].driverId != '' : false">-->
                <mat-label>{{ translationData.lblDriverId || 'Driver Id' }}</mat-label>
                <mat-label class='custom-font'>
                  {{ accountInfo.length > 0 ? accountInfo[0].driverId : '--' }}
                </mat-label>
             <!-- </span>-->
            </div>
            <!-- <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left"></div> -->
          </div>
          <form [formGroup]="accountSettingsForm" *ngIf="editAccountSettingsFlag">
            <div fxLayout="row" fxLayoutAlign="space-between center" class='margin-bottom-sm'>
              <div fxLayout="row"></div>
              <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="start">
                <span
                  style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblAccountInformation || 'Account Information' }}</span>
              </div>
              <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="end">
                <span
                  style='color: red;'>*{{ translationData.lblAllDetailsAreMandatory || 'All details are mandatory' }}</span>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm mobile-view" fxLayoutGap="10px">
              <div class="areaWidth min-width-30-per mobile-margin-right-0" fxLayout="column" fxLayoutAlign="left">
                <mat-label>{{ translationData.lblSalutation || 'Salutation' }}<span class='mandatoryColor'>*</span>
                </mat-label>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-select placeholder="{{ translationData.lblSalutation || 'Salutation' }}"
                    formControlName="salutation" required>
                    <mat-option *ngFor="let rer of salutationList" [value]="rer.name">
                      {{ rer.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-error *ngIf="accountSettingsForm.get('salutation').hasError('required')">
                  {{ translationData.lblPleasechoosesalutation || 'Please choose salutation' }}
                </mat-error>
              </div>
              <div class="areaWidth min-width-30-per mobile-margin-right-0" fxLayout="column" fxLayoutAlign="left">
                <mat-label>{{ translationData.lblFirstName || 'First Name' }}<span class='mandatoryColor'>*</span>
                </mat-label>
                <mat-form-field appearance="outline" class="full-width">
                  <input maxlength="30" placeholder="{{ translationData.lblFirstName || 'First Name' }}" matInput
                    formControlName="firstName" required>
                </mat-form-field>
                <mat-error *ngIf="accountSettingsForm.get('firstName').hasError('required')">
                  {{ translationData.lblPleaseenterFirstName || 'Please enter First Name' }}
                </mat-error>
                <mat-error *ngIf="accountSettingsForm.get('firstName').hasError('specialCharsNotAllowed')">
                  {{ translationData.lblSpecialCharactersNotAllowed || 'Special characters not allowed' }}
                </mat-error>
                <mat-error *ngIf="accountSettingsForm.get('firstName').hasError('numberNotAllowed')">
                  {{ translationData.lblNumbersNotAllowed || 'Numbers not allowed' }}
                </mat-error>
                <mat-error *ngIf="!accountSettingsForm.get('firstName').hasError('required')  && accountSettingsForm.get('firstName').hasError('whitespace')">
                  {{ translationData.lblFirstNamecannotcontainonlywhitespace || 'First Name cannot contain only whitespace' }}
                 </mat-error>
              </div>
              <div class="areaWidth min-width-30-per mobile-margin-right-0" fxLayout="column" fxLayoutAlign="left">
                <mat-label>{{ translationData.lblLastName || 'Last Name' }}<span class='mandatoryColor'>*</span>
                </mat-label>
                <mat-form-field appearance="outline" class="full-width">
                  <input maxlength="20" placeholder="{{ translationData.lblLastName || 'Last Name' }}" matInput
                    formControlName="lastName" required>
                </mat-form-field>
                <mat-error *ngIf="accountSettingsForm.get('lastName').hasError('required')">
                  {{ translationData.lblPleaseenterLastName || 'Please enter Last Name' }}
                </mat-error>
                <mat-error *ngIf="accountSettingsForm.get('lastName').hasError('specialCharsNotAllowed')">
                  {{ translationData.lblSpecialCharactersNotAllowed || 'Special characters not allowed' }}
                </mat-error>
                <mat-error *ngIf="accountSettingsForm.get('lastName').hasError('numberNotAllowed')">
                  {{ translationData.lblNumbersNotAllowed || 'Numbers not allowed' }}
                </mat-error>
                <mat-error *ngIf="!accountSettingsForm.get('lastName').hasError('required')  && accountSettingsForm.get('lastName').hasError('whitespace')">
                  {{ translationData.lblLastNamecannotcontainonlywhitespace || 'Last Name cannot contain only whitespace' }}
                 </mat-error>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-xlg mobile-view" fxLayoutGap="10px">
              <div class="areaWidth min-width-30-per mobile-margin-right-0" fxLayout="column" fxLayoutAlign="left">
                <mat-label>{{ translationData.lblLoginEmail || 'Login Email' }}<span class='mandatoryColor'>*</span>
                </mat-label>
                <mat-form-field appearance="outline" class="full-width">
                  <input maxlength="50" placeholder="{{ translationData.lblLoginEmail || 'Login Email' }}" matInput 
                    formControlName="loginEmail" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required>
                </mat-form-field>
                <!-- <mat-error *ngIf="accountSettingsForm.get('loginEmail').hasError('required')">
                  {{ translationData.lblPleaseenteremailID || 'Please enter email ID' }}
                </mat-error>
                <mat-error *ngIf="accountSettingsForm.get('loginEmail').hasError('email')">
                  {{ translationData.lblPleaseentervalidemailID || 'Please enter valid email ID' }}
                </mat-error> -->
              </div>
              <div class="areaWidth min-width-30-per mobile-margin-right-0" fxLayout="column" fxLayoutAlign="left">
                <mat-label>{{ translationData.lblOrganisation || 'Organisation' }}</mat-label>
                <mat-form-field appearance="outline" class="full-width">
                  <input placeholder="{{ translationData.lblOrganisation || 'Organisation' }}" matInput
                    value="DAF Connect" formControlName="organization">
                </mat-form-field>
              </div>
              <div class="areaWidth min-width-30-per mobile-margin-right-0" fxLayout="column" fxLayoutAlign="left">
                <!--<span *ngIf="accountInfo.length > 0 ? accountInfo[0].driverId != '' : false">-->
                  <mat-label>{{ translationData.lblDriverId || 'Driver Id' }}</mat-label>
                  <mat-form-field appearance="outline" class="full-width">
                    <input placeholder="{{ translationData.lblDriverId || 'Driver Id' }}" matInput
                      formControlName="driverId">
                  </mat-form-field>
               <!-- </span>-->
              </div>
              <!-- <div class="areaWidth min-width-30-per mobile-margin-right-0" fxLayout="column" fxLayoutAlign="left"></div> -->
            </div>
            <div fxLayout="row" fxLayoutAlign="end end" class="areaWidth full-width mobile-view mobile-btn-align">
              <button class='resetCancelBtnColor margin-right-10 mobile-full-width mobile-margin-bottom-10' mat-raised-button color="primary"
                (click)='onEditAccountSettingsCancel()'>{{ translationData.lblCancel || 'Cancel' }}</button>
              <button class='resetCancelBtnColor margin-right-10 mobile-full-width mobile-margin-bottom-10' mat-raised-button color="primary" 
                (click)='onResetAccountSettings()'>{{ translationData.lblReset || 'Reset' }}</button>  
              <button class='mobile-full-width' mat-raised-button type="submit" color="primary" [disabled]="!accountSettingsForm.valid"
                (click)='onAccountSettingsUpdate()'>{{ translationData.lblConfirm || 'Confirm' }}</button>
            </div>
          </form>
        </div>
      </div>
      <div style='padding: 20px; position: relative;'>
        <mat-divider></mat-divider>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" class='margin-bottom-sm'>
        <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblGeneralSettings || 'General Settings' }}
          ({{ translationData.lblOrganisationbasedsettings || 'Organisation based settings' }})
          <mat-icon *ngIf='!editGeneralSettingsFlag' (click)="editGeneralSettings()" style="cursor: pointer;">edit</mat-icon>
        </span>
      </div>
      <div *ngIf="!editGeneralSettingsFlag" fxLayout="row" fxLayoutAlign="space-between"
        class="full-width margin-bottom-sm accountInfo__fNlN" fxLayoutGap="10px">
        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
          <mat-label>{{ translationData.lblLanguage || 'Language' }}</mat-label>
          <mat-label class='custom-font'>
            {{ !languageData ? '--' : languageData.length > 0 ? languageData[0].value : '--' }}
          </mat-label>
        </div>
        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
          <mat-label>{{ translationData.lblTimeZone || 'Time Zone' }}</mat-label>
          <mat-label class='custom-font'>
            {{ !timezoneData ? '--' : timezoneData.length > 0 ? timezoneData[0].value : '--' }}
          </mat-label>
        </div>
        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
          <mat-label>{{ translationData.lblUnit || 'Unit' }}</mat-label>
          <mat-label class='custom-font'>
              {{ !unitData ? '--' : unitData.length > 0 ? unitData[0].value : '--' }}
          </mat-label>
        </div>
      </div>
      <div *ngIf="!editGeneralSettingsFlag" fxLayout="row" fxLayoutAlign="space-between"
        class="full-width margin-bottom-sm accountInfo__fNlN" fxLayoutGap="10px">
        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
          <mat-label>{{ translationData.lblCurrency || 'Currency' }}</mat-label>
          <mat-label class='custom-font'>
            {{ !currencyData ? '--' : currencyData.length > 0 ? currencyData[0].value : '--' }}
          </mat-label>
        </div>
        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
          <mat-label>{{ translationData.lblDateFormat || 'Date Format' }}</mat-label>
          <mat-label class='custom-font'>
            {{ !dateFormatData ? '--' : dateFormatData.length > 0 ? dateFormatData[0].value : '--' }}
          </mat-label>
        </div>
        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
          <mat-label>{{ translationData.lblTimeFormat || 'Time Format' }}</mat-label>
          <mat-label class='custom-font'>
            {{ !timeFormatData ? '--' : timeFormatData.length > 0 ? timeFormatData[0].value : '--' }}
          </mat-label>
        </div>
      </div>
      <div *ngIf="!editGeneralSettingsFlag" fxLayout="row" fxLayoutAlign="space-between"
        class="full-width margin-bottom-sm accountInfo__fNlN" fxLayoutGap="10px">  
        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
          <mat-label>{{ translationData.lblVehicleDisplayDefault || 'Vehicle Display' }}</mat-label>
          <mat-label class='custom-font'>
            {{ !vehicleDisplayData ? '--' : vehicleDisplayData.length > 0 ? vehicleDisplayData[0].value : '--' }}
          </mat-label>
        </div>
        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
          <mat-label>{{ translationData.lblLandingPageDisplayDefault || 'Landing Page Display' }}</mat-label>
          <mat-label class='custom-font'>
            {{ !landingPageDisplayData ? '--' : landingPageDisplayData.length > 0 ? landingPageDisplayData[0].value : landingPageDisplayDropdownData[0].value }}
          </mat-label>
        </div>
        <div class="areaWidth min-width-30-per max-width-30-per" fxLayout="column" fxLayoutAlign="left">
          <mat-label>{{ translationData.lblBrandLogoForPersonalizingReport || 'Brand Logo (For Personalizing Report)' }}</mat-label>
          <mat-label class='custom-font'>
            <!-- {{ uploadLogo != '' ? uploadLogo : '--' }} -->
            <img *ngIf="uploadLogo != ''" [src]="uploadLogo" style="display: block; margin: auto; width: 30px; height: 30px;" />
          </mat-label>
        </div>
      </div>
      <div *ngIf="!editGeneralSettingsFlag" fxLayout="row" fxLayoutAlign="space-between"
        class="full-width margin-bottom-sm accountInfo__fNlN" fxLayoutGap="10px">  
        <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
          <mat-label>{{ translationData.lblSetPageRefreshTime || 'Set Page Refresh Time' }}</mat-label>
          <mat-label class='custom-font'>
            {{ accountPreferenceData ? (accountPreferenceData.pageRefreshTime ? accountPreferenceData.pageRefreshTime : '--') : '--' }}
          </mat-label>
        </div>
      </div>

      <form [formGroup]="userSettingsForm" *ngIf="editGeneralSettingsFlag">
        <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm mobile-view" fxLayoutGap="10px">
          <div  class="areaWidth min-width-30-per mobile-margin-right-0" fxLayout="column" fxLayoutAlign="left">
            <mat-label>{{ translationData.lblLanguage || 'Language' }}</mat-label>
             <mat-form-field appearance="outline" class="full-width">
              <mat-select placeholder="Language" formControlName="language" (selectionChange)="onDropdownChange($event, 'language')"> 
                <mat-option>
                  <ngx-mat-select-search></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let rer of languageDropdownData" [value]="rer.id">
                  {{ rer.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="areaWidth min-width-30-per mobile-margin-right-0" fxLayout="column" fxLayoutAlign="left">
            <mat-label>{{ translationData.lblTimeZone || 'Time Zone' }}</mat-label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-select placeholder="Time Zone" formControlName="timeZone" (selectionChange)="onDropdownChange($event, 'timeZone')">
                <mat-option>
                  <ngx-mat-select-search></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let rer of timezoneDropdownData" [value]="rer.id">
                  {{ rer.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div [ngClass]="{'orgGrayDefault': orgDefaultFlag.unit}" class="areaWidth min-width-30-per mobile-margin-right-0" fxLayout="column" fxLayoutAlign="left">
            <mat-label>{{ translationData.lblUnit || 'Unit' }}</mat-label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-select placeholder="Unit" formControlName="unit" (selectionChange)="onDropdownChange($event, 'unit')">
                <mat-option *ngFor="let rer of unitDropdownData" [value]="rer.id">
                  {{ rer.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm mobile-view" fxLayoutGap="10px">
          <div [ngClass]="{'orgGrayDefault': orgDefaultFlag.currency}" class="areaWidth min-width-30-per mobile-margin-right-0" fxLayout="column" fxLayoutAlign="left">
            <mat-label>{{ translationData.lblCurrency || 'Currency' }}</mat-label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-select placeholder="Currency" formControlName="currency" (selectionChange)="onDropdownChange($event, 'currency')">
                <mat-option *ngFor="let rer of currencyDropdownData" [value]="rer.id">
                  {{ rer.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div [ngClass]="{'orgGrayDefault': orgDefaultFlag.dateFormat}" class="areaWidth min-width-30-per mobile-margin-right-0" fxLayout="column" fxLayoutAlign="left">
            <mat-label>{{ translationData.lblDateFormat || 'Date Format' }}</mat-label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-select placeholder="Date Format" formControlName="dateFormat" (selectionChange)="onDropdownChange($event, 'dateFormat')">
                <mat-option *ngFor="let rer of dateFormatDropdownData" [value]="rer.id">
                  {{ rer.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div [ngClass]="{'orgGrayDefault': orgDefaultFlag.timeFormat}" class="areaWidth min-width-30-per mobile-margin-right-0" fxLayout="column" fxLayoutAlign="left">
            <mat-label>{{ translationData.lblTimeFormat || 'Time Format' }}</mat-label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-select placeholder="{{ translationData.lblTimeFormat || 'Time Format' }}" formControlName="timeFormat" (selectionChange)="onDropdownChange($event, 'timeFormat')">
                <mat-option *ngFor="let rer of timeFormatDropdownData" [value]="rer.id">
                  {{ rer.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-xlg mobile-view" fxLayoutGap="10px">
          <div [ngClass]="{'orgGrayDefault': orgDefaultFlag.vehDisplay}" class="areaWidth min-width-30-per mobile-margin-right-0" fxLayout="column" fxLayoutAlign="left">
            <mat-label>{{ translationData.lblVehicleDisplayDefault || 'Vehicle Display' }}</mat-label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-select placeholder="Vehicle Display" formControlName="vehDisplay" (selectionChange)="onDropdownChange($event, 'vehDisplay')">
                <mat-option *ngFor="let rer of vehicleDisplayDropdownData" [value]="rer.id">
                  {{ rer.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div [ngClass]="{'orgGrayDefault': orgDefaultFlag.landingPage}" class="areaWidth min-width-30-per mobile-margin-right-0" fxLayout="column" fxLayoutAlign="left">
            <mat-label>{{ translationData.lblLandingPageDisplayDefault || 'Landing Page Display' }}</mat-label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-select placeholder="{{ translationData.lblLandingPageDisplayDefault || 'Landing Page Display' }}" formControlName="landingPage" (selectionChange)="onDropdownChange($event, 'landingPage')">
                <mat-option *ngFor="let rer of landingPageDisplayDropdownData" [value]="rer.id">
                  {{ rer.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="areaWidth min-width-30-per max-width-30-per mobile-margin-right-0 myform-wrappe" fxLayout="column" fxLayoutAlign="left">
            <mat-label>{{ translationData.lblBrandLogoForPersonalizingReport || 'Brand Logo (For Personalizing Report)' }}</mat-label>
            <div fxLayout="row" class="full-width margin-bottom-xlg mobile-view" fxLayoutGap="10px">
              <div class="areaWidth min-width-15-per mobile-margin-right-0 myform-wrappe" fxLayout="column" fxLayoutAlign="left">
                <button *ngIf="this.uploadLogo != '' && !isDefaultBrandLogo" class='actionBtn' mat-flat-button (click)="deleteBrandLogo()" matTooltip="{{ translationData.lblDelete || 'Delete' }}">
                  <mat-icon>cancel</mat-icon>
                </button>
                <img *ngIf="uploadLogo != ''" [src]="uploadLogo" style="display: block; width: 30px; height: 30px;" />
              </div>
              <div class="areaWidth max-width-80-per mobile-margin-right-0 myform-wrappe uploadArea" fxLayout="column" fxLayoutAlign="left">
                <mat-form-field appearance="outline">
                  <ngx-mat-file-input #removableInput (change)="addfile($event, removableInput)" [accept]="'.png, .jpg, .gif'" formControlName="uploadBrandLogo" placeholder="Upload Logo" ></ngx-mat-file-input>
                  <button mat-flat-button color="primary" matSuffix>{{ translationData.lblbrowse || 'Browse' }}</button>
                </mat-form-field>
                <!-- <div fxLayout="row" fxLayoutAlign="space-between" class="areaWidth" style='margin-top: 4px;'>
                  <mat-form-field appearance="outline">
                      <ngx-mat-file-input #removableInput (change)="addfile($event, removableInput)" [accept]="'.png, .jpg, .gif'" formControlName="uploadBrandLogo" placeholder="Upload Logo" ></ngx-mat-file-input>
                      <button mat-flat-button color="primary" matSuffix>{{ translationData.lblbrowse || 'Browse' }}</button>
                  </mat-form-field>
                </div> -->
              </div>
            </div>
            <span>{{ translationData.lblIconSelectionCriteriaMsg || 'Supporting file format - .jpg, .png, .gif and Max size- 5 MB' }}</span>
            <mat-error *ngIf="userSettingsForm.get('uploadBrandLogo').hasError('maxContentSize')">
                The total size must not exceed {{userSettingsForm.get('uploadBrandLogo')?.getError('maxContentSize').maxSize | byteFormat}} ({{userSettingsForm.get('uploadBrandLogo')?.getError('maxContentSize').actualSize
                | byteFormat}}).
            </mat-error>
            <mat-error *ngIf="imageEmptyMsg">
                {{ translationData.lblEmptyFile || 'Empty File' }}
            </mat-error>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-xlg mobile-view" fxLayoutGap="10px">
          <div [ngClass]="{'orgGrayDefault': orgDefaultFlag.landingPage}" class="areaWidth min-width-30-per mobile-margin-right-0" fxLayout="column" fxLayoutAlign="left">
            <mat-label>{{ translationData.lblSetPageRefreshTime || 'Set Page Refresh Time' }}</mat-label>
            <mat-form-field appearance="outline" style='width: 70%'>
              <input matInput type="text" formControlName="pageRefreshTime">
              <span matSuffix>min</span> 
              <mat-error style="margin-top: 10px;" *ngIf="userSettingsForm.get('pageRefreshTime').hasError('min') || userSettingsForm.get('pageRefreshTime').hasError('max')">
                Please set time in mentioned range
               </mat-error>     
            </mat-form-field>
            <span>(min 1min and max 60min)</span>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="end end" class="areaWidth full-width mobile-view mobile-btn-align">
          <button class='resetCancelBtnColor margin-right-10 mobile-full-width mobile-margin-bottom-10' mat-raised-button color="primary"
            (click)='onEditGeneralSettingsCancel()'>{{ translationData.lblCancel || 'Cancel' }}</button>
          <button class='resetCancelBtnColor margin-right-10 mobile-full-width mobile-margin-bottom-10' mat-raised-button color="primary" 
                            (click)='onResetGeneralSettings()'>{{ translationData.lblReset || 'Reset' }}</button>
          <button class='mobile-full-width' mat-raised-button color="primary" type="submit"
            (click)='onGeneralSettingsUpdate()'>{{ translationData.lblConfirm || 'Confirm' }}</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>