@import "../../../../src/styles";

.accInfoContainer{
    @media @mobile {
        flex-direction: column !important;
    } 
}
 .accountInfo {
    @media @mobile {
        margin-top: 20px !important;
    } 
}
    .accountInfo__fNlN {
        @media @mobile {
            flex-direction: column !important;
        } 
}

.account-info-settings-container{
    .mobile-view{
        @media @mobile {
            flex-direction: column !important;
        }
    }
    .mobile-margin-bottom-10{
        @media @mobile {
            margin-bottom: 10px !important;
        }
    }
    .mobile-full-width{
        @media @mobile {
            width: 100% !important;
        }
    }
    .mobile-margin-right-0{
        @media @mobile {
            margin-right: 0px !important;
        }
    }
    .mobile-btn-align{
        @media @mobile {
            place-content: flex-start !important;
            align-items: flex-start !important;
        }
    }
}

.min-width-15-per{
    max-width: 15%;
}

.max-width-20-per{
    max-width: 20%;
}

.delete-logo {
    position: absolute;
    margin-left: 4px;
    margin-bottom: 0px;
    z-index: 100; 
}

.mat-button-base.mat-primary.mat-flat-button {
    background-color: #00529C !important;
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF !important;
    min-width: 30px;
}
    
