@import "../../../../src/styles";

.accInfoContainer{
    @media @mobile {
        flex-direction: column !important;
    } 
}
 .accountInfo {
    @media @mobile {
        margin-top: 20px !important;
    } 
}
    .accountInfo__fNlN {
        @media @mobile {
            flex-direction: column !important;
        } 
}

.account-info-settings-container{
    .mobile-view{
        @media @mobile {
            flex-direction: column !important;
        }
    }
    .mobile-margin-bottom-10{
        @media @mobile {
            margin-bottom: 10px !important;
        }
    }
    .mobile-full-width{
        @media @mobile {
            width: 100% !important;
        }
    }
    .mobile-margin-right-0{
        @media @mobile {
            margin-right: 0px !important;
        }
    }
    .mobile-btn-align{
        @media @mobile {
            place-content: flex-start !important;
            align-items: flex-start !important;
        }
    }
}