@import "../styles.less";
.sideMenuCollapseBtnContainer{
    position: absolute;
    height: calc(100vh - 45px);
    display: flex;
    align-items: center;
    z-index: 2;
    
    @media @mobile {
        display: none;
    }

    &.withoutCollapse{
        left: 210px; //200px
        // @media @mobileToTablet {
        //     left: 50px;
        // }
    }
    &.withCollapse{
        left: 100px;
    }
    .collapseBtn{
        width: 18px;
        height: 46px;
        background: #416cb7;
        border-top-left-radius: 0px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 5px;
        mat-icon{
            color: #fff;
            width: 22px;
            float: right;
        }
    }
}
ul {
    list-style: none;
    padding: 0;

    li {
        list-style: none;
        padding: 0;
        margin-top: 3px;
        font-size: 1em;
        color: #b5d1fc;
        position: relative;

        &.active {
            .selectedManu {
                background-color: #FFF;
                color: #00529c;
                border-left: 2px solid #f45536;
                &:hover {
                    background-color: #FFF;
                    color: #29539c;
                  
                }
                mat-icon{
                    color: #00529c;
                }
            }
        }

        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            padding: 7px 10px 7px 15px;
            cursor: pointer;
            color: #b5d1fc;
            font-size: 1em;

            .navigationArrow {
                position: absolute;
                right: 10px;
                margin-top: -2px;
                margin-right: 5px !important;
            }

            mat-icon {
                height: 22px;
                width: 22px;
                font-size: 22px;
                flex-grow: 0;
                flex-shrink: 0;
                margin-right: 15px;
                color: #b5d1fc; 
                
            }
            
            .fleetCount{
                background: #e85333;
                padding: 0px 5px;
                border-radius: 5px;
                margin-left: 10px;
                font-size: 0.8em;
                color: #fff;
            }
        }
    }
}

.subMenuItems {
    color: #FFFFFF;
    background: #0a3175;

    li {
        a {
            padding-left: 20px;
            mat-icon {    
                font-size: 10px !important;
                display: flex;
                align-items: center;
                color: #416cb7;
            }
        }
    }
    .linkActive {
        a {
            mat-icon {
                color: #f45536;
            }
        }
    }
}
.hamburgerMenu{
    min-width: 50px;
    padding: 5px;
    margin: 0px;
    @media @tabletToDesktop {
        display: none;
    }
}
.titleText{
    @media @tabletToDesktop {
        display: block;
    }
    @media @mobile {
        display: none !important;
    }
}
.mobileTitleText{
    font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    padding: 5px;
    @media @tabletToDesktop {
        display: none !important;
    }
    @media @mobile {
        display: block !important;
    }
}
.matSelect{
    max-width: 60px;
    margin-top: 4px;
    margin-left: 10px;
    font-size: 14px;
}

a{
    cursor: pointer;
}
.dashboardMenu {
    position: absolute !important;
    display: block !important;
    top: 45px;
    height: calc(100vh - 45px);
    background-color: #00529C;
    overflow: auto;
    width: 210px; // 200px
    z-index: 2;

    &.menuCollapsed {
        width: 100px;
        text-align: center;
        overflow-y: auto;
        overflow-x: visible;
        @media @mobile {
            width: 0px;
        }
        .menuToggler {
            float: none;
        }
        ul {
            &.subMenuItems {
                position: fixed;
                left: 51px;
                width: 240px;
                margin-top: -37px;
                background: #0a3175;
                
                li{
                    a{
                        justify-content: left;
                        margin-bottom: 5px;
                    }
                }
                
            }
            li{
                position: relative;
                a {
                    padding-left: 0;
                    padding-right: 0;
                    justify-content: center;
                    flex-wrap: wrap;
                    flex-direction: column;
                    

                    .mat-icon {
                        margin: 0;
                    }
                    .navigationArrow {
                        display: none;
                    }
                }
 
            }
        }
        .menuItemDivider {
            margin: 10px 10px 10px 10px;
        }
        .userBgImg{
            padding: 20px 10px 10px 0px;

            .userImageContainer{
                display: flex;
                flex-flow: column wrap;
            }
        }
        .display-flex .align-items-center{
            .mat-icon{
                cursor: pointer;
            }
        }
        
    }
     
     .menuItemDivider {
        border-bottom: 1px solid lightgrey;
        margin: 10px 14px 10px 20px;
    }
    
    .menuToggler {
        width: 30px;
        height: 30px;
        color: #fff !important;
        float: right;
    }
    .userBgImg{
        height: 100px;
        background: #4768a0;
        color: #fff;
        padding: 20px 5px 10px 0px;
        .userIcon{
            margin-left: 0.4em;
            margin-right: 0.3em;
            position: relative;
            border: 1px solid #fff;
        }
        .logoutIcon{
            font-size: 20px;
        }
        .userRole, .userName{
            margin-bottom: 0.2em;
        }
    }
}
.userRoleDialogContainer{
    width: 210px;
    position: absolute;
    z-index: 2;
}

