<div [dir]="dirValue">
    <mat-toolbar color="primary" *ngIf="isLogedIn">
        <mat-toolbar-row>
            <button mat-flat-button id="hamburger" class="hamburgerMenu" (click)="sidenavToggle()">
                <mat-icon class="" aria-hidden="true">{{ menuCollapsed ? 'menu' : 'close' }}</mat-icon>
            </button>
            <div class="logo">
                <img class='margin-left-sm' src="assets/connected-logo-big.png">
            </div>
            <div class='toolbarRightContainer full-width'>
                <form [formGroup]="appForm" class='toolbarRightContainer full-width'>
                    <div fxLayoutAlign="start center" class='half-width titleText'>{{ currentTitle }}
                    </div>
                    <div fxLayoutAlign="end" class='full-width'>
                        <span *ngIf="isFleetOverview"><button class="btn btn-primary" type="button" disabled>
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            {{ subscribeTimer }}
                        </button>&nbsp;</span>
                        <span *ngIf="orgContextType" style='font-size: 14px; display: flex; align-items: center;'>{{ translationData.lblContextSetting || 'Context Setting' }}</span>
                        <mat-select *ngIf="orgContextType" formControlName="contextOrgSelection" class="matSelect" placeholder="{{ orgName }}"
                        (selectionChange)="applyFilterOnOrganization($event.value)">
                        <mat-option *ngFor="let options of organizationList" [value]="options.id"  matTooltip="{{ options.name }}">
                            {{options.name}}
                          </mat-option>
                        </mat-select>
                        <a class="navIcon fullScreen">
                            <mat-icon aria-hidden="false" aria-label="fullscreen"
                                (click)="isFullScreen ? exitFullScreen() : fullScreen()"
                                matTooltip="{{isFullScreen ? 'Exit Full Screen' : 'Full Screen'}}">{{ isFullScreen ?
                                'fullscreen_exit' : 'fullscreen' }}</mat-icon>
                        </a>
                        <!-- <img class="navIcon countryflag" mat-card-avatar src="{{fileUploadedPath}}"> -->
                        <a class="navIcon">
                            <mat-icon aria-hidden="false" aria-label="notifications" matTooltip="Notifications">
                                notifications_none</mat-icon>
                            <span class="badge">0</span>
                        </a>
                        <mat-select formControlName="languageSelection" class="matSelect"
                            (selectionChange)="onLanguageChange($event.value)">
                            <mat-option *ngFor="let lang of languages" [value]="lang.id" matTooltip="{{lang.name}}">
                                &nbsp;{{ lang.name }}
                            </mat-option>
                        </mat-select>
                        <div class='logoutbtnContainer' fxLayout="row" fxLayoutAlign="end">
                            <div class="logoutButton" fxLayout="column">
                                <button mat-icon-button (click)="logOut()" class="menuToggler display-flex align-items-center padding-item">
                                    <mat-icon matTooltip="Logout" class='logoutIcon' style="color: #e90606;font-weight: 600;font-size: 22px;">power_settings_new</mat-icon>
                                </button>
                            </div>
                        </div>                        
                    </div>
                </form>                
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="dashboardMenu" id="sideNavConteiner" [ngClass]="menuCollapsed ? 'menuCollapsed' : ''" *ngIf="isLogedIn">
        <div class='userBgImg'>
            <div class="userImageContainer" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="5px">
                <div fxLayout="column">
                    <img class="userIcon" mat-card-avatar [src]="fileUploadedPath ? fileUploadedPath : 'assets/images/john.png'">
                </div>
                <div *ngIf="!menuCollapsed" style='width: 75%;' fxLayoutAlign="center" fxLayout="column"
                    class='font-size-0-9'>
                    <span matTooltip='{{ userFullName }}' class='userName text-truncate'>{{ userFullName }}</span>
                    <span class='display-flex align-items-center'>
                        <span class='userRole' *ngIf="roleDropdown != null && roleDropdown.length > 0">{{ userRole
                            }}</span>
                        <span
                            *ngIf="(roleDropdown.length > 0 && organizationDropdown.length > 1) || (roleDropdown.length > 1 && organizationDropdown.length > 0)">
                            <mat-icon style="cursor: pointer;" (click)="onClickUserRole()" class='font-size-20'>{{
                                openUserRoleDialog ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
                        </span>
                    </span>
                    <span class='display-flex align-items-center'>
                        <span class='userRole'
                            *ngIf="organizationDropdown != null && organizationDropdown.length > 0">{{ userOrg }}</span>
                        <span *ngIf="roleDropdown.length == 0 && organizationDropdown.length > 1">
                            <mat-icon style="cursor: pointer;" (click)="onClickUserRole()" class='font-size-20'>{{
                                openUserRoleDialog ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
                        </span>
                    </span>
                </div>
                <div *ngIf="menuCollapsed" class='text-truncate' style='font-size: 11px;'>
                    <span matTooltip='{{ userFullName }}'>{{ userFullName }}</span>
                </div>
            </div>        
            <div *ngIf="openUserRoleDialog" class="userRoleDialogContainer">
                <form [formGroup]="landingPageForm">
                    <mat-card class='mat-elevation-z margin-bottom-xlg no-padding'>
                        <mat-card-content>
                            <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="0px"
                                style='padding: 10px !important; background: #ECF7FE;'
                                *ngIf="organizationDropdown.length > 0">
                                <div class='areaWidth full-width' fxLayout="column" fxLayoutGap="3px"
                                    fxLayoutAlign="left">
                                    <mat-label>Select Organisation</mat-label>
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-select (selectionChange)="onOrgChange($event.value)"
                                            formControlName="organization">
                                            <mat-option *ngFor="let org of organizationDropdown" [value]="org.id">
                                                {{ org.name }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="0px" *ngIf="roleDropdown.length > 0"
                                style='padding: 10px !important; background:#c3f1f7;'>
                                <div class='areaWidth full-width' fxLayout="column" fxLayoutGap="3px"
                                    fxLayoutAlign="left">
                                    <mat-label>Select Role</mat-label>
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-select [disabled]='selectedRoles.length == 0' (selectionChange)="onRoleChange($event.value)"
                                            formControlName="role">
                                            <mat-option *ngFor="let role of selectedRoles" [value]="role.id">
                                                {{ role.name }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </form>
            </div>
        </div>
        <div style="clear: both"></div>
        <ul *ngIf="menuPages">           
            <li #menuName *ngFor='let menu of menuPages.menus; index as i' class="menuItem"
                [ngClass]="{'active': pageName === menu.url}" [attr.menuName]="menu.url">
                <span *ngIf="menu.subMenus.length == 0; else elseBlock">
                    <a class='selectedManu'
                        *ngIf="!menu.externalLink" [routerLink]="[ '/'+ menu.url]"
                        (click)='navigateToPage(menu.url)'>
                        <mat-icon class="box-svg-css ">{{menu.icon}}</mat-icon>
                        <span class="menuLabel">
                            {{ translationData[menu.key] || menu.name | titlecase}}</span>
                    </a>
                    <a target="_blank" href="{{menu.link}}" 
                        class='selectedManu' *ngIf="menu.externalLink"
                        (click)='navigateToPage(menu.url)'>
                        <mat-icon class="box-svg-css ">{{menu.icon}}</mat-icon>
                        <span class="menuLabel">
                            {{ translationData[menu.key] || menu.name | titlecase}}</span>
                    </a>                   
                </span>
                <ng-template #elseBlock>
                    <a class='selectedManu'
                        (click)="menuSelected(menu.url)">
                        <mat-icon class="box-svg-css ">{{menu.icon}}</mat-icon>
                        <span class="menuLabel">{{ translationData[menu.key] ||menu.name | titlecase}}</span>
                        <!-- <span *ngIf="!menuCollapsed && menu.mainMenu === 'Live Fleet'"
                            [ngClass]="{'fleetCount': menu.mainMenu === 'Live Fleet' }">0</span> -->
                        <mat-icon class="navigationArrow">
                            {{ menuStatus[menu.url].open ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}
                        </mat-icon>
                    </a>
                    <ul class="subMenuItems slider" [ngClass]="{'closed' : !menuStatus[menu.url].open}">
                        <!-- <li *ngFor='let subMenuItem of menu.subMenu; index as j' [ngClass]="{'active': subpage === subMenuItem.subRoute}"> -->
                        <li *ngFor='let subMenuItems of menu.subMenus; index as j'
                            [ngClass]="{'linkActive': subpage === subMenuItems.url}">
                            <a 
                                [routerLink]="[ '/'+menu.url+'/'+subMenuItems.url ]"
                                (click)="navigateToPage(subMenuItems.url)">
                                <mat-icon class='box-svg-css' style='margin-right: 0px;'>circle</mat-icon>
                                <span class='font-size-0-9'>{{ translationData[subMenuItems.key] || subMenuItems.name }}</span>
                            </a>
                        </li>
                    </ul>
                </ng-template>
            </li>
        </ul>
    </div>
    <div class="user-preferences">
        <div *ngIf="isLogedIn" class="preferences-sidenav-content"
            [ngClass]="userPreferencesFlag ? 'pref-expand' : 'pref-collapse' " (click)='userPreferencesSetting($event)'>
            <mat-icon matTooltip="Preferences"  style="margin-top:5px; color:white;">{{!userPreferencesFlag ?
                'keyboard_arrow_leftperson_search' : 'person_searchkeyboard_arrow_right'}}</mat-icon>
        </div>
        <app-preferences *ngIf="isLogedIn && userPreferencesFlag" [userPreferencesFlag]="userPreferencesFlag"></app-preferences>
    </div>   
    <div id="sideMenuCollapseBtnContainer" class='sideMenuCollapseBtnContainer'
        [ngClass]="menuCollapsed ? 'withCollapse' : 'withoutCollapse'" *ngIf="isLogedIn">
        <button mat-icon-button (click)="sidenavToggle()" class="collapseBtn">
            <mat-icon  matTooltip="{{menuCollapsed ? 'Expand' : 'Collapse'}}">{{menuCollapsed ? 'keyboard_arrow_right' : 'keyboard_arrow_left'}}</mat-icon>
        </button>
    </div>
    <mat-sidenav-container fxFlexFill [ngClass]="{'rightContainer': isLogedIn, 'menuCollapsed' : menuCollapsed }">
        <mat-sidenav #sidenav *ngIf="isLogedIn">
            <mat-nav-list>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill>
            <div class='mobileTitleText'>{{ currentTitle | titlecase }}</div>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>