.connectedStatus{
    float: left;
}
.connectedStatus img{
     width: 18px;
    height: 18px;
    margin-left: 5px;
}
.vehicleNameCheck{
    padding-left: 5px;
}
.vehicleNameCheck input[type=checkbox]{
    margin-right: 10px;
    cursor: pointer;
}
.vehicleNameCheck input[type=checkbox]:disabled{  
    cursor: no-drop;
}   
.legendsDiv{
    right: 120px;
    width: 200px;
    border: 1px solid #ddd;
    padding: 15px 12px;
    background: #ffffff;
    border-radius: 3px;
    position: fixed;
    overflow: hidden;
    margin-top: 40px;
    z-index: 99;
}
.legendsDiv ul{
list-style: none;
padding-left: 5px;
 line-height: 2;
 margin-bottom: 0px;
}
.legendsDiv ul li,.legendsDiv ul{
    width: 100%;
    float: left;
}
.legendsIcon{
    position: absolute;  
    margin-left: 6px; 
    font-size: 16px;
    padding-top: 2px;
}