<div *ngIf="actionType == 'view'" fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
    <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
        <span>{{ breadcumMsg }}</span>
    </div>
    <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="end" class='margin-right-xxlg'>
        <span class='custom-font' (click)="toBack()">
            <span>
                <&nbsp;</span>
                    <span class='backBtnCss'>{{ translationData.lblBack || 'Back' }}</span>
        </span>
    </div>
</div>
<form [formGroup]="packageFormGroup">
    <mat-card class='mat-elevation-z'>
        <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-between center" class='margin-bottom-sm'>
                <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="start">
                    <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ actionType == 'create' ? (translationData.lblAddPackage || 'Add New Package') : actionType == 'edit' ? (translationData.lblEditPackage || 'Edit Package Details') : (translationData.lblViewPacakge|| 'View Package Details') }}
                    <mat-icon *ngIf="actionType == 'view' && selectedElementData.status == 'Active'" (click)="editPackage()" style="cursor: pointer;" [disabled]="selectedElementData.status == 'Inactive'">edit</mat-icon></span>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-xlg" fxLayoutGap="10px">
                <div class="areaWidth min-width-10-per" fxLayout="column" fxLayoutAlign="left">
                    <mat-label><span>{{ translationData.lblPackageCode || 'Package Code' }}</span><span *ngIf="actionType != 'view'" class='mandatoryColor'>*</span></mat-label>
                    <div *ngIf="actionType != 'view'">
                        <mat-form-field appearance="outline" class="full-width">
                            <input maxlength="20" placeholder="{{ translationData.lblEnterPackagecode || 'Enter Package Code' }}" matInput
                                formControlName="code">
                        </mat-form-field>
                        <mat-error *ngIf="packageFormGroup.get('code').hasError('required')">
                            {{ translationData.lblPleasenterpackagecode || 'Please enter Package Code'}}
                        </mat-error>
                        <mat-error *ngIf="packageFormGroup.get('code').hasError('whitespace')">
                            {{ translationData.lblPackagecodecannotcontainonlywhitespace || 'Package Code
                            cannot contain only whitespace' }}
                        </mat-error>
                        <mat-error *ngIf="packageFormGroup.get('code').hasError('specialCharsNotAllowed')">
                            {{ translationData.lblSpecialcharactersnotallowed || 'Special characters not allowed' }}
                        </mat-error>
                        <mat-error *ngIf="duplicateMsg">
                            {{ translationData.lblPackagecodealreadyexists || 'Package code already exists' }}
                        </mat-error>
                    </div>
                    <div *ngIf="actionType == 'view'">
                        <span style='font-weight: 500!important;'>{{ selectedElementData.code }}</span>
                    </div>
                </div>
                <div class="areaWidth min-width-10-per" fxLayout="column" fxLayoutAlign="left">
                    <mat-label style='display: flex;'>
                        <span>{{ translationData.lblPackageName || 'Package Name' }}</span><span *ngIf="actionType != 'view'" class='mandatoryColor'>*</span>
                    </mat-label>
                    <div *ngIf="actionType != 'view'">
                        <mat-form-field appearance="outline" class="full-width">
                            <input maxlength="50" placeholder="{{ translationData.lblEnterPackageName || 'Enter Package Name' }}" matInput
                                formControlName="name">
                        </mat-form-field>
                        <mat-error *ngIf="packageFormGroup.get('name').hasError('required')">
                            {{ translationData.lblPleasenterpackagename || 'Please enter Package Name'}}
                        </mat-error>
                        <mat-error *ngIf="packageFormGroup.get('name').hasError('whitespace')">
                            {{ translationData.lblPackagenamecannotcontainonlywhitespace || 'Package Name
                            cannot contain only whitespace' }}
                        </mat-error>
                        <mat-error *ngIf="packageFormGroup.get('name').hasError('specialCharsNotAllowed')">
                            {{ translationData.lblSpecialcharactersnotallowed || 'Special characters not allowed' }}
                        </mat-error>
                    </div>
                    <div *ngIf="actionType == 'view'">
                        <span style='font-weight: 500!important;'>{{ selectedElementData.name }}</span>
                    </div>
                    </div>
                <div class="areaWidth min-width-60-per" fxLayout="column" fxLayoutAlign="left">
                    <mat-label style='display: flex; place-content: space-between;'>
                        <span>{{ translationData.lblDescription || 'Description' }}</span>
                        <span *ngIf="actionType != 'view'">{{ translationData.lbl120CharMax || '100 characters max' }}</span>
                    </mat-label>
                    <div *ngIf="actionType != 'view'">
                        <mat-form-field appearance="outline" class="full-width">
                            <input maxlength="100" placeholder="{{ translationData.lblEnterDescription || 'Enter Description' }}" matInput
                                formControlName="description">
                        </mat-form-field>
                        <mat-error *ngIf=" packageFormGroup.get('description').hasError('whitespace')">
                            {{ translationData.lblDescriptioncannotcontainonlywhitespace || 'Feature Description cannot contain only whitespace' }}
                        </mat-error>
                        <mat-error *ngIf="packageFormGroup.get('description').hasError('specialCharsNotAllowed')">
                            {{ translationData.lblSpecialcharactersnotallowed || 'Special characters not allowed' }}
                        </mat-error>
                    </div>
                    <div *ngIf="actionType == 'view'">
                        <span style='font-weight: 500!important;'>{{ selectedElementData.description }}</span>
                    </div>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-xlg" fxLayoutGap="10px">
                <div class='areaWidth min-width-20-per' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="right">
                    <mat-label>
                        <span>{{ translationData.lblType || 'Select Type' }}</span><span *ngIf="actionType != 'view'" class='mandatoryColor'>*</span>
                    </mat-label>                    
                    <div *ngIf="actionType != 'view'">            
                        <mat-form-field appearance="outline" class="full-width">
                          <mat-select placeholder="{{ translationData.lblType || 'Type' }}" formControlName="type">
                            <mat-option *ngFor="let rer of TypeList" [value]="rer.value">
                              {{ rer.name }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <mat-error *ngIf="packageFormGroup.get('type').hasError('required')">
                            {{ translationData.lblPleaseselectpackagetype || 'Please Select Package Type'}}
                        </mat-error>
                    </div>
                    <div *ngIf="actionType == 'view'">
                        <span style='font-weight: 500!important;'>{{ selectedElementData.type }}</span>
                    </div>
                </div> 
                <div class='areaWidth min-width-60-per' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="right">
                    <mat-label>
                        {{ translationData.lblStatus|| 'Select Status' }}
                    </mat-label>
                    <div *ngIf="actionType != 'view'" class='margin-top-5'>
                        <mat-radio-group (change)='onStatusChange($event)' >
                            <mat-radio-button [checked]="selectedStatus ===  'Active' ? true : false" style='margin-right: 20px;' value="Active">{{ translationData.lblActive || 'Active' }}
                            </mat-radio-button>
                            <mat-radio-button [checked]="selectedStatus ===  'Inactive' ? true : false" style='margin-right: 20px;' value="Inactive" >{{ translationData.lblInactive || 'Inactive' }}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div *ngIf="actionType == 'view'">
                        <span style='font-weight: 500!important;'>{{ selectedElementData.state === "Active" ? "Active" : "Inactive" }}</span>
                    </div>
                </div>
                <div class="areaWidth min-width-60-per" fxLayout="column" fxLayoutAlign="left"></div>
            </div>
            <div *ngIf="actionType != 'view'" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column" fxLayoutAlign="left">
                    <div fxLayout="row" fxLayoutAlign='center center'>
                        <mat-icon class='margin-right-10'>info</mat-icon>
                        <span>{{ translationData.lblHintMessage || 'You can select  multiple features from below list to map with this Package. Feature selection is mandatory'}}<span class='mandatoryColor'>*</span></span>
                    </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="end">
                    <div fxLayout="row" class='areaWidth'>
                        <button class='resetCancelBtnColor margin-right-10' mat-raised-button color="primary" (click)='onCancel()'>{{
                            translationData.lblCancel || 'Cancel' }}</button>
                        <button class='resetCancelBtnColor margin-right-10' mat-raised-button color="primary" *ngIf="actionType == 'edit'"
                            (click)='onReset()'>{{ translationData.lblReset || 'Reset' }}</button>
                        <button class='no-margin' [disabled]="!packageFormGroup.valid || selectionForFeatures.selected.length == 0" mat-raised-button color="primary"
                            (click)='onCreate()'>{{ actionType == 'create' ? (translationData.lblCreate || 'Create') :
                            (translationData.lblConfirm || 'Confirm') }}</button>
                    </div>
                </div>
            </div> 
             <div style='padding: 20px; position: relative;'>
                <mat-divider></mat-divider>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" class='margin-bottom-sm'>
                <div fxLayout="column" fxLayoutAlign="start">
                    <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ actionType == 'view' ? (translationData.lblSelectedFeatures || 'Selected Features'):(translationData.lblSelectFeatures || 'Select Features')}}</span>
                </div>
            </div>
           <div fxLayout="row" fxLayoutAlign="left" class='margin-bottom-sm'>
                <div style='margin-right: 50px;' class='areaWidth' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
                  <mat-form-field appearance="outline">
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ translationData.lblSearch || 'Search' }}">
                      <span matPrefix><mat-icon>search</mat-icon></span>
                  </mat-form-field>
                </div>
            </div>  
              <div fxLayout="row" class='margin-top-xlg'>
                <div fxLayout="column" class='full-width'>
                    <mat-table [dataSource]="dataSource" matSort>      
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblFeatureName || 'Feature Name'}}</mat-header-cell>
                            <mat-cell *matCellDef="let row; let index"> {{row.name}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="select">
                            <mat-header-cell *matHeaderCellDef>
                                <mat-slide-toggle color="primary" (change)='$event ? masterToggleForFeatures() : null;' 
                                  [checked]='selectionForFeatures.hasValue() && isAllSelectedForFeatures()'
                                  [indeterminate]='selectionForFeatures.hasValue() && !isAllSelectedForFeatures()'
                                  [aria-label]='checkboxLabelForFeatures()' [disabled]="actionType == 'view'">
                                </mat-slide-toggle>
                                <span style="margin: 5px 0px 0px 5px;"
                                    [ngClass]="{'opacity-0-5': actionType == 'view'}">{{ translationData.lblInclude ||
                                    'Include'}}</span>
                              </mat-header-cell>
                              <mat-cell *matCellDef="let row">
                                <mat-slide-toggle color="primary" (click)='$event.stopPropagation()'
                                  (change)='$event ? selectionForFeatures.toggle(row) : null; onChange($event, row)'
                                  [checked]='selectionForFeatures.isSelected(row)'
                                  [aria-label]='checkboxLabelForFeatures(row)' [disabled]="actionType == 'view'"> 
                                </mat-slide-toggle>
                              </mat-cell>
                        </ng-container> 
                        <mat-header-row *matHeaderRowDef="featureDisplayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: featureDisplayedColumns;">
                        </mat-row>
                    </mat-table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</form>