<div class='bgtrans'>
  <mat-card class='mat-elevation-z'>
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)"
          placeholder="{{ translationData.lblFilter || 'Filter' }}">
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="vehicleGroupName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblVehicleGroup || 'Vehicle Group' }}/{{ translationData.lblVehicle || 'Vehicle' }}</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div *ngIf="row.isGroup">
              <span>{{row.vehicleGroupName}}</span> 
              <span [ngClass]="{'cursor-pointer': row.vehicleCount > 0}" (click)="row.vehicleCount > 0 ? onVehClick(row) : ''">
                <img src='assets/images/group_icon.svg' style="width: 40px; height: 40px;" />
                <span class='iconTxt'>{{ (row.vehicleCount < 10) ? '0' : '' }}{{ row.vehicleCount }}</span>
              </span>
            </div>
            <span *ngIf="!row.isGroup">{{ row.vehicleGroupName }}</span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="userCount">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblUsers || 'Users' }}</mat-header-cell>
          <mat-cell *matCellDef="let row" >
            <span *ngIf="row.userCount != 0 && row.isGroup" class="row-hover">
              <a (click)="onUserClick(row)">{{ row.userCount < 10 ? '0' : ''}}{{ row.userCount }}</a>
            </span>
            <span *ngIf="row.userCount == 0">
              {{ row.userCount < 10 ? '0' : ''}}{{ row.userCount }}
            </span>  
           </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" >
        </mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </mat-card>
</div>
