<div class="bgtrans">
    <div *ngIf='titleVisible' fxLayout="row" fxLayoutAlign="center center"
        style='padding:10px; color:#fff; background: #5dc24e;'>
        <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center" style='width:95%;'>
            {{ OrgDetailsMsg }}
        </div>
        <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center">
            <mat-icon (click)='onCloseMsg()' style='cursor: pointer;'>close</mat-icon>
        </div>
    </div>
    <mat-card *ngIf='organisationData' class='mat-elevation-z'>
        <mat-card-content>
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start" class='margin-bottom-sm'>
                <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center">
                    <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblOrganisationDetails || 'Organisation Details' }}</span>
                </div>
                <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="start" class='areaWidth'>
                 <mat-form-field appearance="outline">
                    <mat-select [(value)]="selectedOrganisationId" [disabled]="organisationList.length == 1" (selectionChange)="selectionChanged($event.value)">
                      <mat-option *ngFor="let data of organisationList" [value]="data.id">
                        {{ data.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
            </div>
            <div *ngIf="organisationData">
                <div fxLayout="row" class="full-width margin-bottom-xlg">
                    <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                        <mat-label><span>{{ translationData.lblID || 'ID' }}</span></mat-label>
                        <div>
                            <span style='font-weight: 500!important;'>{{ organisationData.organizationId }}</span>
                        </div>
                    </div>
                    <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                        <mat-label style='display: flex;'>
                            <span>{{ translationData.lblName || 'Name' }}</span>
                        </mat-label>
                        <div>
                            <span style='font-weight: 500!important;'>{{ organisationData.organizationName }}</span>
                        </div>
                    </div>
                    <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                        <mat-label><span>{{ translationData.lblStreetName || 'Street Name' }}</span></mat-label>
                        <div>
                            <span style='font-weight: 500!important;'>{{ organisationData.addressStreet }}</span>
                        </div>
                    </div>
                    <!-- <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                        <mat-label style='display: flex; place-content: space-between;'>
                            <span class="text-truncate">{{ translationData.lblDescription || 'Description' }}</span>
                        </mat-label>
                        <div>
                            <span style='font-weight: 500!important;'>{{organisationData.description}}.</span>
                        </div>
                    </div> -->
                </div>

                <div fxLayout="row" class="full-width margin-bottom-xlg">
                    <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                        <mat-label style='display: flex;'>
                            <span>{{ translationData.lblStreetNumber || 'Street Number' }}</span>
                        </mat-label>
                        <div>
                            <span style='font-weight: 500!important;'>{{ organisationData.addressStreetNumber }}</span>
                        </div>
                    </div>
                    <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                        <mat-label style='display: flex; place-content: space-between;'>
                            <span>{{ translationData.lblPostalCode || 'Postal Code' }}</span>
                        </mat-label>
                        <div>
                            <span style='font-weight: 500!important;'>{{ organisationData.postalCode }}</span>
                        </div>
                    </div>
                    <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                        <mat-label><span>{{ translationData.lblCity || 'City' }}</span></mat-label>
                        <div>
                            <span style='font-weight: 500!important;'>{{ organisationData.city }}</span>
                        </div>
                    </div>
                </div>

                <div fxLayout="row" class="full-width margin-bottom-xlg">
                    <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                        <mat-label style='display: flex;'>
                            <span>{{ translationData.lblCountry || 'Country' }}</span>
                        </mat-label>
                        <div>
                            <span style='font-weight: 500!important;'>{{ organisationData.country }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div style='padding: 20px; position: relative;'>
                <mat-divider></mat-divider>
            </div>
            <div *ngIf="organisationData && (userType == 'Admin#Platform' || userType == 'Admin#Global')">
                <form [formGroup]="orgDetailsPreferenceForm">
                    <div fxLayout="row" fxLayoutAlign="space-between center" class='margin-bottom-sm'>
                        <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="start">
                            <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblPreferencesSettings || 'Preferences Settings' }}
                                <mat-icon *ngIf='!editPrefereneceFlag' (click)="onPreferenceEdit()" style="cursor: pointer;">edit</mat-icon>
                            </span>
                        </div>
                    </div>
                    <div>
                        <div fxLayout="row" fxLayoutGap="20px" class="full-width margin-bottom-xlg">
                            <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                                <mat-label><span>{{ translationData.lblLanguage || 'Language' }}</span></mat-label>
                                <div *ngIf="!editPrefereneceFlag">
                                    <span style='font-weight: 500!important;'>{{ prefDefault.language }}</span>
                                </div>
                                <div *ngIf="editPrefereneceFlag">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-select (selectionChange)="onSelectionChange($event)" formControlName="language" required>
                                            <mat-option *ngFor="let rer of languageDropdownData" [value]="rer.id">
                                                {{ rer.value }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                                <mat-label style='display: flex;'>
                                    <span>{{ translationData.lblTimeZone || 'Time Zone' }}</span>
                                </mat-label>
                                <div *ngIf="!editPrefereneceFlag">
                                    <span class="text-align" style='font-weight: 500!important;'>{{ prefDefault.timezone }}</span>
                                </div>
                                <div *ngIf="editPrefereneceFlag">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-select (selectionChange)="onSelectionChange($event)"
                                            formControlName="timeZone" required>
                                            <mat-option *ngFor="let rer of timezoneDropdownData" [value]="rer.id">
                                                {{ rer.value }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                                <mat-label style='display: flex; place-content: space-between;'>
                                    <span class="text-truncate">{{ translationData.lblUnit || 'Unit' }}</span>
                                </mat-label>
                                <div *ngIf="!editPrefereneceFlag">
                                    <span style='font-weight: 500!important;'>{{ prefDefault.unit }}</span>
                                </div>
                                <div *ngIf="editPrefereneceFlag">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-select (selectionChange)="onSelectionChange($event)"
                                         formControlName="unit"
                                            required>
                                            <mat-option *ngFor="let rer of unitDropdownData" [value]="rer.id">
                                                {{ rer.value }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px" class="full-width margin-bottom-xlg">
                            <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                                <mat-label><span>{{ translationData.lblCurrency || 'Currency' }}</span></mat-label>
                                <div *ngIf="!editPrefereneceFlag">
                                    <span style='font-weight: 500!important;'>{{ prefDefault.currency }}</span>
                                </div>
                                <div *ngIf="editPrefereneceFlag">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-select (selectionChange)="onSelectionChange($event)"
                                            formControlName="currency" required>
                                            <mat-option *ngFor="let rer of currencyDropdownData" [value]="rer.id">
                                                {{ rer.value }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                                <mat-label style='display: flex; place-content: space-between;'>
                                    <span>{{ translationData.lblDateFormat || 'Date Format' }}</span>
                                </mat-label>
                                <div *ngIf="!editPrefereneceFlag">
                                    <span style='font-weight: 500!important;'>{{ prefDefault.dateFormat }}</span>
                                </div>
                                <div *ngIf="editPrefereneceFlag">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-select (selectionChange)="onSelectionChange($event)"
                                            formControlName="dateFormat" required>
                                            <mat-option *ngFor="let rer of dateFormatDropdownData" [value]="rer.id">
                                                {{ rer.value }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                                <mat-label style='display: flex; place-content: space-between;'>
                                    <span>{{ translationData.lblTimeFormat || 'Time Format' }}</span>
                                </mat-label>
                                <div *ngIf="!editPrefereneceFlag">
                                    <span style='font-weight: 500!important;'>{{ prefDefault.timeFormat }}</span>
                                </div>
                                <div *ngIf="editPrefereneceFlag">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-select (selectionChange)="onSelectionChange($event)"
                                            formControlName="timeFormat" required>
                                            <mat-option *ngFor="let rer of timeFormatDropdownData" [value]="rer.id">
                                                {{ rer.value }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="20px" class="full-width margin-bottom-xlg">
                            <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                                <mat-label><span>{{ translationData.lblVehicleDefaultStatus || 'Vehicle Default Status'
                                        }}</span></mat-label>
                                <div *ngIf="!editPrefereneceFlag">
                                    <span style='font-weight: 500!important;'>{{ vehicleOptIn }}</span>
                                </div>
                                <div *ngIf="editPrefereneceFlag">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-select (selectionChange)="onSelectionChange($event)" formControlName="vehicleDefaultStatus" required>
                                            <mat-option *ngFor="let rer of vehicleStatusDropdownData" [value]="rer.id">
                                                {{ rer.value }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                                <mat-label style='display: flex;'>
                                    <span>{{ translationData.lblDriverDefaultStatus || 'Driver Default Status' }}</span>
                                </mat-label>
                                <div *ngIf="!editPrefereneceFlag">
                                    <span style='font-weight: 500!important;'>{{ driverOptIn }}</span>
                                </div>
                                <div *ngIf="editPrefereneceFlag">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-select (selectionChange)="onSelectionChange($event)" formControlName="driverDefaultStatus" required>
                                            <mat-option *ngFor="let rer of driverStatusDropdownData" [value]="rer.id">
                                                {{ rer.value }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="areaWidth min-width-30-per max-width-30-per mobile-margin-right-0 myform-wrappe" fxLayout="column" fxLayoutAlign="left">
                                <mat-label>{{ translationData.lblBrandLogoForPersonalizingReport || 'Brand Logo (For Personalizing Report)' }}</mat-label>
                                <span *ngIf="!editPrefereneceFlag">{{ '-' }}</span>
                                <div fxLayout="row" class="full-width margin-bottom-xlg mobile-view" fxLayoutGap="10px">
                                  <div class="areaWidth min-width-15-per mobile-margin-right-0 myform-wrappe" fxLayout="column" fxLayoutAlign="left">
                                    <button *ngIf="this.uploadLogo != '' && !isDefaultBrandLogo" class='actionBtn' mat-flat-button (click)="deleteBrandLogo()" matTooltip="{{ translationData.lblDelete || 'Delete' }}">
                                      <mat-icon>cancel</mat-icon>
                                    </button>
                                    <img *ngIf="uploadLogo != ''" [src]="uploadLogo" style="display: block; width: 30px; height: 30px;" />
                                  </div>
                                  <div class="areaWidth max-width-80-per mobile-margin-right-0 myform-wrappe uploadArea" fxLayout="column" fxLayoutAlign="left">
                                    <!-- <mat-form-field appearance="outline">
                                      <ngx-mat-file-input #removableInput (change)="addfile($event, removableInput)" [accept]="'.png, .jpg, .gif'" formControlName="uploadBrandLogo" placeholder="Upload Logo" ></ngx-mat-file-input>
                                      <button mat-flat-button color="primary" matSuffix>{{ translationData.lblbrowse || 'Browse' }}</button>
                                    </mat-form-field> -->
                                    <!-- <div fxLayout="row" fxLayoutAlign="space-between" class="areaWidth" style='margin-top: 4px;'>
                                      <mat-form-field appearance="outline">
                                          <ngx-mat-file-input #removableInput (change)="addfile($event, removableInput)" [accept]="'.png, .jpg, .gif'" formControlName="uploadBrandLogo" placeholder="Upload Logo" ></ngx-mat-file-input>
                                          <button mat-flat-button color="primary" matSuffix>{{ translationData.lblbrowse || 'Browse' }}</button>
                                      </mat-form-field>
                                    </div> -->
                                  </div>
                                </div>
                                <span *ngIf="editPrefereneceFlag">{{ translationData.lblIconSelectionCriteriaMsg || 'Supporting file format - .jpg, .png, .gif and Max size- 5 MB' }}</span>
                                <!-- <mat-error *ngIf="orgDetailsPreferenceForm.get('uploadBrandLogo').hasError('maxContentSize')">
                                    The total size must not exceed {{orgDetailsPreferenceForm.get('uploadBrandLogo')?.getError('maxContentSize').maxSize | byteFormat}} ({{orgDetailsPreferenceForm.get('uploadBrandLogo')?.getError('maxContentSize').actualSize
                                    | byteFormat}}).
                                </mat-error>
                                <mat-error *ngIf="imageEmptyMsg">
                                    {{ translationData.lblEmptyFile || 'Empty File' }}
                                </mat-error> -->
                              </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-xlg mobile-view" fxLayoutGap="10px">
                            <div class="areaWidth min-width-50-per mobile-margin-right-0 targetSpanIcon" fxLayout="column">
                                <mat-label>{{ translationData.lblSetPageRefreshTime || 'Set Page Refresh Time' }}</mat-label>
                                <div *ngIf="!editPrefereneceFlag">
                                    <span style='font-weight: 500!important;'>{{ organisationData.pageRefreshTime ? organisationData.pageRefreshTime : '-' }}</span>
                                </div>
                                <div *ngIf="editPrefereneceFlag">
                                    <mat-form-field appearance="outline" style='width: 35%'>
                                        <input matInput maxlength="2" type="text" formControlName="pageRefreshTime" (keypress)="keyPressNumbers($event)">
                                        <span matSuffix>min</span>   
                                    </mat-form-field>
                                    <span style="margin: 10px 0px 0px 10px;">({{ translationData.lblminimum1minormaximum60min || 'minimum 1 min or maximum 60 min' }})</span>
                                    <mat-error [ngClass]="{'errorClass': orgDetailsPreferenceForm.get('pageRefreshTime').hasError('required')}" *ngIf="orgDetailsPreferenceForm.get('pageRefreshTime').hasError('required')">
                                        {{ translationData.lblPleaseEnterRefreshTime || 'Please Enter Refresh Time' }}
                                    </mat-error>
                                    <mat-error [ngClass]="{'errorClass': orgDetailsPreferenceForm.get('pageRefreshTime').hasError('cannotExceedMaxValue')}" *ngIf="orgDetailsPreferenceForm.get('pageRefreshTime').hasError('cannotExceedMaxValue')">
                                        {{ translationData.lblRefreshTimecannotbegreaterthan60 || 'Refresh Time cannot be greater than 60' }}
                                    </mat-error>
                                    <mat-error [ngClass]="{'errorClass': orgDetailsPreferenceForm.get('pageRefreshTime').hasError('cannotExceedMinValue')}" *ngIf="orgDetailsPreferenceForm.get('pageRefreshTime').hasError('cannotExceedMinValue')">
                                        {{ translationData.lblRefreshTimecannotbelessthan1 || 'Refresh Time cannot be less than 1' }}
                                    </mat-error>
                                </div>
                            </div>
                          </div>
                    </div>
                    <mat-card-actions class='no-margin no-padding'>
                        <div *ngIf="editPrefereneceFlag" fxLayout="column" fxLayoutAlign="center flex-end">
                            <div fxLayout="row" class='areaWidth'>
                                <button class='resetCancelBtnColor margin-right-10' mat-raised-button color="primary"
                                    (click)='onCancel()'>Cancel</button>
                                <button class='resetCancelBtnColor margin-right-10 no-margin' mat-raised-button
                                    color="primary" (click)='onReset()'>Reset</button>
                                <button class='no-margin' [disabled]="!orgDetailsPreferenceForm.valid" mat-raised-button
                                    color="primary" (click)='onCreateUpdate()'>Confirm</button>
                            </div>
                        </div>
                    </mat-card-actions>
                </form>
            </div>
        </mat-card-content>  
    </mat-card>
    <app-spinner *ngIf="showLoadingIndicator"></app-spinner>
</div>