<div class="user-preferences">
    <div class="preferences-container" *ngIf="userPreferencesFlag" [ngStyle]="{'width': userPreferencesFlag ? '1000px' : '0px' }">
        <div fxLayout="row" style="background: rgb(209, 208, 208); padding: 10px 25px;" >
            <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="start">
                <span class='custom-font'>{{ translationData.lblPreferences || 'Preferences' }} ({{ translationData.lblPersonaliseyourowndisplaysettings || 'Personalise your own display settings' }})</span>
            </div>
        </div>
        <div style="background: rgb(241, 242, 243); padding: 0px 25px;">
            <mat-tab-group [(selectedIndex)]="selectedIndex" (selectedTabChange)="onTabChanged($event);">
                <mat-tab label="{{ translationData.lblAccountInfoSettings || 'Account Info & Settings' }}"> 
                    <app-account-info-settings *ngIf="selectedIndex == 0" [translationData]='translationData'></app-account-info-settings>
                </mat-tab>
                <mat-tab label="{{ translationData.lblDashboard || 'Dashboard' }}">
                    <app-dashboard-preferences *ngIf="selectedIndex == 1"></app-dashboard-preferences>
                </mat-tab>
                <mat-tab label="{{ translationData.lblReports || 'Reports' }}">
                    <app-reports-preferences *ngIf="selectedIndex == 2"></app-reports-preferences>
                </mat-tab>
                <mat-tab label="{{ translationData.lblFleetOverview || 'Fleet Overview' }}">
                    <app-fleet-overview-preferences *ngIf="selectedIndex == 3"></app-fleet-overview-preferences>    
                </mat-tab>
            </mat-tab-group>
        </div>
    </div> 
</div>