<div class="user-preferences">
    <div class="preferences-container" *ngIf="userPreferencesFlag" [ngStyle]="{'width': userPreferencesFlag ? '1000px' : '0px' }">
        <div fxLayout="row" style="background: rgb(209, 208, 208); padding: 10px 25px;" >
            <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="start">
                <span class='custom-font'>{{ translationData.lblPreferences || 'Preferences' }} ({{ translationData.lblPersonaliseyourowndisplaysettings || 'Personalise your own display settings' }})</span>
            </div>
        </div>
        <div style="background: rgb(241, 242, 243); padding: 0px 25px;">
            <mat-tab-group [(selectedIndex)]="selectedIndex">
                <mat-tab label="{{ translationData.lblAccountInfoSettings || 'Account Info & Settings' }}"> 
                    <app-account-info-settings [translationData]='translationData'></app-account-info-settings>
                </mat-tab>
                <mat-tab label="{{ translationData.lblDashboard || 'Dashboard' }}">{{ translationData.lblDashboard || 'Dashboard' }}</mat-tab>
                <mat-tab label="{{ translationData.lblReports || 'Reports' }}">{{ translationData.lblReports || 'Reports' }}</mat-tab>
                <mat-tab label="{{ translationData.lblFleetOverview || 'Fleet Overview' }}">{{ translationData.lblFleetOverview || 'Fleet Overview' }}</mat-tab>
            </mat-tab-group>
        </div>
    </div> 
</div>