<!-- 
<div>

    
  <mat-drawer-container style="float:right; color: white;" class="preferences-container" autosize>
    <div style="float:right;" class="preferences-sidenav-content">
          <button type="button" mat-button (click)="drawer.toggle()" style="background: #416cb7;">
            <mat-icon >keyboard_arrow_leftperson_search</mat-icon>
          </button>
        </div>

    <mat-drawer #drawer class="preferences-sidenav" mode="side" position="end">
        <div fxLayout="row" style="background: rgb(209, 208, 208); width: 100%;">
            <h3 style="padding: 15px;">Preferences (Personalise your own display settings)</h3>
        </div>
        <div style="background: rgb(241, 242, 243);">
            <mat-tab-group>
                <mat-tab label="Account Info & Settings"> 
                    <app-account-info-settings></app-account-info-settings>
                </mat-tab>
                <mat-tab label="Dashboard"> Content 2 </mat-tab>
                <mat-tab label="Reports"> Content 3 </mat-tab>
                <mat-tab label="Fleet Overview"> Content 3 </mat-tab>
              </mat-tab-group>
        </div>
            </mat-drawer>
  
    
  </mat-drawer-container>


</div> 
 
 -->
<div class="user-preferences">
    <div class="preferences-sidenav-content" [ngStyle]="{'right': userPreferencesFlag ? '1000px' : '0px' }" (click)='userPreferencesSetting($event)'>
        <mat-icon matTooltip="Preferences" style="margin-top:5px; color:white;">{{!userPreferencesFlag ? 'keyboard_arrow_leftperson_search' : 'person_searchkeyboard_arrow_right'}}</mat-icon>    
    </div>
        
    <div class="preferences-container" *ngIf="userPreferencesFlag" [ngStyle]="{'width': userPreferencesFlag ? '1000px' : '0px' }">
        <div fxLayout="row" style="background: rgb(209, 208, 208); padding: 10px 25px;" >
            <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="start">
                <!-- <span class='custom-font'>{{ translationData.lblPreferences || 'Preferences' }} ({{ translationData.lblPersonaliseyourowndisplaysettings }})</span> -->
                <span class='custom-font'>{{ translationData.lblPreferences || 'Preferences' }} ({{ translationData.lblPersonaliseyourowndisplaysettings || 'Personalise your own display settings' }})</span>
            </div>
        </div>
        <div style="background: rgb(241, 242, 243); padding: 0px 25px;">
            <mat-tab-group [(selectedIndex)]="selectedIndex">
                <!-- <mat-tab label="{{ translationData.lblAccountInfoSettings }}"> 
                    <app-account-info-settings></app-account-info-settings>
                </mat-tab> -->
                <mat-tab label="{{ translationData.lblAccountInfoSettings || 'Account Info & Settings' }}"> 
                    <app-account-info-settings [translationData]='translationData'></app-account-info-settings>
                </mat-tab>
                <!-- <mat-tab label="{{ translationData.lblDashboard }}">{{ translationData.lblDashboard }}</mat-tab> -->
                <mat-tab label="{{ translationData.lblDashboard || 'Dashboard' }}">{{ translationData.lblDashboard || 'Dashboard' }}</mat-tab>
                <!-- <mat-tab label="{{ translationData.lblReports }}">{{ translationData.lblReports }}</mat-tab> -->
                <mat-tab label="{{ translationData.lblReports || 'Reports' }}">{{ translationData.lblReports || 'Reports' }}</mat-tab>
                <!-- <mat-tab label="{{ translationData.lblFleetOverview }}">{{ translationData.lblFleetOverview }}</mat-tab> -->
                <mat-tab label="{{ translationData.lblFleetOverview || 'Fleet Overview' }}">{{ translationData.lblFleetOverview || 'Fleet Overview' }}</mat-tab>
                </mat-tab-group>
        </div>
    </div> 
</div>