.text-truncate {
    display: inline-block;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 9px;
    margin-right: 10px;
}
.reportTable {
    .mat-table {
        width: 100% !important;
        overflow-x: scroll;
        .mat-header-row, .mat-row {
            width: 186% !important;
        }
    }
}
.inputBox{
    margin-right: -35px;
    width: 130px;
    padding: 7px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    &:hover{
        border: 2px solid #000;
    }
}
.selectedBtn {
    background: #e4e4e4 !important;
    color: #000 !important;
}
.timeAdjustSpan{
    position: absolute;
    width: auto;
    padding: 0px 5px;
    z-index: 1;
    margin-top: 8px;
    background: #fff;
    margin-left: 3px;
    border-radius: 1px;
}
.navigatePoint{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
.summary-bg-color{
    background: #bee3f8 !important;
}
.min-width-19-per{
    min-width: 19%;
}
.hidelbleblank{
    width: 45%;
    height: 15px;
    background: #fff;
    position: absolute;  
    margin-top: -15px;
    z-index: 999;
}