<div class="bgtrans">
    <div fxLayout="row" fxLayoutAlign="center space-between" class="full-width" fxLayoutGap="10px">
        <div class="areaWidth" fxLayout="column" fxLayoutAlign="center center">
            <span class="font-helvetica-md font-24-px line-height-36-px margin-bottom-xlg">404 - Page Not Found</span> 
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center space-between" class="full-width" fxLayoutGap="10px">
        <div class="areaWidth" fxLayout="column" fxLayoutAlign="center center">
            <span class="font-helvetica-lt font-16-px line-height-24-px">Looks like the page you were looking for is no longer here.</span> 
        </div>
    </div>
</div>