<div *ngIf="actionType == 'view'" fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
    <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
        <span>{{ breadcumMsg }}</span>
    </div>
    <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="end" class='margin-right-xxlg'>
        <span class='custom-font' (click)="toBack()">
            <span>
                <&nbsp;</span>
                    <span class='backBtnCss'>{{ translationData.lblBack || 'Back' }}</span>
        </span>
    </div>
</div>
<form [formGroup]="featureFormGroup">
    <mat-card class='mat-elevation-z'>
        <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-between center" class='margin-bottom-sm'>
                <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="start">
                    <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ actionType == 'create' ?
                        (translationData.lblAddFeatureRelationship || 'Add Feature Relationship') : actionType == 'edit'
                        ? (translationData.lblEditFeatureRelationship || 'Edit Feature Relationship') :
                        (translationData.lblFeatureRelationshipDetails || 'Feature Relationship Details') }}</span>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
                <div class="areaWidth half-width" fxLayout="column" fxLayoutAlign="left">
                    <mat-label style='display: flex; place-content: space-between;'>
                        <div>{{ translationData.lblDataAttributeSetName || 'Data Attribute Set Name' }}
                        <span *ngIf="actionType != 'view'" class='mandatoryColor'>*</span>
                        <span *ngIf="actionType != 'view'">
                            <mat-icon matTooltip="{{ translationData.lblToolTipTextDataAttrSetName || 'New Feature will auto create same as Data Attribute set name' }}" style="padding-left: 7px; font-size: 15px; padding-top: 3px;">info</mat-icon>
                        </span>
                        </div>
                        <span *ngIf="actionType != 'view'">{{ translationData.lbl250CharMax || '250 characters max'
                        }}</span>
                    </mat-label>
                    <mat-error *ngIf="duplicateEmailMsg">{{translationData.lblDuplicateDataAttributeSetName || 'Duplicate Data Attribute Set
                        Name' }}</mat-error>
                    <div *ngIf="actionType != 'view'">
                        <mat-form-field appearance="outline" class="full-width">
                            <input maxlength="250"
                                placeholder="{{ translationData.lblEnterDataAttributeSetName || 'Enter Data Attribute Set Name' }}"
                                matInput formControlName="dataAttributeSetName">
                        </mat-form-field>
                        <mat-error *ngIf="featureFormGroup.get('dataAttributeSetName').hasError('required')">
                            {{ translationData.lblPleasenterdatattributesetname || 'Please enter data attribute set
                            name'}}
                        </mat-error>
                        <mat-error *ngIf="featureFormGroup.get('dataAttributeSetName').hasError('whitespace')">
                            {{ translationData.lblDataAttributeSetcannotcontainonlywhitespace || 'Data Attribute Set
                            cannot contain only whitespace' }}
                        </mat-error>
                        <mat-error *ngIf="featureFormGroup.get('dataAttributeSetName').hasError('maxlength')">
                            {{ translationData.lblDataAttributeSetmaxlength || 'Max length should be 250' }}
                        </mat-error>
                        <mat-error *ngIf="featureFormGroup.get('dataAttributeSetName').hasError('specialCharsNotAllowed')">
                            {{ translationData.lblSpecialcharactersnotallowed || 'Special characters not allowed' }}
                        </mat-error>
                        <mat-error #UserValueCheck *ngIf="isDataAttributeSetExist" >
                            {{ translationData.lblDataAttributeSetalreadyexistsPleasechooseadifferentisAttributeSet || 'Data Attribute Set already exists. Please choose a different.'}}
                        </mat-error>
                    </div>
                    <div *ngIf="actionType == 'view'">
                        <span style='font-weight: 500!important;'>{{ selectedElementData.name }}</span>
                    </div>
                </div>
                <div class="areaWidth half-width" fxLayout="column" fxLayoutAlign="left">
                    <mat-label style='display: flex; place-content: space-between;'>
                        <span>{{ translationData.lblDataAttributeDescription || 'Data Attribute Description' }}
                            <mat-icon *ngIf="actionType != 'view'"
                            matTooltip="{{ translationData.lblToolTipTextDataAttrDescription || 'New Feature description will auto create same as Data Attribute description' }}"
                                style="padding-left: 7px; font-size: 15px; padding-top: 4px; vertical-align: middle;">
                                info</mat-icon>
                        </span>
                        <span *ngIf="actionType != 'view'">{{ translationData.lbl100CharMax || '100 characters max'
                            }}</span>
                    </mat-label>
                    <div *ngIf="actionType != 'view'">
                        <mat-form-field appearance="outline" class="full-width">
                            <input maxlength="100"
                                placeholder="{{ translationData.lblEnterDataAttributeDescription || 'Enter Data Attribute Description' }}"
                                matInput formControlName="dataAttributeDescription">
                        </mat-form-field>
                        <mat-error *ngIf="featureFormGroup.get('dataAttributeDescription').hasError('whitespace')">
                            {{ translationData.lblDataAttributeDescriptioncannotcontainonlywhitespace || 'Data Attribute
                            Description cannot contain only whitespace' }}
                        </mat-error>
                        <mat-error *ngIf="featureFormGroup.get('dataAttributeDescription').hasError('maxlength')">
                            {{ translationData.lblDataAttributeSetmaxlength || 'Max length should be 250' }}
                        </mat-error>
                        <mat-error *ngIf="featureFormGroup.get('dataAttributeDescription').hasError('specialCharsNotAllowed')">
                            {{ translationData.lblSpecialcharactersnotallowed || 'Special characters not allowed' }}
                        </mat-error>
                    </div>
                    <div *ngIf="actionType == 'view'">
                        <span style='font-weight: 500!important;'>{{ selectedElementData.description}}</span>
                    </div>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-xlg" fxLayoutGap="10px">
                <div class='areaWidth min-width-20-per' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="right">
                    <span>{{ translationData.lblDataAttributeSetType || 'Data Attribute Set Type' }}:</span>
                    <div *ngIf="actionType != 'view'" class='margin-top-5'>
                        <mat-radio-group (change)='onSetTypeChange($event)'>
                            <mat-radio-button [checked]="selectedSetType" style='margin-right: 20px;' value="true">{{
                                translationData.lblExclusive || 'Exclusive' }}
                            </mat-radio-button>
                            <mat-radio-button [checked]="!selectedSetType" style='margin-right: 20px;' value="false">{{
                                translationData.lblInclusive || 'Inclusive' }}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div *ngIf="actionType == 'view'">
                        <span style='font-weight: 500!important;'>{{ selectedElementData.dataAttribute.isExclusive ?
                            (translationData.lblExclusive || 'Exclusive') : (translationData.lblInclusive ||
                            'Inclusive') }}</span>
                    </div>
                </div>
                <div class='areaWidth min-width-60-per' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="right">
                    <span>{{ translationData.lblStatus || 'Status' }}</span>
                    <div *ngIf="actionType != 'view'" class='margin-top-5'>
                        <mat-radio-group (change)='onStatusChange($event)'>
                            <mat-radio-button [checked]="selectedStatus ===  'ACTIVE' ? true : false"
                                style='margin-right: 20px;' value="ACTIVE">{{ translationData.lblActive || 'Active' }}
                            </mat-radio-button>
                            <mat-radio-button [checked]="selectedStatus ===  'INACTIVE' ? true : false"
                                style='margin-right: 20px;' value="INACTIVE">{{ translationData.lblInactive || 'Inactive' }}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div *ngIf="actionType == 'view'">
                        <span style='font-weight: 500!important;'>{{ selectedElementData.state === 'ACTIVE' ?
                            (translationData.lblActive || 'Active') : (translationData.lblInactive || 'Inactive')
                            }}</span>
                    </div>
                </div>
            </div>
            <div *ngIf="actionType != 'view'" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column" fxLayoutAlign="left">
                    <div fxLayout="row" fxLayoutAlign='center center'>
                        <mat-icon class='margin-right-10'>info</mat-icon>
                        <span>{{ actionType == 'create' ? (translationData.lblFeatureHintMessage || 'You can select
                            multiple "Data Attributes" from below list to map with this Feature Relationship') :
                            (translationData.lblEditFeatureHintMessage || 'You can select multiple "Data Attributes"
                            from below list to map with this Feature Relationship') }}</span>
                    </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="end">
                    <div fxLayout="row" class='areaWidth'>
                        <button class='resetCancelBtnColor margin-right-10' mat-raised-button color="primary" (click)='onCancel()'>{{
                            translationData.lblCancel || 'Cancel' }}</button>
                        <button class='resetCancelBtnColor margin-right-10' mat-raised-button color="primary" *ngIf="actionType == 'edit'"
                            (click)='onReset()'>{{ translationData.lblReset || 'Reset' }}</button>
                        <button class='no-margin' [disabled]="!featureFormGroup.valid" mat-raised-button color="primary"
                            (click)='onCreate()'>{{ actionType == 'create' ? (translationData.lblCreate || 'Create') :
                            (translationData.lblConfirm || 'Confirm') }}</button>
                    </div>
                </div>
            </div>
            <div style='padding: 20px; position: relative;'>
                <mat-divider></mat-divider>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" class='margin-bottom-sm'>
                <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="start">
                    <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ actionType == 'view' ?
                        (translationData.lblSelectedDataAttribute || 'Selected Data Attribute') :
                        (translationData.lblSelectDataAttribute || 'Select Data Attribute') }}</span>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="left" class='margin-bottom-sm'>
                <div style='margin-right: 50px;' class='areaWidth' fxLayout="column" fxLayoutGap="3px"
                    fxLayoutAlign="left">
                    <mat-form-field appearance="outline">
                        <input matInput (keyup)="applyFilter($event.target.value)"
                            placeholder="{{ translationData.lblSearch || 'Search' }}">
                        <span matPrefix>
                            <mat-icon>search</mat-icon>
                        </span>
                    </mat-form-field>
                </div>
            </div>
            <div class='margin-bottom-xlg'>
                <mat-table [dataSource]="dataSource" class="table-items" matSort>
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblDataAttribute || 'Data
                            Attribute' }}</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            {{ row.name }}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="select">
                        <div>
                            <mat-header-cell *matHeaderCellDef>
                                <mat-slide-toggle color="primary"
                                    (change)='$event ? masterToggleForDataAttribute() : null'
                                    [checked]='selectionForDataAttribute.hasValue() && isAllSelectedForDataAttribute()'
                                    [indeterminate]='selectionForDataAttribute.hasValue() && !isAllSelectedForDataAttribute()'
                                    [aria-label]='checkboxLabelForDataAttribute()' [disabled]="actionType == 'view'">
                                </mat-slide-toggle>
                                <span style="margin: 5px 0px 0px 5px;"
                                    [ngClass]="{'opacity-0-5': actionType == 'view'}">{{selectedSetType ?
                                    (translationData.lblExclude || 'Exclude') : ( translationData.lblInclude ||
                                    'Include')}}</span>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <mat-slide-toggle color="primary" (click)='$event.stopPropagation()'
                                    (change)='$event ? selectionForDataAttribute.toggle(row) : null; onCheckboxChange($event, row)'
                                    [checked]='selectionForDataAttribute.isSelected(row)'
                                    [aria-label]='checkboxLabelForDataAttribute(row)' [disabled]="actionType == 'view'">
                                </mat-slide-toggle>
                            </mat-cell>
                        </div>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                    </mat-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>
</form>