<div *ngIf="actionType == 'view'" fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
    <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
      <span>{{ breadcumMsg }}</span>
    </div>
    <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="end" class='margin-right-xxlg'>
      <span class='custom-font' (click)="toBack()">
        <span><&nbsp;</span>
        <span class='backBtnCss'>{{ translationData.lblBack || 'Back' }}</span></span>
    </div>
</div>
<form [formGroup]="featureFormGroup">
    <mat-card class='mat-elevation-z'>
        <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-between center" class='margin-bottom-sm'>
                <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="start">
                    <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ actionType == 'create' ? (translationData.lblAddFeatureRelationship || 'Add Feature Relationship') : actionType == 'edit' ? (translationData.lblEditFeatureRelationship || 'Edit Feature Relationship') : (translationData.lblViewFeatureRelationship || 'View Feature Relationship') }}</span>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
                <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
                    <mat-label>{{ translationData.lblFeatureName || 'Feature Name' }}<span class='mandatoryColor'>*</span></mat-label>
                    <mat-form-field appearance="outline" class="full-width">
                        <input  placeholder="{{ translationData.lblEnterFeatureName || 'Enter Feature Name' }}" matInput formControlName="featureName" maxlength="50" required>
                    </mat-form-field>
                    <mat-error *ngIf="featureFormGroup.get('featureName').hasError('required')">
                        {{ translationData.lblPleaseenterfeaturename || 'Please enter feature name'}}
                    </mat-error>
                    <mat-error *ngIf="!featureFormGroup.get('featureName').hasError('required') && featureFormGroup.get('featureName').hasError('whitespace')">
                        {{ translationData.lblFeatureNamcannotcontainonlywhitespace || 'Feature Name cannot contain only whitespace' }}
                    </mat-error>
                </div>
                <div class="areaWidth min-width-60-per" fxLayout="column" fxLayoutAlign="left">
                    <mat-label style='display: flex; place-content: space-between;'>
                        <span>{{ translationData.lblFeatureDescription || 'Feature Description' }}</span>
                        <span>{{ translationData.lbl120CharMax || '120 characters max' }}</span>
                    </mat-label>
                    <mat-form-field appearance="outline" class="full-width">
                        <input maxlength="100" placeholder="{{ translationData.lblEnterFeatureDescription || 'Enter Feature Description' }}" matInput
                            formControlName="featureDescription">
                    </mat-form-field>
                    <mat-error *ngIf="  featureFormGroup.get('featureDescription').hasError('whitespace')">
                        {{ translationData.lblFeatureDescriptioncannotcontainonlywhitespace || 'Feature Description cannot contain only whitespace' }}
                    </mat-error>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
            <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
            <mat-label style='display: flex; place-content: space-between;'>
                <span>{{ translationData.lblFeatureType || 'Feature Type' }}</span>
            </mat-label>
            <mat-form-field appearance="outline" class="full-width">
                <input maxlength="100" placeholder="{{ translationData.lblEnterFeatureType || 'Enter Feature Type' }}" matInput
                    formControlName="featureType">
            </mat-form-field>
            <mat-error *ngIf="  featureFormGroup.get('featureType').hasError('whitespace')">
                {{ translationData.lblFeatureTypecannotcontainonlywhitespace || 'Feature Type cannot contain only whitespace' }}
            </mat-error>
            </div>
            <div class="areaWidth min-width-30-per" fxLayout="column" fxLayoutAlign="left">
            <mat-label style='display: flex; place-content: space-between;'>
                <span>{{ translationData.lblDataAttributeSetName || 'Data Attribute Set Name' }}</span>
            </mat-label>
            <mat-form-field appearance="outline" class="full-width">
                <input maxlength="100" placeholder="{{ translationData.lblEnterDataAttributeSetName || 'Enter Data Attribute Set Name' }}" matInput
                    formControlName="dataAttributeSetName">
            </mat-form-field>
            <mat-error *ngIf="featureFormGroup.get('dataAttributeSetName').hasError('whitespace')">
                {{ translationData.lblDataAttributeSetcannotcontainonlywhitespace || 'Data Attribute Set cannot contain only whitespace' }}
            </mat-error>
            </div>
            <div class='areaWidth min-width-20-per' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="right">
            <span>{{ translationData.lblDataAttributeSetType || 'Data Attribute Set Type' }}:</span>
            <mat-radio-group class='margin-top-5'>
                <mat-radio-button [checked]="selectedSetType ===  'excluded' ? true : false" style='margin-right: 20px;' value="excluded">{{ translationData.lblExcluded || 'Excluded' }}
                </mat-radio-button>
                <mat-radio-button [checked]="selectedSetType ===  'inactive' ? true : false" style='margin-right: 20px;' value="inactive" >{{ translationData.lblInactive || 'Inactive' }}
                </mat-radio-button>
            </mat-radio-group>
            </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between" class="full-width margin-bottom-sm" fxLayoutGap="10px">
            <div class='areaWidth min-width-30-per' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="right">
            <span>{{ translationData.lblStatus || 'Status' }}</span>
            <mat-radio-group class='margin-top-5'>
                <mat-radio-button [checked]="selectedStatus ===  'active' ? true : false" style='margin-right: 20px;' value="active">{{ translationData.lblActive || 'Active' }}
                </mat-radio-button>
                <mat-radio-button [checked]="selectedStatus ===  'inactive' ? true : false" style='margin-right: 20px;' value="inactive" >{{ translationData.lblInactive || 'Inactive' }}
                </mat-radio-button>
            </mat-radio-group>
            </div>
            <div class="areaWidth min-width-60-per" fxLayout="column" fxLayoutAlign="left">
                <mat-label style='display: flex; place-content: space-between;'>
                    <span>{{ translationData.lblDataAttributeDescription || 'Data Attribute Description' }}</span>
                    <span>{{ translationData.lbl120CharMax || '120 characters max' }}</span>
                </mat-label>
                <mat-form-field appearance="outline" class="full-width">
                    <input maxlength="100" placeholder="{{ translationData.lblEnterDataAttributeDescription || 'Enter Data Attribute Description' }}" matInput
                        formControlName="dataAttributeDescription">
                </mat-form-field>
                <mat-error *ngIf="featureFormGroup.get('dataAttributeDescription').hasError('whitespace')">
                {{ translationData.lblDataAttributeDescriptioncannotcontainonlywhitespace || 'Data Attribute Description cannot contain only whitespace' }}
                </mat-error>
            </div>
            </div> 
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column" fxLayoutAlign="left">
                    <div fxLayout="row" fxLayoutAlign='center center'>
                        <mat-icon class='margin-right-10'>info</mat-icon>
                        <span>{{ actionType == 'create' ? (translationData.lblFeatureHintMessage || 'You can select multiple "Data Attributes" from below list to map with this Feature Relationship') : (translationData.lblEditFeatureHintMessage || 'You can select multiple "Data Attributes" from below list to map with this Feature Relationship') }}</span>
                    </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="end">
                    <div fxLayout="row">
                      <button class='margin-right-10' mat-raised-button color="primary"
                            (click)='onCancel()'>{{ translationData.lblCancel || 'Cancel' }}</button>
                      <button class='margin-right-10'  mat-raised-button color="primary" *ngIf="actionType == 'edit'"
                              (click)='onReset()'>{{ translationData.lblReset || 'Reset' }}</button>
                      <button class='no-margin' [disabled]="!featureFormGroup.valid" mat-raised-button color="primary"
                            (click)='onCreate()'>{{ actionType == 'create' ? (translationData.lblCreate || 'Create') : (translationData.lblConfirm || 'Confirm') }}</button>   
                    </div>
                </div>
            </div>  
            <div style='padding: 20px; position: relative;'>
                <mat-divider></mat-divider>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" class='margin-bottom-sm'>
                <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="start">
                    <span style='font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;'>{{ translationData.lblSelectDataAttribute || 'Select Data Attribute' }}</span>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="left" class='margin-bottom-sm'>
                <div style='margin-right: 50px;' class='areaWidth' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
                  <mat-form-field appearance="outline">
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ translationData.lblSearch || 'Search' }}">
                      <span matPrefix><mat-icon>search</mat-icon></span>
                  </mat-form-field>
                </div>
            </div>
            <div class='margin-bottom-xlg'>
                <mat-table [dataSource]="dataSource" class="table-items" matSort>
                  <ng-container matColumnDef="select">
                    <div>
                      <mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)='$event ? masterToggleForDataAttribute() : null'
                          [checked]='selectionForDataAttribute.hasValue() && isAllSelectedForDataAttribute()'
                          [indeterminate]='selectionForDataAttribute.hasValue() && !isAllSelectedForDataAttribute()'
                          [aria-label]='checkboxLabelForDataAttribute()' [disabled]="actionType == 'view'">
                        </mat-checkbox>
                        <span style="margin: 5px 0px 0px 5px;" [ngClass]="{'opacity-0-5': actionType == 'view'}">{{ translationData.lblAll || 'All' }}</span>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <mat-checkbox (click)='$event.stopPropagation()' (change)='$event ? selectionForDataAttribute.toggle(row) : null'
                          [checked]='selectionForDataAttribute.isSelected(row)' [aria-label]='checkboxLabelForDataAttribute(row)' [disabled]="actionType == 'view'">
                        </mat-checkbox>
                      </mat-cell>
                    </div>
                  </ng-container>
                  <ng-container matColumnDef="dataAttribute">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblDataAttribute || 'Data Attribute' }}</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      {{ row.dataAttribute }}
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;">
                  </mat-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
              </div>
        </mat-card-content>
    </mat-card>
</form>