<div class='bgtrans'>
  <mat-card class='mat-elevation-z'>
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)"
          placeholder="{{ translationData.lblFilter || 'Filter' }}">
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="vehiclegroups">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblVehicleGroup || 'Vehicle Group' }}/{{ translationData.lblVehicle || 'Vehicle' }}</mat-header-cell>
          <mat-cell *matCellDef="let row" (click)="onVehClick(row)" class="row-hover"><a>{{row.vehiclegroups}}</a> </mat-cell>
        </ng-container>
        <ng-container matColumnDef="users">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationData.lblUsers || 'Users' }}</mat-header-cell>
          <mat-cell *matCellDef="let row" (click)="onUserClick(row)"  class="row-hover">
          <a > {{row.users}}</a>
           </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" >
        </mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </mat-card>
</div>
