<div class=''>
    <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
        <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
            <span>{{ breadcumMsg }}</span>
        </div>
        <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="end" class='margin-right-xxlg'>
            <span class='custom-font' (click)="closeImport()">
                <span>
                    <&nbsp;</span>
                        <span class='backBtnCss'>{{ importTranslationData.lblBack  }}</span>
            </span>
        </div>
    </div>
<mat-card class='mat-elevation-z margin-bottom-xlg'>
    <form [formGroup]="importPackageFormGroup">
        <div class='margin-bottom-sm' fxLayout="row" fxLayoutAlign="space-between">
            <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
                <span class='font-18-px line-height-27px font-helvetica-md'>{{ importTranslationData.importTitle }}</span>
            </div>
           
      
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="15px">
            <div style='width: 60%' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
                <span style='display: flex; align-items: center;'>
                    <img matTooltip='Download' [src]='fileIcon' style="width: 30px; height: 30px;" />&nbsp;
                    <a class='font-16-px line-height-24px cursor-pointer' (click)='downloadTemplate()' style='cursor: pointer; text-decoration-line: underline;'>
                        {{ importTranslationData.downloadTemplate }}
                    </a>
                </span>
                <span>{{ importTranslationData.downloadTemplateInstruction }}</span>
            </div>
            <div style='width: 90%; background: #ecf7fe; border-radius: 5px;' fxLayout="column" fxLayoutAlign="end">
                <div style='padding: 30px;' fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="start">
                    <div class='full-width' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
                        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
                            <div class='areaWidth full-width myform-wrappe uploadArea' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
                                <mat-label class='font-16-px line-height-24px'>{{ importTranslationData.selectUpdatedFile }} <span class='mandatoryColor'>*</span></mat-label>
                                <mat-form-field appearance="outline">
                                    <ngx-mat-file-input #removableInput (change)="addfile($event)" [accept]="fileExtension" formControlName="uploadFile" placeholder="Upload File" ></ngx-mat-file-input>
                                    <button mat-flat-button color="primary" matSuffix>{{ importTranslationData.browse }}</button>
                                </mat-form-field>
                                <mat-error *ngIf="importPackageFormGroup.get('uploadFile').hasError('required')">
                                    {{ importTranslationData.selectFile }}
                                </mat-error>
                                <mat-error *ngIf="importPackageFormGroup.get('uploadFile').hasError('maxContentSize')">
                                    {{ importTranslationData.totalSizeMustNotExceed }} {{ importPackageFormGroup.get('uploadFile')?.getError('maxContentSize').maxSize | byteFormat }} ({{ importPackageFormGroup.get('uploadFile')?.getError('maxContentSize').actualSize
                                    | byteFormat }}).
                                </mat-error> 
                               <mat-error *ngIf="excelEmptyMsg">
                                    {{ importTranslationData.emptyFile  }}
                                </mat-error> 
                                <mat-error *ngIf="filetypeError">
                                    {{ importTranslationData.invalidFileType}}
                                </mat-error> 
                            </div>
                            <div fxLayout="column" class='margin-top-adjust'>
                                <button style='color: #fff;' [disabled]="!importPackageFormGroup.valid || excelEmptyMsg || filetypeError" [ngStyle]="{'margin-top': importPackageFormGroup.get('uploadFile').hasError('required') ? '0px' : '3px'}" mat-flat-button color="primary"
                                    (click)="importNewFile(removableInput)">
                                    <mat-icon>arrow_circle_up</mat-icon> {{ importTranslationData.uploadButtonText}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </form>
</mat-card>

<!-- import status -->
<mat-card *ngIf="showImportStatus" style='border: 1px solid #d0d0d0;' class='mat-elevation-z margin-bottom-xlg'>
  
    <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
        <div style='width:95%;' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
            <span class='font-16-px line-height-24px font-helvetica-md'>{{ importTranslationData.importedFileDetails }} ({{ filelist.length }})</span>
        </div>
        <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center">
            <mat-icon (click)='onClose()' style='cursor: pointer;'>close</mat-icon>
        </div>
    </div>
    <div *ngIf="!packageCodeErrorMsg">
    <div fxLayout="row" fxLayoutAlign="start space-between">
        <div style='width:50%;' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
            <span>{{ importTranslationData.imported }} <span style='color: green'>{{importedCount}} {{importTranslationData.new}} {{importedCount>1 ? importTranslationData.fileTypeMultiple : importTranslationData.fileType}}</span></span>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start space-between">
        <div style='width:50%;' fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
            <span>{{ importTranslationData.rejected  }} <span [ngClass]="{'cursor-pointer': rejectedCount > 0}" (click)="(rejectedCount > 0) ? showRejectedPopup(rejectedList) : ''" style='color: red; text-decoration-line: underline;'>{{ rejectedCount }} {{ importTranslationData.fileTypeMultiple}}</span></span>

        </div>
    </div>
</div>
    <mat-error *ngIf="packageCodeError">
        {{packageCodeErrorMsg}}
    </mat-error> 
</mat-card>
</div>


