<!-- <ng-container *ngIf='initData && initData.subReportUserPreferences.length > 0'>
    <ng-container *ngFor='let section of initData.subReportUserPreferences'>
        <div fxLayout="row" class='areaWidth full-width padding-10 summaryPref' fxLayoutAlign="left center"
            style='background: #BEE3F8 !important; border-radius: 5px 5px 0px 0px;'>
            <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
                <mat-checkbox class='custom-checkbox' [disabled]='!editFlag'><span class='headerFont'>{{
                        translationData['lbl'+section.name.replace(initData.name, '').replace('.', '')] ||
                        section.name.replace(initData.name, '').replace('.', '')
                        }}</span>
                </mat-checkbox>
            </div>
        </div>
        <ng-container *ngIf='section.subReportUserPreferences.length > 0'>
            <ng-container *ngInit="let field of section.subReportUserPreferences; let index = index"></ng-container>
            <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">
                <ng-container *ngFor="let field of section.subReportUserPreferences; let index = index">
                    <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%"  [ngClass]="{'myStyle': 0 === index % 3}">
                        <mat-checkbox [disabled]='!editFlag' (click)='$event.stopPropagation()' class='custom-checkbox'>
                            <span>{{
                                translationData['lbl'+field.name.replace(initData.name, '').replace('.', '')] ||
                                field.name.replace(initData.name, '').replace('.', '')
                                }}</span>
                        </mat-checkbox>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </ng-container>
</ng-container> -->

<!-- [checked]='selectionForSummaryColumns.hasValue() && isAllSelectedForSummaryColumns()'
            [indeterminate]='selectionForSummaryColumns.hasValue() && !isAllSelectedForSummaryColumns()'
            [aria-label]='checkboxLabelForSummaryColumns()' -->
<form [formGroup]="fleetFuelForm">
    <!-- summary tab -->
    <div *ngIf='summaryColumnData.length > 0' fxLayout="row" class='areaWidth full-width padding-10 summaryPref'
        fxLayoutAlign="left center" style='background: #BEE3F8 !important; border-radius: 5px 5px 0px 0px;'>
        <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
            <mat-checkbox class='custom-checkbox' (change)='$event ? masterToggle("Summary") : null'
                [checked]='selectionForSummaryColumns.hasValue() && isAllSelected("Summary")'
                [indeterminate]='selectionForSummaryColumns.hasValue() && !isAllSelected("Summary")'
                [disabled]='!editFlag'><span class='headerFont'>{{
                    translationData.lblSummary || 'Summary'
                    }}</span>
            </mat-checkbox>
        </div>
    </div>
    <ng-container *ngIf='summaryColumnData.length > 0'>
        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">
            <ng-container *ngFor="let field of summaryColumnData; let index = index">
                <div class="padding-10" fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
                    fxFlex.lt-sm="100%" [ngClass]="{'myStyle': 0 === index % 3}">
                    <mat-checkbox [disabled]='!editFlag' (click)='$event.stopPropagation()' class='custom-checkbox'
                        (change)='$event ? selectionForSummaryColumns.toggle(field) : null;'
                        [checked]="selectionForSummaryColumns.isSelected(field)">
                        <!-- <span>{{
                        translationData['lbl'+field.name.replace(initData.name, '').replace('.', '')] ||
                        field.name.replace(initData.name, '').replace('.', '')
                        }}</span> -->
                        <span>
                            {{field.translatedName}}
                        </span>
                    </mat-checkbox>
                </div>
            </ng-container>
        </div>
    </ng-container>


    <!-- Vehicle Ranking tab -->
    <div *ngIf='vehicleRankingColumnData.length > 0' fxLayout="row" class='areaWidth full-width padding-10 summaryPref'
        fxLayoutAlign="left center" style='background: #BEE3F8 !important; border-radius: 5px 5px 0px 0px;'>
        <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
            <mat-checkbox class='custom-checkbox' (change)='$event ? masterToggle("VehicleRanking") : null'
                [checked]='selectionForVehicleRankingColumns.hasValue() && isAllSelected("VehicleRanking")'
                [indeterminate]='selectionForVehicleRankingColumns.hasValue() && !isAllSelected("VehicleRanking")'
                [disabled]='!editFlag'><span class='headerFont'>{{
                    translationData.lblVehicleRanking || 'Vehicle Ranking'
                    }}</span>
            </mat-checkbox>
        </div>
    </div>
    <ng-container *ngIf='vehicleRankingColumnData.length > 0'>
        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">
            <ng-container *ngFor="let field of vehicleRankingColumnData; let index = index">
                <div class="padding-10" fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
                    fxFlex.lt-sm="100%" [ngClass]="{'myStyle': 0 === index % 3}">
                    <mat-checkbox [disabled]='!editFlag' (click)='$event.stopPropagation()' class='custom-checkbox'
                        (change)='$event ? selectionForVehicleRankingColumns.toggle(field) : null;'
                        [checked]="selectionForVehicleRankingColumns.isSelected(field)">
                        <!-- <span>{{
                        translationData['lbl'+field.name.replace(initData.name, '').replace('.', '')] ||
                        field.name.replace(initData.name, '').replace('.', '')
                        }}</span> -->
                        <span>
                            {{field.translatedName}}
                        </span>
                    </mat-checkbox>
                </div>
            </ng-container>
        </div>
    </ng-container>

    <!-- charts tab -->
    <div *ngIf='chartsColumnData.length > 0' fxLayout="row" class='areaWidth full-width padding-10 summaryPref'
        fxLayoutAlign="left center" style='background: #BEE3F8 !important; border-radius: 5px 5px 0px 0px;'>
        <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
            <mat-checkbox class='custom-checkbox' (change)='$event ? masterToggle("Charts") : null'
                [checked]='selectionForChartsColumns.hasValue() && isAllSelected("Charts")'
                [indeterminate]='selectionForChartsColumns.hasValue() && !isAllSelected("Charts")'
                [disabled]='!editFlag'><span class='headerFont'>{{
                    translationData.lblCharts || 'Charts'
                    }}</span>
            </mat-checkbox>
        </div>
    </div>
    <ng-container *ngIf='chartsColumnData.length > 0'>
        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="5px" fxLayoutAlign="flex-start">
            <ng-container *ngFor="let field of chartsColumnData; let index = index">
                <div class="padding-10 areaWidth" fxFlex="0 1 calc(33.3% - 5px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
                    fxFlex.lt-sm="100%" [ngClass]="{'myStyle': 0 === index % 3}">
                    <mat-checkbox [disabled]='!editFlag' (click)='$event.stopPropagation()' class='custom-checkbox'
                        (change)='$event ? selectionForChartsColumns.toggle(field) : null;'
                        [checked]="selectionForChartsColumns.isSelected(field)">
                        <!-- <span>{{
                        translationData['lbl'+field.name.replace(initData.name, '').replace('.', '')] ||
                        field.name.replace(initData.name, '').replace('.', '')
                        }}</span> -->
                        <span>
                            {{field.translatedName}}
                        </span>
                    </mat-checkbox>
                    <mat-form-field appearance="outline" class="custom-dropdown">
                        <mat-select [disabled]='!editFlag || lineBarDD.length == 0'
                            (selectionChange)="onlineBarDDChange($event)"
                            placeholder="{{ translationData.lblChartType || 'Chart Type' }}"
                            [formControlName]="field.key">
                            <mat-option *ngFor="let rer of lineBarDD" [value]="rer.type">
                                {{ rer.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </ng-container>
        </div>
    </ng-container>

    <!-- Vehicle Details tab -->
    <div *ngIf='vehicleDetailsColumnData.length > 0' fxLayout="row" class='areaWidth full-width padding-10 summaryPref'
        fxLayoutAlign="left center" style='background: #BEE3F8 !important; border-radius: 5px 5px 0px 0px;'>
        <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
            <mat-checkbox class='custom-checkbox' (change)='$event ? masterToggle("VehicleDetails") : null'
                [checked]='selectionForVehicleDetailsColumns.hasValue() && isAllSelected("VehicleDetails")'
                [indeterminate]='selectionForVehicleDetailsColumns.hasValue() && !isAllSelected("VehicleDetails")'
                [disabled]='!editFlag'><span class='headerFont'>{{
                    translationData.lblVehicleDetails || 'Vehicle Details (Table column view settings)'
                    }}</span>
            </mat-checkbox>
        </div>
    </div>
    <ng-container *ngIf='vehicleDetailsColumnData.length > 0'>
        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">
            <ng-container *ngFor="let field of vehicleDetailsColumnData; let index = index">
                <div class="padding-10" fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
                    fxFlex.lt-sm="100%" [ngClass]="{'myStyle': 0 === index % 3}">
                    <mat-checkbox [disabled]='!editFlag' (click)='$event.stopPropagation()' class='custom-checkbox'
                        (change)='$event ? selectionForVehicleDetailsColumns.toggle(field) : null;'
                        [checked]="selectionForVehicleDetailsColumns.isSelected(field)">
                        <!-- <span>{{
                        translationData['lbl'+field.name.replace(initData.name, '').replace('.', '')] ||
                        field.name.replace(initData.name, '').replace('.', '')
                        }}</span> -->
                        <span>
                            {{field.translatedName}}
                        </span>
                    </mat-checkbox>
                </div>
            </ng-container>
        </div>
    </ng-container>


    <!-- Single Vehicle Details tab -->
    <div *ngIf='singleVehicleDetailsColumnData.length > 0' fxLayout="row"
        class='areaWidth full-width padding-10 summaryPref' fxLayoutAlign="left center"
        style='background: #BEE3F8 !important; border-radius: 5px 5px 0px 0px;'>
        <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
            <mat-checkbox class='custom-checkbox' (change)='$event ? masterToggle("SingleVehicleDetails") : null'
                [checked]='selectionForSingleVehicleDetailsColumns.hasValue() && isAllSelected("SingleVehicleDetails")'
                [indeterminate]='selectionForSingleVehicleDetailsColumns.hasValue() && !isAllSelected("SingleVehicleDetails")'
                [disabled]='!editFlag'><span class='headerFont'>{{
                    translationData.lblSingleVehicleDetails || 'Single Vehicle Details (Table column view settings)'
                    }}</span>
            </mat-checkbox>
        </div>
    </div>
    <ng-container *ngIf='singleVehicleDetailsColumnData.length > 0'>
        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">
            <ng-container *ngFor="let field of singleVehicleDetailsColumnData; let index = index">
                <div class="padding-10" fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
                    fxFlex.lt-sm="100%" [ngClass]="{'myStyle': 0 === index % 3}">
                    <mat-checkbox [disabled]='!editFlag' (click)='$event.stopPropagation()' class='custom-checkbox'
                        (change)='$event ? selectionForSingleVehicleDetailsColumns.toggle(field) : null;'
                        [checked]="selectionForSingleVehicleDetailsColumns.isSelected(field)">
                        <!-- <span>{{
                        translationData['lbl'+field.name.replace(initData.name, '').replace('.', '')] ||
                        field.name.replace(initData.name, '').replace('.', '')
                        }}</span> -->
                        <span>
                            {{field.translatedName}}
                        </span>
                    </mat-checkbox>
                </div>
            </ng-container>
        </div>
    </ng-container>

    
</form>