<!-- <ng-container *ngIf='initData && initData.subReportUserPreferences.length > 0'>
    <ng-container *ngFor='let section of initData.subReportUserPreferences'>
        <div fxLayout="row" class='areaWidth full-width padding-10 summaryPref' fxLayoutAlign="left center"
            style='background: #BEE3F8 !important; border-radius: 5px 5px 0px 0px;'>
            <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
                <mat-checkbox class='custom-checkbox' [disabled]='!editFlag'><span class='headerFont'>{{
                        translationData['lbl'+section.name.replace(initData.name, '').replace('.', '')] ||
                        section.name.replace(initData.name, '').replace('.', '')
                        }}</span>
                </mat-checkbox>
            </div>
        </div>
        <ng-container *ngIf='section.subReportUserPreferences.length > 0'>
            <ng-container *ngInit="let field of section.subReportUserPreferences; let index = index"></ng-container>
            <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">
                <ng-container *ngFor="let field of section.subReportUserPreferences; let index = index">
                    <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%"  [ngClass]="{'myStyle': 0 === index % 3}">
                        <mat-checkbox [disabled]='!editFlag' (click)='$event.stopPropagation()' class='custom-checkbox'>
                            <span>{{
                                translationData['lbl'+field.name.replace(initData.name, '').replace('.', '')] ||
                                field.name.replace(initData.name, '').replace('.', '')
                                }}</span>
                        </mat-checkbox>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </ng-container>
</ng-container> -->

<!-- [checked]='selectionForSummaryColumns.hasValue() && isAllSelectedForSummaryColumns()'
            [indeterminate]='selectionForSummaryColumns.hasValue() && !isAllSelectedForSummaryColumns()'
            [aria-label]='checkboxLabelForSummaryColumns()' -->

<!-- summary tab -->
<div *ngIf='summaryColumnData.length > 0' fxLayout="row" class='areaWidth full-width padding-10 summaryPref'
    fxLayoutAlign="left center" style='background: #BEE3F8 !important; border-radius: 5px 5px 0px 0px;'>
    <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="left">
        <mat-checkbox class='custom-checkbox' (change)='masterToggle($event, "Summary")' [disabled]='!editFlag'><span
                class='headerFont'>{{
                translationData.lblSummary || 'Summary'
                }}</span>
        </mat-checkbox>
    </div>
</div>
<ng-container *ngIf='summaryColumnData.length > 0'>
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">
        <ng-container *ngFor="let field of summaryColumnData; let index = index">
            <div class="padding-10" fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%"
                [ngClass]="{'myStyle': 0 === index % 3}">
                <mat-checkbox [disabled]='!editFlag' (click)='$event.stopPropagation()' class='custom-checkbox'>
                    <!-- <span>{{
                        translationData['lbl'+field.name.replace(initData.name, '').replace('.', '')] ||
                        field.name.replace(initData.name, '').replace('.', '')
                        }}</span> -->
                        <span>
                            {{field.translatedName}}
                        </span>
                </mat-checkbox>
            </div>
        </ng-container>
    </div>
</ng-container>

<!-- <div *ngIf='summaryColumnData.length > 0' fxLayout="row" class='areaWidth full-width' fxLayoutAlign="left">
    <div fxLayout="column" class="areaWidth min-width-33-3-per" fxLayoutGap="0px" fxLayoutAlign="left">
        <div fxLayout="row" class='areaWidth adjust-padding' fxLayoutAlign="left">
            <mat-checkbox [disabled]='!editFlag' (click)='$event.stopPropagation()'
                (change)='$event ? selectionForSummaryColumns.toggle(summaryColumnData[0]) : null;'
                [checked]="selectionForSummaryColumns.isSelected(summaryColumnData[0])"
                [aria-label]='checkboxLabelForSummaryColumns(summaryColumnData[0])' class='custom-checkbox'><span>{{
                    summaryColumnData.length > 0 ? summaryColumnData[0].translatedName : '' }}</span>
            </mat-checkbox>
        </div>
    </div>
</div> -->

