<form [formGroup]="existingTripForm">
  <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-xlg'>
    <div>
      <mat-label>{{ translationData.lblTimeRanges || 'Time Ranges' }} <span class='mandatoryColor'>*</span></mat-label>
      <div>
        <!-- <mat-form-field  class="full-width"> -->
        <button class='resetCancelBtnColor margin-right-10' mat-raised-button color="primary">{{
          translationData.lblToday || 'Today' }}</button>
        <button class='resetCancelBtnColor margin-right-10' mat-raised-button color="primary">{{
          translationData.lblYesterday || 'Yesterday' }}</button>
        <button class='resetCancelBtnColor margin-right-10' mat-raised-button color="primary">{{
          translationData.lblLastWeek || 'Last Week' }}</button>
        <button class='resetCancelBtnColor margin-right-10' mat-raised-button color="primary">{{
          translationData.lblLastMonth || 'Last Month' }}</button>
        <button class='resetCancelBtnColor margin-right-10' mat-raised-button color="primary">{{
          translationData.lblLast3Months || 'Last 3 Months' }}</button>
        <!-- </mat-form-field> -->

      </div>

    </div>

    <div style="width: 170px; margin-right: 30px;">
      <mat-label>{{ translationData.lblVehicleGroup || 'Vehicle Group' }} <span class='mandatoryColor'>*</span>
      </mat-label>
      <!-- <mat-form-field class="full-width"> -->
      <mat-select (selectionChange)="vehicleGroupSelection($event)" placeholder="{{ translationData.lblDefaultBase || 'Default Base' }}" formControlName="vehicleGroup"
        required>
        <mat-option *ngFor="let vehicleGroupData of vehicleGroupList" [value]="vehicleGroupData.vehicleGroupId">
          {{ vehicleGroupData.vehicleGroupId }}
        </mat-option>
      </mat-select>
      <!-- </mat-form-field> -->
      <mat-error *ngIf="existingTripForm.get('vehicleGroup').hasError('required')">
        {{ translationData.lblPleasechoosevehicleGroup || 'Please choose vehicle group' }}
      </mat-error>
    </div>
  </div>
  <!-- <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  
    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
  </mat-form-field>
  
  <p>Selected range: {{range.value | json}}</p> 


  ---------------------->

  <div fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-xlg'>
    <div class="dateTimePicker" style="width:75%" fxLayout="row" fxLayoutAlign="space-between" class='margin-bottom-sm'>
    <div>
      <div>
        <mat-label>From<span class='mandatoryColor'>*</span></mat-label>
      </div>
      <mat-form-field appearance="fill">
        <input matInput [matDatepicker]="picker" [formControl]="startDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <!-- <div>{{startDate.value}}</div> -->
    </div>
    <div fxLayout="row"  fxLayoutAlign="space-between center" class="timepicker">
      <input [ngxTimepicker]="toggleTimepicker" [disableClick]="true" readonly>
      <ngx-material-timepicker-toggle [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
      <ngx-material-timepicker #toggleTimepicker></ngx-material-timepicker>
  </div>
      <!-- -----<input [ngxTimepicker]="time">
      <ngx-material-timepicker #time></ngx-material-timepicker> -->
      
      <!-- ------<mat-form-field appearance="outline">
        <mat-label>{{ 'TEndTime' | translate }}</mat-label>
        <input matInput [ngxTimepicker]="endTime" [format]="24"  formControlName="endTime" required />
      </mat-form-field>
      <ngx-material-timepicker #endTime></ngx-material-timepicker> -->
      <!-- ------<button mat-stroked-button [ngxTimepicker]="endTime" [value]="time">ttttttt<mat-icon>access_time</mat-icon></button> -->
    <div>
      <div>
        <mat-label>To<span class='mandatoryColor'>*</span></mat-label>
      </div>
      <mat-form-field appearance="fill">
        <input matInput [matDatepicker]="endpicker" [formControl]="endDate">
        <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
        <mat-datepicker #endpicker></mat-datepicker>
      </mat-form-field>
      
      <!-- <div>{{endDate.value}}</div> -->
    </div>
    <div fxLayout="row"  fxLayoutAlign="space-between center" class="timepicker">
      <input [ngxTimepicker]="endtoggleTimepicker" [disableClick]="true" readonly>
      <ngx-material-timepicker-toggle [for]="endtoggleTimepicker"></ngx-material-timepicker-toggle>
      <ngx-material-timepicker #endtoggleTimepicker></ngx-material-timepicker>
  </div>
    </div>
    <div style="width:170px; margin-right:30px">
      <mat-label>{{ translationData.lblVehicle || 'Vehicle' }} <span class='mandatoryColor'>*</span>
      </mat-label>
      <!-- <mat-form-field class="full-width"> -->
      <mat-select (selectionChange)="vinSelection($event)" placeholder="{{ translationData.lblVehicle || 'Vehicle' }}" formControlName="vehicle" required>
        <mat-option *ngFor="let vinListData of vinList" [value]="vinListData">
          {{ vinListData }}
        </mat-option>
      </mat-select>
      <!-- </mat-form-field> -->
      <mat-error *ngIf="existingTripForm.get('vehicleGroup').hasError('required')">
        {{ translationData.lblPleasechoosevehicle || 'Please choose vehicle' }}
      </mat-error>
    </div>
  </div>
</form>