.text-truncate {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    //padding-top: 10px;
    max-width: 150px;
    margin-right: 10px;
}
.reportTable {
    .mat-table {
        width: 100% !important;
        overflow-x: scroll;
        .mat-header-row, .mat-row {
            width: 186% !important;
        }
    }
}
.inputBox{
    margin-right: -35px;
    width: 130px;
    padding: 7px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    &:hover{
        border: 2px solid #000;
    }
}
.selectedBtn {
    background: #e4e4e4 !important;
    color: #000 !important;
}
.timeAdjustSpan{
    position: absolute;
    width: auto;
    padding: 0px 5px;
    z-index: 1;
    margin-top: 8px;
    background: #fff;
    margin-left: 3px;
    border-radius: 1px;
}
.navigatePoint{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
.mat-sort-header-content{
    min-width: 100%;
}
.min-width-20-per{
    max-width: 20% !important;
}
.min-width-15-per{
    max-width: 15% !important;
}
.colData{
    border:1px solid;
    text-align: center;
    padding: 15px 5px;
    background: #bee3f8; 
}
.mat-progress-bar {
    display: block;
    height: 20px;
}

.timepicker-button{
    display: inline-block;
    height: 36px;
    min-width: 88px;
    line-height: 36px;
    border: 12px;
    border-radius: 2px;
    background-color: transparent;
    text-align: center;
    transition: 450ms cubic-bezier(.23,1,.32,1);
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    cursor: pointer;
    outline: 0;
    color: #00bfff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 16px;
    padding-right: 16px;
}